<div class="row pb-4 gx-4 gy-3">
    <div class="form-floating col-sm-6">
        {{ form_widget(form.line1, {attr: {class: 'form-control ps-sm-3', placeholder: ''}}) }}
        {{ form_label(form.line1, 'label.form.address_line_1', {label_attr: {class: 'form-label ms-3'}}) }}
        <div class="invalid-feedback">{{ 'form.address.invalid'|trans }}</div>
    </div>
    <div class="form-floating col-sm-6">
        {{ form_widget(form.line2, {attr: {class: 'form-control ps-sm-3', placeholder: ''}}) }}
        {{ form_label(form.line2, 'label.form.address_line_2', {label_attr: {class: 'form-label ms-3'}}) }}
        <div class="invalid-feedback">{{ 'form.address.invalid'|trans }}</div>
    </div>
    <div class="form-floating col-sm-6">
        {{ form_widget(form.region, {attr: {class: 'form-control ps-sm-3', placeholder: ''}}) }}
        {{ form_label(form.region, 'label.form.address_line_1', {label_attr: {class: 'form-label ms-3'}}) }}
        <div class="invalid-feedback">{{ 'form.address.invalid'|trans }}</div>
    </div>
    <div class="form-floating col-sm-6">
        {{ form_widget(form.city, {attr: {class: 'form-control ps-sm-3', placeholder: ''}}) }}
        {{ form_label(form.city, 'label.form.city', {label_attr: {class: 'form-label ms-3'}}) }}
        <div class="invalid-feedback">{{ 'form.city.invalid'|trans }}</div>
    </div>
    <div class="form-floating col-sm-6">
        {{ form_widget(form.postal, {attr: {class: 'form-control ps-sm-3', placeholder: ''}}) }}
        {{ form_label(form.postal, 'label.form.postal', {label_attr: {class: 'form-label ms-3'}}) }}
        <div class="invalid-feedback">{{ 'form.postal.invalid'|trans }}</div>
    </div>
</div>