{{ form_start(form, {attr: {class: 'tech-form', novalidate: 'novalidate'}}) }}
{% if form_errors(form) %}
    <div class="alert alert-danger">
        {{ form_errors(form) }}
    </div>
{% endif %}
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            {% set first_name_error = form.first_name.vars.errors|length ? 'form-control error' : 'form-control' %}
            {{ form_label(form.first_name, 'label.form.first_name') }} <span class="text-danger">*</span>
            {{ form_widget(form.first_name, {attr: {class: first_name_error, placeholder: 'label.form.first_name'}}) }}
            {% if form_errors(form.first_name) %}
                <small class="text-danger">{{ form_errors(form.first_name) }}</small>
            {% else %}
                <small class="form-text text-muted">{{ 'form.first_name.help'|trans({ '%min%': form.first_name.vars.attr.min, '%max%': form.first_name.vars.attr.max }) }}</small>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {% set last_name_error = form.last_name.vars.errors|length ? 'form-control error' : 'form-control' %}
            {{ form_label(form.last_name, 'label.form.last_name') }} <span class="text-danger">*</span>
            {{ form_widget(form.last_name, {attr: {class: last_name_error, placeholder: 'label.form.last_name'}}) }}
            {% if form_errors(form.last_name) %}
                <small class="text-danger">{{ form_errors(form.last_name) }}</small>
            {% else %}
                <small class="form-text text-muted">{{ 'form.last_name.help'|trans({ '%min%': form.last_name.vars.attr.min, '%max%': form.last_name.vars.attr.max }) }}</small>
            {% endif %}
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.date_birth, 'label.form.date_birth') }}
            {{ form_widget(form.date_birth, {attr: {class: 'form-control', placeholder: '2006-05-15'}}) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {% set phone_error = form.phone.vars.errors|length ? 'form-control error' : 'form-control' %}
            {{ form_label(form.phone, 'label.form.phone') }}
            {{ form_widget(form.phone, {attr: {class: phone_error, placeholder: '+3106398200'}}) }}
            {% if form_errors(form.phone) %}
                <small class="text-danger">{{ form_errors(form.phone) }}</small>
            {% else %}
                <small class="form-text text-muted">{{ 'form.phone.help'|trans }}</small>
            {% endif %}
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.country, 'label.form.country') }}
            {{ form_widget(form.country, {attr: {class: 'form-control'}}) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.city, 'label.form.city') }}
            {{ form_widget(form.city, {attr: {class: 'form-control'}}) }}
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12">
        <div class="form-group">
            {% set about_error = form.about.vars.errors|length ? 'form-control error' : 'form-control' %}
            {{ form_label(form.about, 'label.form.about') }}
            {{ form_widget(form.about, {attr: {class: about_error}}) }}
            {% if form_errors(form.about) %}
                <small class="text-danger">{{ form_errors(form.about) }}</small>
            {% endif %}
        </div>
    </div>
</div>
<!-- Temporary solution -->
<div class="card mb-5">
    <div class="card-header">Your pictures</div>
    <div class="card-body">
        <p>Choice one of the pictures to using by default.</p>
        <ul class="nav nav-pills pictures" id="pills-tab" role="tablist">
            <div class="wrapper">
                <li class="nav-item">
                    <a class="bg-light nav-link p-2 m-1"
                       id="pills-new-tab"
                       data-toggle="pill"
                       href="#pills-new"
                       role="tab"
                       aria-controls="pills-new"
                       aria-selected="true">
                        <div class="spinner-grow" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <img class="img-responsive img-rounded ml-1" src="{{ asset('img/user-picture.jpg') }}"
                             width="100" height="100"/>
                    </a>
                </li>
            </div>
            {% for key, picture in app.user.userDetails.attach %}
                <li class=nav-item">
                    {% set _picture = 'user/picture/' ~ app.user.id ~ '/' ~ picture.name %}
                    <a class="bg-light nav-link p-2 m-1 {% if not key %}first{% else %}inactive{% endif %}"
                       id="pills-{{ picture.id }}-tab"
                       data-toggle="pill"
                       href="#pills-{{ picture.id }}"
                       role="tab"
                       aria-controls="pills-{{ picture.id }}"
                       aria-selected="{% if not key %}true{% else %}false{% endif %}">
                        <img class="img-responsive img-rounded"
                             src="{{ asset(_picture) | imagine_filter('user_thumb') }}"
                             alt="{{ app.user.userDetails.firstName }} {{ app.user.userDetails.lastName }}">
                    </a>
                </li>
            {% else %}
                <li class="nav-item blank">
                    <img class="img-responsive img-rounded ml-1" src="{{ asset('http://placehold.it/150x150') }}"
                         alt="{{ app.user.userDetails.firstName }} {{ app.user.userDetails.lastName }}">
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-footer">
        <div class="input-group">
            <div class="custom-file">
                {{ form_widget(form.picture, {attr: {class: 'custom-file-input', 'aria-describedby': 'picture' }}) }}
                {{ form_label(form.picture, 'label.form.picture', {label_attr: {class: 'custom-file-label', 'data-label': 'label.form.picture'|trans}}) }}
                <small class="text-danger">{{ form_errors(form.picture) }}</small>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-info" data-url="{{ path('app_profile_attach') }}" type="button"
                        id="attach"><i class="bi bi-image-fill pr-2"></i>Attach
                </button>
            </div>
        </div>
        <small class="d-block picture-info text-monospace mt-1"></small>
    </div>
</div>
<div class="form-row">
    <div class="col-sm text-center">
        {{ form_widget(form.update, { label: 'form.action.update' }) }}
    </div>
</div>
{{ form_end(form) }}
