{% if errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
                <li>{{ error.message|trans|raw }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{{ form_start(form, {attr: {class: 'tech-form', novalidate: 'novalidate'}}) }}
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            {% set first_name_error = form.first_name.vars.errors|length ? 'form-control error' : 'form-control' %}
            {{ form_label(form.first_name, 'label.form.first_name') }} <span class="text-danger">*</span>
            {{ form_widget(form.first_name, {attr: {class: first_name_error, placeholder: 'label.form.first_name'}}) }}
            <small class="form-text text-muted">{{ 'form.first_name.help'|trans({ '%min%': form.first_name.vars.attr.min, '%max%': form.first_name.vars.attr.max }) }}</small>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {% set last_name_error = form.last_name.vars.errors|length ? 'form-control error' : 'form-control' %}
            {{ form_label(form.last_name, 'label.form.last_name') }} <span class="text-danger">*</span>
            {{ form_widget(form.last_name, {attr: {class: last_name_error, placeholder: 'label.form.last_name'}}) }}
            <small class="form-text text-muted">{{ 'form.last_name.help'|trans({ '%min%': form.last_name.vars.attr.min, '%max%': form.last_name.vars.attr.max }) }}</small>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.date_birth, 'label.form.date_birth') }}
            {{ form_widget(form.date_birth, {attr: {class: 'form-control', placeholder: '2006-05-15'}}) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.phone, 'label.form.phone') }}
            {{ form_widget(form.phone, {attr: {class: 'form-control', placeholder: '3106398200'}}) }}
            <small class="form-text text-muted">{{ 'form.phone.help'|trans }}</small>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.country, 'label.form.country') }}
            {{ form_widget(form.country, {attr: {class: 'form-control'}}) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.city, 'label.form.city') }}
            {{ form_widget(form.city, {attr: {class: 'form-control'}}) }}
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.about, 'label.form.about') }}
            {{ form_widget(form.about, {attr: {class: 'form-control'}}) }}
        </div>
    </div>
</div>
<!-- Temprary solution -->
<div class="picture-block">
    <div class="form-row">
        <div class="col-sm mh-25">
            <div class="form-group">
                <div class="custom-file">
                    {{ form_widget(form.picture, {attr: {class: 'custom-file-input'}}) }}
                    {{ form_label(form.picture, 'label.form.picture', {label_attr: {class: 'custom-file-label'}}) }}
                </div>
            </div>
        </div>
        <div class="col-sm mh-25">
            {% for picture in user.attach|slice(0, 1) %}
                {% set _picture = 'user/picture/' ~ user.id ~ '/' ~ picture.name %}
                <img class="img-responsive img-rounded ml-5"
                     src="{{ asset(_picture) | imagine_filter('user_preview') }}"
                     alt="{{ user.firstName }} {{ user.lastName }}">
            {% else %}
                <img class="img-responsive img-rounded ml-5" src="{{ asset('img/user-picture.jpg') }}"
                     alt="{{ user.firstName }} {{ user.lastName }}">
            {% endfor %}
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-sm text-center">
        {{ form_widget(form.update, { label: 'form.action.update' }) }}
    </div>
</div>
{{ form_end(form) }}
