{% extends 'base.html.twig' %}

{% block title %}{{ 'text.profile'|trans }}{% endblock %}

{% block body %}
    <div class="page-title-area user-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>{{ 'text.profile'|trans }}</h2>
                        <p>{{ 'text.profile.desc'|trans|raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-area default">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        {{ include('profile/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('image') }}
{% endblock %}
