{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-2xl pb-4 relative font-extrabold text-primary-700 dark:text-white">{{ 'customer.cabinet'|trans }}
        <span class="absolute right-0 mr-2 text-lg pe-4 font-normal">{{ customer.firstName }} {{ customer.lastName }}</span>
    </h2>
    <div class="grid grid-cols-8 gap-4">
        <aside class="col-span-2 h-screen transition-transform -translate-x-full sm:translate-x-0">
            <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800 rounded-lg">
                {% include 'market_place/cabinet/aside.html.twig' %}
            </div>
        </aside>
        <section class="col-span-6">
            <div class="pt-2 px-4 relative">
                <h4 class="pb-2 block w-full mb-4 text-xl font-semibold text-red-500 text-center text-sm-start">
                    {{ 'customer.cabinet.messages'|trans }}
                </h4>
                {% if messages|length %}
                    <div class="relative overflow-hidden shadow-md sm:rounded-lg">
                        <table class="w-full table-fixed border-collapse mt-3 text-md text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <caption class="text-slate-500 text-left ms-5 dark:text-slate-400 pb-4 text-sm caption-top">
                                {{ 'caption.messages.history'|trans }}
                            </caption>
                            <tbody id="bulk-item">
                            {% for message in messages %}
                                <tr class="bg-white border-b text-gray-500 dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    <th scope="row" class="p-3 truncate mx-w-16">
                                        {% if message.product is not null %}
                                            <a class="font-semibold hover:text-gray-700 dark:hover:text-white"
                                               data-twe-toggle="tooltip"
                                               data-twe-placement="left"
                                               title="{{ message.product.short_name }}"
                                               target="_blank"
                                               href="{{ path('app_market_place_product', {slug: message.product.slug, tab: 'about'}) }}">
                                                {{ message.product.short_name }}
                                                <svg class="w-4 h-4 mb-1 inline-block text-gray-800 dark:text-white"
                                                     aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                                     height="24" fill="none" viewBox="0 0 24 24">
                                                    <path stroke="currentColor" stroke-linecap="round"
                                                          stroke-linejoin="round" stroke-width="2"
                                                          d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"></path>
                                                </svg>
                                            </a>
                                        {% elseif message.order is not null %}
                                            <abb data-twe-toggle="tooltip" class="cursor-pointer" data-twe-placement="left"
                                                 title="{{ message.order.number }}">
                                                {{ message.order.number }}
                                            </abb>
                                        {% else %}
                                            {{ 'store.message.question'|trans }}
                                        {% endif %}
                                    </th>
                                    <td class="p-3">
                                        {{ message.created|date(date_format) }}
                                    </td>
                                    <td class="p-3 text-gray-500">
                                        {{ message.priority }}
                                    </td>
                                    <td class="p-3 text-center">
                                        {{ message.answers }}
                                    </td>
                                    <td class="p-3">
                                        <a href="{{ path('app_market_place_market', {slug: message.store.slug}) }}">
                                            {{ message.store.name }}
                                        </a>
                                    </td>
                                    <td class="flex p-3 justify-end items-end">
                                        <a href="{{ path('app_cabinet_messages', {id: message.id}) }}">
                                            <svg class="w-[20px] h-[20px] text-gray-800 dark:text-white"
                                                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                                 height="24" fill="currentColor" viewBox="0 0 24 24">
                                                <path fill-rule="evenodd"
                                                      d="M4 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h1v2a1 1 0 0 0 1.707.707L9.414 13H15a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4Z"
                                                      clip-rule="evenodd"></path>
                                                <path fill-rule="evenodd"
                                                      d="M8.023 17.215c.033-.03.066-.062.098-.094L10.243 15H15a3 3 0 0 0 3-3V8h2a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-1v2a1 1 0 0 1-1.707.707L14.586 18H9a1 1 0 0 1-.977-.785Z"
                                                      clip-rule="evenodd"></path>
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div id="not-found" class="text-center visually-hidden">
                        <img class="block mx-auto"
                             src="{{ asset('img/404.png') }}"
                             width="340" alt="{{ 'market.messages.empty'|trans }}">
                        <p class="text-center">
                            {{ 'market.messages.empty'|trans }}
                            <a class="block font-light"
                               href="{{ path('app_market_place_index') }}">{{ 'form.action.back'|trans }}</a>
                        </p>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}