{{ form_start(form, {attr: {id:'login', class: 'mx-auto size-10/12', 'autocomplete': 'off', novalidate: ''}}) }}
<h2 class="text-2xl pb-4 font-extrabold text-primary-700 dark:text-white">{{ 'text.login'|trans }}</h2>
{% if error %}
    <div class="flex items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
         role="alert">
        <div class="ms-3 text-sm font-medium">{{ error.message }}</div>
    </div>
{% endif %}
<div class="relative mb-5">
    {{ form_label(form.email, 'label.form.email', {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
    {{ form_widget(form.email, {attr: {class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', placeholder: 'label.form.email', autocomplete: 'off'}}) }}
</div>
<div class="relative mb-5">
    {{ form_label(form.password, 'label.form.password', {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
    {{ form_widget(form.password, {attr: {class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', placeholder: 'label.form.password', autocomplete: 'off'}}) }}
</div>
<div class="relative mb-5">
    {{ form_widget(form._remember_me, {attr: {checked: 'checked', class: 'w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800'}}) }}
    {{ form_label(form._remember_me, 'label.form.keep_me_logged_in', {label_attr: {class: 'ms-2 text-sm font-medium text-gray-900 dark:text-gray-300'}}) }}
</div>
<div class="grid grid-cols-3 gap-1">
    <div class="relative mb-5">
        <input type="hidden" name="_target_path" value="{{ path('app_dashboard') }}"/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        {{ form_widget(form.login, { label: 'form.action.login', attr: {
            class: 'inline-block rounded bg-red-600 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md shadow-red-300 transition duration-150 ease-in-out hover:bg-red-700 hover:shadow-red-200 focus:bg-red-300 focus:shadow-red-200 focus:outline-none focus:ring-0 active:bg-red-600 active:shadow-red-200 motion-reduce:transition-none dark:shadow-black/30'
        } }) }}
    </div>
    <div class="relative text-left pt-2">
        <a class="text-sm whitespace-nowrap text-gray-950 font-medium hover:underline hover:text-slate-800 dark:text-gray-100" href="{{ path('app_customer_register') }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 inline-flex me-1 mb-1">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
            </svg>
            {{ 'text.register'|trans }}
        </a>
    </div>
    <div class="relative text-left pt-2">
        <a class="text-sm whitespace-nowrap text-gray-950 font-medium hover:underline hover:text-slate-800 dark:text-gray-100" href="{{ path('app_forgot_password_request') }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 inline-flex me-1 mb-1">
                <path fill-rule="evenodd" d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0Zm-6 3.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM7.293 5.293a1 1 0 1 1 .99 1.667c-.459.134-1.033.566-1.033 1.29v.25a.75.75 0 1 0 1.5 0v-.115a2.5 2.5 0 1 0-2.518-4.153.75.75 0 1 0 1.061 1.06Z" clip-rule="evenodd" />
            </svg>
            {{ 'text.forgot_password'|trans }}</a>
    </div>
</div>
<div class="block mx-auto w-48">
    <a role="button" href="{{ path('connect_google_start') }}"
       class="px-4 py-2 border flex gap-2 border-slate-200 rounded-lg text-slate-700 hover:border-slate-400 hover:text-slate-900 hover:shadow transition duration-150">
        <img class="w-6 h-6" src="{{ asset('img/Google-color.svg') }}" loading="lazy" alt="google">
        <span class="text-nowrap">{{ 'login.with.google'|trans }}</span>
    </a>
</div>
{{ form_end(form) }}