{{ form_start(form, {attr: {id:'login-xhr', action: path('app_login'), class: 'space-y-4', 'autocomplete': 'off'}}) }}
<div class="p-4 md:p-5">
    <div id="alert"
         class="hidden animate__animated animate__bounceIn p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
         role="alert"></div>
    <div class="relative mb-5">
        {{ form_label(form.email, 'label.form.email', {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
        {{ form_widget(form.email, {attr: {class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', required: true, placeholder: 'label.form.email', autocomplete: 'off'}}) }}
    </div>
    <div class="relative mb-5">
        {{ form_label(form.password, 'label.form.password', {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
        {{ form_widget(form.password, {attr: {class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', required: true, placeholder: 'label.form.password', autocomplete: 'off'}}) }}
    </div>
    <div class="flex justify-between">
        <div class="flex items-start">
            <div class="flex items-center h-5">
                {{ form_widget(form._remember_me, {attr: {checked: 'checked', class: 'w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800'}}) }}
            </div>
            {{ form_label(form._remember_me, 'label.form.keep_me_logged_in', {label_attr: {class: 'ms-2 text-sm font-medium text-gray-900 dark:text-gray-300'}}) }}
        </div>
        <a href="{{ path('app_forgot_password_request') }}"
           class="text-sm text-gray-700 hover:text-red-600 dark:text-gray-500">
            <i class="fa fa-question-circle text-gray-500 mr-1 dark:text-white"></i>
            {{ 'text.forgot_password'|trans }}
        </a>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
{#    <input type="hidden" name="order" value="{{ order }}">#}
    {{ form_widget(form.order, {attr: {value: order}}) }}
    <div class="flex justify-center">
        {{ form_widget(form.login, { label: 'form.action.login', attr: {
            class: 'w-full rounded bg-red-600 mt-2 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md shadow-red-300 transition duration-150 ease-in-out hover:bg-red-700 hover:shadow-red-200 focus:bg-red-300 focus:shadow-red-200 focus:outline-none focus:ring-0 active:bg-red-600 active:shadow-red-200 motion-reduce:transition-none dark:shadow-black/30'
        } }) }}
    </div>
    <div class="text-sm mt-1.5 font-medium text-gray-500 dark:text-gray-300">
        Not registered? <a id="create-account" href="{{ path('app_customer_register') }}"
                           class="text-gray-700 hover:text-red-600 dark:text-blue-500">Create account</a>
    </div>
</div>
{{ form_end(form) }}