{% extends 'base.html.twig' %}

{% block title %}Market Place IndexController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('market') }}
{% endblock %}
{% block body %}
    <div class="page-title-area user-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>Market Place</h2>
                        <p>index</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
        {% block content_body %}
            <div class="row g-4">
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="card shadow-sm h-100">
                        <div class="position-relative">
                            <img src="{{ asset('img/08.jpg') }}" class="card-img-top h-100" alt="...">
                            <div class="card-img-overlay p-3 z-index-1">
                                <div class="badge text-bg-dark">Computers & laptops</div>
                                <div class="badge text-bg-success">Sale off</div>
                            </div>
                        </div>
                        <div class="card-body px-1">
                            <div class="badge bg-danger bg-opacity-10 text-danger mb-2">Recommended</div>
                            <h5 class="card-title ms-3 me-2">
                                <a href="#">Portland New Art Museum</a>
                            </h5>
                            <ul class="list-group list-group-borderless mb-0">
                                <li class="list-group-item small pb-0  border-0">
                                    <i class="bi bi-pin-map-fill mb-0"></i>
                                   {{ 'W Century Blvd, Los Angeles'|trans }}
                                </li>
                                <li class="list-group-item small pb-0  border-0">
                                    <i class="bi bi-telephone-fill fa-fw h6 small mb-0"></i> +(125) 548 996
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer border-top">
                            <!-- Buttons -->
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#" class="btn btn-link p-0 mb-0">{{ 'View detail'|trans }}
                                    <i class="bi bi-arrow-right ms-1"></i>
                                </a>
                                <a href="#" class="h6 mb-0 z-index-2"><i class="bi bi-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
