{% extends 'base.html.twig' %}

{% block title %}Market Place IndexController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('market') }}
{% endblock %}
{% block body %}
    <div class="page-title-area user-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>Market Place</h2>
                        <p>index</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
        {% block content_body %}
            <div class="row mb-4">
                <div class="col-12 text-center">
                    <div class="card border-4 bg-info bg-opacity-25 border-success border-opacity-25 rounded-4"
                         style="border-style: dashed;">
                        <h1 class="my-3 mb-0">{{ 'market.promotion'|trans }}</h1>
                        <div class="card-body">
                            <p class="mb-0">{{ 'market.promotion.text'|trans({
                                    '%company%': 'site.title'|trans,
                                    '%discount%': 25,
                                    '%code%': random(1000, 1000000)|upper,
                                    '%link%': path('app_index')
                                })|raw }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                {% for product in products %}
                    <div class="col-sm-6 col-lg-4 col-xl-3">
                        <div class="card shadow-sm h-100">
                            <div class="position-relative">
                                <img src="{{ asset('img/08.jpg') }}" class="card-img-top h-100" alt="...">
                                <div class="card-img-overlay p-3 z-index-1">
                                    <div class="badge text-bg-dark bg-opacity-75">
                                        <a href="#{{ product.marketCategoryProducts.first.category.parent.slug }}"
                                           class="link-white">
                                            {{ product.marketCategoryProducts.first.category.parent.name }}
                                        </a>
                                    </div>
                                    <div class="badge text-bg-danger bg-opacity-75">New</div>
                                </div>
                            </div>
                            <div class="card-body px-1">
                                <ul class="list-inline text-end me-2 mb-3">
                                    <li class="list-inline-item position-absolute start-0 ms-3">
                                        <a class="btn btn-primary rounded-0"
                                           data-id="{{ product.market.id }}-{{ product.id }}" type="button">
                                            <i class="bi bi-cart"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="badge btn-sm bg-secondary bg-opacity-25 text-secondary">
                                            <h5 class="mb-0">
                                                <s>{{ product.cost|number_format(2, '.', ',') }} <small>{{ product.market.currency|currency }}</small></s>
                                            </h5>
                                        </div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="badge bg-success bg-opacity-25 text-success">
                                            <h5 class="mb-0">{{ product.cost|number_format(2, '.', ',') }} <small>{{ product.market.currency|currency }}</small></h5>
                                        </div>
                                    </li>
                                </ul>
                                <h5 class="card-title h-25 mb-0 mt-3 mx-3">
                                    <a href="#product/{{ product.market.slug }}/{{ product.slug }}">{{ product.name }}</a>
                                </h5>
                                <a href="#category/{{ product.marketCategoryProducts.first.category.slug }}" class="btn btn-link text-decoration-none text-secondary d-block text-start">
                                    <hr>
                                    <i class="bi bi-ui-radios-grid text-opacity-50 text-success"></i> {{ product.marketCategoryProducts.first.category.name }}
                                </a>
                                <ul class="list-group list-group-borderless mt-5">
                                    <li class="list-group-item small pb-0  border-0">
                                        <i class="bi bi-pin-map-fill me-2 text-opacity-50 text-info"></i>
                                        <a class="text-decoration-none"
                                           href="#{{ product.market.slug }}">{{ product.market.name }}</a>
                                    </li>
                                    <li class="list-group-item small pb-0  border-0">
                                        <i class="bi bi-telephone-fill text-secondary me-2"></i> <span class="text-secondary">{{ product.market.phone }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-footer border-top">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#"
                                       class="btn btn-link text-decoration-none p-0 mb-0">{{ 'market.product.details'|trans }}
                                        <i class="bi bi-arrow-right ms-1"></i>
                                    </a>
                                    <a href="#" class="z-index-2"><i class="bi bi-heart-fill text-danger"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
