{% set _wishlist_bg = 'text-secondary' %}
{% set _disabled = null %}
{% if customer is not null %}
    {% for wishlist in customer.marketWishlists.toArray %}
        {% if wishlist.product.id == product.id %}
            {% set _wishlist_bg = 'text-danger' %}
            {% set _disabled = 'disabled' %}
        {% endif %}
    {% endfor %}
{% endif %}
<span class="d-inline-block"
      {% if customer is null %}
          tabindex="0"
    data-bs-toggle="popover"
    data-bs-trigger="hover focus"
    data-bs-title="{{ 'title.service.message'|trans }}"
    data-bs-content="{{ 'market.unauthorized'|trans }}"
      {% endif %}>
    <button class="btn btn-outline-light"
            {% if customer is not null %}
                data-bs-toggle="tooltip"
                data-bs-html="true"
                data-bs-placement="top"
                title="{{ 'market.product.wishlist'|trans }}"
            {% endif %}
            role="button" type="submit"
            {{ _disabled }}
            {% if customer is null %}disabled{% endif %}>
        <i class="fa fa-heart {{ _wishlist_bg }}"></i>
    </button>
</span>