<nav class="navbar navbar-dark navbar-expand-lg bg-dark mb-1 rounded-1">
    <div class="collapse navbar-collapse" id="navbar-market">
        {% set _part = _route|split('_')|last %}
        <ul class="ms-2 navbar-nav">
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('app_dashboard_market_place_create_product', {market: market.id, tab: 'details'}) }}">{{ 'market.product.create'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if _part == 'product' %}active{% endif %}"
                   {% if _part == 'product' %}aria-current="page"{% endif %}
                   href="{{ path('app_dashboard_market_place_market_product', {market: market.id}) }}">{{ 'market.products'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if _part == 'brand' %}active{% endif %}"
                   {% if _part == 'brand' %}aria-current="page"{% endif %}
                   href="{{ path('app_dashboard_market_place_market_brand', {market: market.id}) }}">{{ 'market.brands'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if _part == 'supplier' %}active{% endif %}"
                   {% if _part == 'supplier' %}aria-current="page"{% endif %}
                   href="{{ path('app_dashboard_market_place_market_supplier', {market: market.id}) }}">{{ 'market.suppliers'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if _part == 'manufacturer' %}active{% endif %}"
                   {% if _part == 'manufacturer' %}aria-current="page"{% endif %}
                   href="{{ path('app_dashboard_market_place_market_manufacturer', {market: market.id}) }}">{{ 'market.manufacturers'|trans }}</a>
            </li>
        </ul>
        <div class="d-flex flex-column ms-auto me-2">
            <form method="get" name="search">
                <div class="input-group">
                    <label for="search" class="position-relative">
                        <input class="form-control border-end-0 border rounded ps-4" type="text" onkeydown="this.submit" id="search" name="search">
                        <div class="input-group-append position-absolute top-0 mt-2 ms-2">
                        <span class="bg-transparent border-start-0 ms-n3">
                            <i class="fa fa-search text-muted"></i>
                        </span>
                        </div>
                    </label>
                </div>
            </form>
        </div>
    </div>
</nav>