{% extends 'dashboard/index.html.twig' %}

{% if form.vars.data.id %}
    {% set _title_extend = 'market.brand.update'|trans %}
{% else %}
    {% set _title_extend = 'market.brand.create'|trans %}
{% endif %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    {% set _message = app.flashes('success') %}
    {{ form_start(form, {attr: {class: 'd-tech-form', novalidate: 'novalidate'}}) }}
    <div class="form-group">
        {% set name_error = form.name.vars.errors|length ? 'form-control error' : 'form-control' %}
        {{ form_label(form.name, 'label.form.brand_name') }} <span class="text-danger">*</span>
        {{ form_widget(form.name, {attr: {class: name_error, placeholder: 'label.form.brand_name'}}) }}
        <sm class="text-danger">{{ form_errors(form.name) }}</sm>
    </div>
    <div class="form-group">
        {% set url_error = form.url.vars.errors|length ? 'form-control error' : 'form-control' %}
        {{ form_label(form.url, 'label.form.brand_url') }}
        {{ form_widget(form.url, {attr: {class: url_error}}) }}
        <sm class="text-danger">{{ form_errors(form.url) }}</sm>
    </div>
    <input type="hidden" name="flash" value="{{ _message[0]|default([]|json_encode) }}">
    <div class="form-group text-center my-4">
        {{ form_widget(form.save, { label: form.vars.data.id ? 'form.action.update' : 'form.action.save'}) }}
        <a type="button" href="{{ url('app_dashboard_market_place_market_brand', {market: app.request.get('market')}) }}"
           class="btn btn-secondary shadow-sm">{{ 'form.action.back'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock %}