{% extends 'dashboard/index.html.twig' %}

{% block title_content %}{{ entry.userDetails.firstName }} {{ entry.userDetails.lastName }}{% endblock %}

{% block content %}
    <div class="card user-info">
        <div class="card-body">
            <div class="card-title mb-4">
                <div class="d-flex justify-content-start">
                    <div class="image-container">
                        <div id="loading" class="spinner-grow text-dark position-absolute" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        {% for picture in entry.userDetails.attach|slice(0, 1) %}
                            {% set _picture = 'user/picture/' ~ entry.id ~ '/' ~ picture.name %}
                            <img id="imgProfile" class="img-thumbnail"
                                 src="{{ asset(_picture) | imagine_filter('user_preview') }}"/>
                        {% else %}
                            <img src="http://placehold.it/150x150" id="imgProfile" class="img-thumbnail"/>
                        {% endfor %}
                        <div class="middle">
                            <button type="button" class="btn btn-info" id="btnChangePicture"
                                    data-change="{{ 'form.action.change'|trans }}"
                                    data-confirm="{{ 'form.action.confirm'|trans }}">
                                {{ 'form.action.change'|trans }}
                            </button>
                            <input type="file" id="profilePicture" name="file"/>
                            <input type="hidden" name="route" id="route"
                                   value="{{ path('app_dashboard_change_picture_user', {id: entry.id}) }}">
                        </div>
                    </div>
                    <div class="userData ml-3">
                        <h5 class="d-block"><a
                                    href="javascript:void(0);">{{ entry.userDetails.firstName }} {{ entry.userDetails.lastName }}</a>
                        </h5>
                        <h6 class="d-block"><a class="link" href="">1,500</a> Video Uploads</h6>
                        <h6 class="d-block"><a class="link" href="">300</a> Blog Posts</h6>
                        <h6 class="d-block"><a class="link" href="mailto:{{ entry.email }}"><i
                                        class="bi bi-envelope-fill pr-2"></i> {{ entry.email }}</a></h6>
                    </div>
                    <div class="ml-auto">
                        <input type="button" class="btn btn-sm btn-info d-none" id="btnDiscard"
                               value="{{ 'form.action.cancel'|trans }}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% set _tab = app.request.get('tab') %}
                    <ul class="nav nav-tabs nav-justified mb-4" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link {{ _tab == 'summary' ? 'active' : null }}" id="summary-tab"
                               data-toggle="tab" href="#summary" role="tab" aria-controls="summary"
                               aria-selected="true">{{ 'user.tab.summary'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ _tab == 'location' ? 'active' : null }}" id="location-tab"
                               data-toggle="tab" href="#location" role="tab" aria-controls="location"
                               aria-selected="false">{{ 'user.tab.location'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ _tab == 'security' ? 'active' : null }}" id="security-tab"
                               data-toggle="tab" href="#security" role="tab" aria-controls="security"
                               aria-selected="false">{{ 'user.tab.security'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ _tab == 'about' ? 'active' : null }}" id="about-tab" data-toggle="tab"
                               href="#about" role="tab" aria-controls="about"
                               aria-selected="false">{{ 'user.tab.about'|trans }}</a>
                        </li>
                    </ul>
                    <div class="tab-content ml-3" id="tabs">
                        <div class="tab-pane fade {{ _tab == 'summary' ? 'show active' : null }}" id="summary"
                             role="tabpanel" aria-labelledby="summary-tab">
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label>{{ 'user.info.first_name'|trans }}</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    {{ entry.userDetails.firstName }}
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label>{{ 'user.info.last_name'|trans }}</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    {{ entry.userDetails.lastName }}
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label>{{ 'user.info.phone_number'|trans }}</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    {{ entry.userDetails.phone|default('n/a') }}
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label>{{ 'user.info.birth_date'|trans }}</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    {{ entry.userDetails.dateBirth|date(date_format)|default('n/a') }}
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label>{{ 'user.info.registered'|trans }}</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    {{ entry.createdAt|date(datetime_format) }}
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label>{{ 'user.info.last_login'|trans }}</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    {{ entry.userDetails.updatedAt|date(datetime_format) }}
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label>{{ 'user.info.ip_address'|trans }}</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    {{ entry.ip|default('0.0.0.0') }}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade {{ _tab == 'location' ? 'show active' : null }}" id="location"
                             role="tabpanel" aria-labelledby="location-tab">
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label>{{ 'user.info.country'|trans }}</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    {{ country|default('n/a') }}
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label>{{ 'user.info.city'|trans }}</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    {{ entry.userDetails.city|default('n/a') }}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade {{ _tab == 'security' ? 'show active' : null }}" id="security"
                             role="tabpanel" aria-labelledby="security-tab">
                            {% include 'dashboard/content/user/_form.html.twig' %}
                        </div>
                        <div class="tab-pane fade {{ _tab == 'about' ? 'show active' : null }}" id="about"
                             role="tabpanel" aria-labelledby="about-tab">
                            {% if  entry.userDetails.about is not empty %}
                                {{ entry.userDetails.about|nl2br|raw }}
                            {% else %}
                                {{ ''|default('n/a') }}
                            {% endif %}
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
