{% extends 'dashboard/index.html.twig' %}

{% if form.vars.data.id %}
    {% set _title_extend = form.vars.data.name %}
{% else %}
    {% set _title_extend = 'title.dashboard.create_market'|trans %}
{% endif %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}
    {{ _title_extend }}
{% endblock %}

{% block content %}
    <hr>
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"
                    aria-label="{{ 'form.action.close'|trans }}"></button>
        </div>
    {% endfor %}
    {% if errors.count %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            {{ errors.current.message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"
                    aria-label="{{ 'form.action.close'|trans }}"></button>
        </div>
        <hr class="text-danger"/>
    {% endif %}
    {% if app.user.markets|length and not form.vars.data.id %}
        <div class="alert alert-warning">
            <h6 class="text-center py-3">{{ 'dashboard.market.restrict'|trans }}</h6>
        </div>
    {% else %}
        {% set _message = app.flashes('success') %}
        {{ form_start(form, {attr: {class: 'd-tech-form', novalidate: 'novalidate'}}) }}
        {% set _tab = app.request.get('tab') %}
        <ul class="nav nav-tabs nav-fill me-2" id="marketTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link {{ _tab == 'details' ? 'active' : null }}" id="details-tab"
                   data-bs-toggle="tab"
                   data-bs-target="#details" type="button" role="tab"
                   aria-controls="details"
                   aria-selected="true">{{ 'entry.form.market_details'|trans }}
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link {{ _tab == 'billing' ? 'active' : null }}" id="billing-tab"
                   data-bs-toggle="tab"
                   data-bs-target="#billing" type="button" role="tab"
                   aria-controls="billing"
                   aria-selected="false">{{ 'entry.form.billing'|trans }}
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link {{ _tab == 'attachments' ? 'active' : null }}" id="attachments-tab"
                   data-bs-toggle="tab"
                   data-bs-target="#attachments" type="button" role="tab"
                   aria-controls="attachments"
                   aria-selected="false">{{ 'label.form.market_logo'|trans }}
                </a>
            </li>
        </ul>
        <div class="tab-content" id="marketTabContent">
            <div class="tab-pane fade {{ _tab == 'details' ? 'show active' : null }}" id="details" role="tabpanel"
                 aria-labelledby="details-tab" tabindex="0">
                <div class="mt-4 p-2">
                    <div class="form-group mb-3">
                        {% set name_error = form.name.vars.errors|length ? 'form-control error' : 'form-control' %}
                        {{ form_label(form.name, 'label.form.market_name', {label_attr: {class: 'form-label'}}) }} <span
                                class="text-danger">*</span>
                        {{ form_widget(form.name, {attr: {class: name_error, placeholder: 'label.form.market_name'}}) }}
                        <small class="text-danger">{{ form_errors(form.name) }}</small>
                    </div>
                    <div class="form-group mb-3">
                        {% set address_error = form.address.vars.errors|length ? 'form-control error' : 'form-control' %}
                        {{ form_label(form.address, 'label.form.address', {label_attr: {class: 'form-label'}}) }} <span
                                class="text-danger">*</span>
                        {{ form_widget(form.address, {attr: {class: address_error, placeholder: 'label.form.address'}}) }}
                        <small class="text-danger">{{ form_errors(form.address) }}</small>
                    </div>
                    <div class="form-group mb-3">
                        {% set phone_error = form.phone.vars.errors|length ? 'form-control error' : 'form-control' %}
                        {{ form_label(form.phone, 'label.form.phone', {label_attr: {class: 'form-label'}}) }} <span
                                class="text-danger">*</span>
                        {{ form_widget(form.phone, {attr: {class: phone_error, placeholder: 'label.form.phone'}}) }}
                        <small class="text-danger">{{ form_errors(form.phone) }}</small>
                    </div>
                    <div class="form-group mb-3">
                        {% set website_error = form.website.vars.errors|length ? 'form-control error' : 'form-control' %}
                        {{ form_label(form.website, 'label.form.website', {label_attr: {class: 'form-label'}}) }}
                        {{ form_widget(form.website, {attr: {class: website_error}}) }}
                        <small class="text-danger">{{ form_errors(form.website) }}</small>
                    </div>
                    <div class="form-group mb-3">
                        {% set email_error = form.email.vars.errors|length ? 'form-control error' : 'form-control' %}
                        {{ form_label(form.email, 'label.form.email', {label_attr: {class: 'form-label'}}) }}
                        {{ form_widget(form.email, {attr: {class: email_error, placeholder: 'label.form.email'}}) }}
                        <small class="text-danger">{{ form_errors(form.email) }}</small>
                    </div>
                    <div class="form-group mb-3">
                        {% set description_error = form.description.vars.errors|length ? 'form-control error' : 'form-control' %}
                        {{ form_label(form.description, 'label.form.market_description', {label_attr: {class: 'form-label'}}) }}
                        {{ form_widget(form.description, {attr: {class: description_error, rows: 6, placeholder: 'label.form.market_description'}}) }}
                        <small class="text-danger">{{ form_errors(form.description) }}</small>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade {{ _tab == 'billing' ? 'show active' : null }}" id="billing" role="tabpanel"
                 aria-labelledby="billing-tab"
                 tabindex="0">
                <div class="mt-4 p-2">
                    <div class="form-group mb-3">
                        {% set currency_error = form.currency.vars.errors|length ? 'form-select error' : 'form-select' %}
                        {{ form_label(form.currency, 'label.form.currency', {label_attr: {class: 'form-label'}}) }}<span
                                class="text-danger">*</span>
                        {{ form_widget(form.currency, {attr: {class: currency_error, placeholder: 'label.form.currency'}}) }}
                        <small class="text-danger">{{ form_errors(form.currency) }}</small>
                    </div>
                    <div class="form-group mb-3">
                        {{ form_label(form.gateway, 'Payment Gateways', {label_attr: {class: 'mb-3 fs-6 fw-normal'}}) }}
                        {% for key, field in form.gateway %}
                            {% set _checked = false %}
                            {% for gateway in form.vars.data.marketPaymentGatewayMarkets.toArray %}
                                {% if field.vars.value == gateway.gateway.id and gateway.active %}
                                    {% set _checked = true %}
                                {% endif %}
                            {% endfor %}
                            <div class="form-check form-switch ms-1">
                                {{ form_widget(field, {attr: {class: 'form-check-input', role: 'switch', checked: _checked}}) }}
                                {{ form_label(field, field.vars.label, {label_attr: {class: 'form-check-label'}}) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade {{ _tab == 'attachments' ? 'show active' : null }}" id="attachments"
                 role="tabpanel"
                 aria-labelledby="attachments-tab"
                 tabindex="0">
                <div class="mt-4 p-2">
                    {% if form.vars.data.attach %}
                        {% set _picture = 'storage/market/logo/' ~ form.vars.data.id ~ '/' ~ form.vars.data.attach.name %}
                        <div class="card card-body mb-2">
                            <img class="image-grayscale" src="{{ asset(_picture)|imagine_filter('market_view') }}"
                                 alt="{{ app.user.markets.first.attach.name }}">
                        </div>
                    {% endif %}
                    <div class="input-group mb-3">
                        {{ form_label(form.logo, 'label.form.market_logo', {label_attr: {class: 'input-group-text bg-white pb-2 position-relative z-1'}}) }}
                        {{ form_widget(form.logo, {attr: {class: 'form-controll border p-1 position-absolute w-auto', style: 'left: 35px'}}) }}
                        <small class="text-danger d-block">{{ form_errors(form.logo) }}</small>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="flash" value="{{ _message[0]|default([]|json_encode) }}">
        <div class="form-group text-center mb-3">
            {{ form_widget(form.save, { label: form.vars.data.id ? 'form.action.update' : 'form.action.save'}) }}
            <a type="button" href="{{ url('app_dashboard_market_place_market') }}"
               class="btn btn-secondary shadow">{{ 'form.action.back'|trans }}</a>
        </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript">
        CKEDITOR.replace('market_description', {
            extraPlugins: 'editorplaceholder',
            editorplaceholder: '{{ 'label.form.market_description'|trans }}',
            removePlugins: 'simage,image,youtube,html5video,iframe,uicolor,videodetector,preview',
        });
    </script>
{% endblock %}