{% extends 'base.html.twig' %}

{% block body %}
    <section class="container marketplace mt-lg-2">
        <div class="row">
            <div class="col-12 card card-body shadow">
                <h4 class="ps-2 border-start border-3 border-danger mb-3">{{ 'customer.cabinet'|trans }}</h4>
                <span class="position-absolute end-0 ms-2 fs-5 pe-4 fw-normal">{{ customer.firstName }} {{ customer.lastName }}</span>
                <div class="mt-lg-3">
                    <div class="bg-light rounded-3 overflow-hidden">
                        <div class="row">
                            <aside class="col-lg-3 pe-xl-2">
                                <div class="bg-white h-100 border-end p-4">
                                    {% include 'market_place/cabinet/aside.html.twig' %}
                                </div>
                            </aside>
                            <section class="col-lg-9 pb-md-4">
                                <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
                                    <h4 class="pt-2 pb-4 mb-4 text-center text-sm-start border-bottom">{{ 'title.address'|trans }}</h4>
                                    {% if errors.count %}
                                        <div class="alert alert-warning alert-dismissible" role="alert">
                                            {{ errors.current.message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="{{ 'form.action.close'|trans }}"></button>
                                        </div>
                                    {% endif %}
                                    {% set _message = app.flashes('success') %}
                                    {{ form_start(form, {attr: {class: 'needs-validation', novalidate: ''}}) }}
                                    <div class="row pb-4 gx-4 gy-3">
                                        <div class="form-floating col-sm-6">
                                            {{ form_widget(form.line1, {attr: {class: 'form-control ps-sm-3', placeholder: ''}}) }}
                                            {{ form_label(form.line1, 'label.form.address_line_1', {label_attr: {class: 'form-label ms-3'}}) }}
                                            <div class="invalid-feedback">{{ 'form.address.invalid'|trans }}</div>
                                        </div>
                                        <div class="form-floating col-sm-6">
                                            {{ form_widget(form.line2, {attr: {class: 'form-control ps-sm-3', placeholder: ''}}) }}
                                            {{ form_label(form.line2, 'label.form.address_line_2', {label_attr: {class: 'form-label ms-3'}}) }}
                                            <div class="invalid-feedback">{{ 'form.address.invalid'|trans }}</div>
                                        </div>
                                        <div class="form-floating col-sm-6">
                                            {{ form_widget(form.region, {attr: {class: 'form-control ps-sm-3', placeholder: ''}}) }}
                                            {{ form_label(form.region, 'label.form.region', {label_attr: {class: 'form-label ms-3'}}) }}
                                            <div class="invalid-feedback">{{ 'form.region.invalid'|trans }}</div>
                                        </div>
                                        <div class="form-floating col-sm-6">
                                            {{ form_widget(form.city, {attr: {class: 'form-control ps-sm-3', placeholder: ''}}) }}
                                            {{ form_label(form.city, 'label.form.city', {label_attr: {class: 'form-label ms-3'}}) }}
                                            <div class="invalid-feedback">{{ 'form.city.invalid'|trans }}</div>
                                        </div>
                                        <div class="form-floating col-sm-6">
                                            {{ form_widget(form.postal, {attr: {class: 'form-control ps-sm-3', placeholder: ''}}) }}
                                            {{ form_label(form.postal, 'label.form.postal', {label_attr: {class: 'form-label ms-3'}}) }}
                                            <div class="invalid-feedback">{{ 'form.postal.invalid'|trans }}</div>
                                        </div>
                                        <div class="form-floating col-sm-6">
                                            {{ form_widget(form.phone, {attr: {class: 'form-control ps-sm-3', placeholder: ''}}) }}
                                            {{ form_label(form.phone, 'label.form.phone', {label_attr: {class: 'form-label ms-3'}}) }}
                                            <div class="invalid-feedback">{{ 'form.phone.invalid'|trans }}</div>
                                        </div>
                                        <div class="form-floating col-sm-12">
                                            {{ form_widget(form.country, {attr: {class: 'form-select ps-sm-3', placeholder: ''}}) }}
                                            {{ form_label(form.country, 'label.form.country', {label_attr: {class: 'form-label ms-3'}}) }}
                                            <div class="invalid-feedback">{{ 'form.country.invalid'|trans }}</div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="flash" value="{{ _message[0]|default([]|json_encode) }}">
                                    <div class="text-xxl-end">
                                        <button class="btn btn-dark shadow-sm rounded-1" type="submit">{{ 'form.action.change'|trans }}</button>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block toast %}
    {{ include ('layouts/toast.html.twig') }}
{% endblock %}