<ul class="nav nav-link-secondary flex-column fw-medium gap-2">
    <li class="nav-item">
        <a class="nav-link link-secondary"
           href="{{ path('app_cabinet') }}"><span>{{ 'customer.cabinet.orders'|trans }} </span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-secondary"
           href="{{ path('app_cabinet_wishlist') }}"><span>{{ 'customer.cabinet.wishlist'|trans }} </span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-secondary"
           href="{{ path('app_cabinet_personal_information') }}"><span>{{ 'customer.cabinet.personal_information'|trans }} </span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-secondary"
           href="{{ path('app_cabinet_address') }}"><span>{{ 'title.address'|trans }} </span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-secondary" href="{{ path('app_logout') }}"><span>{{ 'title.user.logoff'|trans }} </span></a>
    </li>
</ul>