{% extends 'base.html.twig' %}

{% block body %}
    <section class="container marketplace mt-lg-2">
        <div class="row">
            <div class="col-12 card card-body shadow">
                <h4 class="ps-2 border-start border-3 border-danger mb-3">{{ 'customer.cabinet'|trans }}</h4>
                <span class="position-absolute end-0 ms-2 fs-5 pe-4 fw-normal">{{ customer.firstName }} {{ customer.lastName }}</span>
                <div class="mt-lg-3">
                    <div class="bg-light rounded-3 overflow-hidden">
                        <div class="row">
                            <aside class="col-lg-3 pe-xl-2">
                                <div class="bg-white h-100 border-end p-4">
                                    {% include 'market_place/cabinet/aside.html.twig' %}
                                </div>
                            </aside>
                            <section class="col-lg-9 pb-md-4">
                                <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
                                    <h4 class="pt-2 pb-4 mb-4 text-center text-sm-start border-bottom">{{ 'customer.cabinet.orders'|trans }}</h4>
                                    <div class="accordion mx-2" id="accordion">
                                        {% for item in orders %}
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="heading-{{ item.id }}">
                                                    <button class="accordion-button p-2 text-bg-light"
                                                            type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#collapse-{{ item.id }}"
                                                            aria-expanded="{{ loop.first ? 'true' : 'false' }}"
                                                            aria-controls="collapse-{{ item.id }}"
                                                    >
                                                        {{ item.orders.createdAt|date(datetime_format) }}
                                                    </button>
                                                </h2>
                                                <div id="collapse-{{ item.id }}"
                                                     class="accordion-collapse collapse{{ loop.first ? ' show' : '' }}"
                                                     aria-labelledby="heading-{{ item.id }}"
                                                     data-bs-parent="#accordion">
                                                    <div class="accordion-body p-2">
                                                        <div class="row">
                                                            <div class="col-3 fw-medium">{{ item.orders.number|upper }}</div>
                                                            <div class="col ms-5">
                                                                {% if item.orders.status == 'processing' %}
                                                                    <a href="{{ path('app_market_place_order_checkout', {order: item.orders.number, session: item.orders.session}) }}">{{ 'order.checkout'|trans }}</a>
                                                                {% else %}
                                                                    {{ item.orders.status|capitalize }}
                                                                {% endif %}
                                                            </div>
                                                            <div class="dropdown col">
                                                                <a class="dropdown-toggle text-primary fw-normal" data-bs-toggle="dropdown"
                                                                   aria-expanded="false"
                                                                   href="#">{{ 'label.form.status'|trans }}</a>
                                                                <ul class="dropdown-menu z-3">
{#                                                                    {% if item.orders.session %}#}
                                                                    <li>
                                                                        <a class="dropdown-item"
                                                                           href="#">{{ 'order.action.cancel'|trans }}</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col text-{{ item.orders.completedAt is null ? 'danger': 'success' }}">
                                                                {{ item.orders.completedAt is null ? 'customer.cabinet.order.notpaid'|trans : item.orders.completedAt|date(datetime_format) }}
                                                            </div>
                                                            <div class="col d-flex justify-content-end">
                                                                <div class="fs-5 fw-normal">
                                                                    {{ summary[item.orders.id].total|amount_format }}
                                                                    <small>{{ item.orders.market.currency|currency }}</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            <img class="d-block mx-auto mb-5 border-0 w-25 shadow-none"
                                                 src="{{ asset('img/404.png') }}"
                                                 width="340" alt="{{ 'market.product.orders.empty'|trans }}">
                                            <p class="text-center">
                                                {{ 'market.product.orders.empty'|trans }}
                                                <a class="d-block fs-6"
                                                   href="{{ path('app_market_place_index') }}">{{ 'form.action.back'|trans }}</a>
                                            </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}