{% extends 'base.html.twig' %}

{% block title %}{{ 'text.faq.header'|trans }}{% endblock %}

{% block body %}
    <section class="container mt-lg-5">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2 class="text-dark mb-4">{{ 'text.faq.header'|trans }}</h2>
                <div class="accordion accordion-flush" id="accordion">
                    {% for key, entry in entries %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading-{{ key }}">
                                <button class="accordion-button collapsed  bg-light border-0 fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ key }}" aria-expanded="false" aria-controls="flush-collapse-{{ key }}">
                                    {{ entry.title }}
                                </button>
                            </h2>
                            <div id="flush-collapse-{{ key }}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{ key }}" data-bs-parent="#accordion">
                                <div class="accordion-body py-5">
                                    {{ entry.content|raw }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
