{% extends 'base.html.twig' %}

{% block title %}{{ 'text.faq.header'|trans }}{% endblock %}

{% block body %}
    <section class="container mt-lg-2">
        <div class="row">
            <div class="col-12 card card-body shadow">
                <h4 class="ps-2 border-start border-3 border-danger mb-3">{{ 'title.questions'|trans }}</h4>
                <div class="accordion accordion-flush" id="accordion">
                    {% for key, entry in entries %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading-{{ key }}">
                                <button class="accordion-button collapsed bg-light-subtle border-0 fs-5" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ key }}"
                                        aria-expanded="false" aria-controls="flush-collapse-{{ key }}">
                                    <span class="text-dark"><i class="bi bi-question-circle-fill text-secondary me-3"></i>{{ entry.title }}</span>
                                </button>
                            </h2>
                            <div id="flush-collapse-{{ key }}" class="accordion-collapse collapse"
                                 aria-labelledby="flush-heading-{{ key }}" data-bs-parent="#accordion">
                                <div class="accordion-body py-3">
                                    {{ entry.content|raw }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
