{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-2xl pb-4 relative font-extrabold text-primary-700 dark:text-white">{{ 'customer.cabinet'|trans }}
        <span class="absolute right-0 mr-2 text-lg pe-4 font-normal">{{ customer.firstName }} {{ customer.lastName }}</span>
    </h2>
<div class="grid grid-cols-8 gap-4">
    <aside class="col-span-2 h-screen transition-transform -translate-x-full sm:translate-x-0">
        <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800 rounded-lg">
            {% include 'market_place/cabinet/aside.html.twig' %}
        </div>
    </aside>
    <div class="col-span-6">
        <div class="pt-2 px-4 relative">
            <h4 class="pb-2 block w-full mb-4 text-xl font-semibold text-red-500 text-center text-sm-start">{{ 'customer.cabinet.orders'|trans }}
                {% if orders|length %}
                    <button id="open-message"
                            data-modal-toggle="modal-message"
                            data-modal-target="modal-message"
                            type="button"
                            class="flex text-blue-500 hover:text-blue-700 p-3 shadow-md rounded-md hover:shadow-lg focus:shadow-lg absolute me-4 top-2 right-1">
                        <i class="fa fa-comments"></i>
                    </button>
                {% endif %}
            </h4>
            <div id="accordion-flush">
                {% for key, order in orders %}
                    {% set discount = 0 %}
                    <h2 id="order-flush-heading-{{ key }}">
                        <button type="button"
                                class="flex items-center pl-5 justify-between w-full py-5 font-medium border bg-gray-50 rtl:text-right focus:ring-1 focus:ring-gray-200 active:bg-gray-100 hover:bg-gray-100 text-gray-500 dark:border-gray-700 dark:text-gray-400 gap-3"
                                data-twe-target="#order-body-{{ key }}"
                                data-twe-collapse-init
                                data-twe-ripple-color="black"
                                aria-expanded="{{ key == 0 ? 'true' : 'false' }}"
                                aria-controls="order-body-{{ key }}">
                            <h5 class="flex text-md-start subpixel-antialiased hover:text-black dark:text-white">
                                <svg class="w-4 h-4 text-gray-800 dark:text-white mr-2"
                                     aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                     height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round"
                                          stroke-linejoin="round" stroke-width="2"
                                          d="M10 3v4a1 1 0 0 1-1 1H5m8-2h3m-3 3h3m-4 3v6m4-3H8M19 4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1ZM8 12v6h8v-6H8Z"></path>
                                </svg>
                                {{ order.created|date(datetime_format) }}
                            </h5>
                            {% if order.coupon is not null %}
                                {% if order.coupon.discount is not null %}
                                    {% set discount = ((order.total * order.coupon.discount)/100)|round(2) %}
                                {% elseif order.coupon.price is not null %}
                                    {% set discount = (order.total - order.coupon.price)|round(2) %}
                                {% endif %}
                            {% endif %}
                            <span class="float-end text-lg mr-5">{{ ((order.total + (order.total * order.tax)/100) - discount)|amount_format(2) }}<small>{{ order.store.currency|currency }}</small></span>
                        </button>
                    </h2>
                    <div id="order-body-{{ key }}"
                         class="!visible{% if key > 0 %} hidden{% endif %} border-0 shadow-lg shadow-gray-100"
                         data-twe-collapse-item
                            {% if key == 0 %} data-twe-collapse-show{% endif %}
                         data-twe-parent="#accordion-flush"
                         aria-labelledby="faq-flush-heading-{{ key }}">
                        <div class="grid grid-cols-4 gap-3 py-5 px-8 bg-gray-100">
                            <div class="font-medium select-all text-info-700">{{ order.number|upper }}</div>
                            <div class="ms-5">
                                {% if order.status == 'processing' %}
                                    <a class="text-gray-600 underline hover:text-black hover:no-underline"
                                       href="{{ path('app_market_place_order_checkout', {order: order.number, tab: 'customer-info'}) }}">{{ 'order.checkout'|trans }}</a>
                                {% else %}
                                    {{ order.status|capitalize }}
                                {% endif %}
                            </div>
                            <div class="ms-5 relative"
                                 data-twe-dropdown-ref>
                                <a id="dropdown-action"
                                   role="button"
                                   data-twe-dropdown-toggle-ref
                                   aria-expanded="false"
                                   class="text-blue-800 font-normal"
                                   href="#">{{ 'label.form.status'|trans }}</a>
                                <ul class="absolute z-[1000] w-48 hidden min-w-max list-none overflow-hidden p-2 rounded-md border-none bg-white bg-clip-padding text-left text-base data-[twe-dropdown-show]:block"
                                    aria-labelledby="dropdown-action"
                                    data-twe-dropdown-menu-ref>
                                    <li>
                                        <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-md dark:bg-transparent dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-500 focus:text-gray-50 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                                           href="#">{{ 'order.action.cancel'|trans }}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="text-right text-{{ order.completed is null ? 'danger': 'success' }}">
                                {{ order.completed is null ? 'customer.cabinet.order.notpaid'|trans : order.completed|date(datetime_format) }}
                            </div>
                        </div>
                        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <caption
                                        class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                                    {{ order.store.name }}
                                    <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
                                        {{ order.invoice.payment_gateway.name|default('n/a') }}
                                    </p>
                                </caption>
                                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        {{ 'label.form.product_name'|trans }}
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-center">
                                        {{ 'label.form.quantity'|trans }}
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-center">
                                        {{ 'label.form.discount'|trans }}
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-right">
                                        {{ 'table.header.price'|trans }}
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-right">
                                        {{ 'table.header.amount'|trans }}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set coupon_discount = 0 %}
                                {% for product in order.products %}
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                        <th scope="row" class="px-6 py-4 text-gray-900 truncate dark:text-white">
                                            <a data-twe-toggle="tooltip"
                                               title="{{ product.product.name }}"
                                               target="_blank"
                                               class="font-semibold text-gray-600 dark:text-gray-50"
                                               href="{{ path('app_market_place_product', {slug: product.product.slug, tab: 'about'}) }}">
                                                {{ product.product.short_name|length >= 40 ? product.product.short_name|slice(0, 40) ~ '...' : product.product.short_name }}
                                            </a>
                                        </th>
                                        <td class="px-6 py-4 text-center">{{ product.quantity }}{{ 'label.form.quantity_pcs'|trans }}</td>
                                        <td class="px-6 py-4 text-center">
                                            {% if product.product.reduce.unit == 'stock' %}
                                                {{ product.product.reduce.value|amount_format }}
                                                <small>{{ product.product.reduce.unit|convert(order.store.currency|currency) }}</small>
                                            {% else %}
                                                {{ product.product.reduce.value }}
                                                <small>{{ product.product.reduce.unit|convert(order.store.currency|currency) }}</small>
                                            {% endif %}
                                        </td>
                                        <td class="px-6 py-4 text-right cursor-pointer">
                                            {% set price = discount(product.product.cost, product.product.reduce.value, product.product.fee, 1, product.product.reduce.unit) %}
                                            <abbr data-twe-toggle="tooltip"
                                                  title="{{ (product.product.cost + product.product.fee) }}{{ order.store.currency|currency }}">{{ price }}</abbr><small
                                                    class="ms-1">{{ order.store.currency|currency }}</small>
                                        </td>
                                        <td class="px-6 py-4 text-right">
                                            {{ (price * product.quantity)|amount_format }}<small
                                                    class="ms-1">{{ order.store.currency|currency }}</small>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr class="font-semibold text-gray-900 dark:text-white">
                                    <th scope="row" class="px-6 py-3 text-base">{{ 'order.service.tax'|trans }}</th>
                                    <td class="px-6 py-3"></td>
                                    <td class="px-6 py-3"></td>
                                    <td class="px-6 py-3"></td>
                                    <td class="px-6 py-3 text-right">{{ order.tax }}<small>%</small></td>
                                </tr>
                                {% if order.coupon is not null %}
                                    <tr class="font-semibold text-gray-900 dark:text-white">
                                        <th scope="row"
                                            class="px-6 py-3 text-base">{{ 'order.service.coupon'|trans }} {{ 'store.product.off'|trans }}</th>
                                        <td class="px-6 py-3"></td>
                                        <td class="px-6 py-3"></td>
                                        <td class="px-6 py-3"></td>
                                        {% if order.coupon.discount is not null %}
                                            {% set coupon_discount = ((order.total * order.coupon.discount)/100)|round(2) %}
                                            <td class="px-6 py-3 text-right">
                                                {{ order.coupon.discount|amount_format(2) }}<small>%</small>
                                            </td>
                                        {% elseif order.coupon.price is not null %}
                                            {% set coupon_discount = (order.total - order.coupon.price)|round(2) %}
                                            <td class="px-6 py-3 text-right">
                                                {{ order.coupon.price|amount_format }}<small>%</small>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                                <tr class="font-semibold text-gray-900 dark:text-white">
                                    <th scope="row" class="px-6 py-3 text-base">{{ 'table.header.total'|trans }}</th>
                                    <td class="px-6 py-3 text-center">{{ order.total_quantity }}</td>
                                    <td class="px-6 py-3 text-center font-medium">
                                        <span class="font-semibold text-sm text-gray-500">{{ 'order.service.coupon'|trans }}</span>: {{ coupon_discount|amount_format(2) }}
                                        <small
                                                class="ms-1">{{ order.store.currency|currency }}</small>
                                    </td>
                                    <td class="px-6 py-3 text-center font-medium">
                                        {% if order.coupon is not null %}
                                            {{ (order.total + (order.total * order.tax)/100) |amount_format(2) }}<small
                                                class="ms-1">{{ order.store.currency|currency }}</small>
                                        {% endif %}
                                    </td>
                                    <td class="px-6 py-3 text-right">
                                        {% if order.coupon is not null %}
                                            {{ ((order.total + (order.total * order.tax)/100) - discount)|amount_format(2) }}
                                            <small class="ms-1">{{ order.store.currency|currency }}</small>
                                        {% else %}
                                            {{ (order.total + (order.total * order.tax)/100) |amount_format(2) }}<small
                                                class="ms-1">{{ order.store.currency|currency }}</small>
                                        {% endif %}
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <div class="flex justify-center">
                        <svg width="200px" class="w-150 h-auto mt-10" id="_x32_" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 512 512" xml:space="preserve">
                            <style type="text/css">
                                .st0 {
                                    fill: #fca5a5;
                                }
                            </style>
                                        <g>
                                            <path class="st0" d="M494.365,133.438c-11.528-15.738-29.35-25.678-48.804-27.219L126.245,80.918l-3.129-17.749
                            c-5.252-29.676-28.858-52.657-58.671-57.066L24.597,0.187C15.093-1.209,6.253,5.359,4.84,14.846
                            c-1.409,9.512,5.158,18.356,14.658,19.761v-0.008l39.861,5.907c14.97,2.218,26.868,13.785,29.501,28.71l54.009,306.134
                            c5.073,28.735,30.027,49.669,59.206,49.678h221.971c9.606,0,17.394-7.792,17.394-17.39c0-9.607-7.788-17.398-17.394-17.398H202.075
                            c-12.282,0.009-22.813-8.836-24.946-20.934l-5-28.349h244.879c31.234,0,58.346-21.55,65.367-52.005l23.258-100.767
                            c1.151-5,1.717-10.06,1.717-15.086C507.35,158.962,502.88,145.04,494.365,133.438z M319.692,125.33l72.469,5.745v180.898h-72.469
                            V125.33z M296.502,311.973h-72.47V117.752l72.47,5.746V311.973z M131.451,110.415l69.395,5.496v196.062h-33.833L131.451,110.415z
                             M477.378,181.668l-23.245,100.776c-3.986,17.278-19.385,29.53-37.125,29.53h-1.657V132.916l27.926,2.208
                            c11.049,0.866,21.174,6.516,27.706,15.447c4.838,6.592,7.381,14.495,7.381,22.526C478.363,175.949,478.038,178.809,477.378,181.668
                            z"></path>
                                            <path class="st0" d="M215.346,450.165c-17.076,0-30.909,13.853-30.909,30.926c0,17.073,13.832,30.909,30.909,30.909
                            c17.078,0,30.927-13.836,30.927-30.909C246.273,464.018,232.423,450.165,215.346,450.165z"></path>
                                            <path class="st0" d="M381.539,450.165c-17.073,0-30.913,13.853-30.913,30.926c0,17.073,13.84,30.909,30.913,30.909
                            c17.072,0,30.922-13.836,30.922-30.909C412.461,464.018,398.612,450.165,381.539,450.165z"></path>
                                        </g>
                        </svg>
                    </div>
                    <p class="text-center">
                        {{ 'store.orders.empty'|trans }}
                        <a class="d-block fs-6"
                           href="{{ path('app_market_place_index') }}">{{ 'form.action.back'|trans }}</a>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if orders|length %}
        {% include 'market_place/cabinet/message/form.html.twig' %}
        {% include 'layouts/toast/success.html.twig' %}
        {% include 'layouts/toast/danger.html.twig' %}
    {% endif %}
    {% endblock %}
    {% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('message-js') }}
{% endblock %}