{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-2xl pb-4 relative font-extrabold text-primary-700 dark:text-white">{{ 'customer.cabinet'|trans }}
        <span class="absolute right-0 mr-2 text-lg pe-4 font-normal">{{ customer.firstName }} {{ customer.lastName }}</span>
    </h2>
    <div class="grid grid-cols-8 gap-4">
        <aside class="col-span-2 h-screen transition-transform -translate-x-full sm:translate-x-0">
            <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800 rounded-lg">
                {% include 'market_place/cabinet/aside.html.twig' %}
            </div>
        </aside>
        <section class="col-span-6">
            <div class="pt-2 px-4 relative">
                <h4 class="pb-2 block w-full mb-4 text-xl font-semibold text-red-500 text-center text-sm-start">{{ 'customer.cabinet.wishlist'|trans }}
                    {% if wishlist|length %}
                        <button id="bulk-remove"
                                data-url="{{ path('app_cabinet_wishlist_bulk_delete') }}"
                                type="button"
                                class="flex text-red-500 hover:text-red-700 p-3 shadow-md rounded-md hover:shadow-lg focus:shadow-lg absolute me-4 top-2 right-1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                                <path fill-rule="evenodd" d="M5 3.25V4H2.75a.75.75 0 0 0 0 1.5h.3l.815 8.15A1.5 1.5 0 0 0 5.357 15h5.285a1.5 1.5 0 0 0 1.493-1.35l.815-8.15h.3a.75.75 0 0 0 0-1.5H11v-.75A2.25 2.25 0 0 0 8.75 1h-1.5A2.25 2.25 0 0 0 5 3.25Zm2.25-.75a.75.75 0 0 0-.75.75V4h3v-.75a.75.75 0 0 0-.75-.75h-1.5ZM6.05 6a.75.75 0 0 1 .787.713l.275 5.5a.75.75 0 0 1-1.498.075l-.275-5.5A.75.75 0 0 1 6.05 6Zm3.9 0a.75.75 0 0 1 .712.787l-.275 5.5a.75.75 0 0 1-1.498-.075l.275-5.5a.75.75 0 0 1 .786-.711Z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    {% endif %}
                </h4>
                {% if wishlist|length %}
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                        <table class="w-full mt-3 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <caption class="text-slate-500 dark:text-slate-400 pb-4 text-sm caption-top">
                                {{ 'caption.wishlist'|trans }}
                            </caption>
                            <tbody id="bulk-item">
                            {% for item in wishlist %}
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    <th scope="row" class="p-3">
                                        <label for="id">
                                            <input type="checkbox" id="id" name="item[{{ item.id }}]"
                                                   value="{{ item.id }}"
                                                   class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-1 dark:bg-gray-700 dark:border-gray-600">
                                        </label>
                                    </th>
                                    <td class="p-3 text-gray-500 w-2/5">
                                        <a class="text-ellipsis overflow-hidden font-semibold"
                                           href="{{ path('app_market_place_product', {slug: item.product.slug, tab: 'about'}) }}">{{ item.product.shortName }}</a>
                                    </td>
                                    <td class="p-3 text-gray-500 w-2/5">
                                        <a class="text-ellipsis overflow-hidden"
                                           href="{{ path('app_market_place_market', {slug: item.store.slug}) }}">{{ item.store.name }}</a>
                                    </td>
                                    <td class="p-3 text-gray-500 w-2/5 text-center">
                                        <span class="pr-1 font-semibold">{{ item.product.cost|amount_format }}{{ item.store.currency|currency }}</span>
                                    </td>
                                    <td class="p-3 text-gray-500">
                                        <form class="shopping-cart" method="post"
                                              action="{{ path('app_market_place_product_order', {product: item.product.slug}) }}">
                                            <button class="flex-grow bg-gray-200 px-3 py-2 hover:bg-gray-100 hover:text-gray-950 drop-shadow-2xl border rounded-lg shadow-mdm"
                                                    data-id="{{ item.store.id }}-{{ item.product.id }}"
                                                    type="submit">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                                                    <path d="M1.75 1.002a.75.75 0 1 0 0 1.5h1.835l1.24 5.113A3.752 3.752 0 0 0 2 11.25c0 .414.336.75.75.75h10.5a.75.75 0 0 0 0-1.5H3.628A2.25 2.25 0 0 1 5.75 9h6.5a.75.75 0 0 0 .73-.578l.846-3.595a.75.75 0 0 0-.578-.906 44.118 44.118 0 0 0-7.996-.91l-.348-1.436a.75.75 0 0 0-.73-.573H1.75ZM5 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM13 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" />
                                                </svg>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div id="not-found" class="text-center visually-hidden">
                        <img class="block mx-auto"
                             src="{{ asset('img/404.png') }}"
                             width="340" alt="{{ 'store.product.wishlist.empty'|trans }}">
                        <p class="text-center">
                            {{ 'store.product.wishlist.empty'|trans }}
                            <a class="block font-light"
                               href="{{ path('app_cabinet') }}">{{ 'form.action.back'|trans }}</a>
                        </p>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}