{% extends 'market_place/index.html.twig' %}

{% block title %}{{ 'order.checkout'|trans }}{% endblock %}
{% block description %}{{ 'order.checkout'|trans }}{% endblock %}

{% block content_body %}
    <section class="container marketplace mt-lg-2">
        <div class="row">
            <div class="col-12 card card-body shadow">
                <h4 class="ps-2 border-start border-3 border-danger mb-3">{{ 'order.checkout'|trans }}
                    - {{ order.market.name }}</h4>
                <div class="row g-2">
                    <div class="col-lg-8 pb-4 mb-3">
                        {% include 'market_place/checkout/_customer_form.html.twig' with {
                            'order': order,
                            'form': form
                        } %}
                    </div>
                    <div class="col-lg-4 d-none d-lg-block ps-xl-5">
                        <hr class="d-lg-none">
                        <div class="px-3 pb-3 h-100 ms-auto border-start">
                            <div class="px-lg-2 pb-2 mb-3">
                                <h4 class="fw-normal mb-4 text-center">{{ 'order.summary'|trans }}</h4>
                                {% set product_count = order.marketOrdersProducts.count() %}
                                {% for product in order.marketOrdersProducts %}
                                    {% if product.product.discount %}
                                        {% set percent = product.discount %}
                                        {% set cost = product.cost %}
                                        {% set discount_cost = (cost - ((cost * product.quantity * percent) - percent)/100) %}
                                        {% set item_cost = (discount_cost)|round|number_format(2, '.', ' ') %}
                                    {% else %}
                                        {% set item_cost = (product.cost * product.quantity)|round|number_format(2, '.', ' ') %}
                                    {% endif %}
                                    <div class="d-flex align-items-center pb-2 border-bottom">
                                        <a class="d-block flex-shrink-0 me-2"
                                           href="{{ path('app_market_place_product', {slug: product.product.slug}) }}">
                                            {% if product.product.marketProductAttaches.count %}
                                                {% set _picture = 'storage/product/picture/' ~ product.product.id ~ '/' ~ product.product.marketProductAttaches.first.attach.name %}
                                                <img src="{{ asset(_picture)|imagine_filter('product_thumb') }}"
                                                     class="rounded-1" width="90"
                                                     alt="{{ product.product.name }}">
                                            {% else %}
                                                <img class="rounded-1" src="{{ asset('https://placehold.it/64x64') }}"
                                                     width="64" alt="{{ product.product.shortName }}">
                                            {% endif %}
                                        </a>
                                        <div class="ps-1 w-75">
                                            <h5 class="fw-normal text-truncate">
                                                <a class="text-truncate" title="{{ product.product.name }}"
                                                   href="{{ path('app_market_place_product', {slug: product.product.slug}) }}">{{ product.product.shortName }}</a>
                                            </h5>
                                            <span class="fs-5 text-muted">
                                            <small class="fw-light fs-6 text-primary-emphasis">{{ item_cost }}<small>{{ order.market.currency|currency }}</small>&times;{{ product.quantity }} {{ 'label.form.quantity_pcs'|trans }}</small>
                                        </span>
                                        </div>
                                    </div>
                                {% endfor %}
                                <ul class="list-unstyled fs-sm pt-3 pb-2 border-bottom mt-2">
                                    <li class="d-flex justify-content-between align-items-center mb-2">
                                        <span class="fw-normal me-2">{{ 'order.item.subtotal'|trans }}:</span>
                                        <span class="text-end text-primary-emphasis">{{ itemSubtotal|round|number_format(2, '.', ' ') }}<small>{{ order.market.currency|currency }}</small></span>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center mb-2">
                                        <span class="fw-normal me-2">{{ 'order.subtotal'|trans }}:</span>
                                        <span class="text-end text-primary-emphasis">{{ subtotal|round|number_format(2, '.', ' ') }}<small>{{ order.market.currency|currency }}</small></span>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <span class="fw-normal me-2">{{ 'order.service.fee'|trans }}:</span>
                                        <span class="text-end text-primary-emphasis">{{ fee|round|number_format(2, '.', ' ') }}<small>{{ order.market.currency|currency }}</small></span>
                                    </li>
                                </ul>
                                <h3 class="fw-normal text-danger text-center my-4">{{ total|round|number_format(2, '.', ' ') }}
                                    <small>{{ order.market.currency|currency }}</small></h3>
                            </div>
                            <a href="{{ path('app_market_place_order_summary') }}" class="btn btn-dark rounded-1 shadow-sm w-100">Back to Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}