{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.brands'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}
    {{ _title_extend }}
    <a role="button"
       class="inline-block rounded-md bg-secondary px-4 pb-1 pt-2 font-normal uppercase leading-normal text-white hover:text-gray-100 shadow-secondary-3 transition duration-150 ease-in-out hover:bg-secondary-accent-300 hover:shadow-secondary-2 focus:bg-secondary-accent-300 focus:shadow-secondary-2 focus:outline-none focus:ring-0 active:bg-secondary-600 active:shadow-secondary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong text-sm float-end"
       href="{{ path('app_dashboard_market_place_create_brand', {market: market.id}) }}">{{ 'market.brand.create'|trans }}</a>
{% endblock %}

{% block content %}
    {% include 'dashboard/content/market_place/navbar/nav.html.twig' with {'search': 'brand'} %}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-500 uppercase bg-info-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">{{ 'table.header.name'|trans }}</th>
                <th scope="col" class="px-6 py-3">{{ 'table.header.url'|trans }}</th>
                <th scope="col" class="px-6 py-3 text-center">{{ 'table.header.handle'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for brand in brands %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-3 w-2/5 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <a data-twe-toggle="tooltip"
                           data-twe-placement="left"
                           class="block text-wrap font-semibold hover:underline hover:text-gray-400 dark:text-gray-400"
                           title="{{ brand.name }}"
                           href="{{ path('app_dashboard_market_place_edit_brand', {market: brand.market.id, id: brand.id}) }}">
                            {{ brand.name|length > 30 ? brand.name|slice(0, 30) ~ '...' : brand.name }}
                        </a>
                    </th>
                    <td class="px-6 py-3">
                        <a target="_blank" rel="nofollow" class="text-blue-700 hover:!text-red-700 hover:underline dark:text-white dark:hover:!text-gray-400"
                           href="{{ brand.url }}">{{ brand.name }}</a>
                    </td>
                    <td class="px-6 py-3 text-center">
                        <a href="{{ path('app_dashboard_market_place_edit_brand', {market: brand.market.id, id: brand.id}) }}"
                           class="border rounded ps-1.5 pe-0.5 py-1 mr-1 hover:shadow-md hover:bg-gray-100 dark:hover:bg-gray-800">
                            <i class="fa fa-pencil text-indigo-600 dark:text-white"></i>
                        </a>
                        <a
                                class="border rounded delete-entry px-2 py-1 hover:shadow-md hover:bg-gray-100 dark:hover:bg-gray-800 cursor-pointer {{ brand.marketProductBrands.count ? 'pointer-events-none' : '' }}"
                                data-token="{{ csrf_token('delete') }}"
                                data-url="{{ path('app_dashboard_delete_brand', {market: brand.market.id, id: brand.id}) }}">
                            <i class="fa fa-{{ brand.marketProductBrands.count ? 'ban' : 'trash' }} dark:text-white"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="px-6 py-3 text-center text-gray-700 bg-gray-100 dark:bg-gray-500 dark:text-white">{{ 'table.footer.not_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}