{% extends 'base.html.twig' %}

{% block title %}{% if category %}{{ category.name }} - {{ 'title.blogs'|trans }}{% else %}{{ 'title.blogs'|trans }}{% endif %}{% endblock %}
{% block description %}{% if category %}{{ category.description|trim }}{% else %}{{ 'text.blog.desc'|trans }}{% endif %}{% endblock %}

{% block body %}
    <section class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-3xl flex mx-auto px-4 py-8 lg:py-16 lg:px-2">
            <div class="mx-auto w-4/6 rounded-lg bg-white p-6 shadow-4 dark:bg-surface-dark">
                <h2 class="text-2xl pb-4 font-extrabold text-primary-700 dark:text-white">
                    {% if category %}
                        {{ category.name }}
                    {% else %}
                        {{ 'text.blog.desc'|trans|raw }}
                        {% set _active = 0 %}
                    {% endif %}
                </h2>
                <ul class="mb-5 flex list-none ps-0 md:flex-row">
                    {% if categories %}
                        <li class="col-12 entry-tags">
                            {% for key, category in categories %}
                                {% if key < 7 %}
                                    <a href="{{ path('app_blog_category', {slug: category.slug}) }}"
                                       class="bg-pink-50 hover:bg-pink-100 text-pink-800 text-sm shadow-sm font-medium me-2 px-3 py-3 rounded-md dark:bg-pink-900 dark:text-pink-300 inline-flex items-center justify-center"
                                       title="{{ category.description }}">{{ category.name }}</a>
                                {% else %}
                                    <a href="{{ path('app_blog_category', {slug: category.slug}) }}"
                                       class="sr-only bg-pink-50 hover:bg-pink-100 text-pink-800 text-sm shadow-sm font-medium me-2 px-3 py-3 rounded-md dark:bg-pink-900 dark:text-pink-300 inline-flex items-center justify-center"
                                       title="{{ category.description }}">{{ category.name }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if categories|length > 7 %}
                                <a href="#" id="load-categories" class="bg-pink-50 hover:bg-pink-100 text-pink-800 text-sm shadow-sm font-medium me-2 px-3 py-3 rounded-md dark:bg-pink-900 dark:text-pink-300 inline-flex items-center justify-center" title="...">...</a>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
                {% if category %}
                    <li class="mx-2 w-full mb-3 flex">
                        {{ category.description }}
                    </li>
                {% endif %}
                <div class="grid grid-cols-{{ entries|length ? 3 : 1 }} gap-5">
                    {% for entry in entries %}
                        <div class="blog-block col-sm-8 col-lg-6 col-xl-4">
                            <div class="card">
                                <div class="blog-img-block">
                                    {% set _picture = 'storage/entry/picture/' ~ entry.id ~ '/' ~ entry.entryAttachments.first.attach.name %}
                                    <a href="{{ path('app_blog_view', {slug: entry.slug}) }}">
                                        {% if  _picture %}
                                            <img src="{{ asset(_picture)|imagine_filter('entry_preview') }}"
                                                 class="blog-img" width="415" alt="{{ entry.entryDetails.title }}"/>
                                        {% else %}
                                            <img src="{{ asset('http://placehold.it/415x215') }}" class="blog-img"
                                                 alt="Missing image for entry: {{ entry.entryDetails.title }}"/>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="card-body">
                                    <a class="text-wrap fs-5 fw-normal"
                                       href="{{ path('app_blog_view', {slug: entry.slug}) }}">
                                        {{ entry.entryDetails.title }}
                                    </a>
                                </div>
                                <div class="card-footer bg-body">
                                    <ul class="list-unstyled list-inline-item mt-xxl-5 justify-content-between">
                                        <li class="list-inline-item me-5">
                                            <a target="_blank"
                                               href="">
                                                @{{ entry.user.userDetails.firstName }}
                                            </a>
                                            <i class="bi bi-person-fill"></i>
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="text-muted bi bi-calendar-date"></i>
                                            <small>{{ entry.createdAt|date(date_format) }}</small>
                                        </li>
                                        <li class="list-inline-item ps-5 ms-5">
                                            <small class="text-muted">Follows</small>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="">
                                                <i class="bi bi-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="">
                                                <i class="bi bi-twitter-x"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="">
                                                <i class="bi bi-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="my-8 justify-between items-center text-center">
                            <img class="h-100 w-48 mx-auto" src="{{ asset('img/404-page-not-found.png') }}"
                                 alt="{{ 'table.footer.not_found'|trans }}">
                            <p class="mt-5 text-danger">{{ 'table.footer.not_found'|trans }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
