{% extends 'base.html.twig' %}

{% block title %}{% if category %}{{ category.name }} - {{ 'title.blogs'|trans }}{% else %}{{ 'title.blogs'|trans }}{% endif %}{% endblock %}
{% block description %}{% if category %}{{ category.description|trim }}{% else %}{{ 'text.blog.desc'|trans }}{% endif %}{% endblock %}

{% block body %}
    <h2 class="text-2xl pb-4 font-extrabold text-primary-700 dark:text-white">
        {% if category %}
            {{ category.name }}
        {% else %}
            {{ 'text.blog.desc'|trans|raw }}
            {% set _active = 0 %}
        {% endif %}
    </h2>
    <ul class="mb-5 flex list-none ps-0 md:flex-row">
        {% if categories %}
            <li class="col-12 entry-tags">
                {% for key, category in categories %}
                    {% if key < 7 %}
                        <a href="{{ path('app_blog_category', {slug: category.slug}) }}"
                           class="text-gray-500 hover:text-gray-500 border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-500 dark:text-gray-500 dark:hover:text-white dark:hover:bg-gray-500 dark:focus:ring-gray-800 inline-flex items-center justify-center"
                           title="{{ category.description }}">{{ category.name }}</a>
                    {% else %}
                        <a href="{{ path('app_blog_category', {slug: category.slug}) }}"
                           class="sr-only text-gray-500 hover:text-gray-500 border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-500 dark:text-gray-500 dark:hover:text-white dark:hover:bg-gray-500 dark:focus:ring-gray-800 inline-flex items-center justify-center"
                           title="{{ category.description }}">{{ category.name }}</a>
                    {% endif %}
                {% endfor %}
                {% if categories|length > 7 %}
                    <a href="#" id="load-categories"
                       class="text-gray-500 hover:text-gray-500 border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-500 dark:text-gray-500 dark:hover:text-white dark:hover:bg-gray-500 dark:focus:ring-gray-800 inline-flex items-center justify-center"
                       title="...">...</a>
                {% endif %}
            </li>
        {% endif %}
    </ul>
    {% if category %}
        <div class="w-full mb-3 flex p-4 rounded-xl bg-gray-50 text-gray-500">
            {{ category.description }}
        </div>
    {% endif %}
    <div class="grid w-full gap-6 md:grid-cols-3">
        {% for entry in entries %}
            <div class="min-h-full flex-col justify-between">
                <div class="min-h-full max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <div class="lg:max-w-xl relative overflow-hidden bg-cover bg-no-repeat rounded-t-lg">
                        {% set _picture = 'storage/entry/picture/' ~ entry.id ~ '/' ~ entry.attach %}
                        <a href="{{ path('app_blog_view', {slug: entry.slug}) }}">
                            {% if entry.attach %}
                                <img loading="lazy" src="{{ asset(_picture)|imagine_filter('entry_preview') }}"
                                     class="object-cover w-full transition duration-300 ease-linear hover:scale-125 rounded-t-lg"
                                     width="415" alt="{{ entry.title }}"/>
                            {% else %}
                                <img loading="lazy" src="{{ asset('img/380x200.png') }}"
                                     class="object-cover w-full transition duration-300 ease-linear hover:scale-125 rounded-t-lg opacity-50"
                                     width="415" alt="{{ entry.title }}"/>
                            {% endif %}
                        </a>
                    </div>
                    <div class="m-2">
                        <a title="{{ entry.title }}"
                           href="{{ path('app_blog_view', {slug: entry.slug}) }}">
                            <h5 class="text-lg font-bold hover:text-gray-700 tracking-tight truncate text-gray-500 dark:text-white">
                                {{ entry.title }}
                            </h5>
                        </a>
                    </div>
                    <div class="flex items-center justify-between px-2">
                        <a target="_blank" href="">@{{ entry.first_name }}</a>
                        <ul class="list-none flex items-center text-sm">
                            {% if entry.facebook_profile is not null %}
                                <li>
                                    <a href="{{ entry.facebook_profile }}" target="_blank" class="mx-2">
                                        <svg class="w-5 h-5 text-blue-700 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/>
                                        </svg>
                                    </a>
                                </li>
                            {% endif %}
                            {% if entry.twitter_profile is not null %}
                                <li>
                                    <a href="{{ entry.twitter_profile }}" target="_blank" class="mx-2">
                                        <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path d="M13.795 10.533 20.68 2h-3.073l-5.255 6.517L7.69 2H1l7.806 10.91L1.47 22h3.074l5.705-7.07L15.31 22H22l-8.205-11.467Zm-2.38 2.95L9.97 11.464 4.36 3.627h2.31l4.528 6.317 1.443 2.02 6.018 8.409h-2.31l-4.934-6.89Z"/>
                                        </svg>
                                    </a>
                                </li>
                            {% endif %}
                            {% if entry.instagram_profile is not null %}
                                <li>
                                    <a href="{{ entry.instagram_profile }}" target="_blank" class="mx-2">
                                        <svg class="w-5 h-5 text-indigo-700 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
                                        </svg>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="flex items-center border-t mt-3 pt-3 bg-gray-50 bg-opacity-75 pb-3 px-3 justify-between">
                        <ul class="list-none inline-flex justify-between">
                            <li class="list-inline-item">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 inline-flex me-1">
                                    <path d="M5.75 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM5 10.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM10.25 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM7.25 8.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM8 9.5A.75.75 0 1 0 8 11a.75.75 0 0 0 0-1.5Z" />
                                    <path fill-rule="evenodd" d="M4.75 1a.75.75 0 0 0-.75.75V3a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2V1.75a.75.75 0 0 0-1.5 0V3h-5V1.75A.75.75 0 0 0 4.75 1ZM3.5 7a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v4.5a1 1 0 0 1-1 1h-7a1 1 0 0 1-1-1V7Z" clip-rule="evenodd" />
                                </svg>
                                {{ entry.created_at|date(date_format) }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if entries|length == 0 %}
        <div class="my-8 w-full justify-center items-center text-center">
            <img class="h-100 w-48 mx-auto" src="{{ asset('img/404.png') }}"
                 alt="{{ 'table.footer.not_found'|trans }}">
            <p class="mt-5 text-danger">{{ 'table.footer.not_found'|trans }}</p>
        </div>
    {% endif %}
{% endblock %}
