{% extends 'base.html.twig' %}

{% block title %}{{ entry.entryDetails.title }}{% endblock %}
{% block description %}{{ entry.entryDetails.shortContent }}{% endblock %}
{% block body %}
    <h2 class="lg:text-2xl sm:text-xl pb-4 font-extrabold text-primary-700 dark:text-white">{{ entry.entryDetails.title }}</h2>
    <div class="flex flex-row">
        {% for categories in entry.entryCategories %}
            <a class="text-gray-500 hover:text-gray-500 border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-500 dark:text-gray-500 dark:hover:text-white dark:hover:bg-gray-500 dark:focus:ring-gray-800 inline-flex items-center justify-center"
               href="{{ path('app_blog_category', {slug: categories.category.slug}) }}">{{ categories.category.name }}</a>
        {% endfor %}
    </div>
    <div class="grid lg:grid-cols-8 md:grid-cols-5 sm:grid-cols-1 gap-x-5">
        <div class="lg:col-span-5 md:col-span-3">
            <div class="py-5">
                <ul class="list-unstyled relative w-full justify-content-between mb-5">
                    <li class="float-start">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 inline-flex text-green-600 me-1">
                            <path d="M5.75 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM5 10.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM10.25 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM7.25 8.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM8 9.5A.75.75 0 1 0 8 11a.75.75 0 0 0 0-1.5Z" />
                            <path fill-rule="evenodd" d="M4.75 1a.75.75 0 0 0-.75.75V3a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2V1.75a.75.75 0 0 0-1.5 0V3h-5V1.75A.75.75 0 0 0 4.75 1ZM3.5 7a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v4.5a1 1 0 0 1-1 1h-7a1 1 0 0 1-1-1V7Z" clip-rule="evenodd" />
                        </svg>
                        <a href="{{ path('app_blog_date', {date: entry.createdAt|date('Y-m-d') }) }}">{{ entry.createdAt|date(date_format) }}</a>
                    </li>
                    <li class="ms-1 float-end">
                        {#                        <button class="text-white text-sm rounded px-2.5 py-1.5 bg-primary">{{ 'button.leave.cpmment'|trans }}</button> #}
                    </li>
                </ul>
            </div>
            {% for key, picture in entry.entryAttachments %}
                {% if picture.inUse %}
                    {% set _picture = 'storage/entry/picture/' ~ entry.entryDetails.id ~ '/' ~ picture.attach.name %}
                    <div class="relative mb-4">
                        <div class="block w-full absolute px-4 py-5 bg-white opacity-50 z-10 rounded-t-lg">
                            <h3 class="text-xl text-black font-semibold opacity-100 z-20">{{ entry.entryDetails.title }}</h3>
                        </div>
                        <img src="{{ asset(_picture) | imagine_filter('entry_view') }}"
                             class="rounded-lg w-full my-2"
                             alt="{{ entry.entryDetails.title }}"/>
                        <i class="block text-left text-gray-500 mt-1 ps-1">{{ entry.entryDetails.shortContent }}</i>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="block mt-6">
                {{ entry.entryDetails.content|replace({'<p': '<p class="text-gray-500 leading-relaxed mb-2 font-medium"'})|raw }}
            </div>
        </div>
        <div class="inline-flex px-5 justify-content-between text-center">
            <div class="space-y-8">
                <div class="text-sm lg:w-[440px] sm:w-[600px]">
                    <ul class="list-none mr-5">
                        {% if entry.user.userDetails.user.attach %}
                            <li>
                                {% set _picture = 'storage/user/picture/' ~ entry.user.id ~ '/' ~ entry.user.userDetails.user.attach.name %}
                                <img class="rounded-full mx-auto w-36 h-36"
                                     src="{{ asset(_picture) | imagine_filter('user_preview') }}"
                                     alt="{{ entry.user.userDetails.firstName }} {{ entry.user.userDetails.lastName }}">
                            </li>
                        {% else %}
                            <li>
                                <img class="rounded-full mx-auto w-36 h-36" src="{{ asset('img/user-picture.jpg') }}"
                                     alt="{{ entry.user.userDetails.firstName }} {{ entry.user.userDetails.lastName }}">
                            </li>
                        {% endif %}
                        <li class="pt-3">
                            <a href="#">
                                <h5 class="font-semibold text-lg">{{ entry.user.userDetails.firstName }} {{ entry.user.userDetails.lastName }}</h5>
                            </a>
                            {% if entry.user.userDetails.userSocial %}
                                {% set _social = entry.user.userDetails.userSocial %}
                                <ul class="list-inline list-none">
                                    {% if _social.facebookProfile %}
                                        <li class="inline-flex pt-3">
                                            <a target="_blank" href="{{ _social.facebookProfile }}">
                                                <svg class="w-8 h-8 text-blue-700 mx-1 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                    <path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/>
                                                </svg>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if _social.twitterProfile %}
                                        <li class="inline-flex pt-3">
                                            <a target="_blank" href="{{ _social.twitterProfile }}">
                                                <svg class="w-8 h-8 text-gray-800 mx-1 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                    <path d="M13.795 10.533 20.68 2h-3.073l-5.255 6.517L7.69 2H1l7.806 10.91L1.47 22h3.074l5.705-7.07L15.31 22H22l-8.205-11.467Zm-2.38 2.95L9.97 11.464 4.36 3.627h2.31l4.528 6.317 1.443 2.02 6.018 8.409h-2.31l-4.934-6.89Z"/>
                                                </svg>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if _social.instagramProfile %}
                                        <li class="inline-flex pt-3">
                                            <a target="_blank" href="{{ _social.instagramProfile }}">
                                                <svg class="w-8 h-8 text-purple-500 mx-1 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                    <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
                                                </svg>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </li>
                        {% if entry.user.userDetails.about is not null %}
                            <li class="mt-10 p-4 block bg-gray-50 rounded-lg text-sm text-gray-500">
                                {{ entry.user.userDetails.about }}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}