{% extends 'base.html.twig' %}

{% block title %}{{ entry.entryDetails.title }}{% endblock %}
{% block description %}{{ entry.entryDetails.shortContent }}{% endblock %}
{% block body %}
    <section class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-3xl flex mx-auto pt-4 py-8 lg:py-16 lg:px-2">
            <div class="mx-auto lg:w-4/6 sm:max-w-screen-5xl rounded-lg bg-white p-6 shadow-4 dark:bg-surface-dark">
                <h2 class="lg:text-2xl sm:text-xl pb-4 font-extrabold text-primary-700 dark:text-white">{{ entry.entryDetails.title }}</h2>
                <div class="flex flex-row">
                    {% for categories in entry.entryCategories %}
                        <a class="text-gray-500 hover:text-gray-500 border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-500 dark:text-gray-500 dark:hover:text-white dark:hover:bg-gray-500 dark:focus:ring-gray-800 inline-flex items-center justify-center"
                           href="{{ path('app_blog_category', {slug: categories.category.slug}) }}">{{ categories.category.name }}</a>
                    {% endfor %}
                </div>
                <div class="flex flex-col md:flex-row">
                    <div class="lg:w-2/3 sm:w-3/4">
                        <div class="py-5">
                            <ul class="list-unstyled relative w-full justify-content-between">
                                <li class="float-start">
                                    <span class="fa fa-calendar text-success pe-1"></span>
                                    <a href="{{ path('app_blog_date', {date: entry.createdAt|date('Y-m-d') }) }}">{{ entry.createdAt|date(date_format) }}</a>
                                </li>
                                <li class="ms-1 float-end">
                                    <button class="text-blue-700 hover:underline">{{ 'button.leave.cpmment'|trans }}</button>
                                </li>
                            </ul>
                        </div>
                        {% for key, picture in entry.entryAttachments %}
                            {% if picture.inUse %}
                                {% set _picture = 'storage/entry/picture/' ~ entry.entryDetails.id ~ '/' ~ picture.attach.name %}
                                <div class="relative mb-4">
                                    <div class="block w-full absolute px-4 py-5 bg-white opacity-50 z-10 rounded-t-lg">
                                        <h3 class="text-xl text-black font-semibold opacity-100 z-20">{{ entry.entryDetails.title }}</h3>
                                    </div>
                                    <img src="{{ asset(_picture) | imagine_filter('entry_view') }}"
                                         class="rounded-lg my-2 shadow-lg"
                                         alt="{{ entry.entryDetails.title }}"/>
                                    <i class="block text-left text-gray-500 mt-1 ps-1">{{ entry.entryDetails.shortContent }}</i>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {{ entry.entryDetails.content|replace({'<p': '<p class="text-gray-500 leading-relaxed mb-2 font-medium"'})|raw }}
                    </div>
                    <div class="lg:w-1/3 px-5 mx-5 lg:-mt-10 sm:mt-5 sm:w-full justify-content-between text-center">
                        <ul class="list-none">
                            {% if entry.user.userDetails.user.attach %}
                                <li>
                                    {% set _picture = 'storage/user/picture/' ~ entry.user.id ~ '/' ~ entry.user.userDetails.user.attach.name %}
                                    <img class="rounded-full mx-auto"
                                         src="{{ asset(_picture) | imagine_filter('user_thumb') }}"
                                         alt="{{ entry.user.userDetails.firstName }} {{ entry.user.userDetails.lastName }}">
                                </li>
                            {% else %}
                                <li>
                                    <img class="rounded-full mx-auto" src="{{ asset('img/user-picture.jpg') }}"
                                         alt="{{ entry.user.userDetails.firstName }} {{ entry.user.userDetails.lastName }}">
                                </li>
                            {% endif %}
                            <li class="pt-3">
                                <a href="#">
                                    <h5 class="font-semibold text-lg">{{ entry.user.userDetails.firstName }} {{ entry.user.userDetails.lastName }}</h5>
                                </a>
                                {% if entry.user.userDetails.userSocial %}
                                    {% set _social = entry.user.userDetails.userSocial %}
                                    <ul class="list-inline list-none">
                                        {% if _social.facebookProfile %}
                                            <li class="inline-flex pt-3">
                                                <a target="_blank" href="{{ _social.facebookProfile }}">
                                                    <i class="fa fa-facebook text-blue-700 text-xl mx-1"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if _social.twitterProfile %}
                                            <li class="inline-flex pt-3">
                                                <a target="_blank" href="{{ _social.twitterProfile }}">
                                                    <i class="fa fa-twitter text-blue-500 text-xl mx-1"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if _social.instagramProfile %}
                                            <li class="inline-flex pt-3">
                                                <a target="_blank" href="{{ _social.instagramProfile }}">
                                                    <i class="fa fa-instagram text-purple-500 text-xl mx-1"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </li>
                            <li class="mt-10 p-4 block bg-gray-50 rounded-lg text-sm text-gray-500 shadow-lg">
                                {{ entry.user.userDetails.about }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}