{% extends 'plain.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <section class="container mt-lg-2">
        {{ form_start(requestForm, {attr: {class: 'needs-validation', novalidate: ''}}) }}
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 card card-body bg-light shadow">
                <h4 class="ps-2 border-start border-3 border-danger mb-3">{{ 'text.reset_password'|trans }}</h4>
                {% for flash_error in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger mx-3 mb-0" role="alert">{{ flash_error }}</div>
                {% else %}
                    <div class="alert alert-info mt-4 mx-3" role="alert">
                        <p class="mb-0">{{ 'form.email.info'|trans }}</p>
                    </div>
                {% endfor %}
                <div class="row mx-1">
                    <div class="form-floating col-12 pt-2">
                        {{ form_widget(requestForm.email, {attr: {class: 'form-control ps-sm-3', placeholder: ''}}) }}
                        {{ form_label(requestForm.email, 'label.form.email', {label_attr: {class: 'form-label ms-3 mt-2'}}) }}
                        <div class="invalid-feedback">{{ 'form.email.invalid'|trans }}</div>
                        <div class="col-md-12 text-center my-4">
                            <button class="btn btn-dark rounded-1 shadow-sm">{{ 'button.reset_password'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        {{ form_end(requestForm) }}
    </section>
{% endblock %}
