{% extends 'plain.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="page-title-area request-password"></div>
    <section class="section-area">
        <div class="container">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            {{ form_start(requestForm, {attr: {class: 'tech-form'}}) }}
            <div class="row">
                <div class="col-lg-2 col-md-2"></div>
                <div class="col-lg-8 col-md-8">
                    <h3 class="mb-3">Reset your password</h3>
                    <div class="mb-5">Enter your email address, and we will send you a link to reset your password.
                    </div>
                    <div class="form-group row">
                        {{ form_label(requestForm.email, 'label.form.email', {label_attr: {class: 'col-sm-3 col-form-label mt-2 text-info'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(requestForm.email, {attr: {class: 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2"></div>
                <div class="col-lg-8 col-md-8">
                    <div class="form-group row">
                        <div class="col-sm-12 text-center mt-3">
                            <button class="btn btn-primary">Send password reset email</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2"></div>
            </div>
        </div>
        {{ form_end(requestForm) }}
        </div>
    </section>
{% endblock %}
