<!doctype html>
<html lang="{{ app.request.locale }}" data-bs-theme="white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{{ 'site.title'|trans }}{% endblock %} - {{ 'text.home.header'|trans }}</title>
    <meta name="description" content="{% block description %}{{ 'site.description'|trans }}{% endblock %}">
    <meta name="robots" content="index,follow">
    <meta charset="utf-8">
    <meta property="og:title" content="{{ 'site.title'|trans }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url('app_index') }}">
    <meta property="og:site_name" content="{{ 'site.title'|trans }} - {{ 'text.home.header'|trans }}">
    <meta property="og:locale" content="en_US">
    <meta name="application-name" content="{{ 'site.title'|trans }} - {{ 'text.home.header'|trans }}">
    <meta name="apple-mobile-web-app-title" content="{{ 'site.title'|trans }} - {{ 'text.home.header'|trans }}">
    <link rel="canonical" href="{{ app.request.uri }}"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="d-flex flex-column min-vh-100">
{% set _route = app.request.get('_route') %}
<div class="preloader">
    <div class="position-absolute justify-content-between top-50 start-50">
        <div class="lds-spinner">
            {% for i in range(0, 11) %}
                <div></div>
            {% endfor %}
        </div>
    </div>
</div>
<div class=" container-fluid bg-danger position-absolute h-25 z-n1"></div>
{% include 'layouts/navbar.html.twig' %}
<main class="main-container mb-xxl-5">
    {% block body %}{% endblock %}
</main>
<footer class="footer mt-auto py-3 bg-dark mt-5">
    <div class="container">
        <div class="text-center text-white">
            {% set year =  'now' | date('Y') %}
            {% set build_year = '2023' %}
            <span>&copy; {{ year == build_year ? build_year : build_year ~ '-' ~ year }} {{ 'site.title'|trans }} - {{ 'text.all_right_reserved'|trans }}</span>
        </div>
    </div>
</footer>
{{ include ('layouts/cart.html.twig') }}
{% block toast %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('market-js') }}
{% endblock %}
</body>
</html>
