<section class="footer-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>{{ 'title.about_us'|trans }}</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consectetur laboris.</p>
                    <ul class="footer-social">
                        <li>
                            <a href="#"> <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>Our Services</h3>
                    </div>
                    <ul class="footer-quick-links">
                        <li> <a href="#">IT Solution</a></li>
                        <li> <a href="#">Web Development</a></li>
                        <li> <a href="#">Networking Services</a></li>
                        <li> <a href="#">SEO Optimization</a></li>
                        <li> <a href="#">App Optimization</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>Quick Links</h3>
                    </div>
                    <ul class="footer-quick-links">
                        <li><a href="{{ path('about') }}">{{ 'title.about_us'|trans }}</a></li>
                        <li><a href="{{ path('faq') }}">{{ 'title.questions'|trans }}</a></li>
                        <li><a href="{{ path('contact') }}">{{ 'title.contact_us'|trans }}</a></li>
                        <li><a href="{{ path('policy') }}">{{ 'title.private_policy'|trans }}</a></li>
                        <li><a href="{{ path('terms') }}">{{ 'title.terms'|trans|raw }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>{{ 'title.contact_information'|trans }}</h3>
                    </div>
                    <div class="footer-info-contact">
                        <span><strong>{{ 'title.phone'|trans }}:</strong> <a href="tel:0671987666">+38 067 198 7 664</a></span>
                    </div>
                    <div class="footer-info-contact">
                        <span><strong>{{ 'title.email'|trans }}:</strong> <a href="mailto:demo@example.com">demo@example.com</a></span>
                    </div>
                    <div class="footer-info-contact">
                        <span><strong>{{ 'title.address'|trans }}:</strong> 4035 Heavens, Los Angeles, California</span>
                    </div>                    
                    <form class="subscribe-form">
                        <input type="email" class="input-subscribe" placeholder="{{ 'title.subscribe_email'|trans }}" name="subscribe-email" required="" autocomplete="off">
                        <button class="default-btn" type="submit">{{ 'title.subscribe'|trans }} <span></span></button>
                    </form>                    
                </div>
            </div>
        </div>
    </div>
</section>
