{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.summary'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    {% set periods = {today: 'today', yesterday: 'yesterday', period: 'last-month'} %}
    <form name="store" method="get" id="store">
        <label for="slug">
            <select name="slug" id="slug">
                <option value="{{ url('app_dashboard') }}">{{ 'menu.dashboard'|trans }}</option>
                {% for store in stores %}
                    <option value="{{ url('app_dashboard', {slug: store.slug}) }}"{{ store.slug == app.request.get('slug') ? ' selected="selected"' : null }}>{{ store.name }}</option>
                {% endfor %}
            </select>
        </label>
    </form>
    <div class="mt-5 grid grid-cols-3 gap-4">
        <div class="flex flex-col justify-center items-center">
            <h5 class="text-xl w-full font-semibold text-gray-600 dark:text-gray-50">Customers</h5>
            <div class="relative w-36 h-36">
                <canvas id="chart-customers" data-customers="{{ customers|length }}"></canvas>
                <span class="absolute z-10 top-1/2 start-1/3 text-4xl ps-3.5 -mt-3">{{ customers|length }}</span>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center">
            <h5 class="text-xl w-full font-semibold text-gray-600 dark:text-gray-50">Orders</h5>
                <div class="relative w-36 h-36">
                    <canvas id="chart-orders" data-orders="{{ orders|length }}"></canvas>
                    <span class="absolute z-10 top-1/2 start-1/3 text-4xl ps-3.5 -mt-3">{{ orders|length }}</span>
                </div>
        </div>
        <div class="flex flex-col justify-center items-center">
            <h5 class="text-xl w-full font-semibold text-gray-600 dark:text-gray-50">Invoices</h5>
            <div class="relative w-36 h-36">
                <canvas id="chart-invoices" data-invoices="{{ invoices|length }}"></canvas>
                <span class="absolute z-10 top-1/2 start-1/3 text-4xl ps-3.5 -mt-3">{{ invoices|length }}</span>
            </div>
        </div>
    </div>
    <div class="mt-5 gap-4 w-full grid grid-cols-{{ periods|length }}">
        {% for period in periods %}
            {% set _slug = app.request.get('slug') is null ? store.slug : app.request.get('slug') %}
            <a href="{{ path('app_dashboard', {slug: _slug, period: period}) }}"
               class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ store.name }}</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">{{ period }}</p>
            </a>
        {% endfor %}
    </div>
    {% if chart is not null %}
        {{ render_chart(chart) }}
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('chart-js') }}
    <script type="text/javascript">
        const selector = document.getElementById('store').querySelector('select');
        selector.addEventListener('change', () => window.location.replace(selector.value));
    </script>
{% endblock %}