<!doctype html>
<html lang="{{ app.request.locale }}" data-bs-theme="white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{{ 'site.title'|trans }}{% endblock %} - {{ 'text.home.header'|trans }}</title>
    <meta name="description" content="{% block description %}{{ 'site.description'|trans }}{% endblock %}">
    <meta name="robots" content="index,follow">
    <meta charset="utf-8">
    <meta property="og:title" content="{{ 'site.title'|trans }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url('app_index') }}">
    <meta property="og:site_name" content="{{ 'site.title'|trans }} - {{ 'text.home.header'|trans }}">
    <meta property="og:locale" content="en_US">
    <meta name="application-name" content="{{ 'site.title'|trans }} - {{ 'text.home.header'|trans }}">
    <meta name="apple-mobile-web-app-title" content="{{ 'site.title'|trans }} - {{ 'text.home.header'|trans }}">
    <link rel="canonical" href="{{ app.request.uri }}"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-32x32.png') }}">
    <link rel="manifest" href="{{ asset('site.webmanifest') }}">
</head>
<body class="dark:bg-gray-900">
{% set _route = app.request.get('_route') %}
<div class="flex flex-col h-screen justify-between bg-transparent" id="key"
     data-id="{{ app.user ? app.user.id : null }}">
    <header>
        {% include 'layouts/header.html.twig' %}
    </header>
    <main class="mb-auto shadow-inner" id="key" data-hash="{{ app.user ? app.user.email|crypto|base64encode : null }}">
        <section class="bg-white dark:bg-gray-900">
            {% block search %}{% endblock %}
            {% block extra_search %}{% endblock %}
            <div class="max-w-screen-xl flex mx-auto {% block offest %}pt-4 py-8 lg:py-16 lg:px-2{% endblock %}">
                <div class="mx-auto w-full bg-white p-6 {% block class %}rounded-lg shadow-4{% endblock %} dark:bg-gray-900">
                    {% block body %}{% endblock %}
                </div>
            </div>
            {% block extra %}{% endblock %}
            {% block loading %}{% endblock %}
        </section>
    </main>
    <footer class="bg-gray-950 h-auto sticky top-[100vh]">
        {% include 'layouts/footer.html.twig' %}
    </footer>
</div>
{% include 'layouts/cart.html.twig' %}
{% include 'layouts/toast/hub.html.twig' %}
{% block toast %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script type="text/javascript">
        const user = document.getElementById('key').dataset.id;
        if (user) {
            const hub = document.getElementById('hub'),
                toast = document.getElementById('hub-notification'),
                eventSource = new EventSource("{{ mercure('/hub/')|escape('js') }}" + user);

            eventSource.onmessage = event => {
                const data = JSON.parse(event.data);
                toast.classList.remove('hidden');
                toast.querySelector('.name').innerHTML = data.update.sender;
                toast.querySelector('img').innerHTML = data.update.sender;
                toast.querySelector('.message').innerHTML = data.update.message;
                toast.querySelector('.created').innerHTML = data.update.createdAt;
                toast.querySelector('.url').setAttribute('href', data.update.url);
                hub.innerHTML = data.update.count;
            }
        }
    </script>
{% endblock %}
</body>
</html>
