<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{{ 'site.title'|trans }}{% endblock %} - {{ 'text.home.header'|trans }}</title>
    <meta name="description" content="{% block description %}{{ 'site.description'|trans }}{% endblock %}">
    <meta name="robots" content="index,follow">
    <meta charset="utf-8">
    <link rel="canonical" href="{{ app.request.uri }}"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-32x32.png') }}">
    <link rel="manifest" href="{{ asset('site.webmanifest') }}">
</head>
<body class="dark:bg-gray-600">
<div class="h-screen" id="key" data-email="{{ app.user.email }}" data-hash="{{ app.user.email|crypto|base64encode }}">
    {{ include('dashboard/sidebar.html.twig') }}
    <div class="sm:ml-64">
        <div class="flex w-full p-2 rounded-lg bg-gradient bg-gray-100 justify-between items-center dark:bg-gray-700">
            <form class="inline-flex items-center max-w-lg group" autocomplete="off">
                <label for="dashboard-search" class="sr-only">{{ 'title.search'|trans }}</label>
                <div class="relative w-full">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-400 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                             aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                             viewBox="0 0 22 21">
                            <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"></path>
                            <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"></path>
                        </svg>
                    </div>
                    <input type="text" minlength="5" name="term" id="dashboard-search"
                           class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-blue-500"
                           placeholder="{{ 'title.search'|trans }} ..." required/>
                </div>
                <button type="submit"
                        class="p-2.5 ms-2 text-sm font-medium text-white bg-gray-700 rounded-lg border border-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 group-invalid:pointer-events-none group-invalid:opacity-30">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
                    </svg>
                    <span class="sr-only">{{ 'title.search'|trans }}</span>
                </button>
            </form>
            <button id="theme-toggle" type="button"
                    class="w-24 end-0 text-gray-500 dark:text-gray-400 focus:outline-none rounded-full text-sm p-2">
                <span class="inline-flex float-start pe-3">{{ 'text.theme'|trans }}</span>
                <svg id="theme-toggle-dark-icon" class="hidden w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                </svg>
                <svg id="theme-toggle-light-icon" class="hidden w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                          fill-rule="evenodd" clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
        <div class="p-4 border-1 border-gray-50 rounded-lg dark:border-gray-700">
            {% block body %}
                <div {{ stimulus_controller('dashboard') }}>...</div>
            {% endblock %}
        </div>
    </div>
    <footer class="bg-gray-50 h-[64px] sticky z-10 top-[100vh] dark:bg-gray-900">
        <div class="container mx-auto text-gray-800 dark:text-white pt-1">
            <div class="text-center py-3">
                {% set year =  'now' | date('Y') %}
                {% set build_year = '2023' %}
                <span>&copy; {{ year == build_year ? build_year : build_year ~ '-' ~ year }} {{ 'site.title'|trans }} - {{ 'text.all_right_reserved'|trans }}</span>
            </div>
        </div>
    </footer>
</div>
{% include 'market_place/notification.html.twig' with {
    end: 'bottom',
    start: 'start'
} %}
{% block toast %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script type="text/javascript">
        const eventSource = new EventSource("{{ mercure('/hub')|escape('js') }}");
        eventSource.onmessage = event => {
            console.log(JSON.parse(event.data));
        }
    </script>
{% endblock %}
</body>
</html>