<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{{ 'site.title'|trans }}{% endblock %} - {{ 'text.home.header'|trans }}</title>
    <meta name="description" content="{% block description %}{{ 'site.description'|trans }}{% endblock %}">
    <meta name="robots" content="index,follow">
    <meta charset="utf-8">
    <link rel="canonical" href="{{ app.request.uri }}"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="dark:bg-gray-600">
<div class="h-screen">
    {{ include('dashboard/sidebar.html.twig') }}
    <div class="p-4 sm:ml-64">
        <button id="theme-toggle" type="button" class="absolute right-5 top-5 z-10 w-24 text-gray-500 dark:text-gray-400 focus:outline-none rounded-full text-sm p-2">
            <span class="inline-flex float-start pe-3">{{ 'text.theme'|trans }}</span>
            <svg id="theme-toggle-dark-icon" class="hidden w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
            <svg id="theme-toggle-light-icon" class="hidden w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
        </button>
        <div class="p-4 border-1 border-gray-50 rounded-lg dark:border-gray-700">
            {% block body %}{% endblock %}
        </div>
    </div>
    <footer class="bg-gray-950 h-[64px] sticky z-[1000] top-[100vh]">
        <div class="container mx-auto text-white pt-1">
            <div class="text-center py-3">
                {% set year =  'now' | date('Y') %}
                {% set build_year = '2023' %}
                <span>&copy; {{ year == build_year ? build_year : build_year ~ '-' ~ year }} {{ 'site.title'|trans }} - {{ 'text.all_right_reserved'|trans }}</span>
            </div>
        </div>
    </footer>
</div>
{% block toast %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>