{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.overview_product'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    {% include 'dashboard/content/market_place/navbar/nav.html.twig' %}
    {% if store.deletedAt %}
        <div class="text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 py-2.5 ps-4 mb-3"
             id="liveAlertPlaceholder" role="alert">
            {{ 'product.unavailable'|trans }}
        </div>
    {% endif %}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <form id="products" name="products" method="post" autocomplete="off">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs whitespace-nowrap text-gray-500 uppercase bg-info-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th class="p-3 w-4">
                        <label class="relative flex items-center rounded-full cursor-pointer" for="any">
                            <input type="checkbox"
                                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                   id="any"/>
                        </label>
                    </th>
                    <th class="px-3 py-3">{{ 'table.header.name'|trans }}</th>
                    <th class="px-3 py-3 text-center"
                        scope="col">{{ 'table.header.price'|trans }}</th>
                    <th class="px-3 py-3 text-center"
                        scope="col">{{ 'table.header.quantity'|trans }}</th>
                    <th class="px-3 py-3 text-center"
                        scope="col">{{ 'table.header.amount'|trans }}</th>
                    <th class="px-3 py-3 text-center"
                        scope="col">{{ 'table.header.created_at'|trans }}</th>
                    <th class="px-3 py-3 text-center"
                        scope="col">{{ 'table.header.handle'|trans }}</th>
                </tr>
                </thead>
                <tbody class="whitespace-nowrap">
                {% for key, product in products %}
                    {% set disabled = null %}
                    {#                    {% for coupon in product.storeCoupons %} #}
                    {#                        {% for item in coupon.product %} #}
                    {#                            {% if item.id == product.id %} #}
                    {#                                {% set disabled = 'disabled' %} #}
                    {#                            {% endif %} #}
                    {#                        {% endfor %} #}
                    {#                    {% endfor %} #}
                    <tr class="{{ disabled is null ? 'bg-white' : 'bg-green-100 dark:bg-green-950' }} border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 {% if product.deleted %}text-gray-400 bg-gray-200{% endif %}">
                        <td class="p-3 w-4">
                            <label class="relative flex items-center rounded-full cursor-pointer" for="i-{{ key }}">
                                <input type="checkbox" {{ disabled }} name="product[{{ key }}]" value="{{ product.id }}"
                                       class="{{ disabled is null ? 'checks' : '' }} w-4 h-4 text-blue-600 bg-white border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                       id="i-{{ key }}"/>
                            </label>
                        </td>
                        <td class="px-3 py-3">
                            <a data-twe-toggle="tooltip"
                               data-twe-placement="left"
                               class="block text-wrap font-semibold truncate hover:underline hover:text-gray-400 dark:text-gray-400 {% if product.deleted %}line-through{% endif %}"
                               title="{{ product.name }}"
                               href="{{ path('app_dashboard_market_place_edit_product', {store: product.store.id, id: product.id, tab: 'details'}) }}">
                                {{ product.short_name|length >= 40 ? product.short_name|slice(0, 40) ~ '...' : product.short_name }}
                            </a>
                        </td>
                        <td class="px-3 py-3 text-center">
                            <a href="" data-twe-toggle="tooltip"
                               title="{{ product.cost }} + {{ product.fee }}">{{ (product.cost + product.fee) }}</a><small
                                    class="text-gray-600">{{ currency['symbol_native'] }}</small>
                        </td>
                        <td class="px-3 py-3 text-center">{{ product.quantity }}</td>
                        <td class="px-3 py-3 text-center">
                            <a href="#" data-twe-toggle="tooltip"
                               title="{{ product.cost }} + {{ product.fee }} * {{ product.quantity }}"
                               class="focus:cursor-help">{{ ((product.cost + product.fee) * product.quantity)|amount_format }}</a><small
                                    class="text-gray-600">{{ currency['symbol_native'] }}</small>
                        </td>
                        <td class="px-3 py-3 text-center">{{ product.created|date(date_format) }}</td>
                        <td class="px-3 py-3 text-center">
                            {% if product.deleted %}
                                <a class="border rounded px-1.5 py-1 hover:shadow-md hover:bg-gray-100 dark:hover:bg-gray-800{{ product.store.deleted ? ' pointer-events-none' : '' }}"
                                   href="{% if product.store.deleted is null %}{{ path('app_dashboard_restore_product', {store: product.store.id, id: product.id}) }}{% endif %}">
                                    <i class="fa fa-{{ product.store.deleted ? 'ban' : 'arrow-up' }} dark:text-white"></i>
                                </a>
                            {% else %}
                                <a href="{{ path('app_dashboard_market_place_edit_product', {store: product.store.id, id: product.id, tab: 'details'}) }}"
                                   class="border rounded ps-1.5 pr-1 py-1 mr-1 hover:shadow-md hover:bg-gray-100 dark:hover:bg-gray-800">
                                    <i class="fa fa-pencil text-indigo-600 dark:text-white"></i>
                                </a>
                                <a
                                        class="border rounded delete-entry px-2 py-1 hover:shadow-md hover:bg-gray-100 dark:hover:bg-gray-800 cursor-pointer"
                                        data-token="{{ csrf_token('delete') }}"
                                        data-url="{{ url('app_dashboard_delete_product', {store: product.store.id, id: product.id}) }}"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modal-delete">
                                    <i class="fa fa-trash text-red-600 dark:text-white"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8"
                            class="px-3 py-3 text-center text-gray-700 bg-gray-100 dark:bg-gray-500 dark:text-white">{{ 'table.footer.not_found'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
    {% if rows > products|length %}
        <div class="navigation mt-5 pb-5 w-full mx-auto">
            {% include 'dashboard/content/market_place/paginator/custom_pages.html.twig' with {
                route: app.current_route
            } %}
        </div>
    {% endif %}
{% endblock %}