{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.overview_product'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    {% include 'dashboard/content/market_place/navbar/nav.html.twig' %}
    {% if market.deletedAt %}
        <div class="text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 py-2.5 ps-4 mb-3 ms-2  dar"
             id="liveAlertPlaceholder" role="alert">
            {{ 'product.unavailable'|trans }}
        </div>
    {% endif %}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <form id="products" name="products" method="post" autocomplete="off">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs whitespace-nowrap text-gray-500 uppercase bg-info-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th class="p-3 w-4">
                        <label class="relative flex items-center rounded-full cursor-pointer" for="any">
                            <input type="checkbox"
                                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                   id="any"/>
                        </label>
                    </th>
                    <th class="px-3 py-3">{{ 'table.header.name'|trans }}</th>
                    <th class="px-3 py-3 text-center"
                        scope="col">{{ 'table.header.coupon_discount'|trans }}</th>
                    <th class="px-3 py-3 text-center"
                        scope="col">{{ 'table.header.cost'|trans }}</th>
                    <th class="px-3 py-3 text-center"
                        scope="col">{{ 'table.header.quantity'|trans }}</th>
                    <th class="px-3 py-3 text-center"
                        scope="col">{{ 'table.header.amount'|trans }}</th>
                    <th class="px-3 py-3 text-center"
                        scope="col">{{ 'table.header.created_at'|trans }}</th>
                    <th class="px-3 py-3 text-center"
                        scope="col">{{ 'table.header.handle'|trans }}</th>
                </tr>
                </thead>
                <tbody class="whitespace-nowrap">
                {% for key, product in products %}
                    {% set disabled = null %}
                    {% for coupon in product.marketCoupons %}
                        {% for item in coupon.product %}
                            {% if item.id == product.id %}
                                {% set disabled = 'disabled' %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <tr class="{{ disabled is null ? 'bg-white' : 'bg-green-100 dark:bg-green-950' }} border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 {% if product.deletedAt %}text-gray-400 bg-gray-200{% endif %}">
                        <td class="p-3 w-4">
                            <label class="relative flex items-center rounded-full cursor-pointer" for="i-{{ key }}">
                                <input type="checkbox" {{ disabled }} name="product[{{ key }}]" value="{{ product.id }}"
                                       class="{{ disabled is null ? 'checks' : '' }} w-4 h-4 text-blue-600 bg-white border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                       id="i-{{ key }}"/>
                            </label>
                        </td>
                        <td class="px-3 py-3">
                            <a data-twe-toggle="tooltip"
                               data-twe-placement="left"
                               class="block text-wrap font-semibold hover:underline hover:text-gray-400 dark:text-gray-400 {% if product.deletedAt %}line-through{% endif %}"
                               title="{{ product.name }}"
                               href="{{ path('app_dashboard_market_place_edit_product', {market: product.market.id, id: product.id, tab: 'details'}) }}">
                                {{ product.shortName|length >= 40 ? product.shortName|slice(0, 40) ~ '...' : product.shortName }}
                            </a>
                        </td>
                        <td class="px-3 py-3 text-center">
                            {% set discount = product.marketCoupons.first.discount|default(0) %}
                            {% set price = product.marketCoupons.first.price|default(0) %}
                            {% set name = product.marketCoupons.first.name|default(null) %}
                            {% if name is not null %}
                                <a data-twe-toggle="tooltip"
                                   data-twe-placement="top"
                                   title="{{ discount }}% / {{ price|amount_format }}{{ currency['symbol_native'] }}"
                                   class="text-black underline hover:no-underline"
                                   href="{{ path('app_dashboard_market_place_edit_coupon', {market: product.market.id, id: product.marketCoupons.first.id }) }}">{{ name }}
                                </a>
                            {% else %}
                                --
                            {% endif %}
                        </td>
                        <td class="px-3 py-3 text-center">{{ product.cost|number_format(2) }}<small
                                    class="text-muted">{{ currency['symbol_native'] }}</small></td>
                        <td class="px-3 py-3 text-center">{{ product.quantity }}</td>
                        <td class="px-3 py-3 text-center">{{ (product.cost * product.quantity)|amount_format }}{{ currency['symbol_native'] }}
                        </td>
                        <td class="px-3 py-3 text-center">{{ product.createdAt|date(date_format) }}</td>
                        <td class="px-3 py-3 text-center">
                            {% if product.deletedAt %}
                                <a class="border rounded px-1.5 py-1 hover:shadow-md hover:bg-gray-100 dark:hover:bg-gray-800 {{ product.market.deletedAt ? 'pointer-events-none' : '' }}"
                                   href="{{ path('app_dashboard_restore_product', {market: product.market.id, id: product.id}) }}">
                                    <i class="fa fa-{{ product.market.deletedAt ? 'ban' : 'arrow-up' }} dark:text-white"></i>
                                </a>
                            {% else %}
                                <a href="{{ path('app_dashboard_market_place_edit_product', {market: product.market.id, id: product.id, tab: 'details'}) }}"
                                   class="border rounded ps-1.5 pr-1 py-1 mr-1 hover:shadow-md hover:bg-gray-100 dark:hover:bg-gray-800">
                                    <i class="fa fa-pencil text-indigo-600 dark:text-white"></i>
                                </a>
                                <a
                                        class="border rounded delete-entry px-2 py-1 hover:shadow-md hover:bg-gray-100 dark:hover:bg-gray-800 cursor-pointer"
                                        data-token="{{ csrf_token('delete') }}"
                                        data-url="{{ url('app_dashboard_delete_product', {market: product.market.id, id: product.id}) }}"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modal-delete">
                                    <i class="fa fa-trash text-red-600 dark:text-white"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8"
                            class="px-3 py-3 text-center text-gray-700 bg-gray-100 dark:bg-gray-500 dark:text-white">{{ 'table.footer.not_found'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}