{% extends 'dashboard/index.html.twig' %}

{% set _message = app.flashes('success') %}
{% set _title_extend = form.vars.data.id ? 'title.dashboard.change_blog'|trans : 'title.dashboard.create_blog'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}
    {{ _title_extend }}
    {% if app.request.get('id') %}
{#        <a role="button" target="_blank"#}
{#           class="text-sm font-normal border shadow-md hover:border-gray-400 hover:bg-gray-100 hover:shadow-lg rounded-md px-3 py-2 float-end mb-1 dark:text-white dark:hover:bg-black"#}
{#           href="{{ path('app_blog_view', {slug: form.vars.data.slug}) }}">{{ 'user.entry.preview'|trans }}</a>#}
    {% endif %}
{% endblock %}
{% block content %}
    {{ form_start(form, {attr: {novalidate: ''}}) }}
    {% if form_errors(form) %}
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    {% if error %}
        <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <div class="pb-5 shadow-lg border border-t-gray-200 rounded-md dark:bg-gray-800 dark:border-gray-900 p-3">
        <div class="block mb-3">
            {{ form_label(form.title, 'label.form.title', {label_attr: {class: 'block mb-1 text-sm font-medium text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.title, {attr: {class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', placeholder: 'label.form.title'}}) }}
            <small class="text-danger">{{ error ? error : form_errors(form.title) }}</small>
        </div>
        <div class="block mb-3">
            {{ form_label(form.short_content, 'label.form.short_content', {label_attr: {class: 'block mb-1 text-sm font-medium text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.short_content, {attr: {class: 'resize-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', rows: 3, placeholder: 'label.form.short_content'}}) }}
            <small class="text-danger">{{ form_errors(form.short_content) }}</small>
        </div>
        {% include 'dashboard/content/form/category.html.twig' with {'categories': categories, 'collection': form.vars.data.entryCategories} %}
        <div class="block mb-3">
            {{ form_label(form.content, 'label.form.content', {label_attr: {class: 'block mb-1 text-sm font-medium text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.content, {attr: {class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', rows: 6, placeholder: 'label.form.content'}}) }}
            <small class="text-danger">{{ form_errors(form.content) }}</small>
        </div>
        <div class="block mb-3">
            {{ form_label(form.status, 'label.form.status', {label_attr: {class: 'block mb-1 text-sm font-medium text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.status, {attr: {class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', disabled: app.request.get('id') ? false : true}}) }}
            <small class="text-danger">{{ form_errors(form.status) }}</small>
        </div>
        {% if app.request.get('id') %}
            {% include 'dashboard/content/form/attachment.html.twig' with {
                'attachments': entry.entryAttachments,
                'storage': 'entry/picture',
                'data_url': path('app_dashboard_blog_attach', {id: app.request.get('id')}),
                'set_use': path('app_dashboard_blog_attach_set_use', {entry: entry.id}),
                'remove': path('app_dashboard_blog_attach_remove', {entry: entry.id}),
                'id': entry.entryDetails.id,
                'filter': 'entry_preview'
            } %}
        {% endif %}
        <input type="hidden" name="flash" value="{{ _message[0]|default([]|json_encode) }}">
        <div class="block text-center mx-3">
            {{ form_widget(form.next, { label: app.request.get('id') ? 'form.action.update' : 'form.action.next', attr: {class: 'inline-block rounded bg-danger px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-danger-3 transition duration-150 ease-in-out hover:bg-danger-accent-300 hover:shadow-danger-2 focus:bg-danger-accent-300 focus:shadow-danger-2 focus:outline-none focus:ring-0 active:bg-danger-600 active:shadow-danger-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong'}}) }}
            <a role="button" href="{{ url('app_dashboard_blog') }}"
               class="inline-block rounded bg-gray-500 hover:text-gray-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-secondary-3 transition duration-150 ease-in-out hover:bg-secondary-accent-300 hover:shadow-secondary-2 focus:bg-secondary-accent-300 focus:shadow-secondary-2 focus:outline-none focus:ring-0 active:bg-secondary-600 active:shadow-secondary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">{{ 'form.action.back'|trans }}</a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript">
        CKEDITOR.replace('entry_details_content', {
            extraPlugins: 'editorplaceholder',
            removePlugins: 'simage',
            editorplaceholder: '{{ 'label.form.content'|trans }}'
        });
    </script>
{% endblock %}


