{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.config'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    <div class="border-b border-gray-200 dark:border-gray-700">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400" id="tab"
            data-tabs-toggle="#tab-content" role="tablist">
            <li class="me-2" role="presentation">
                <a href="" role="tab" id="pg-tab" data-tabs-target="#pg" aria-controls="pg"
                   aria-selected="{{ app.request.get('tab') == 'pg' ? 'true' : 'false' }}"
                   class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                    <svg class="w-4 h-4 me-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300"
                         aria-hidden="true" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 512 512" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M493.714,66.178h-69.66H197.661h-69.663c-10.099,0-18.286,8.187-18.286,18.286v69.659v30.475H18.286
                                    C8.187,184.598,0,192.785,0,202.884v224.653c0,10.099,8.187,18.286,18.286,18.286H335.24c10.099,0,18.286-8.187,18.286-18.286
                                    v-63.565h70.528h69.66c10.099,0,18.286-8.186,18.286-18.286v-69.66V154.122V84.464C512,74.364,503.813,66.178,493.714,66.178z
                                     M146.285,102.75h29.729c-5.214,13.642-16.084,24.511-29.729,29.725V102.75z M316.954,409.249H36.572V294.311h280.383V409.249z
                                     M316.954,257.74H36.572v-36.571h280.383V257.74z M475.428,327.4h-29.727c5.213-13.642,16.082-24.511,29.727-29.725V327.4z
                                     M475.428,259.667c-33.843,7.186-60.548,33.891-67.735,67.734h-54.169v-71.918h0.001c14.81-9.817,23.609-24.527,23.607-40.409
                                    c0-29.475-29.112-52.564-66.276-52.564c-21.971,0-42.032,8.405-54.207,22.088H146.285v-14.114
                                    c33.844-7.186,60.55-33.891,67.737-67.734h193.672c7.188,33.842,33.892,60.545,67.735,67.734V259.667z M475.428,132.475
                                    c-13.644-5.214-24.513-16.082-29.727-29.725h29.727V132.475z"></path>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path d="M152.383,330.883H91.429c-10.099,0-18.286,8.187-18.286,18.286c0,10.099,8.187,18.286,18.286,18.286h60.954
                                c10.099,0,18.286-8.187,18.286-18.286C170.668,339.07,162.481,330.883,152.383,330.883z"></path>
                            </g>
                        </g>
                    </svg>{{ 'table.header.payment_gateways'|trans }}
                </a>
            </li>
            <li class="me-2" role="presentation">
                <a href="" role="tab" id="carriers-tab" data-tabs-target="#carriers" aria-controls="carriers"
                   aria-selected="{{ app.request.get('tab') == 'carriers' ? 'true' : 'false' }}"
                   class="inline-flex exclude items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                    <svg class="w-4 h-4 me-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300"
                         viewBox="0 0 24 24" aria-hidden="true" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.9597 8.95844C19.2897 8.21844 18.2797 7.78844 16.8797 7.63844V6.87844C16.8797 5.50844 16.2997 4.18844 15.2797 3.26844C14.2497 2.32844 12.9097 1.88844 11.5197 2.01844C9.12975 2.24844 7.11975 4.55844 7.11975 7.05844V7.63844C5.71975 7.78844 4.70975 8.21844 4.03975 8.95844C3.06975 10.0384 3.09975 11.4784 3.20975 12.4784L3.90975 18.0484C4.11975 19.9984 4.90975 21.9984 9.20975 21.9984H14.7897C19.0897 21.9984 19.8797 19.9984 20.0897 18.0584L20.7897 12.4684C20.8997 11.4784 20.9197 10.0384 19.9597 8.95844ZM11.6597 3.40844C12.6597 3.31844 13.6097 3.62844 14.3497 4.29844C15.0797 4.95844 15.4897 5.89844 15.4897 6.87844V7.57844H8.50975V7.05844C8.50975 5.27844 9.97975 3.56844 11.6597 3.40844ZM8.41975 13.1484H8.40975C7.85975 13.1484 7.40975 12.6984 7.40975 12.1484C7.40975 11.5984 7.85975 11.1484 8.40975 11.1484C8.96975 11.1484 9.41975 11.5984 9.41975 12.1484C9.41975 12.6984 8.96975 13.1484 8.41975 13.1484ZM15.4197 13.1484H15.4097C14.8597 13.1484 14.4097 12.6984 14.4097 12.1484C14.4097 11.5984 14.8597 11.1484 15.4097 11.1484C15.9697 11.1484 16.4197 11.5984 16.4197 12.1484C16.4197 12.6984 15.9697 13.1484 15.4197 13.1484Z"
                              fill="currentColor"></path>
                    </svg>{{ 'table.header.carriers'|trans }}
                </a>
            </li>
            <li class="me-2" role="presentation">
                <a href="" role="tab" id="settings-tab" data-tabs-target="#settings" aria-controls="settings"
                   aria-selected="{{ app.request.get('tab') == 'settings' ? 'true' : 'false' }}"
                   class="inline-flex exclude items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 group">
                    <svg class="w-4 h-4 me-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300"
                         aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M5 11.424V1a1 1 0 1 0-2 0v10.424a3.228 3.228 0 0 0 0 6.152V19a1 1 0 1 0 2 0v-1.424a3.228 3.228 0 0 0 0-6.152ZM19.25 14.5A3.243 3.243 0 0 0 17 11.424V1a1 1 0 0 0-2 0v10.424a3.227 3.227 0 0 0 0 6.152V19a1 1 0 1 0 2 0v-1.424a3.243 3.243 0 0 0 2.25-3.076Zm-6-9A3.243 3.243 0 0 0 11 2.424V1a1 1 0 0 0-2 0v1.424a3.228 3.228 0 0 0 0 6.152V19a1 1 0 1 0 2 0V8.576A3.243 3.243 0 0 0 13.25 5.5Z"></path>
                    </svg>{{ 'menu.dashboard.config'|trans }}
                </a>
            </li>
        </ul>
    </div>
    <div id="tab-content">
        <div class="hidden p-4 mt-2 rounded-lg bg-gray-50 dark:bg-gray-800" id="pg" role="tabpanel"
             aria-labelledby="pg-tab">
            <div class="flex justify-end mb-3">
                <button type="button" data-modal-target="payment_method-modal" data-modal-toggle="payment_method-modal"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">{{ 'config.action.create_pg'|trans }}</button>
            </div>
            <div class="sm:shadow-lg">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" data-for="payment_gateway">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th class="px-6 py-3">{{ 'label.form.icon'|trans }}</th>
                        <th class="px-6 py-3">{{ 'label.form.short_name'|trans }}</th>
                        <th class="px-6 py-3">{{ 'label.form.description'|trans }}</th>
                        <th class="px-6 py-3">{{ 'label.form.status'|trans }}</th>
                        <th class="px-6 py-3">{{ 'label.form.text'|trans }}</th>
                        <th class="px-6 py-3"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pg in paymentGateways %}
                        {% include 'dashboard/content/market_place/config/template/payment_gateway.html.twig' %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="hidden p-4 mt-2 rounded-lg bg-gray-50 dark:bg-gray-800" id="carriers" role="tabpanel"
             aria-labelledby="carriers-tab">
            <div class="flex justify-end mb-3">
                <button type="button" data-modal-target="carrier-modal" data-modal-toggle="carrier-modal"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">{{ 'config.action.create_carrier'|trans }}</button>
            </div>
            <div class="sm:shadow-lg">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" data-for="carrier">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th class="px-6 py-3">{{ 'label.form.short_name'|trans }}</th>
                        <th class="px-6 py-3">{{ 'label.form.icon'|trans }}</th>
                        <th class="px-6 py-3">{{ 'label.form.description'|trans }}</th>
                        <th class="px-6 py-3">{{ 'label.form.status'|trans }}</th>
                        <th class="px-6 py-3"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for carrier in carriers %}
                        {% include 'dashboard/content/market_place/config/template/carrier.html.twig' %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="hidden p-4 mt-2 rounded-lg bg-gray-50 dark:bg-gray-800" id="settings" role="tabpanel"
             aria-labelledby="settings-tab">
            <p class="text-sm text-gray-500 dark:text-gray-400">settings</p>
        </div>
    </div>
    {% include 'dashboard/content/market_place/config/form/payment_gateway.html.twig' %}
    {% include 'dashboard/content/market_place/config/form/carrier.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('configuration-js') }}
{% endblock %}

