{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.export'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    <form method="post" class="py-4 ps-4 flex justify-between"
          action="{{ path('app_dashboard_market_place_operation_export', {'store': app.request.get('store')}) }}">
        <label class="inline-flex items-start cursor-pointer" for="backup">
            <input type="checkbox" name="backup" id="backup" value="{{ store.storeOptions.backupSchedule is not null ? store.storeOptions.backupSchedule: 1 }}" class="sr-only peer">
            <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">{{ 'text.schedule.backup'|trans }}</span>
        </label>
        <input type="hidden" name="format" value="xml">
        <button type="submit" class="text-sm text-white bg-blue-700 px-2.5 py-1.5 rounded hover:bg-blue-800">
            <svg class="w-5 h-5 text-white dark:text-white inline-flex pe-0.5" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M19 10V4a1 1 0 0 0-1-1H9.914a1 1 0 0 0-.707.293L5.293 7.207A1 1 0 0 0 5 7.914V20a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2M10 3v4a1 1 0 0 1-1 1H5m5 6h9m0 0-2-2m2 2-2 2"></path>
            </svg>
            {{ 'text.export'|trans }}
        </button>
        <input type="hidden" name="flash-success" value="{{ _message[0]|default([]|json_encode) }}">
    </form>
    {% for message in app.flashes('danger') %}
        <div class="flex items-center p-4 mb-4 text-red-900 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
             role="alert">
            <div class="ms-3 text-sm font-medium">{{ message }}</div>
        </div>
    {% endfor %}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-500 uppercase bg-info-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">{{ 'table.header.stores'|trans }}</th>
                <th scope="col" class="px-6 py-3 text-center">{{ 'table.header.format'|trans }}</th>
                <th class="text-center px-6 py-3" scope="col">{{ 'table.header.created_at'|trans }}</th>
                <th class="text-right px-6 py-3" scope="col">{{ 'table.header.download'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-3 font-semibold text-gray-900 whitespace-nowrap dark:text-white">
                        {{ item.store.name }}
                    </th>
                    <td class="text-center px-6 py-3">{{ item.format.name }}</td>
                    <td class="text-center px-6 py-3">{{ item.createdAt|date(datetime_format) }}</td>
                    <td class="flex justify-end px-6 py-3 me-5">
                        <a href="{{ path('app_dashboard_market_place_operation_download', {store: item.store.id, revision: item.revision, format: item.format.value}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="flex h-5 w-5 text-blue-500 dark:text-white"
                                 fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M12 9.75v6.75m0 0-3-3m3 3 3-3m-8.25 6a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z"></path>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}