{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.import'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    <div class="relative border-2 border-gray-300 border-dashed rounded-lg p-5 dark:!bg-gray-700"
         id="dropzone"
         data-url="{{ path('app_dashboard_market_place_operation_upload', {store: app.request.get('store')}) }}">
        <div class="text-center px-5">
            <svg class="mx-auto h-12 w-12 dark:fill-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M19,13a1,1,0,0,0-1,1v.38L16.52,12.9a2.79,2.79,0,0,0-3.93,0l-.7.7L9.41,11.12a2.85,2.85,0,0,0-3.93,0L4,12.6V7A1,1,0,0,1,5,6h7a1,1,0,0,0,0-2H5A3,3,0,0,0,2,7V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V14A1,1,0,0,0,19,13ZM5,20a1,1,0,0,1-1-1V15.43l2.9-2.9a.79.79,0,0,1,1.09,0l3.17,3.17,0,0L15.46,20Zm13-1a.89.89,0,0,1-.18.53L13.31,15l.7-.7a.77.77,0,0,1,1.1,0L18,17.21ZM22.71,4.29l-3-3a1,1,0,0,0-.33-.21,1,1,0,0,0-.76,0,1,1,0,0,0-.33.21l-3,3a1,1,0,0,0,1.42,1.42L18,4.41V10a1,1,0,0,0,2,0V4.41l1.29,1.3a1,1,0,0,0,1.42,0A1,1,0,0,0,22.71,4.29Z"></path>
            </svg>
            <h3 class="mt-2 text-sm px-5 font-medium text-gray-900">
                <label for="file-upload" class="relative cursor-pointer dark:text-white">
                    {{ 'html.dragdrop'|trans|raw }}
                    <input id="file-upload" name="file-upload" type="file" class="sr-only skip"
                           accept="text/xml,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/json">
                </label>
            </h3>
            <p class="mt-1 text-xs px-5 text-gray-500 dark:text-gray-100">
                {{ 'constraint.formats'|trans({
                    formats: formats|join(', '),
                    size: maxSize
                }) }}
            </p>
            <p class="mt-4 mx-auto text-xs text-gray-600 dark:text-white hidden" id="preview"></p>
            <section class="progress-area max-w-xl mx-auto py-1.5"></section>
            <section class="uploaded-area text-xs text-gray-700 dark:text-white"></section>
        </div>
    </div>
    <div class="flex mb-5">
        <button id="upload"
                class="bg-blue-500 mx-auto hover:bg-blue-600 z-1 text-sm text-white py-2 px-4 rounded-md mt-6 pointer-events-none focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-500 dark:focus:ring-opacity-50">
            Upload
        </button>
    </div>
    <div class="relative mt-2 overflow-x-auto shadow-md sm:rounded-lg">
        <table id="import-table" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-500 uppercase bg-info-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">{{ 'table.header.stores'|trans }}</th>
                <th scope="col" class="px-6 py-3 text-center">{{ 'table.header.format'|trans }}</th>
                <th class="text-center px-6 py-3" scope="col">{{ 'table.header.created_at'|trans }}</th>
                <th class="text-center px-6 py-3" scope="col">{{ 'table.header.filename'|trans }}</th>
                <th class="text-right px-6 py-3" scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-3 font-semibold text-gray-900 whitespace-nowrap dark:text-white">
                        {{ item.store.name }}
                    </th>
                    <td class="text-center px-6 py-3">{{ item.format.name }}</td>
                    <td class="text-center px-6 py-3">{{ item.createdAt|date(datetime_format) }}</td>
                    <td class="text-center px-6 py-3">{{ item.filename }}</td>
                    <td class="flex justify-end px-6 py-3 me-5">
                        <a role="button" class="sync" data-url="{{ path('app_dashboard_market_place_operation_compose', {store: item.store.id, id: item.id}) }}">
                            <svg fill="#000000" class="flex h-5 w-5 me-1" height="64px" width="64px" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 317.17 317.17" xml:space="preserve">
                                <g stroke-width="0"/>
                                <g stroke-linecap="round" stroke-linejoin="round"/>
                                <g>
                                    <g>
                                        <path d="M260.153,107.248c0.012-0.524,0.018-1.042,0.018-1.555c0-46.565-37.884-84.449-84.448-84.449 c-44.264,0-80.683,34.232-84.175,77.612c-7.93-3.252-16.444-4.938-25.145-4.938C29.788,93.918,0,123.707,0,160.322 s29.788,66.404,66.403,66.404c4.143,0,7.5-3.357,7.5-7.5s-3.357-7.5-7.5-7.5C38.06,211.727,15,188.667,15,160.322 s23.06-51.404,51.403-51.404c10.183,0,20.034,2.983,28.489,8.628c2.383,1.59,5.462,1.684,7.936,0.244 c2.476-1.44,3.914-4.164,3.709-7.021l-0.038-0.534c-0.116-1.593-0.226-3.098-0.226-4.542c0-38.295,31.155-69.449,69.449-69.449 s69.448,31.154,69.448,69.449c0,2.504-0.18,5.227-0.55,8.326c-0.269,2.247,0.493,4.496,2.071,6.118 c1.58,1.623,3.807,2.443,6.06,2.239c1.602-0.146,2.927-0.215,4.171-0.215c24.949,0,45.247,20.298,45.247,45.247 c0,24.95-20.298,45.248-45.247,45.248c-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5,7.5,7.5c33.221,0,60.247-27.027,60.247-60.248 C317.17,135.271,291.879,108.931,260.153,107.248z"/>
                                        <path d="M161.308,144.389c-41.779,0-75.769,33.989-75.769,75.769s33.989,75.769,75.769,75.769s75.769-33.989,75.769-75.769 S203.087,144.389,161.308,144.389z M161.308,280.926c-33.508,0-60.769-27.261-60.769-60.769s27.261-60.769,60.769-60.769 s60.769,27.261,60.769,60.769S194.815,280.926,161.308,280.926z"/>
                                        <path d="M150.552,210.909c0.218,0.019,0.434,0.027,0.647,0.027c3.853,0,7.13-2.952,7.464-6.861 c0.345-4.033-2.572-7.583-6.555-8.073c8.69-3.323,18.896-1.843,26.349,4.724c3.109,2.739,7.848,2.438,10.586-0.67 c2.738-3.108,2.438-7.848-0.67-10.586c-12.922-11.383-31.078-13.093-45.566-5.719c-0.413-3.457-3.203-6.266-6.808-6.574 c-4.15-0.357-7.759,2.707-8.111,6.834l-1.479,17.309c-0.353,4.128,2.707,7.759,6.834,8.111L150.552,210.909z"/>
                                        <path d="M189.402,230.443l-17.319-1.354c-4.125-0.317-7.739,2.763-8.063,6.893c-0.316,4.047,2.644,7.585,6.647,8.031 c-2.418,0.949-4.992,1.539-7.657,1.726c-6.882,0.489-13.548-1.74-18.76-6.267c-3.126-2.714-7.863-2.382-10.581,0.745 c-2.716,3.128-2.382,7.865,0.745,10.581c7.496,6.509,16.889,10.007,26.719,10.007c0.974,0,1.951-0.034,2.932-0.104 c5.666-0.399,11.068-1.944,15.96-4.486c0.448,3.442,3.252,6.22,6.851,6.502c0.199,0.016,0.396,0.022,0.593,0.022 c3.877,0,7.162-2.984,7.47-6.915l1.355-17.318c0.155-1.982-0.484-3.946-1.776-5.458 C193.226,231.535,191.386,230.599,189.402,230.443z"/>
                                    </g>
                                </g>
                            </svg>
                        </a>
                        <a role="button" class="remove"
                           data-url="{{ path('app_dashboard_market_place_operation_remove', {store: item.store.id, id: item.id}) }}">
                            <svg width="800px" height="800px" viewBox="0 0 1024 1024" fill="#D2122E"
                                 class="flex h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                <path d="M512 897.6c-108 0-209.6-42.4-285.6-118.4-76-76-118.4-177.6-118.4-285.6 0-108 42.4-209.6 118.4-285.6 76-76 177.6-118.4 285.6-118.4 108 0 209.6 42.4 285.6 118.4 157.6 157.6 157.6 413.6 0 571.2-76 76-177.6 118.4-285.6 118.4z m0-760c-95.2 0-184.8 36.8-252 104-67.2 67.2-104 156.8-104 252s36.8 184.8 104 252c67.2 67.2 156.8 104 252 104 95.2 0 184.8-36.8 252-104 139.2-139.2 139.2-364.8 0-504-67.2-67.2-156.8-104-252-104z"
                                      fill=""></path>
                                <path d="M707.872 329.392L348.096 689.16l-31.68-31.68 359.776-359.768z" fill=""></path>
                                <path d="M328 340.8l32-31.2 348 348-32 32z" fill=""></path>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('operation-js') }}
{% endblock %}