<div class="mt-4 p-2">
    <div class="form-group mb-3">
        {% set short_name_error = form.short_name.vars.errors|length ? 'form-control error' : 'form-control' %}
        {{ form_label(form.short_name, 'label.form.product_short_name', {label_attr: {class: 'form-label'}}) }} <span
                class="text-danger">*</span>
        {{ form_widget(form.short_name, {attr: {class: short_name_error, placeholder: 'label.form.product_short_name'}}) }}
        <div class="form-text">{{ 'form.product_short_name.length'|trans }}: <span
                    id="chars">{{ form.short_name.vars.value|length }}</span>
            . {{ 'market.product.name.allowed'|trans({length: form.short_name.vars.attr.max}) }}</div>
        <small class="text-danger">{{ form_errors(form.short_name) }}</small>
    </div>
    <div class="form-group mb-3">
        {% set name_error = form.name.vars.errors|length ? 'form-control error' : 'form-control' %}
        {{ form_label(form.name, 'label.form.product_name', {label_attr: {class: 'form-label'}}) }} <span
                class="text-danger">*</span>
        {{ form_widget(form.name, {attr: {class: name_error, placeholder: 'label.form.product_name'}}) }}
        <small class="text-danger">{{ form_errors(form.name) }}</small>
    </div>
    <div class="form-group mb-3">
        {% set description_error = form.description.vars.errors|length ? 'form-control error' : 'form-control' %}
        {{ form_label(form.description, 'label.form.product_description', {label_attr: {class: 'form-label'}}) }} <span
                class="text-danger">*</span>
        {{ form_widget(form.description, {attr: {class: description_error, rows: 6, placeholder: 'label.form.product_description'}}) }}
        <small class="text-danger">{{ form_errors(form.description) }}</small>
    </div>
</div>