{% set requestPage = app.request.get('page') is null ? 1 : app.request.get('page') %}
{% set middle = 4 %}
<div class="inline-block float-end">
    <div class="flex items-baseline flex-row border border-gray-400 rounded-sm w-auto">
        {% if requestPage > 1 %}
            <span class="bg-white text-gray-600 px-3 py-2 text-sm border-r border-gray-400 font-bold">
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({page: 1})) }}">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </span>
        {% endif %}
        {% if requestPage > 2 %}
            <span class="bg-white text-gray-600 px-3 text-sm py-2 border-r border-gray-400">
                <a rel="prev"
                   href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({page: (0 + requestPage|number_format - 1)})) }}">
                    <i class="fa fa-angle-left"></i>
                </a>
            </span>
        {% endif %}
        {% for i in 1..pages %}
            {% if 0 == ((requestPage) - middle) - loop.index %}
                <span class="bg-white text-gray-600 px-3 py-2 text-sm border-r border-gray-400">..</span>
            {% elseif 0 == (requestPage + middle) - loop.index %}
                <span class="bg-white text-gray-600 px-3 py-2 text-sm border-r border-gray-400">..</span>
            {% elseif 0 < (requestPage - middle) - loop.index %}
            {% elseif 0 > (requestPage + middle) - loop.index %}
            {% else %}
                <span class="{{ loop.index == requestPage ? 'bg-gray-600 text-white font-bold' : 'bg-white text-gray-600 border-r border-gray-400' }} px-3 py-2 text-sm">
                    <a href="{{ path(route, app.request.attributes.get('_route_params')|merge({page: i})) }}">{{ loop.index }}</a>
                </span>
            {% endif %}
        {% endfor %}
        {% if middle < requestPage %}
            <span class="bg-white text-gray-600 px-3 text-sm py-2 border-r border-gray-400">..</span>
        {% endif %}
        {% if requestPage < pages - 1 %}
            <span class="bg-white text-gray-600 px-3 py-2 text-sm border-r border-gray-400">
                <a rel="next"
                   href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({page: (0 + requestPage|number_format + 1)})) }}">
                    <i class="fa fa-angle-right"></i>
                </a>
            </span>
        {% endif %}
        {% if requestPage < pages %}
            <span class="bg-white text-gray-600 px-3 py-2 text-sm border-gray-400 font-bold">
                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({page: pages})) }}">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </span>
        {% endif %}
    </div>
</div>
