{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = contact.subject %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    <div class="p-3">
        {% set _seccess = app.flashes('success') %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-6">
                <div class="form-group mb-3">
                    <label for="name" class="form-label">{{ 'customer.name'|trans }}</label>
                    <input type="text" name="name" id="name" class="form-control"
                           placeholder="{{ 'customer.name'|trans }}" value="{{ contact.name }}" readonly/>
                </div>
                <div class="form-group mb-3">
                    <label for="email" class=form-label">{{ 'title.email'|trans }}</label>
                    <input type="email" name="email" id="email" class="form-control"
                           placeholder="{{ 'title.email'|trans }}" value="{{ contact.email }}" readonly/>
                </div>
                <div class="form-group mb-3">
                    <label for="phone" class="form-label">{{ 'customer.phone'|trans }}</label>
                    <input type="tel" name="phone" id="phone" class="form-control"
                           placeholder="{{ 'customer.phone'|trans }}" value="{{ contact.phone }}" readonly/>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group mb-3">
                    <label for="subject" class="form-label">{{ 'label.form.subject'|trans }}</label>
                    <input type="text" name="subject" id="subject" class="form-control"
                           placeholder="{{ 'label.form.subject'|trans }}" value="{{ contact.subject }}" readonly/>
                </div>
                <div class="form-group mb-3">
                    <label for="message" class="form-label">{{ 'label.form.message'|trans }}</label>
                    <textarea name="message" id="message" rows="5"
                              class="resize-none form-control"
                              placeholder="{{ 'label.form.message'|trans }}" readonly>{{ contact.message }}</textarea>
                </div>
            </div>
        </div>
        <div class="my-3">
            <div class="d-flex flex-column">
                {% for answer in answers %}
                    <div class="ms-1 fw-bold">{{ answer.user.userDetails.firstName }}
                        <span class="ms-1 fw-light fs-6">{{ answer.createdAt|date(datetime_format) }}</span>
                    </div>
                    <div class="mt-1 mb-4 border rounded-2 bg-light">
                        <p class="code m-3">{{ answer.message|nl2br }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <form method="post">
            <div class="row">
                <div class="col-12">
                    <label for="answer" class="form-label">{{ 'label.form.message'|trans }}</label>
                    <textarea name="answer" id="answer" rows="8"
                              class="form-control"
                              placeholder="{{ 'label.form.message'|trans }}">==========================
{{ contact.message|striptags|raw }}
==========================
Hello {{ contact.name }}!

your message here
==========================</textarea>
                </div>
                <div class="d-block text-center pt-5">
                    <button id="answer"
                            class="btn btn-primary rounded-1"
                            type="submit">{{ 'text.answer'|trans }}</button>
                    <a href="" role="button" class="btn btn-secondary rounded-1">{{ 'form.action.back'|trans }}</a>
                </div>
            </div>
            <input type="hidden" name="flash-success" value="{{ _seccess[0]|default([]|json_encode) }}">
        </form>
    </div>
{% endblock %}