<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <title>{{ invoice.number }}</title>
    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
            width: 100px;
            height: auto;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            white-space: nowrap;
            font-weight: bold;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        /** RTL **/
        .invoice-box.rtl {
            direction: rtl;
            font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        }

        .invoice-box.rtl table {
            text-align: right;
        }

        .invoice-box.rtl table tr td:nth-child(2) {
            text-align: left;
        }
    </style>
</head>
<body>
<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        {% set src = path ~ '/public/img/inno.svg' %}
                        {% if embedded %}
                            {% set src = embed %}
                        {% else %}
                            {% if embed %}
                                {% set src = path ~ embed %}
                            {% endif %}
                        {% endif %}
                        <td class="title">
                            <img
                                    src="{{ src }}" width="150" height="100%"
                                    style="width: 100%; max-width: 300px" alt="{{ 'site.title'|trans }}"
                            />
                        </td>
                        <td>
                            {{ 'customer.cabinet.invoice'|trans }} #: {{ invoice.number|upper }}<br/>
                            {{ 'table.header.created_at'|trans }}: {{ invoice.createdAt|date(date_format) }}<br/>
                            {{ 'table.header.due'|trans }}
                            : {{ invoice.createdAt|date_modify("+1 month")|date(date_format) }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            {{ order.store.name }}<br/>
                            {{ order.store.address }}<br/>
                            {{ countries[order.store.country] }}
                        </td>
                        <td>
                            {{ countries[customer.country] }}, {{ customer.phone }}<br/>
                            {{ customer.firstName }} {{ customer.lastName }}<br/>
                            {{ customer.email }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="heading">
            <td>{{ 'text.payment'|trans }}</td>
            <td>{{ 'text.check'|trans }}</td>
        </tr>
        <tr class="details">
            <td>{{ invoice.paymentGateway.name }}</td>
            <td>{{ customer.phone }}</td>
        </tr>
        <tr class="heading">
            <td>{{ 'store.products'|trans }}</td>
            <td>{{ 'table.header.price'|trans }}</td>
        </tr>
        {% for item in products %}
            <tr class="item">
                <td>{{ item.product.name }}</td>
                <td>{{ (item.product.cost + item.product.fee)|amount_format }} {{ order.store.currency|currency }}</td>
            </tr>
        {% endfor %}
        <tr class="total">
            <td></td>
            <td> {{ 'order.service.tax'|trans }}: {{ order.tax|amount_format }}%</td>
        </tr>
        <tr class="total">
            <td></td>
            <td> {{ 'table.header.total'|trans }}
                : {{ (order.total + (order.total * order.tax)/100)|amount_format(2) }} {{ order.store.currency|currency }}</td>
        </tr>
    </table>
</div>
</body>
</html>