{% set _params = {
    remove: {
        title: 'swal.remove.title'|trans,
        text: 'swal.remove.text'|trans,
        icon: 'warning'
    },
    default: {
        title: 'swal.default.title'|trans,
        text: 'swal.default.text'|trans,
        icon: 'info'
    },
    success: {
        title: 'title.service.message'|trans,
        icon: 'success'
    }
} %}
<div class="form-group mt-3 card">
    <a class="form-title card-header" data-toggle="collapse" href="#attachments" role="button"
       aria-expanded="false"
       aria-controls="attachments">{{ 'entry.form.attachments'|trans }}</a>
    <div class="collapse mt-2" id="attachments">
        <div class="card-body">
            <div class="loader row mx-auto justify-content-center align-items-center flex-column">
                <div class="col pt-50 d-inline-block">
                    <div class="spinner-grow text-success" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="table entry-attachments" data-params="{{ _params|json_encode }}">
                {% if form.vars.data.id %}
                    {% for key, picture in attachments|slice(0, 4) %}
                        {% set _picture = 'storage/'~ storage ~'/picture/' ~ id ~ '/' ~ picture.attach.name %}
                        <div class="d-inline-block mr-3 mb-3">
                            <img class="attach" src="{{ asset(_picture) | imagine_filter(filter) }}">
                            <div class="handlers" data-id="{{ picture.attach.id }}">
                                <a href="#" data-action="remove"
                                   class="bi bi-trash-fill"></a>
                                <a href="{{ path('app_dashboard_blog_attach_set_use', {entry: entry.id}) }}"
                                   data-action="default"
                                   class="bi bi-person-bounding-box"></a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="card-footer input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="entry[picture]" id="picture"
                       aria-describedby="picture" accept="image/png, image/jpeg">
                <label class="custom-file-label" data-label="{{ 'label.form.entry_picture'|trans }}"
                       for="picture">{{ 'label.form.entry_picture'|trans }}</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-info"
                        data-url="{{ path('app_dashboard_blog_attach', {id: form.vars.data.id}) }}"
                        type="button"
                        id="attach"><i class="bi bi-image-fill pr-2"></i>{{ 'label.form.attach'|trans }}
                </button>
            </div>
            <small class="picture-info text-monospace mt-1 w-100"></small>
        </div>
    </div>
</div>