<div class="form-group mb-3">
    <a class="form-title card card-header" data-bs-toggle="collapse" href="#categories" role="button"
       aria-expanded="false"
       aria-controls="categories">{{ 'entry.form.categories'|trans }}</a>
    <div class="collapse mt-2 active" id="categories">
        <div class="card card-body">
            {% for key, category in categories %}
                {% set _checked = '' %}
                {% for Category in collection %}
                    {% if category.id == Category.category.id %}
                        {% set _checked = 'checked' %}
                    {% endif %}
                {% endfor %}
                <div class="custom-control custom-switch">
                    <input type="checkbox" name="category[{{ category.id }}]" class="custom-control-input"
                           id="category-{{ category.id }}" {{ _checked }}>
                    <label class="custom-control-label" for="category-{{ category.id }}">{{ category.name }}</label>
                </div>
            {% endfor %}
        </div>
    </div>
</div>