{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.overview_store'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    {% if stores|length > 1 %}
        {% include 'dashboard/content/market_place/navbar/stores-nav.html.twig' %}
    {% endif %}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-500 uppercase bg-info-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">{{ 'table.header.title'|trans }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th scope="col" class="px-6 py-3">{{ 'table.header.owner'|trans }}</th>
                {% endif %}
                <th scope="col" class="px-6 py-3 text-center">{{ 'table.header.products'|trans }}</th>
                <th class="text-center px-6 py-3" scope="col">{{ 'table.header.created_at'|trans }}</th>
                <th class="text-center px-6 py-3" scope="col">{{ 'table.header.handle'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for store in stores %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <a data-twe-toggle="tooltip"
                           data-twe-placement="left"
                           class="block text-wrap font-semibold hover:underline hover:text-gray-400 dark:text-gray-400 {% if store.deleted is not null %}line-through{% endif %}"
                           title="{{ store.name }}"
                           href="{{ path('app_dashboard_market_place_edit_market', {id: store.id, tab: 'details'}) }}">
                            {{ store.name|length > 25 ? store.name|slice(0, 50) ~ ' ... ' : store.name }}
                        </a>
                    </th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="px-6 py-3">{{ store.owner.email }}</td>
                    {% endif %}
                    <td class="text-center px-6 py-3">{{ store.products }}</td>
                    <td class="text-center px-6 py-3">{{ store.created|date(date_format) }}</td>
                    <td class="text-center px-6 py-3">
                        <a href="{{ path('app_dashboard_market_place_market_product', {store: store.id}) }}"
                           class="border rounded pl-2 pr-1 py-1.5 mr-1 hover:shadow-md hover:bg-gray-100 dark:hover:bg-gray-800">
                            <i class="fa fa-cart-plus text-green-500 dark:text-white"></i>
                        </a>
                        {% if store.deleted is not null %}
                            <a class="border rounded px-2 py-1.5 hover:shadow-md hover:bg-gray-100 dark:hover:bg-gray-800 {{ store.locked ? 'pointer-events-none' : null }}"
                               href="{{ path('app_dashboard_restore_market', {id: store.id}) }}">
                                <i class="fa {{ store.locked ? 'fa-ban' : 'fa-arrow-up' }} dark:text-white"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('app_dashboard_market_place_edit_market', {id: store.id, tab: 'details'}) }}"
                               class="border rounded pl-2 pr-1 py-1.5 mr-1 hover:shadow-md hover:bg-gray-100 dark:hover:bg-gray-800">
                                <i class="fa fa-pencil text-indigo-600 dark:text-white"></i>
                            </a>
                            {% if 'ROLE_ADMIN' not in store.owner.roles %}
                                <button
                                        class="border rounded delete-entry px-2 py-1 hover:shadow-md hover:bg-gray-100 dark:hover:bg-gray-800"
                                        data-token="{{ csrf_token('delete') }}"
                                        data-url="{{ url('app_dashboard_delete_market', {id: store.id}) }}">
                                    <i class="fa fa-trash text-red-600 dark:text-white"></i>
                                </button>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="{{ is_granted('ROLE_ADMIN') ? 5 : 6 }}"
                        class="px-6 py-3 text-center text-gray-700 bg-gray-100 dark:bg-gray-500 dark:text-white">{{ 'table.footer.not_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <input type="hidden" name="flash-success" value="{{ _message[0]|default([]|json_encode) }}">
    {% if stores|length %}
        <div class="navigation mt-5 w-full mx-auto">
            {{ knp_pagination_render(stores) }}
        </div>
    {% endif %}
{% endblock %}