{{ form_start(form, {attr: {class: 'needs-validation', novalidate: 'novalidate'}}) }}
{% if errors.count %}
    <div class="alert alert-warning alert-dismissible mx-3" role="alert">
        {{ errors.current.message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="{{ 'form.action.close'|trans }}"></button>
    </div>
{% endif %}
<div class="row mt-3 px-3">
    <div class="form-floating col-sm-6 mb-3">
        {{ form_widget(form.first_name, {attr: {class: 'form-control ps-sm-3', placeholder: ''}}) }}
        {{ form_label(form.first_name, 'label.form.first_name', {label_attr: {class: 'form-label ms-3'}}) }}
        <div class="invalid-feedback">{{ 'form.first_name.invalid'|trans }}</div>
    </div>
    <div class="form-floating col-sm-6 mb-3">
        {{ form_widget(form.last_name, {attr: {class: 'form-control ps-sm-3', placeholder: ''}}) }}
        {{ form_label(form.last_name, 'label.form.last_name', {label_attr: {class: 'form-label ms-3'}}) }}
        <div class="invalid-feedback">{{ 'form.last_name.invalid'|trans }}</div>
    </div>
    <div class="form-floating col-6 mb-3">
        {{ form_widget(form.email, {attr: {class: 'form-control ps-sm-3', placeholder: ''}}) }}
        {{ form_label(form.email, 'label.form.email', {label_attr: {class: 'form-label ms-3'}}) }}
        <div class="invalid-feedback">{{ 'form.country.invalid'|trans }}</div>
    </div>
    <div class="form-floating col-6 mb-3">
        {{ form_widget(form.plainPassword, {attr: {class: 'form-control ps-sm-3', placeholder: ''}}) }}
        {{ form_label(form.plainPassword, 'label.form.password', {label_attr: {class: 'form-label ms-3'}}) }}
        <div class="invalid-feedback">{{ 'form.password.invalid'|trans }}</div>
    </div>
    <div class="form-floating col-sm-6 mb-3">
        {{ form_widget(form.city, {attr: {class: 'form-control ps-sm-3', placeholder: ''}}) }}
        {{ form_label(form.city, 'label.form.city', {label_attr: {class: 'form-label ms-3'}}) }}
        <div class="invalid-feedback">{{ 'form.city.invalid'|trans }}</div>
    </div>
    <div class="form-floating col-sm-6 mb-3">
        {{ form_widget(form.country, {attr: {class: 'form-select ps-sm-3', placeholder: ''}}) }}
        {{ form_label(form.country, 'label.form.country', {label_attr: {class: 'form-label ms-3'}}) }}
        <div class="invalid-feedback">{{ 'form.country.invalid'|trans }}</div>
    </div>
    <div class="form-floating col-6 mb-3">
        {{ form_widget(form.phone, {attr: {class: 'form-control ps-sm-3', placeholder: ''}}) }}
        {{ form_label(form.phone, 'label.form.phone', {label_attr: {class: 'form-label ms-3'}}) }}
        <div class="invalid-feedback">{{ 'form.phone.invalid'|trans }}</div>
    </div>
    <div class="form-floating col-sm-6 mb-3">
        {{ form_widget(form.address, {attr: {class: 'form-control ps-sm-3', placeholder: ''}}) }}
        {{ form_label(form.address, 'label.form.address', {label_attr: {class: 'form-label ms-3'}}) }}
        <div class="invalid-feedback">{{ 'form.address.invalid'|trans }}</div>
    </div>
    <div class="col-md-12">
        <div class="form-check mb-3">
            {{ form_widget(form.agreeTerms, {attr: {class: 'form-check-input'}}) }}
            {{ form_label(form.agreeTerms, 'label.agree_terms'|trans, {label_attr: {class: 'form-check-label'}}) }}
            <div class="invalid-feedback">{{ 'form.message.agree_terms'|trans({}, 'validators') }}</div>
            <small class="text-danger">{{ form_errors(form.agreeTerms) }}</small>
            <small class="d-block form-text text-muted">{{ 'form.agree_terms.help'|trans({
                    '%policy%': url('policy'),
                    '%terms%': url('terms')
                })|raw }}</small>

        </div>
    </div>
    <div class="col-md-12 text-center my-4">
        {{ form_widget(form.send, { label: 'form.action.register' }) }}
    </div>
</div>
{{ form_end(form) }}