{{ form_start(form, {attr: {class: 'tech-form', novalidate: 'novalidate'}}) }}
{% if form_errors(form) %}
    <div class="alert alert-danger">
        {{ form_errors(form) }}
    </div>
{% endif %}
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group mb-3">
            {% set email_error = form.email.vars.errors|length ? 'form-control error' : 'form-control' %}
            {{ form_label(form.email, 'label.form.email', {label_attr: {class: 'form-label'}}) }} <span class="text-danger">*</span>
            {{ form_widget(form.email, {attr: {class: email_error, placeholder: 'label.form.email'}}) }}
            {% if form_errors(form.email) %}
                <small class="text-danger">{{ form_errors(form.email) }}</small>
            {% else %}
                <small class="form-text text-muted">{{ 'form.email.help'|trans }}</small>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group mb-3">
            {% set password_error = form.plainPassword.vars.errors|length ? 'form-control error' : 'form-control' %}
            {{ form_label(form.plainPassword, 'label.form.password', {label_attr: {class: 'form-label'}}) }} <span class="text-danger">*</span>
            {{ form_widget(form.plainPassword, {attr: {class: password_error, placeholder: 'label.form.password'}}) }}
            {% if form_errors(form.plainPassword) %}
                <small class="text-danger">{{ form_errors(form.plainPassword) }}</small>
            {% else %}
                <small class="form-text text-muted">{{ 'form.password.help'|trans }}</small>
            {% endif %}
        </div>
    </div>
</div>
<div class="form-row">
    <div class="col-md-6">
        <div class="form-group mb-3">
            {% set first_name_error = form.first_name.vars.errors|length ? 'form-control error' : 'form-control' %}
            {{ form_label(form.first_name, 'label.form.first_name', {label_attr: {class: 'form-label'}}) }} <span class="text-danger">*</span>
            {{ form_widget(form.first_name, {attr: {class: first_name_error, placeholder: 'label.form.first_name'}}) }}
            {% if form_errors(form.first_name) %}
                <small class="text-danger">{{ form_errors(form.first_name) }}</small>
            {% else %}
                <small class="form-text text-muted">{{ 'form.first_name.help'|trans({ '%min%': form.first_name.vars.attr.min, '%max%': form.first_name.vars.attr.max }) }}</small>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group mb-3">
            {% set last_name_error = form.last_name.vars.errors|length ? 'form-control error' : 'form-control' %}
            {{ form_label(form.last_name, 'label.form.last_name', {label_attr: {class: 'form-label'}}) }} <span class="text-danger">*</span>
            {{ form_widget(form.last_name, {attr: {class: last_name_error, placeholder: 'label.form.last_name'}}) }}
            {% if form_errors(form.last_name) %}
                <small class="text-danger">{{ form_errors(form.last_name) }}</small>
            {% else %}
                <small class="form-text text-muted">{{ 'form.last_name.help'|trans({ '%min%': form.last_name.vars.attr.min, '%max%': form.last_name.vars.attr.max }) }}</small>
            {% endif %}
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group mb-3">
            {{ form_widget(form.agreeTerms) }}
            {{ form_label(form.agreeTerms, 'label.agree_terms'|trans, {label_attr: {class: 'form-check-label px-2'}}) }} <span
                    class="text-danger">*</span>
            {% if form_errors(form.agreeTerms) %}
                <small class="text-danger">{{ form_errors(form.agreeTerms) }}</small>
            {% else %}
                <small class="form-text text-muted">{{ 'form.agree_terms.help'|trans({
                        '%policy%': url('policy'),
                        '%terms%': url('terms')
                    })|raw }}</small>
            {% endif %}
        </div>
    </div>
    <div class="col-md-12 text-center my-4">
        {{ form_widget(form.send, { label: 'form.action.register' }) }}
    </div>
</div>
{{ form_end(form) }}
