{{ form_start(form, {attr: {class: 'needs-validation', novalidate: ''}}) }}
{% if errors.count %}
    <div class="alert alert-warning alert-dismissible mx-3" role="alert">
        {{ errors.current.message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="{{ 'form.action.close'|trans }}"></button>
    </div>
{% endif %}
<div class="row mt-3 px-3">
    <div class="col-md-12">
        <div class="form-floating mb-3">
            {{ form_widget(form.email, {attr: {class: 'form-control', placeholder: ''}}) }}
            {{ form_label(form.email, 'label.form.email', {label_attr: {class: 'form-label'}}) }}
            <div class="invalid-feedback">{{ 'form.email.invalid'|trans }}</div>
            <small class="form-text text-muted">{{ 'form.email.help'|trans }}</small>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-floating mb-3">
            {{ form_widget(form.plainPassword, {attr: {class: 'form-control', placeholder: ''}}) }}
            {{ form_label(form.plainPassword, 'label.form.password', {label_attr: {class: 'form-label'}}) }}
            <div class="invalid-feedback">{{ 'form.password.invalid'|trans }}</div>
            <small class="form-text text-muted">{{ 'form.password.help'|trans }}</small>
        </div>
    </div>
</div>
<div class="row mt-3 px-3">
    <div class="col-md-12">
        <div class="form-floating mb-3">
            {{ form_widget(form.first_name, {attr: {class: 'form-control', placeholder: ''}}) }}
            {{ form_label(form.first_name, 'label.form.first_name', {label_attr: {class: 'form-label'}}) }}
            <div class="invalid-feedback">{{ 'form.first_name.invalid'|trans }}</div>
            <small class="form-text text-muted">{{ 'form.first_name.help'|trans({ '%min%': form.first_name.vars.attr.min, '%max%': form.first_name.vars.attr.max }) }}</small>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-floating mb-3">
            {{ form_widget(form.last_name, {attr: {class: 'form-control', placeholder: ''}}) }}
            {{ form_label(form.last_name, 'label.form.last_name', {label_attr: {class: 'form-label'}}) }}
            <div class="invalid-feedback">{{ 'form.last_name.invalid'|trans }}</div>
            <small class="d-block form-text text-muted">{{ 'form.last_name.help'|trans({ '%min%': form.last_name.vars.attr.min, '%max%': form.last_name.vars.attr.max }) }}</small>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-check mb-3">
            {{ form_widget(form.agreeTerms, {attr: {class: 'form-check-input'}}) }}
            {{ form_label(form.agreeTerms, 'label.agree_terms'|trans, {label_attr: {class: 'form-check-label'}}) }}
            <small class="d-block form-text text-muted">{{ 'form.agree_terms.help'|trans({
                    '%policy%': url('policy'),
                    '%terms%': url('terms')
                })|raw }}</small>
        </div>
    </div>
    <div class="col-md-12 text-center my-4">
        {{ form_widget(form.send, { label: 'form.action.register' }) }}
    </div>
</div>
{{ form_end(form) }}
