{% extends 'dashboard/index.html.twig' %}

{% if form.vars.data.id %}
    {% set _title_extend = 'title.dashboard.change_product'|trans %}
{% else %}
    {% set _title_extend = 'title.dashboard.create_product'|trans %}
{% endif %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    {% set _message = app.flashes('success') %}
    {{ form_start(form, {attr: {class: 'd-tech-form', novalidate: 'novalidate'}}) }}
    {% if form_errors(form) %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    <div class="form-group">
        {% set name_error = form.name.vars.errors|length ? 'form-control error' : 'form-control' %}
        {{ form_label(form.name, 'label.form.product_name') }} <span class="text-danger">*</span>
        {{ form_widget(form.name, {attr: {class: name_error, placeholder: 'label.form.product_name'}}) }}
        <sm class="text-danger">{{ form_errors(form.name) }}</sm>
    </div>
    <div class="form-group row">
        <div class="col-6">
            {% set quantity_error = form.quantity.vars.errors|length and not error ? 'form-control error' : 'form-control' %}
            {{ form_label(form.quantity, 'label.form.quantity') }} <span class="text-danger">*</span>
            {{ form_widget(form.quantity, {attr: {class: name_error, placeholder: '1'}}) }}
            <sm class="text-danger">{{ form_errors(form.quantity) }}</sm>
        </div>
        <div class="col-6">
            {% set price_error = form.price.vars.errors|length ? 'form-control error' : 'form-control' %}
            {{ form_label(form.price, 'label.form.price') }} <span class="text-danger">*</span>
            {{ form_widget(form.price, {attr: {class: name_error, placeholder: '0.01'}}) }}
            <sm class="text-danger">{{ form_errors(form.price) }}</sm>
        </div>
    </div>
    <div class="form-group">
        {% set provider_error = form.provider.vars.errors|length ? 'form-control error' : 'form-control' %}
        {{ form_label(form.provider, 'label.form.provider_name') }}
        {{ form_widget(form.provider, {attr: {class: provider_error}}) }}
        <sm class="text-danger">{{ form_errors(form.provider) }}</sm>
    </div>
    <div class="form-group">
        {% set supplier_error = form.supplier.vars.errors|length ? 'form-control error' : 'form-control' %}
        {{ form_label(form.supplier, 'label.form.supplier_name') }}
        {{ form_widget(form.supplier, {attr: {class: supplier_error}}) }}
        <sm class="text-danger">{{ form_errors(form.supplier) }}</sm>
    </div>
    <div class="form-group">
        {% set manufacturer_error = form.manufacturer.vars.errors|length ? 'form-control error' : 'form-control' %}
        {{ form_label(form.manufacturer, 'label.form.manufacturer_name') }}
        {{ form_widget(form.manufacturer, {attr: {class: manufacturer_error}}) }}
        <sm class="text-danger">{{ form_errors(form.manufacturer) }}</sm>
    </div>
    {% include 'dashboard/content/form/category.html.twig' with {'categories': categories, 'collection': form.vars.data.marketCategoryProducts} %}
    <div class="form-group">
        {% set description_error = form.description.vars.errors|length ? 'form-control error' : 'form-control' %}
        {{ form_label(form.description, 'label.form.product_description') }}
        {{ form_widget(form.description, {attr: {class: description_error, rows: 6, placeholder: 'label.form.product_description'}}) }}
        <sm class="text-danger">{{ form_errors(form.description) }}</sm>
    </div>
    <input type="hidden" name="flash" value="{{ _message[0]|default([]|json_encode) }}">
    <div class="form-group text-center my-4">
        {{ form_widget(form.save, { label: form.vars.data.id ? 'form.action.update' : 'form.action.save'}) }}
        <a type="button" href="{{ url('app_dashboard_market_place_market_product', {market: app.request.get('market')}) }}"
           class="btn btn-secondary shadow-sm">{{ 'form.action.back'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript">
        CKEDITOR.replace('product_description', {
            extraPlugins: 'editorplaceholder',
            editorplaceholder: '{{ 'label.form.product_description'|trans }}',
            removePlugins: 'simage,image,youtube,html5video,iframe,uicolor,videodetector,preview',
        });
    </script>
{% endblock %}