{% extends 'market_place/index.html.twig' %}

{% block title %}{{ store.name }}{% endblock %}
{% block description %}{{ store.description }}{% endblock %}
{% block extend_title %}{{ store.name }}{% endblock %}
{% block offest %}pt-4 py-8 lg:py-16 lg:px-2{% endblock %}
{% block childen %}{% endblock %}
{% block content_body %}
    <h2 class="text-2xl font-oswald mb-4 font-extrabold text-primary-700 dark:text-white text-ellipsis overflow-hidden">{{ store.name }}</h2>
    <div class="mt-3">
        <div class="h-100">
            <div class="grid grid-cols-12">
                <div class="col-span-4 mb-5 hidden px-5 lg:block bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <div class="p-2">
                        {% if store.description is not null %}
                            <h6 class="text-md-start font-oswald font-medium text-cyan-700 underline underline-offset-8 mb-4">{{ 'store.about'|trans }}</h6>
                            <div class="mb-5">{{ store.description|striptags|replace({'<p>': '<p class="text-sm text-gray-400 dark:text-gray-300 mb-5">'})|raw|nl2br }}</div>
                        {% endif %}
                        {% if store.phone is not null or store.email is not null or store.website is not null %}
                            <h6 class="text-md-start font-oswald font-medium text-cyan-700 underline underline-offset-8 py-4">{{ 'menu.dashboard.contacts'|trans }}</h6>
                            <ul class="list-none">
                                {% if store.phone %}
                                    <li class="mb-1">
                                        <a class="text-info-600 hover:text-info-700 hover:underline"
                                           href="tel:{{ store.phone }}">
                                            <i class="fa fa-phone-square text-gray-400 hover:text-gray-950 mx-2"></i>{{ store.phone }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if store.email %}
                                    <li class="mb-1">
                                        <a class="text-info-600 hover:text-info-700 hover:underline"
                                           href="mailto:{{ store.email }}">
                                            <i class="fa fa-envelope text-gray-400 hover:text-gray-950 mx-2"></i>{{ 'title.email'|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if store.website %}
                                    <li class="mb-1">
                                        <a target="_blank" rel="noreferrer"
                                           class="text-info-600 hover:text-info-700 hover:underline"
                                           href="{{ path('app_dashboard_market_place_market_redirect', {website: store.website}) }}">
                                            <i class="fa fa-globe text-gray-400 hover:text-gray-950 mx-2"></i>{{ store.website }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                        <div class="my-4 flex justify-center items-center">
                            {% for social in store.socials %}
                                    <a class="mr-3 mb-2 hover:text-blue-800" target="_blank" rel="nofollow"
                                       href="{{ social.source }}">
                                        <h4 class="text-2xl fa fa-{{ social.source_name }}"></h4>
                                    </a>
                            {% endfor %}
                        </div>
                        <h6 class="text-md-start font-oswald font-medium text-cyan-700 underline underline-offset-8 mb-4">{{ 'form.header.message'|trans }}</h6>
                        <form class="group" id="form-message" action="{{ path('market_place_obtain_message') }}"
                              method="post" autocomplete="off" novalidate="">
                            <div class="relative">
                                <label for="message" class="sr-only"></label>
                                <textarea id="message"
                                          class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-md border border-gray-300 focus:ring-gray-300 focus:border-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                          rows="6"
                                          minlength="20"
                                          maxlength="250"
                                          placeholder="{{ 'form.header.message'|trans }}"
                                          required></textarea>
                                <span class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">{{ 'form.message.invalid'|trans }}</span>
                            </div>
                            <input type="hidden" name="product" value="">
                            <input type="hidden" name="store" value="{{ store.id }}">
                            <input type="hidden" name="order" value="">
                            <input type="hidden" name="_token" value="{{ csrf_token('obtain') }}">
                            <button
                                    class="inline-block mt-3 w-full rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong group-invalid:pointer-events-none group-invalid:opacity-30"
                                    type="submit"{% if not app.user %} disabled{% endif %}>{{ 'form.action.send'|trans }}</button>
                            {% if not app.user %}
                                <p id="helper-text-explanation"
                                   class="mt-2 text-sm text-gray-500 dark:text-gray-400">{{ 'login.warning'|trans({
                                        url: path('app_login'),
                                        class: 'font-medium text-blue-600 hover:underline dark:text-blue-500'
                                    })|raw }}
                                </p>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <div class="col-span-12 mb-5 lg:col-span-8 pt-2 px-4 lg:-mt-16">
                    <h4 class="text-center font-oswald hidden lg:block text-2xl py-3 border-b-1 shadow-sm text-gray-600 font-semibold mb-5">{{ 'store.products'|trans }}
                        <span class="text-gray-500 font-medium ml-2">{{ store.products_count }}</span>
                    </h4>
                    <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-3">
                        {% for product in store.products %}
                            <div class="lg:max-w-sm md:max-w-md sm:w-auto border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                <div class="relative overflow-hidden bg-cover bg-no-repeat">
                                    {% if product.attachment is not null %}
                                        {% set _picture= 'storage/product/' ~ product.id ~ '/' ~ product.attachment %}
                                        <a href="{{ path('app_market_place_product', {slug: product.slug, tab: 'about'}) }}">
                                            <img class="transition duration-300 ease-linear hover:scale-110 rounded-t-lg"
                                                 src="{{ asset(_picture)|imagine_filter('product_preview') }}"
                                                 alt="{{ product.name }}">
                                        </a>
                                    {% else %}
                                        <img class="transition opacity-50 duration-300 ease-linear hover:scale-110 rounded-t-lg"
                                             src="{{ asset('img/600x400.png') }}"
                                             alt="{{ product.name }}">
                                    {% endif %}
                                    <div class="absolute z-10 opacity-100 top-5 w-full">
                                        <div class="flex justify-between">
                                                    <span class="ml-2 bg-gray-600 text-sm bg-opacity-90 text-gray-500 text-md shadow-xl font-medium px-2.5 py-0.5 rounded-md dark:bg-gray-900 dark:text-gray-300">
                                                        <a title="{{ product.name }}"
                                                           href="{{ path('app_market_place_product', {slug: product.slug, tab: 'about'}) }}"
                                                           class="text-white hover:text-neutral-100 hover:animate-pulse">{{ 'store.product.details'|trans }}
                                                        </a>
                                                    </span>
                                            {% if product.discount|round %}
                                                <span class="bg-red-700 bg-opacity-75 text-white text-xs font-medium me-2 px-2 pt-1 rounded-xl dark:bg-red-900 dark:text-white">{{ product.discount|number_format(0) }}% {{ 'store.product.off'|trans }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="flex justify-between items-start pb-2">
                                    <a href="{{ path('app_market_place_child_category', {
                                        parent: product.parent_category_slug,
                                        child:  product.category_slug
                                    }) }}"
                                       title="{{ product.category_name }}"
                                       class="hover:underline truncate block w-auto mt-3 mr-3 text-gray-500">
                                        <i class="fa fa-check px-2 text-green-400"></i>{{ product.category_name }}
                                    </a>
                                </div>
                                <a title="{{ product.name }}" class="mt-3"
                                   href="{{ path('app_market_place_product', {slug: product.slug, tab: 'about'}) }}">
                                    <h5 class="mx-2 text-md-start font-bold hover:text-gray-700 tracking-tight truncate text-gray-500 dark:text-white">
                                        {{ product.short_name }}
                                    </h5>
                                </a>
                                <div class="flex justify-between items-center">
                                    <div class="ml-2 mt-5">
                                        <i class="fa fa-download text-gray-300 mr-1"></i>0<small
                                                class="fs-6 ms-1">Sales</small>
                                    </div>
                                    <div class="mr-3 mt-5">
                                        {% set discount = product.discount %}
                                        {% set cost = product.cost + product.fee %}
                                        {% set discount_cost = (cost - ((cost * discount) - discount)/100) %}
                                        <span class="text-xl font-medium {% if discount > 0 %}text-rose-500{% else %}text-gray-900{% endif %} dark:text-white">{{ (discount_cost)|amount_format }}<small>{{ store.currency|currency }}</small></span>
                                    </div>
                                </div>
                                <div class="flex items-center border-t mt-3 pt-1 bg-gray-50 bg-opacity-75 pb-2 px-3 justify-between">
                                    <div>
                                        <a href="{{ path('app_market_place_product', {slug: product.slug, tab: 'about'}) }}"
                                           class="hover:text-info-700 text-md dark:text-white">{{ 'store.product.details'|trans }}
                                            <svg class="w-[16px] h-[16px] inline ml-3 fill-gray-500"
                                                 viewBox="0 0 512 512"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z"></path>
                                            </svg>
                                        </a>
                                    </div>
                                    <div>
                                        <form class="add-wishlist" name="wishlist"
                                              action="{{ path('app_market_place_add_wishlist', {slug: product.slug}) }}">
                                            <input name="store" type="hidden"
                                                   value="{{ store.id }}">
                                            {% include 'market_place/wishlist.html.twig' with {'extra': null} %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'layouts/toast/success.html.twig' %}
    {% include 'layouts/toast/danger.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('message-js') }}
{% endblock %}
