{% extends 'market_place/index.html.twig' %}

{% block title %}{{ store.name }}{% endblock %}
{% block description %}{{ store.description }}{% endblock %}
{% block extend_title %}{{ store.name }}{% endblock %}
{% block offest %}pt-4 py-8 lg:py-16 lg:px-2{% endblock %}
{% block childen %}{% endblock %}
{% block content_body %}
    <div class="block space-x-4 space-y-4 mb-5">
        {% set _picture = store.picture is not null ? 'storage/market/logo/' ~ store.id ~ '/' ~ store.picture : 'img/bg-store/store-' ~ random(9) ~ '.jpg' %}
        <div class="relative overflow-hidden rounded-lg bg-cover bg-no-repeat p-12 text-center"
             style="background-image: url('{{ asset(_picture)|imagine_filter('store_bg') }}'); background-position: center center; height: 400px">
            <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
                 style="background-color: rgba(0, 0, 0, 0.2)">
                <div class="flex h-full items-center justify-center">
                    <div class="text-white">
                        <h2 class="mb-4 text-4xl font-semibold">{{ store.name }}</h2>
                        {% if store.description is not null %}
                            <div class="mb-6 text-sm font-normal mx-auto max-w-lg">{{ store.description|striptags|raw|slice(0, 280) }}
                                ...
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-2xl font-oswald mb-4 font-extrabold text-primary-700 dark:text-white text-ellipsis overflow-hidden">{{ store.name }}</h2>
    <div class="mt-3">
        <div class="h-full">
            <div class="grid grid-cols-12">
                <div class="col-span-3 mb-5 hidden px-5 lg:block bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <div class="p-2">
                        {% if store.description is not null %}
                            <h6 class="text-md-start font-oswald font-medium text-cyan-700 underline underline-offset-8 mb-4">{{ 'store.about'|trans }}</h6>
                            <div class="mb-5">{{ store.description|striptags|replace({'<p>': '<p class="text-sm text-gray-400 dark:text-gray-300 mb-5">'})|raw|nl2br }}</div>
                        {% endif %}
                        {% if store.phone is not null or store.email is not null or store.website is not null %}
                            <h6 class="text-md-start font-oswald font-medium text-cyan-700 underline underline-offset-8 py-4">{{ 'menu.dashboard.contacts'|trans }}</h6>
                            <ul class="list-none">
                                {% if store.phone %}
                                    <li class="mb-1">
                                        <a class="text-info-600 hover:text-info-700 hover:underline"
                                           href="tel:{{ store.phone }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="inline-flex w-4 h-4 text-gray-700 hover:text-gray-950 mx-2">
                                                <path d="m4.922 6.752-1.067.534a7.52 7.52 0 0 0 4.859 4.86l.534-1.068a1 1 0 0 1 1.046-.542l2.858.44a1 1 0 0 1 .848.988V13a1 1 0 0 1-1 1h-2c-.709 0-1.4-.082-2.062-.238a9.012 9.012 0 0 1-6.7-6.7A9.024 9.024 0 0 1 2 5V3a1 1 0 0 1 1-1h1.036a1 1 0 0 1 .988.848l.44 2.858a1 1 0 0 1-.542 1.046Z" />
                                                <path d="M9.22 5.72a.75.75 0 0 0 1.06 1.06l2.22-2.22v1.69a.75.75 0 0 0 1.5 0v-3.5a.75.75 0 0 0-.75-.75h-3.5a.75.75 0 0 0 0 1.5h1.69L9.22 5.72Z" />
                                            </svg>{{ store.phone }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if store.email %}
                                    <li class="mb-1">
                                        <a class="text-info-600 hover:text-info-700 hover:underline"
                                           href="mailto:{{ store.email }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="inline-flex w-4 h-4 text-gray-700 hover:text-gray-950 mx-2">
                                                <path d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
                                                <path d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
                                            </svg>{{ 'title.email'|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if store.website %}
                                    <li class="mb-1">
                                        <a target="_blank" rel="noreferrer"
                                           class="text-info-600 hover:text-info-700 hover:underline"
                                           href="{{ path('app_market_place_market_redirect', {website: store.website}) }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="inline-flex w-4 h-4 text-gray-700 hover:text-gray-950 mx-2">
                                                <path fill-rule="evenodd" d="M3.757 4.5c.18.217.376.42.586.608.153-.61.354-1.175.596-1.678A5.53 5.53 0 0 0 3.757 4.5ZM8 1a6.994 6.994 0 0 0-7 7 7 7 0 1 0 7-7Zm0 1.5c-.476 0-1.091.386-1.633 1.427-.293.564-.531 1.267-.683 2.063A5.48 5.48 0 0 0 8 6.5a5.48 5.48 0 0 0 2.316-.51c-.152-.796-.39-1.499-.683-2.063C9.09 2.886 8.476 2.5 8 2.5Zm3.657 2.608a8.823 8.823 0 0 0-.596-1.678c.444.298.842.659 1.182 1.07-.18.217-.376.42-.586.608Zm-1.166 2.436A6.983 6.983 0 0 1 8 8a6.983 6.983 0 0 1-2.49-.456 10.703 10.703 0 0 0 .202 2.6c.72.231 1.49.356 2.288.356.798 0 1.568-.125 2.29-.356a10.705 10.705 0 0 0 .2-2.6Zm1.433 1.85a12.652 12.652 0 0 0 .018-2.609c.405-.276.78-.594 1.117-.947a5.48 5.48 0 0 1 .44 2.262 7.536 7.536 0 0 1-1.575 1.293Zm-2.172 2.435a9.046 9.046 0 0 1-3.504 0c.039.084.078.166.12.244C6.907 13.114 7.523 13.5 8 13.5s1.091-.386 1.633-1.427c.04-.078.08-.16.12-.244Zm1.31.74a8.5 8.5 0 0 0 .492-1.298c.457-.197.893-.43 1.307-.696a5.526 5.526 0 0 1-1.8 1.995Zm-6.123 0a8.507 8.507 0 0 1-.493-1.298 8.985 8.985 0 0 1-1.307-.696 5.526 5.526 0 0 0 1.8 1.995ZM2.5 8.1c.463.5.993.935 1.575 1.293a12.652 12.652 0 0 1-.018-2.608 7.037 7.037 0 0 1-1.117-.947 5.48 5.48 0 0 0-.44 2.262Z" clip-rule="evenodd" />
                                            </svg>{{ store.website }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                        <div class="my-4 flex justify-center items-center">
                            {% for social in store.socials %}
                                <a class="mr-3 mb-2 hover:text-blue-800" target="_blank" rel="nofollow"
                                   href="{{ social.source }}">
                                    <h4 class="text-lg">{{ social.source_name }}</h4>
                                </a>
                            {% endfor %}
                        </div>
                        <h6 class="text-md-start font-oswald font-medium text-cyan-700 underline underline-offset-8 mb-4">{{ 'form.header.message'|trans }}</h6>
                        <form class="group" id="form-message" action="{{ path('market_place_obtain_message') }}"
                              method="post" autocomplete="off" novalidate="">
                            <div class="relative">
                                <label for="message" class="sr-only"></label>
                                <textarea id="message"
                                          class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-md border border-gray-300 focus:ring-gray-300 focus:border-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                          rows="6"
                                          minlength="20"
                                          maxlength="250"
                                          placeholder="{{ 'form.header.message'|trans }}"
                                          required></textarea>
                                <span class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">{{ 'form.message.invalid'|trans }}</span>
                            </div>
                            <input type="hidden" name="product" value="">
                            <input type="hidden" name="store" value="{{ store.id }}">
                            <input type="hidden" name="order" value="">
                            <input type="hidden" name="_token" value="{{ csrf_token('obtain') }}">
                            <button
                                    class="inline-block mt-3 w-full rounded bg-red-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-red-300 transition duration-150 ease-in-out hover:bg-red-700 hover:shadow-red-200 focus:bg-red-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-red-600 active:shadow-red-200 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong group-invalid:pointer-events-none group-invalid:opacity-30"
                                    type="submit"{% if not app.user %} disabled{% endif %}>{{ 'form.action.send'|trans }}</button>
                            {% if not app.user %}
                                <p id="helper-text-explanation"
                                   class="mt-2 text-sm text-gray-500 dark:text-gray-400">{{ 'login.warning'|trans({
                                        url: path('app_login'),
                                        class: 'font-medium text-blue-600 hover:underline dark:text-blue-500'
                                    })|raw }}
                                </p>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <div class="col-span-12 mb-5 lg:col-span-9 pt-2 px-4 lg:-mt-16">
                    <h4 class="text-center font-oswald hidden lg:block text-2xl py-3 border-b-1 shadow-sm text-gray-600 font-semibold mb-3">{{ 'store.products'|trans }}
                        <span class="text-gray-500 font-medium ml-2">{{ store.products_count }}</span>
                    </h4>
                    {% if store.coupon is not null %}
                        <div class="w-full relative area p-4 mb-2 border-4 bg-indigo-500 border-indigo-100 border-dashed rounded-lg">
                            <a role="button" data-tooltip-target="tooltip-bottom" data-tooltip-placement="bottom">
                                <h4 class="block text-3xl text-white font-bold transform-gpu">{{ store.coupon.name }}</h4>
                                <p class="leading-relaxed font-roboto font-medium text-lg mt-2 text-white animate__animated animate__bounceIn">{{ store.coupon.promotion }}</p>
                                <div class="absolute top-5 start-2/3 z-[999] text-3xl font-oswald select-none">{{ store.coupon.code }}</div>
                                <div class="absolute -end-2 -top-2 z-1 bg-blue-500 shadow-lg text-white text-2xl font-oswald rounded-lg -rotate-45 p-4">
                                    <span class="text-lg pr-1">{{ 'store.product.off'|trans }}</span>{{ store.coupon.discount ? store.coupon.discount : store.coupon.price }}
                                    <span class="text-lg">{{ store.coupon.discount ? '%' : store.currency|currency }}</span>
                                </div>
                                <div class="text-xs text-gray-300" id="date-end"
                                     data-end="{{ store.coupon.end }}">
                                    <span class="font-medium pr-0.5">{{ 'text.end'|trans }}:</span>
                                    <span class="days">0</span><span class="px-0.5">{{ 'text.days'|trans }}</span>
                                    <span class="hours">00</span>:<span class="minutes">00</span>:<span class="seconds">00</span>
                                </div>
                                <ul class="circles absolute z-0 top-0 left-0 overflow-hidden w-full h-full">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </a>
                            <div id="tooltip-bottom" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                {{ 'label.form.available'|trans }}: {{ store.coupon.available }}
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="grid w-full gap-3 lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-2 xs:grid-cols-1">
                        {% for product in store.products %}
                            <div class="max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                <div class="relative overflow-hidden h-200 rounded-t-lg">
                                    {% if product.attachment is not null %}
                                        {% set _picture= 'storage/product/' ~ product.id ~ '/' ~ product.attachment %}
                                        <a href="{{ path('app_market_place_product', {slug: product.slug, tab: 'about'}) }}">
                                            <img class="object-contain h-auto max-w-full mx-auto transition duration-700 ease-in-out hover:scale-105"
                                                 src="{{ asset(_picture)|imagine_filter('product_preview') }}"
                                                 alt="{{ product.name }}">
                                        </a>
                                    {% else %}
                                        <img class="h-200 transition opacity-50"
                                             src="{{ asset('img/600x400.png') }}"
                                             alt="{{ product.name }}">
                                    {% endif %}
                                    <div class="absolute z-10 opacity-100 top-5 w-full">
                                        <div class="flex justify-between">
                                            <span class="ml-2 bg-gray-600 bg-opacity-90 text-gray-500 text-md shadow-xl px-2.5 pt-1 pb-0.5 rounded-md dark:bg-gray-900 dark:text-gray-300">
                                                <a title="{{ product.name }}"
                                                   href="{{ path('app_market_place_product', {slug: product.slug, tab: 'about'}) }}"
                                                   class="text-white text-sm hover:text-neutral-100">{{ 'store.product.details'|trans }}
                                                </a>
                                            </span>
                                            {% if product.reduce.unit is not empty %}
                                                <span class="bg-red-700 bg-opacity-75 text-white text-sm font-normal me-2 px-2.5 py-1 rounded-xl dark:bg-red-900 dark:text-white">{{ product.reduce.value }}{{ product.reduce.unit|convert(store.currency|currency) }} {{ 'store.product.off'|trans }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="flex justify-between items-start pb-2">
                                    <a href="{{ path('app_market_place_child_category', {
                                        parent: product.parent_category_slug,
                                        child:  product.category_slug
                                    }) }}"
                                       title="{{ product.category_name }}"
                                       class="hover:underline truncate block w-auto mt-3 mr-3 text-gray-500">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="inline-flex w-4 h-4 mx-1 text-green-400">
                                            <path fill-rule="evenodd" d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
                                        </svg>{{ product.category_name }}
                                    </a>
                                </div>
                                <a title="{{ product.name }}" class="mt-3"
                                   href="{{ path('app_market_place_product', {slug: product.slug, tab: 'about'}) }}">
                                    <h5 class="mx-2 text-md-start font-bold hover:text-gray-700 tracking-tight truncate text-gray-500 dark:text-white">
                                        {{ product.short_name }}
                                    </h5>
                                </a>
                                <div class="flex justify-between items-center">
                                    <div class="ml-2 mt-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="inline-flex w-4 h-4 mx-1">
                                            <path d="M8.75 2.75a.75.75 0 0 0-1.5 0v5.69L5.03 6.22a.75.75 0 0 0-1.06 1.06l3.5 3.5a.75.75 0 0 0 1.06 0l3.5-3.5a.75.75 0 0 0-1.06-1.06L8.75 8.44V2.75Z" />
                                            <path d="M3.5 9.75a.75.75 0 0 0-1.5 0v1.5A2.75 2.75 0 0 0 4.75 14h6.5A2.75 2.75 0 0 0 14 11.25v-1.5a.75.75 0 0 0-1.5 0v1.5c0 .69-.56 1.25-1.25 1.25h-6.5c-.69 0-1.25-.56-1.25-1.25v-1.5Z" />
                                        </svg>0<small class="fs-6 ms-1">Sales</small>
                                    </div>
                                    <div class="mr-3 mt-5">
                                        {% set price = discount(product.cost, product.reduce.value, product.fee, 1, product.reduce.unit) %}
                                        <span class="text-2xl font-medium {% if product.reduce.unit is not empty %}text-rose-500{% else %}text-gray-900{% endif %} dark:text-white">{{ price }}<small>{{ store.currency|currency }}</small></span>
                                    </div>
                                </div>
                                <div class="flex items-center border-t mt-3 pt-1 bg-gray-50 bg-opacity-75 pb-2 px-3 justify-between">
                                    <div>
                                        <a href="{{ path('app_market_place_product', {slug: product.slug, tab: 'about'}) }}"
                                           class="hover:text-red-700 font-medium  hover:text-decoration-underline">{{ 'store.product.details'|trans }}
                                            <svg class="w-[16px] h-[16px] inline ml-3 hover:scale-110"
                                                 viewBox="0 0 512 512"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z"></path>
                                            </svg>
                                        </a>
                                    </div>
                                    <div>
                                        <form class="add-wishlist" name="wishlist"
                                              action="{{ path('app_market_place_add_wishlist', {slug: product.slug}) }}">
                                            <input name="store" type="hidden"
                                                   value="{{ store.id }}">
                                            {% include 'market_place/wishlist.html.twig' with {'extra': null} %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'layouts/toast/success.html.twig' %}
    {% include 'layouts/toast/danger.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('message-js') }}
    <script type="text/javascript">
        const container = document.getElementById('date-end');
        if (container) {
            const dateEnd = container.getAttribute('data-end');

            const getTimeRemaining = (end) => {
                const total = Date.parse(end) - Date.parse(new Date());
                const seconds = Math.floor((total / 1000) % 60);
                const minutes = Math.floor((total / 1000 / 60) % 60);
                const hours = Math.floor((total / (1000 * 60 * 60)) % 24);
                const days = Math.floor(total / (1000 * 60 * 60 * 24));

                return {
                    total,
                    days,
                    hours,
                    minutes,
                    seconds
                };
            }

            const initializeClock = (container, end) => {
                const timeInterval = setInterval(() => {
                    const t = getTimeRemaining(end);
                    const days = container.querySelector('.days');
                    const hours = container.querySelector('.hours');
                    const minutes = container.querySelector('.minutes');
                    const seconds = container.querySelector('.seconds');
                    days.innerHTML = t.days;
                    hours.innerHTML = t.hours;
                    minutes.innerHTML = t.minutes;
                    seconds.innerHTML = t.seconds;
                    if (t.total <= 0) {
                        clearInterval(timeInterval);
                    }
                }, 1000);
            }

            initializeClock(container, dateEnd);
        }
    </script>
{% endblock %}
