{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.users'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    <div class="relative p-4 md:p-0 bg-gray-50 w-full rounded-b-lg rounded-t-lg md:flex md:w-auto md:order-1 mb-2 dark:bg-gray-500">
        <span class="lg:block xs:hidden">
            {% include 'dashboard/content/market_place/navbar/search.html.twig' %}
        </span>
        <div class="absolute end-0 mt-5 me-4 text-sm text-gray-600 dark:text-gray-100">{{ 'title.dashboard.users'|trans }}: {{ rows }}</div>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-500 uppercase bg-info-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">{{ 'table.header.name'|trans }}</th>
                <th scope="col" class="px-6 py-3">{{ 'table.header.role'|trans }}</th>
                <th scope="col" class="px-6 py-3 text-center">{{ 'table.header.user.created_at'|trans }}</th>
                <th scope="col" class="px-6 py-3 text-center">{{ 'table.header.user.updated_at'|trans }}</th>
                <th scope="col" class="px-6 py-3 text-center">{{ 'table.header.handle'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="{{ user.deleted_at is null ? 'bg-white dark:bg-gray-800' : 'bg-red-200 dark:bg-red-100 dark:text-black text-black' }} border-b dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row"
                        class="px-6 py-3 font-medium text-gray-900 {{ user.deleted_at is null ? 'dark:text-white' : 'dark:text-black' }}">
                        {% set _role = user.roles|join(', ')|replace({'_':''})|replace({'ROLE':''})|lower %}
                        {% set _path = 'app_dashboard_details_user' %}
                        {% if _role == 'customer' %}
                            {% set _path = 'app_dashboard_customer_user' %}
                        {% endif %}
                        <a class="dark:text-gray-400"
                           data-twe-toggle="tooltip"
                           title="{{ _role|capitalize }}"
                           href="{{ path(_path, {id: user.id, tab: 'summary'}) }}">
                            {% if user.member_first_name %}
                                {{ user.member_first_name }} {{ user.member_last_name }}
                            {% elseif user.customer_first_name %}
                                {{ user.customer_first_name }} {{ user.customer_last_name }}
                            {% endif %}
                        </a>
                    </th>
                    <td class="px-6 py-3">{{  _role|capitalize }}</td>
                    <td class="px-6 py-3 text-center">
                        <span data-twe-toggle="tooltip"
                              title="{{ user.created_at|date(datetime_format) }}"
                              class="text-gray-600 {{ user.deleted_at is null ? 'dark:text-gray-100' : 'dark:text-black' }} cursor-default">{{ user.created_at|date(date_format) }}
                        </span>
                    </td>
                    <td class="px-6 py-3 text-center">
                        <span data-twe-toggle="tooltip" title="{{ user.last_login_at|date(datetime_format) }}"
                              class="text-gray-600 {{ user.deleted_at is null ? 'dark:text-gray-100' : 'dark:text-black' }} cursor-default">
                            {{ user.last_login_at|date(date_format) }}
                        </span>
                    </td>
                    <td class="px-6 py-3 text-center">
                        <a role="button" class="border rounded ps-1.5 pt-1.5 pe-1 pb-1 hover:shadow-md {{ user.deleted_at is null ? 'hover:bg-gray-100 dark:hover:bg-black' : 'dark:text-black' }}"
                           href="{{ path(_path, {id: user.id, tab: 'summary'}) }}">
                            <i class="fa fa-user-circle {{ user.deleted_at is null ? 'dark:text-white' : 'dark:text-black' }}"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4"
                        class="px-6 py-3 text-center text-gray-700 bg-gray-100">{{ 'table.footer.not_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}