{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.users'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-500 uppercase bg-info-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">{{ 'table.header.name'|trans }}</th>
                <th scope="col" class="px-6 py-3 text-center">{{ 'table.header.user.created_at'|trans }}</th>
                <th scope="col" class="px-6 py-3 text-center">{{ 'table.header.user.updated_at'|trans }}</th>
                <th scope="col" class="px-6 py-3 text-center">{{ 'table.header.handle'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% if user.roles[0] != 'ROLE_CUSTOMER' %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row"
                            class="px-6 py-3 w-2/5 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <a class="link"
                               href="{{ path('app_dashboard_details_user', {id: user.id, tab: 'summary'}) }}">
                                {{ user.userDetails.firstName }} {{ user.userDetails.lastName }}
                            </a>
                        </th>
                        <td class="px-6 py-3 text-center">
                            <span data-twe-toggle="tooltip"
                                  title="{{ user.createdAt|date(datetime_format) }}"
                                  class="text-muted">{{ user.createdAt|date(date_format) }}</span>
                        </td>
                        <td class="px-6 py-3 text-center">
                            <span class="text-muted">{{ user.userDetails.updatedAt|date(datetime_format) }}</span>
                        </td>
                        <td class="px-6 py-3 text-center">
                            <a
                                    data-twe-toggle="tooltip"
                                    title="{{ 'tooltip.show.more'|trans }} {{ user.userDetails.firstName }}"
                                    class="border rounded p-1.5 hover:shadow-md hover:bg-gray-100"
                                    href="{{ path('app_dashboard_details_user', {id: user.id, tab: 'summary'}) }}">
                                <i class="fa fa-user-circle"></i>
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="4"
                        class="px-6 py-3 text-center text-gray-700 bg-gray-100">{{ 'table.footer.not_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}