{% extends 'dashboard/index.html.twig' %}

{% set _message = app.flashes('success') %}
{% set _title_extend = form.vars.data.id ? 'title.dashboard.change_blog'|trans : 'title.dashboard.create_blog'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}
    {{ _title_extend }}
    {% if app.request.get('id') %}
        <a type="button" target="_blank" class="btn btn-sm btn-outline-dark float-end mt-1 preview"
           href="{{ path('app_blog_view', {slug: form.vars.data.slug}) }}">{{ 'user.entry.preview'|trans }}</a>
    {% endif %}
{% endblock %}
{% block content %}
    {{ form_start(form, {attr: {class: 'd-tech-form', novalidate: 'novalidate'}}) }}
    {% if form_errors(form) %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    <div class="form-group mb-3">
        {% set title_error = form.title.vars.errors|length or error ? 'form-control error' : 'form-control' %}
        {{ form_label(form.title, 'label.form.title', {label_attr: {class: 'form-label'}}) }} <span class="text-danger">*</span>
        {{ form_widget(form.title, {attr: {class: title_error, placeholder: 'label.form.title'}}) }}
        <small class="text-danger">{{ error ? error : form_errors(form.title) }}</small>
    </div>
    <div class="form-group mb-3">
        {% set short_content_error = form.short_content.vars.errors|length ? 'form-control error' : 'form-control' %}
        {{ form_label(form.short_content, 'label.form.short_content', {label_attr: {class: 'form-label'}}) }}
        {{ form_widget(form.short_content, {attr: {class: short_content_error, rows: 3, placeholder: 'label.form.short_content'}}) }}
        <small class="text-danger">{{ form_errors(form.short_content) }}</small>
    </div>
    {% include 'dashboard/content/form/category.html.twig' with {'categories': categories, 'collection': form.vars.data.entryCategories} %}
    <div class="form-group mb-3">
        {% set content_error = form.content.vars.errors|length ? 'form-control error' : 'form-control' %}
        {{ form_label(form.content, 'label.form.content', {label_attr: {class: 'form-label'}}) }} <span class="text-danger">*</span>
        {{ form_widget(form.content, {attr: {class: content_error, rows: 6, placeholder: 'label.form.content'}}) }}
        <small class="text-danger">{{ form_errors(form.content) }}</small>
    </div>
    <div class="form-group mb-3">
        {% set status_error = form.status.vars.errors|length ? 'form-select error' : 'form-select' %}
        {{ form_label(form.status, 'label.form.status', {label_attr: {class: 'form-label'}}) }}
        {{ form_widget(form.status, {attr: {class: status_error, disabled: app.request.get('id') ? false : true}}) }}
        <small class="text-danger">{{ form_errors(form.status) }}</small>
    </div>
    {% if app.request.get('id') %}
        {% include 'dashboard/content/form/attachment.html.twig' with {
            'attachments': entry.entryAttachments,
            'storage': 'entry',
            'data_url': path('app_dashboard_blog_attach', {id: app.request.get('id')}),
            'set_use': path('app_dashboard_blog_attach_set_use', {entry: entry.id}),
            'remove': path('app_dashboard_blog_attach_remove', {entry: entry.id}),
            'id': entry.entryDetails.id,
            'filter': 'entry_preview'
        } %}
    {% endif %}
    <input type="hidden" name="flash" value="{{ _message[0]|default([]|json_encode) }}">
    <div class="form-group text-center mx-3">
        {{ form_widget(form.next, { label: app.request.get('id') ? 'form.action.update' : 'form.action.next'}) }}
        <a type="button" href="{{ url('app_dashboard_blog') }}"
           class="btn btn-secondary rounded-1 shadow-sm">{{ 'form.action.back'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript">
        CKEDITOR.replace('entry_details_content', {
            extraPlugins: 'editorplaceholder',
            removePlugins: 'simage',
            editorplaceholder: '{{ 'label.form.content'|trans }}'
        });
    </script>
{% endblock %}


