{% set _route = app.request.get('_route') %}
<div class="navbar-area">
    <div class="tech-responsive-nav">
        <div class="container">
            <div class="tech-responsive-menu">
                <div class="tech-logo">
                    <a href="{{ path('app_index') }}">
                        <img src="{{ asset('/img/logo-black.png') }}" class="black-logo">
                        <img src="{{ asset('/img/logo-white.png') }}" class="white-logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="tech-nav">
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container">
                <a class="navbar-brand" href="{{ path('app_index') }}">
                    <img src="{{ asset('/img/logo-black.png') }}" class="black-logo"
                         alt="{{ 'site.title'|trans }} - {{ 'text.home.header'|trans }}">
                    <img src="{{ asset('/img/logo-white.png') }}" class="white-logo"
                         alt="{{ 'site.title'|trans }} - {{ 'text.home.header'|trans }}">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tech-navbar"
                        aria-controls="tech-navbar" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link {{ _route == 'app_index'? 'active': '' }}"
                               href="{{ path('app_index') }}">{{ 'title.home'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ _route == 'about'? 'active': '' }}"
                               href="{{ path('about') }}">{{ 'title.about_us'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ _route == 'faq'? 'active': '' }}"
                               href="{{ path('faq') }}">{{ 'title.questions'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ _route == 'service'? 'active': '' }}"
                               href="{{ path('service') }}">{{ 'title.service'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ _route == 'contact'? 'active': '' }}"
                               href="{{ path('contact') }}">{{ 'title.contact_us'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ _route == 'contact'? 'faq': '' }}"
                               href="{{ path('faq') }}">{{ 'title.questions'|trans }}</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-0">
                        <li class="nav-item">
                            <button class="btn btn-primary nav-link dropdown-toggle mr-auto" id="userMenu" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                {% if app.user and app.user.userDetails.attach|length %}
                                    {% for picture in app.user.userDetails.attach|slice(0, 1) %}
                                        {% set _picture = 'storage/user/picture/' ~ app.user.id ~ '/' ~ picture.name %}
                                        <img class="rounded-circle mr-2"
                                             src="{{ asset(_picture) | imagine_filter('user_thumb') }}" width="18"
                                             height="18">
                                    {% else %}
                                        <i class="bi bi-person-circle mx-2 text-lg text"></i>
                                    {% endfor %}
                                {% else %}
                                    <i class="bi bi-person-circle mx-2 text-lg text"></i>
                                {% endif %}
                                {% if not app.user %}
                                    {{ 'title.user.area'|trans }}
                                {% else %}
                                    {{ app.user.userDetails.firstName }} {{ app.user.userDetails.lastName }}
                                {% endif %}
                            </button>
                            <ul class="dropdown-menu">
                                {% if not app.user %}
                                    <li class="nav-item">
                                        <a href="{{ path('app_login') }}" class="nav-link">
                                            <i class="bi bi-caret-right-fill"></i>
                                            {{ 'title.user.login'|trans }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('app_register') }}" class="nav-link">
                                            <i class="bi bi-caret-right-fill"></i>
                                            {{ 'title.user.register'|trans }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a href="{{ path('app_dashboard') }}" class="nav-link">
                                            <i class="bi bi-caret-right-fill"></i>
                                            {{ 'text.dashboard'|trans }}
                                        </a>
                                        <a href="{{ path('app_profile') }}" class="nav-link">
                                            <i class="bi bi-caret-right-fill"></i>
                                            {{ 'text.profile'|trans }}
                                        </a>
                                        <a href="{{ path('app_logout') }}" class="nav-link">
                                            <i class="bi bi-caret-right-fill"></i>
                                            {{ 'title.user.logoff'|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>