{% set _route = app.request.get('_route') %}
<!--suppress ALL -->
{#    <div class="tech-responsive-nav visually-hidden"> #}
{#        <div class="container"> #}
{#            <div class="tech-responsive-menu"> #}
{#                <div class="tech-logo"> #}
{#                    <a href="{{ path('app_index') }}"> #}
{#                        <img src="{{ asset('/img/rgbfly.png') }}" width="130" class="black-logo shadow-none border-0" #}
{#                             alt="{{ 'site.title'|trans }}"> #}
{#                        <img src="{{ asset('/img/rgbfly.png') }}" width="130" class="white-logo shadow-none border-0" #}
{#                             alt="{{ 'site.title'|trans }}"> #}
{#                    </a> #}
{#                </div> #}
{#            </div> #}
{#        </div> #}
{#    </div> #}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand bg-light rounded-5 bg-opacity-25" href="{{ path('app_index') }}">
            <img src="{{ asset('/img/rgbfly.png') }}" width="90" class="black-logo"
                 alt="{{ 'site.title'|trans }} - {{ 'text.home.header'|trans }}">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#tech-navbar"
                aria-controls="tech-navbar" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="tech-navbar">
            <ul class="navbar-nav w-100 nav-justified">
                <li class="nav-item">
                    <a class="nav-link {{ _route == 'app_index'? 'active': '' }}"
                       href="{{ path('app_index') }}">{{ 'title.home'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ _route == 'about'? 'active': '' }}"
                       href="{{ path('about') }}">{{ 'title.about_us'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ _route == 'faq'? 'active': '' }}"
                       href="{{ path('faq') }}">{{ 'title.questions'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ _route == 'service'? 'active': '' }}"
                       href="{{ path('service') }}">{{ 'title.service'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ _route == 'contact'? 'active': '' }}"
                       href="{{ path('contact') }}">{{ 'title.contact_us'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ _route == 'app_market_place_index'? 'active': '' }}"
                       href="{{ path('app_market_place_index') }}">{{ 'title.market_places'|trans }}</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav">
            {% if 'market' in app.current_route|split('_') %}
                <li class="nav-item">
                    <button href="" class="btn btn-dark px-3" role="button">
                        <i class="bi bi-heart"></i>
                    </button>
                </li>
                <li class="nav-item">
                    <button href="#shopping-cart" class="btn btn-dark px-3" data-bs-toggle="offcanvas" role="button"
                       aria-controls="shopping-cart">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </li>
            {% endif %}
            <li class="nav-item dropdown">
                <button class="btn btn-dark text-white dropdown-toggle px-3" id="useMenu" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    {% if app.user and app.user.userDetails.attach|length %}
                        {% for picture in app.user.userDetails.attach|slice(0, 1) %}
                            {% set _picture = 'storage/user/picture/' ~ app.user.id ~ '/' ~ picture.name %}
                            <img class="img-fluid rounded-2"
                                 src="{{ asset(_picture) | imagine_filter('user_thumb') }}" width="40"
                                 height="40" alt="...">
                        {% else %}
                            <i class="fa fa-user"></i>
                        {% endfor %}
                    {% else %}
                        <i class="fa fa-user"></i>
                    {% endif %}
                </button>
                <ul class="dropdown-menu border-0 shadow rounded-1" aria-labelledby="useMenu">
                    {% if not app.user %}
                        <li>
                            <a href="{{ path('app_login') }}" class="dropdown-item d-flex">
                                <i class="bi bi-arrow-right-short me-1"></i>{{ 'title.user.login'|trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_register') }}" class="dropdown-item d-flex">
                                <i class="bi bi-arrow-right-short me-1"></i>{{ 'title.user.register'|trans }}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <h6 class="text-center">{{ app.user.userDetails.firstName }} {{ app.user.userDetails.lastName }}</h6>
                        </li>
                        <li>
                            <a href="{{ path('app_dashboard') }}" class="dropdown-item d-flex">
                                <i class="bi bi-arrow-right-short me-1"></i>
                                {{ 'text.dashboard'|trans }}
                            </a>
                            <a href="{{ path('app_profile') }}" class="dropdown-item d-flex">
                                <i class="bi bi-arrow-right-short me-1"></i>
                                {{ 'text.profile'|trans }}
                            </a>
                            <a href="{{ path('app_logout') }}" class="dropdown-item d-flex">
                                <i class="bi bi-arrow-right-short me-1"></i>
                                {{ 'title.user.logoff'|trans }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
</nav>