{% set _route = app.request.get('_route') %}
<nav class="navbar navbar-expand-lg bg-transparent navbar-dark p-3 centerOnMobile">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_index') }}">
            <img src="{{ asset('/img/rgbfly.png') }}" width="90" class="black-logo"
                 alt="{{ 'site.title'|trans }} - {{ 'text.home.header'|trans }}">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="...">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase {{ _route == 'about'? 'active': '' }}"
                       href="{{ path('about') }}">{{ 'title.about_us'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase {{ _route == 'faq'? 'active': '' }}"
                       href="{{ path('faq') }}">{{ 'title.questions'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase {{ _route == 'service'? 'active': '' }}"
                       href="{{ path('service') }}">{{ 'title.service'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase {{ _route == 'contact'? 'active': '' }}"
                       href="{{ path('contact') }}">{{ 'title.contact_us'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase {{ _route == 'app_market_place_index'? 'active': '' }}"
                       href="{{ path('app_market_place_index') }}">{{ 'title.market_places'|trans }}</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <label>
                        <select name="locale" class="form-select border-danger bg-danger text-white focus-ring-danger"
                                disabled>
                            <option value="{{ app.request.locale }}">{{ 'English'|upper }}</option>
                        </select>
                    </label>
                </li>
                <li class="nav-item">
                    <button class="nav-link mx-2 text-uppercase position-relative float-end" href="#shopping-cart"
                       data-bs-toggle="offcanvas"
                       type="button"
                       aria-controls="shopping-cart">
                        <i class="fa fa-shopping-cart me-1"></i> {{ 'market.product.cart'|trans }}
                        <span class="position-absolute top-0 start-100 mt-2 translate-middle badge rounded-pill fw-light bg-warning">
                            {{ app.session.get('quantity')|default(0) }}
                            <span class="visually-hidden">{{ app.session.get('quantity')|default(0) }}</span>
                        </span>
                    </button>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link mx-2 text-uppercase dropdown-toggle"
                       id="useMenu"
                       data-bs-toggle="dropdown"
                       aria-expanded="false" href="#">
                        <i class="fa fa-user-o me-1"></i> {{ 'title.account'|trans }}
                    </a>
                    <ul class="dropdown-menu border-0 shadow rounded-1"
                        aria-labelledby="useMenu">
                        {% if not app.user %}
                            <li>
                                <a href="{{ path('app_login') }}" class="dropdown-item">
                                    <i class="bi bi-arrow-right-short me-1"></i>{{ 'title.user.login'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_register') }}" class="dropdown-item">
                                    <i class="bi bi-arrow-right-short me-1"></i>{{ 'title.user.register'|trans }}
                                </a>
                            </li>
                        {% else %}
                            {% if 'ROLE_USER' in app.user.roles %}
                                <li>
                                    <h6 class="text-center">{{ app.user.userDetails.firstName }} {{ app.user.userDetails.lastName }}</h6>
                                </li>
                                <li>
                                    <a href="{{ path('app_dashboard') }}" class="dropdown-item">
                                        <i class="bi bi-arrow-right-short me-1"></i>
                                        {{ 'text.dashboard'|trans }}
                                    </a>
                                    <a href="{{ path('app_profile') }}" class="dropdown-item">
                                        <i class="bi bi-arrow-right-short me-1"></i>
                                        {{ 'text.profile'|trans }}
                                    </a>
                                    <a href="{{ path('app_logout') }}" class="dropdown-item">
                                        <i class="bi bi-arrow-right-short me-1"></i>
                                        {{ 'title.user.logoff'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if 'ROLE_CUSTOMER' in app.user.roles %}
                                <li>
                                    <a href="{{ path('app_cabinet') }}" class="dropdown-item">
                                        <i class="bi bi-arrow-right-short me-1"></i>
                                        {{ 'title.customer.cabinet'|trans }}
                                    </a>
                                    <a href="{{ path('app_logout') }}" class="dropdown-item">
                                        <i class="bi bi-arrow-right-short me-1"></i>
                                        {{ 'title.user.logoff'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>