{% extends 'dashboard/index.html.twig' %}

{% if form.vars.data.id is null %}
    {% set _title_extend = 'market.attribute.create'|trans %}
{% else %}
    {% set _title_extend = form.vars.data.name %}
{% endif %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    <hr>
    {% set _message = app.flashes('success') %}

    {{ form_start(form, {attr: {class: 'd-tech-form', novalidate: 'novalidate'}}) }}
    <div class="row g-3">
        <div class="col-md-6">
            <div class="form-check form-switch">
                <input type="checkbox" id="root_size" name="attribute_value_size" class="form-check-input" role="switch"
                       value="size">
                {{ form_label(form.size, 'Size', {label_attr: {class: 'form-check-label', for: 'root_size'}}) }}
            </div>
            <hr>
            {% for key, field in form.size.children %}
                <div class="form-check form-switch ms-4">
                    {{ form_widget(field, {attr: {class: 'form-check-input', role: 'switch'}}) }}
                    {{ form_label(field, field.vars.label, {label_attr: {class: 'form-check-label'}}) }}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <div class="form-group mb-3">
                <div class="form-check form-switch">
                    <input type="checkbox" id="root_color" name="attribute_value_color" class="form-check-input"
                           role="switch" value="color">
                    {{ form_label(form.color, 'Color', {label_attr: {class: 'form-check-label', for: 'root_color'}}) }}
                </div>
                <hr>
                {% for key, field in form.color.children %}
                    <div class="form-check form-switch ms-4">
                        {{ form_widget(field, {attr: {class: 'form-check-input', role: 'switch'}}) }}
                        {{ form_label(field, field.vars.label, {label_attr: {class: 'form-check-label'}}) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>.
    <input type="hidden" name="flash" value="{{ _message[0]|default([]|json_encode) }}">
    <div class="form-group text-center my-4">
        {{ form_widget(form.save, { label: form.vars.data.id ? 'form.action.update' : 'form.action.save'}) }}
        <a type="button"
           href="{{ url('app_dashboard_market_place_market_attribute', {market: app.request.get('market')}) }}"
           class="btn btn-secondary shadow-sm">{{ 'form.action.back'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock %}