{% for order in orders %}
    <a href="{{ path('app_market_place_market', {slug: order.market.slug}) }}"
       class="lead ms-3">{{ order.market.name }}</a>
    <hr class="my-1">
    <ul class="list-group list-group-lg list-group-flush">
        {% for products in order.products %}
            {% for product in products %}
                {% if product.order_id == order.id %}
                    <li class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <a class="" href="{{ path('app_market_place_product', {slug: product.slug}) }}">
                                    {% if product.attach %}
                                        {% set _picture = 'storage/product/picture/' ~ product.id ~ '/' ~  product.attach %}
                                        <img src="{{ asset(_picture)|imagine_filter('product_thumb') }}"
                                             class="img-fluid" alt="{{ product.name }}">
                                    {% else %}
                                        <img class="shadow-none rounded-1 position-relative mt-0 img-fluid"
                                             src="{{ asset('http://placehold.it/100x80') }}" alt="{{ product.name }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-8">
                                <p class="fs-6 fw-bold mb-1 text-truncate">
                                    <a title="{{ product.name }}"
                                       href="{{ path('app_market_place_product', {slug: product.slug}) }}">{{ product.short_name }}</a>
                                    <br>
                                    {% if product.percent %}
                                        {% set percent = product.percent %}
                                        {% set cost = product.cost %}
                                        {% set discount_cost = (cost - ((cost * product.quantity * percent) - percent)/100) %}
                                        <small class="pe-1 fw-lighter text-danger">{{ product.percent }}%</small>
                                        <span class="fw-light text-success">{{ (discount_cost + product.fee)|amount_format }}<small>{{ order.market.currency|currency }}</small>
                                        </span>
                                        <span class="d-block text-decoration-line-through fw-light text-secondary">
                                            {{ (product.cost + product.fee)|amount_format }}<small>{{ order.market.currency|currency }}</small>
                                        </span>
                                    {% else %}
                                        <span class="text-muted">{{ (product.cost + product.fee)|amount_format }}<small>{{ order.market.currency|currency }}</small></span>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
    <div class="justify-between lh-base fs-6 fw-bold bg-light py-3 ps-3 mb-3">
        <strong>{{ 'order.subtotal'|trans }}</strong>
        <strong class="float-end pe-3">{{ order.total|amount_format }}</strong>
    </div>
{% else %}
    <div class="text-center visually-hidden">
        <img class="block mx-auto mb-5 border-0 h-50 w-50 shadow-none" src="{{ asset('img/404.png') }}"
             alt="{{ 'market.product.cart.empty'|trans }}">
        <p class="leading-loose">{{ 'market.product.cart.empty'|trans }}</p>
    </div>
{% endfor %}
{% if orders|length != 0 %}
    <div class="flex justify-center items-center mt-4 mb-6">
        <a href="{{ path('app_market_place_order_summary') }}"
           class="inline-block rounded bg-info px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-gray-200 hover:text-white shadow-info-3 transition duration-150 ease-in-out hover:bg-info-accent-300 hover:shadow-info-2 focus:bg-info-accent-300 focus:shadow-info-2 focus:outline-none focus:ring-0 active:bg-info-600 active:shadow-info-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">{{ 'order.view'|trans }}</a>
    </div>
{% endif %}