{% for order in orders %}
    <h5 class="mb-1 text-xl font-oswald truncate">
        <a href="{{ path('app_market_place_market', {slug: order.store.slug}) }}"
           class="text-red-800">{{ order.store.name }}</a>
    </h5>
    {% for products in order.products %}
        <div class="mb-4 flex flex-col w-full">
            {% for product in products %}
                {% if product.order_id == order.id %}
                    <div class="flex justify-start items-center h-auto mb-1.5">
                        <div class="mx-1 w-1/3">
                            <a class="mb-2" href="{{ path('app_market_place_product', {slug: product.slug, tab: 'about'}) }}">
                                {% if product.attach %}
                                    {% set _picture = 'storage/product/' ~ product.id ~ '/' ~  product.attach %}
                                    <img src="{{ asset(_picture)|imagine_filter('product_thumb') }}" class="rounded-md"
                                         alt="{{ product.name }}">
                                {% else %}
                                    <div class="flex justify-center items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             class="fill-gray-400 dark:fill-white text-center"
                                             viewBox="0 0 512 512" height="80">
                                            <path d="M448 80c8.8 0 16 7.2 16 16V415.8l-5-6.5-136-176c-4.5-5.9-11.6-9.3-19-9.3s-14.4 3.4-19 9.3L202 340.7l-30.5-42.7C167 291.7 159.8 288 152 288s-15 3.7-19.5 10.1l-80 112L48 416.3l0-.3V96c0-8.8 7.2-16 16-16H448zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm80 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"></path>
                                        </svg>
                                    </div>
                                {% endif %}
                            </a>
                        </div>
                        <div class="w-2/3">
                            <div class="ml-1 mb-1 inline-block align-top">
                                <a title="{{ product.name }}"
                                   class="truncate font-bold w-48 inline-block align-top text-gray-900"
                                   href="{{ path('app_market_place_product', {slug: product.slug, tab: 'about'}) }}">{{ product.short_name }}</a>
                                {% if product.percent|round %}
                                    {% set discount = product.percent %}
                                    {% set cost = product.cost + product.fee %}
                                    <span class="font-light inline-block text-success">
                                        {{ (cost - ((cost * discount) - discount)/100)|amount_format }}<small>{{ order.store.currency|currency }}</small>
                                        <span class="ml-2 text-xs text-red-500">{{ product.percent }}%{{ 'store.product.off'|trans }}</span>
                                    </span>
                                    <span class="block line-through font-light text-gray-300">
                                        {{ (product.cost + product.fee)|amount_format }}<small>{{ order.store.currency|currency }}</small>
                                    </span>
                                {% else %}
                                    <div class="text-gray-500 text-lg">
                                        {{ (product.cost + product.fee)|amount_format }}
                                        <small>{{ order.store.currency|currency }}</small>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    <div class="justify-between mb-3 bg-gray-100 rounded-lg p-2">
        <strong class="text-lg">{{ 'order.subtotal'|trans }}</strong>
        <strong class="text-lg float-end pr-3">{{ order.total|amount_format }}
            <small>{{ order.store.currency|currency }}</small></strong>
    </div>
{% else %}
    <div class="text-center">
        <img class="block mx-auto mb-5" src="{{ asset('img/404.png') }}"
             alt="{{ 'store.product.cart.empty'|trans }}">
        <p class="leading-loose">{{ 'store.product.cart.empty'|trans }}</p>
    </div>
{% endfor %}
{% if orders|length != 0 %}
    <div class="flex justify-center items-center mt-4 mb-6">
        <a href="{{ path('app_market_place_order_summary') }}"
           class="inline-block rounded bg-info px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-gray-200 hover:text-white shadow-info-3 transition duration-150 ease-in-out hover:bg-info-accent-300 hover:shadow-info-2 focus:bg-info-accent-300 focus:shadow-info-2 focus:outline-none focus:ring-0 active:bg-info-600 active:shadow-info-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">{{ 'order.view'|trans }}</a>
    </div>
{% endif %}