{% extends 'base.html.twig' %}
{% block title %}{{ 'title.general.market.name'|trans }}{% endblock %}
{% block body %}
    {% block content_body %}
        <h2 class="text-2xl pb-4 font-extrabold text-primary-700 dark:text-white">{{ 'title.general.market.name'|trans }}</h2>
        <div class="grid w-full gap-3 lg:grid-cols-3 md:grid-cols-2">
            {% for product in products %}
                <div class="min-h-full">
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <div class="lg:max-w-2xl relative overflow-hidden bg-cover bg-no-repeat">
                            {% if product.attach_name %}
                                {% set _picture = 'storage/product/' ~ product.id ~ '/' ~ product.attach_name %}
                                <img src="{{ asset(_picture)|imagine_filter('product_preview') }}"
                                     class="object-cover w-full transition duration-300 ease-in-out hover:scale-125 hover:inset-1/2 rounded-t-lg"
                                     alt="{{ product.name }}">
                            {% else %}
                                <img src="{{ asset('img/300x200.png') }}"
                                     class="object-cover w-full transition duration-300 ease-in-out hover:scale-125 hover:inset-1/2 rounded-t-lg"
                                     alt="{{ product.name }}">
                            {% endif %}
                            <div class="absolute top-5 w-full">
                                <div class="flex justify-between">
                                                <span class="ml-2 bg-gray-600 bg-opacity-90 text-gray-500 text-md shadow-xl font-medium px-2.5 py-0.5 rounded-md dark:bg-gray-900 dark:text-gray-300">
                                                    <a title="{{ product.name }}"
                                                       href="{{ path('app_market_place_product', {slug: product.slug, tab: 'about'}) }}"
                                                       class="text-white hover:text-neutral-100 hover:animate-pulse">{{ 'store.product.details'|trans }}
                                                    </a>
                                                </span>
                                    {% if product.discount %}
                                        <span class="bg-red-700 bg-opacity-75 text-white text-sm font-normal me-2 px-2.5 py-1 rounded-xl dark:bg-red-900 dark:text-white">{{ product.discount }}% {{ 'market.product.off'|trans }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center py-4 justify-between">
                            <div class="ml-3">
                                <form class="shopping-cart" method="post"
                                      action="{{ path('app_market_place_product_order', {product: product.slug}) }}">
                                    <button class="text-white bg-gray-800 shadow-md hover:bg-surface-dark focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-md text-sm px-4 py-1.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                            data-slug="{{ product.slug }}" type="submit"
                                            {% if product.quantity == 0 or (app.user and 'ROLE_USER' in app.user.roles or app.user and  'ROLE_ADMIN' in app.user.roles) %}disabled{% endif %}>
                                        <i class="fa fa-shopping-cart mt-1 me-2"></i>{{ 'market.product.add'|trans }}
                                    </button>
                                </form>
                            </div>
                            <div class="mr-3">
                                {% set percent = product.discount %}
                                {% set cost = product.cost %}
                                {% set discount_cost = (cost - ((cost * percent) - percent)/100) %}
                                <span class="text-2xl font-medium {% if percent > 0 %}text-rose-500{% else %}text-gray-900{% endif %} dark:text-white">{{ (discount_cost + product.fee)|number_format(2) }}<small>{{ product.currency|currency }}</small></span>
                            </div>
                        </div>
                        <a title="{{ product.name }}" class="mt-3"
                           href="{{ path('app_market_place_product', {slug: product.slug, tab: 'about'}) }}">
                            <h5 class="mx-3 mb-2 text-lg font-bold hover:text-gray-700 tracking-tight truncate text-gray-500 dark:text-white">
                                {{ product.short_name }}
                            </h5>
                        </a>
                        <a href="{{ path('app_market_place_parent_category', {parent:  product.parent_category_slug}) }}"
                           class="hover:underline truncate ml-2 text-gray-500 w-full block">
                            <i class="fa fa-check px-2 text-green-400"></i>{{ product.parent_category_name }}
                        </a>
                        <a href="{{ path('app_market_place_child_category', {
                            parent: product.parent_category_slug,
                            child:  product.category_slug
                        }) }}" title="{{ product.category_name }}"
                           class="hover:underline hover:w-full truncate block w-auto ml-2 mr-3 text-gray-500">
                            <i class="fa fa-check px-2 text-green-400"></i>{{ product.category_name }}
                        </a>
                        <ul class="list-none ml-2 mt-6">
                            <li class="pb-0 flex">
                                <a class="hover:text-indigo-600 text-blue-600 hover:animate-pulse"
                                   href="#">
                                    <i class="fa fa-comment mx-2 text-indigo-700"></i>{{ 'label.form.message'|trans }}
                                </a>
                            </li>
                            <li class="flex">
                                <a class="truncate inline-block w-auto mr-3 hover:w-full hover:fill-sky-600 hover:animate-pulse"
                                   href="{{ path('app_market_place_market', {slug:  product.store_slug}) }}">
                                    <svg class="w-4 h-4 mx-2 fill-red-700 inline-block"
                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M256 96c38.4 0 73.7 13.5 101.3 36.1l-32.6 32.6c-4.6 4.6-5.9 11.5-3.5 17.4s8.3 9.9 14.8 9.9H448c8.8 0 16-7.2 16-16V64c0-6.5-3.9-12.3-9.9-14.8s-12.9-1.1-17.4 3.5l-34 34C363.4 52.6 312.1 32 256 32c-10.9 0-21.5 .8-32 2.3V99.2c10.3-2.1 21-3.2 32-3.2zM132.1 154.7l32.6 32.6c4.6 4.6 11.5 5.9 17.4 3.5s9.9-8.3 9.9-14.8V64c0-8.8-7.2-16-16-16H64c-6.5 0-12.3 3.9-14.8 9.9s-1.1 12.9 3.5 17.4l34 34C52.6 148.6 32 199.9 32 256c0 10.9 .8 21.5 2.3 32H99.2c-2.1-10.3-3.2-21-3.2-32c0-38.4 13.5-73.7 36.1-101.3zM477.7 224H412.8c2.1 10.3 3.2 21 3.2 32c0 38.4-13.5 73.7-36.1 101.3l-32.6-32.6c-4.6-4.6-11.5-5.9-17.4-3.5s-9.9 8.3-9.9 14.8V448c0 8.8 7.2 16 16 16H448c6.5 0 12.3-3.9 14.8-9.9s1.1-12.9-3.5-17.4l-34-34C459.4 363.4 480 312.1 480 256c0-10.9-.8-21.5-2.3-32zM256 416c-38.4 0-73.7-13.5-101.3-36.1l32.6-32.6c4.6-4.6 5.9-11.5 3.5-17.4s-8.3-9.9-14.8-9.9H64c-8.8 0-16 7.2-16 16l0 112c0 6.5 3.9 12.3 9.9 14.8s12.9 1.1 17.4-3.5l34-34C148.6 459.4 199.9 480 256 480c10.9 0 21.5-.8 32-2.3V412.8c-10.3 2.1-21 3.2-32 3.2z"></path>
                                    </svg>{{ product.store }}
                                </a>
                            </li>
                            {% if product.store_phone %}
                                <li class="pb-0 flex">
                                    <a href="tel:{{ product.store_phone }}"
                                       class="text-green-700 hover:text-green-800 hover:animate-pulse">
                                        <i class="fa fa-phone-square text-green-700 mx-2"></i>{{ product.store_phone }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                        <div class="flex items-center border-t mt-3 pt-3 bg-gray-50 bg-opacity-75 pb-3 px-3 justify-between">
                            <div>
                                <a href="{{ path('app_market_place_product', {slug: product.slug, tab: 'about'}) }}"
                                   class="hover:text-violet-500 text-md  hover:text-decoration-underline hover:animate-pulse">{{ 'store.product.details'|trans }}
                                    <svg class="w-[16px] h-[16px] inline ml-3 fill-primary-500 hover:fill-violet-600 hover:scale-110"
                                         viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z"></path>
                                    </svg>
                                </a>
                            </div>
                            <div>
                                <form class="add-wishlist" name="wishlist"
                                      action="{{ path('app_market_place_add_wishlist', {slug: product.slug}) }}">
                                    <input name="store" type="hidden" value="{{ product.store_id }}">
                                    {% include 'market_place/wishlist.html.twig' with {'extra': null} %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}
