{% set _wishlist_bg = 'text-grey-600' %}
{% set _disabled = null %}
{% set _icon = 'fa-heart' %}
{% if customer is not null %}
    {% for wishlist in customer.storeWishlists.toArray %}
        {% if wishlist.product.id == product.id %}
            {% set _wishlist_bg = 'text-rose-500' %}
            {% set _disabled = 'disabled' %}
            {% set _icon = 'fa-heart' %}
        {% endif %}
    {% endfor %}
{% endif %}
<span class="flex"
      {% if customer is null %}
          tabindex="0" data-twe-toggle="popover" data-twe-trigger="hover focus" data-twe-ripple-init
          data-twe-title="{{ 'title.service.message'|trans }}" data-twe-content="{{ 'store.unauthorized'|trans }}" data-twe-ripple-color="light"
      {% endif %}>
    <button class="text-gray-800 dark:text-white hover:text-rose-500 hover:bg-gray-200 focus:ring-1 focus:ring-gray-100 font-medium rounded-full text-sm px-3 pt-2.5 pb-1 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800 {{ extra }}"
            {% if customer is not null %}
                data-twe-toggle="tooltip"
                title="{{ 'store.product.wishlist'|trans }}"
            {% endif %}
            role="button" type="submit"
            {{ _disabled }}
            {% if customer is null %}disabled{% endif %}>
        <i class="fa {{ _icon }} {{ _wishlist_bg }}"></i>
    </button>
</span>
