<div class="block mb-3">
    <div id="accordion-collapse" class="w-full block" data-accordion="collapse">
        <h2 id="category-heading">
        <a class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
           data-accordion-target="#category-body"
           aria-expanded="true"
           role="button"
           aria-controls="categories">{{ 'entry.form.categories'|trans }}</a>
        </h2>
    </div>
    <div class="hidden" id="category-body" aria-labelledby="category-heading">
        <div class="p-5 border rounded-b-lg border-gray-200 dark:border-gray-700 dark:bg-gray-900">
            {% for key, category in categories %}
                {% set _checked = '' %}
                {% for Category in collection %}
                    {% if category.id == Category.category.id %}
                        {% set _checked = 'checked' %}
                    {% endif %}
                {% endfor %}
                <div class="flex flex-col flex-wrap mb-3">
                    <label for="category-{{ category.id }}" class="inline-flex items-center -mb-1.5 cursor-pointer">
                    <input type="checkbox" name="category[{{ category.id }}]" class="peer sr-only" id="category-{{ category.id }}" {{ _checked }}>
                        <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                        <span class="ms-3 relative text-sm font-medium text-gray-900 dark:text-gray-300">{{ category.name }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
</div>