{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.manufacturers'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}
    {{ _title_extend }}
    <a type="button" target="_blank" class="btn btn-sm external btn-outline-secondary float-right mt-1"
       href="#">{{ 'market.manufacturer.create'|trans }}</a>
{% endblock %}

{% block content %}
    <div class="table-responsive table-sm card">
        <table class="table table-hover table-borderless mb-0">
            <thead class="bg-secondary text-white">
            <tr>
                <th class="text-center font-weight-light" scope="col">{{ 'table.header.id'|trans }}</th>
                <th class="font-weight-light" scope="col">{{ 'table.header.name'|trans }}</th>
                <th class="font-weight-light text-center" scope="col">{{ 'table.header.description'|trans }}</th>
                <th class="font-weight-light text-center" scope="col">{{ 'table.header.handle'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for manufacturer in manufacturers %}
                <tr>
                    <th scope="row" class="text-center">{{ manufacturer.id }}</th>
                    <td>
                        <a data-toggle="tooltip"
                           data-placement="right"
                           class="link"
                           title="{{ providers.name }}"
                           href="{{ path('app_dashboard_market_place_edit_product', {market: manufacturer.market.id, id: manufacturer.id}) }}">
                            {{ manufacturer.name|length > 30 ? manufacturer.name|slice(0, 30) ~ '...' : manufacturer.name }}
                        </a>
                    </td>
                    <td>{{ manufacturer.description }}</td>
                    <td class="text-center">
                        <a href="{{ path('app_dashboard_market_place_edit_product', {market: manufacturer.market.id, id: manufacturer.id}) }}"
                           class="btn btn-sm btn-outline-lightning rounded px-1 py-0">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center text-danger bg-grey">{{ 'table.footer.not_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}