{% extends 'market_place/index.html.twig' %}

{% block title %}{{ 'order.your.ordres'|trans }}{% endblock %}
{% block description %}{{ 'order.your.ordres'|trans }}{% endblock %}

{% block content_body %}
    <section class="container marketplace mt-lg-2">
        <div class="row">
            <div class="col-12 card card-body shadow">
                <h4 class="ps-2 border-start border-3 border-danger mb-3">{{ 'order.cart'|trans }}</h4>
                <div class="row g-2 my-3">
                    <div class="col-lg-9">
                        <form name="order[]" action="{{ path('app_market_place_order_update') }}" method="post">
                            <ul class="mt-2 pe-3 list-unstyled">
                                {% for order in orders %}
                                    <li class="root" data-order-id="{{ order.session }}">
                                        <div class="d-block ps-3 pb-3">{{ order.market.name }}</div>
                                        <input type="hidden" name="order[]" value="{{ order.market.id }}">
                                        <ul class="list-group list-group-flush me-2">
                                            {% for product in order.marketOrdersProducts %}
                                                <li class="list-group-item py-3 ps-0 border-top parent"
                                                    data-product-id="{{ product.id }}">
                                                    <div class="row align-items-center">
                                                        <div class="col-7 col-md-7 col-lg-7">
                                                            <div class="d-flex">
                                                                {% if product.product.marketProductAttaches.count %}
                                                                    {% set _picture = 'storage/product/picture/' ~ product.product.id ~ '/' ~ product.product.marketProductAttaches.first.attach.name %}
                                                                    <img src="{{ asset(_picture)|imagine_filter('product_preview') }}"
                                                                         class="img-fluid"
                                                                         width="170"
                                                                         alt="{{ product.product.name }}">
                                                                {% else %}
                                                                    <img src="{{ asset('http://placehold.it/100x80') }}"
                                                                         alt="{{ product.product.name }}"
                                                                         class="img-fluid">
                                                                {% endif %}
                                                                <div class="ms-3 col-lg-8 text-truncate">
                                                                    <a href="{{ path('app_market_place_product', {slug: product.product.slug}) }}"
                                                                       title="{{ product.product.name }}">
                                                                        <h5 class="mb-0 text-truncate">{{ product.product.shortName }}</h5>
                                                                    </a>
                                                                    {% if product.color %}
                                                                        <div class="pt-1">{{ product.color }}</div>
                                                                    {% endif %}
                                                                    {% if product.size %}
                                                                        <div class="pt-1">{{ product.size }}</div>
                                                                    {% endif %}
                                                                    <span>
                                                                        <small class="text-muted fst-italic">{{ 'label.form.sku'|trans }}: {{ product.product.sku }}</small>
                                                                    </span>
                                                                    <div class="mt-2 small lh-1">
                                                                        <a href="#" class="text-decoration-none drops"
                                                                           data-order="{{ order.session }}"
                                                                           data-url="{{ path('app_market_place_order_remove_product') }}"
                                                                           data-id="{{ product.id }}">
                                                                            <i class="bi bi-trash text-success"></i>
                                                                            <span class="text-muted">{{ 'market.product.remove'|trans }}</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-2 col-md-2 text-lg-end col-lg-2">
                                                            <div class="input-group input-spinner">
                                                                <label>
                                                                    <input type="number" step="1" min="1"
                                                                           max="{{ product.product.quantity }}"
                                                                           value="{{ product.quantity }}"
                                                                           name="order[quantity][]"
                                                                           class="col-sm-5 focus-ring-light border-opacity-25 border-1 border-black form-control-sm form-input"
                                                                           readonly>
                                                                </label>
                                                                <input type="hidden" name="order[product][]"
                                                                       value="{{ product.id }}">
                                                            </div>
                                                        </div>
                                                        <div class="col-3 text-lg-end text-start text-md-end col-md-3">
                                                            {% if product.product.discount %}
                                                                {% set percent = product.product.discount %}
                                                                {% set cost = product.product.cost %}
                                                                {% set percent_cost = (cost - ((cost * percent) - percent)/100) %}
                                                                <span class="badge text-bg-danger">{{ product.product.discount }}% {{ 'market.product.off'|trans }}</span>
                                                                <span class="fs-5 fw-normal">
                                                                    {{ (percent_cost * product.quantity)|round|number_format(2, '.', ' ') }}
                                                                    <small>{{ order.market.currency|currency }}</small>
                                                                </span>
                                                            {% else %}
                                                                <span class="fw-bold">{{ (product.product.cost * product.quantity)|number_format(2, '.', ' ') }}<small>{{ order.market.currency|currency }}</small></span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class="text-center">
                                        <img class="d-block mx-auto mb-5 border-0 h-50 w-50 shadow-none"
                                             src="{{ asset('img/404.png') }}"
                                             alt="{{ 'market.product.cart.empty'|trans }}">
                                        <p class="lead">{{ 'market.product.cart.empty'|trans }}</p>
                                        <div class="d-flex justify-content-center mt-4">
                                            <a href="{{ path('app_market_place_index') }}"
                                               class="btn btn-primary">{{ 'order.continue.shopping'|trans }}</a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% if orders|length %}
                                <div class="d-flex justify-content-between mt-4 pe-3">
                                    <a href="{{ path('app_market_place_index') }}"
                                       class="btn btn-primary opacity-75">{{ 'order.continue.shopping'|trans }}</a>
                                    <button type="submit" class="btn btn-dark opacity-75"
                                            disabled>{{ 'order.update.cart'|trans }}</button>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                    <div class="col-lg-3">
                        {% for order in orders %}
                            {% set item_subtotal = 0 %}
                            {% set total_fee = 0 %}
                            <div class="card card-body border-0 pb-0 ps-1">
                                <h5>{{ order.market.name }}</h5>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="mb-1">{{ 'order.summary'|trans }}</h6>
                                    <div class="card fs-6">
                                        {% set product_count = order.marketOrdersProducts.count() %}
                                        {% for product in order.marketOrdersProducts %}
                                            {% if product.product.discount %}
                                                {% set percent = product.product.discount %}
                                                {% set cost = product.product.cost %}
                                                {% set percent_cost = (cost - ((cost * percent) - percent)/100) %}
                                                {% set item_subtotal = (percent_cost * product.quantity)|round|number_format(2, '.', ' ') %}
                                            {% else %}
                                                {% set item_subtotal = (product.product.cost * product.quantity)|round|number_format(2, '.', ' ') %}
                                            {% endif %}
                                            {% set total_fee = (product.product.fee * product.quantity) / product_count %}
                                        {% endfor %}
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="me-auto">
                                                    <div>{{ 'order.item.subtotal'|trans }}</div>
                                                </div>
                                                <span>{{ item_subtotal }}
                                                    <small>{{ order.market.currency|currency }}</small>
                                                </span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="me-auto">
                                                    <div>{{ 'order.service.fee'|trans }}</div>
                                                </div>
                                                <span>{{ total_fee|number_format(2, '.', ' ') }}
                                                <small>{{ order.market.currency|currency }}</small>
                                                </span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="me-auto">
                                                    <div>{{ 'order.subtotal'|trans }}</div>
                                                </div>
                                                <span>{{ order.discount|number_format(2, '.', ' ') }}
                                                    <small>{{ order.market.currency|currency }}</small>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="d-grid mb-1 mt-4">
                                        <a href="{{ path('app_market_place_order_checkout', {order: order.number}) }}"
                                           class="btn btn-success mb-2 opacity-75 d-flex justify-content-between align-items-center"
                                           type="submit">
                                            {{ 'order.checkout'|trans }}
                                            <span class="fw-bold text-opacity-100">{{ (total_fee + order.discount)|number_format(2, '.', ' ') }}
                                    <small>{{ order.market.currency|currency }}</small>
                                </span>
                                        </a>
                                        <p class="lh-1 fs-6">
                                            <small>
                                                {{ 'market.policy'|trans({
                                                    'market_name': order.market.name,
                                                    'link_to_tou': '#',
                                                    'link_to_pp': '#'
                                                })|raw }}
                                            </small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}