{% extends 'base.html.twig' %}

{% block title %}{{ 'text.profile'|trans }}{% endblock %}

{% block body %}
    <section class="mt-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 card p-3 bg-body-secondary bg-opacity-25">
                    {{ include('profile/_form.html.twig') }}
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </section>
{% endblock %}
{% block toast %}
    {{ include ('layouts/toast.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('image') }}
{% endblock %}
