{% extends 'base.html.twig' %}

{% block title %}{{ 'title.blogs'|trans }}{% endblock %}

{% block body %}
    <div class="page-title-area blog">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h4>
                            {% if category %}
                                {{ category.name }}
                            {% else %}
                                {{ 'text.blog.desc'|trans|raw }}
                            {% endif %}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-area default bg-white">
        <div class="container">
            <div class="row">
                {% for entry in entries %}
                    <div class="blog-block col-lg-4 col-md-6 col-sm-6 mb-4">
                        <div class="card shadow-sm h-100">
                            <div class="blog-img-block">
                                {% set _picture = 'storage/entry/picture/' ~ entry.id ~ '/' ~ entry.attach %}
                                <a href="{{ path('app_blog_view', {slug: entry.slug}) }}">
                                    {% if entry.attach %}
                                    <img src="{{ asset(_picture) | imagine_filter('entry_preview') }}"
                                         class="blog-img" alt="{{ entry.title }}"/>
                                    {% else %}
                                        <img src="{{ asset('http://placehold.it/380x200') }}" class="blog-img" alt="missing image"/>
                                    {% endif %}
                                </a>
{#                                {% for key, picture in entry.entryAttachments.slice(0, 1) %}#}
{#                                    {% set _picture = 'storage/entry/picture/' ~ entry.entryDetails.id ~ '/' ~ picture.attach.name %}#}
{#                                    <a href="{{ path('app_blog_view', {slug: entry.slug}) }}">#}
{#                                        <img src="{{ asset(_picture) | imagine_filter('entry_preview') }}"#}
{#                                             class="blog-img" alt="{{ entry.entryDetails.title }}"/>#}
{#                                    </a>#}
{#                                {% else %}#}
{#                                    <img src="{{ asset('http://placehold.it/380x200') }}" class="blog-img" alt="missing image"/>#}
{#                                {% endfor %}#}
                            </div>
                            <div class="card-body p-3">
                                <a href="{{ path('app_blog_view', {slug: entry.slug}) }}">
                                    {{ entry.title }}
                                </a>
                            </div>
                            <div class="card-footer text-right">
                                <ul>
                                    <li>
                                        <a target="_blank"
                                           href="{{ asset('https://www.facebook.com/AlexanderShtyher/') }}">
                                            @{{ entry.first_name }}
                                        </a>
                                        <i class="bi bi-person-fill"></i>
                                    </li>
                                    <li>
                                        <i class="text-muted bi bi-calendar-date"></i>
                                        <small>{{ entry.created_at|date(date_format) }}</small>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="bi bi-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% else %}
                    Not found
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
