{% extends 'base.html.twig' %}

{% block title %}{{ entry.entryDetails.title }}{% endblock %}
{% block description %}{{ entry.entryDetails.shortContent }}{% endblock %}
{% block body %}
    <div class="page-title-area blog">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h4>{{ entry.entryDetails.title }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-area default bg-white">
        <div class="container">
            <h4>{{ entry.entryDetails.title }}</h4>
            <div class="entry-meta">
                <ul>
                    <li><span>Posted On:</span> <a href="#">{{ entry.createdAt|date(date_format) }}</a>
                    </li>
                    <li><span>Posted By:</span> <a
                                href="#">{{ entry.user.userDetails.firstName }} {{ entry.user.userDetails.lastName }}</a>
                    </li>
                </ul>
            </div>
            {% for key, picture in entry.entryAttachments.slice(0, 1) %}
                {% set _picture = 'storage/entry/picture/' ~ entry.entryDetails.id ~ '/' ~ picture.attach.name %}
                <div class="content-image mb-4">
                    <img src="{{ asset(_picture) | imagine_filter('entry_view') }}" class="img-responsive" alt="{{ entry.entryDetails.title }}"/>
                    <i class="d-block text-left text-muted mt-1 pl-1">{{ entry.entryDetails.shortContent }}</i>
                </div>
            {% endfor %}
            {{ entry.entryDetails.content|raw }}
        </div>
    </section>
{% endblock %}