{% extends 'dashboard/orders.html.twig' %}

{% set _title_extend = 'menu.dashboard.orders'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    <div class="table-responsive card">
        <table class="table table-hover table-borderless mb-0">
            <thead>
            <tr>
                <th class="text-bg-secondary fw-normal text-center col"
                    scope="col">{{ 'table.header.order_number'|trans }}</th>
                <th class="text-bg-secondary fw-normal text-center col"
                    scope="col">{{ 'table.header.products'|trans }}</th>
                <th class="text-bg-secondary fw-normal col" scope="col">{{ 'table.header.created_at'|trans }}</th>
                <th class="text-bg-secondary fw-normal col" scope="col">{{ 'table.header.status'|trans }}</th>
                <th class="text-bg-secondary fw-normal col" scope="col">{{ 'table.header.total'|trans }}</th>
                <th class="text-bg-secondary fw-normal col" scope="col">{{ 'table.header.discount'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td class="text-center">
                        {% if order.status == 'processing' %}
                            <span class="text-danger fw-normal">{{ order.number|upper }}</span>
                        {% else %}
                            <a href="{{ path('app_dashboard_market_place_order_details_market', {market: order.market.id, number: order.number }) }}"
                               class="fw-normal">{{ order.number|upper }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <span>{{ order.marketOrdersProducts.count }}
                            <small>{{ 'label.form.quantity_pcs'|trans }}</small></span>
                    </td>
                    <td>{{ order.createdAt|date(datetime_format) }}</td>
                    <td>{{ order.status }}</td>
                    <td>
                        <small>{{ order.market.currency|currency }}</small>{{ order.total|number_format(2, ',', '') }}
                    </td>
                    <td>
                        <small>{{ order.market.currency|currency }}</small>{{ summary[order.id].total|round|number_format(2, '.', ' ') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center text-danger bg-grey">{{ 'table.footer.not_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}