{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'table.header.order_number'|trans ~ ': ' ~ order.number|upper %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    <div class="row mt-xxl-5">
        <div class="col-md-6">
            <div class="fw-bold mb-2">{{ 'table.header.order_number'|trans }}:
                <span class="ps-2 fw-normal">{{ order.number|upper }}</span>
            </div>
            <div class="fw-bold">{{ 'table.header.payment_type'|trans }}:
                <span class="ps-2 fw-normal">{{ order.marketInvoice.paymentGateway.name }}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 fw-bold mb-2 text-end">{{ 'table.header.requested_at'|trans }}:</div>
                <div class="col-md-6">{{ order.createdAt|date(datetime_format) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6 fw-bold mb-2 text-end">{{ 'table.header.planned_delivery_at'|trans }}:</div>
                <div class="col-md-6">-</div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row my-2">
        <div class="col-md-12 fw-bold">{{ 'customer.header'|trans }}</div>
    </div>
    <div class="row my-2">
        <div class="col-md-3"></div>
        <div class="col-md-9 mb-2 fw-bold">{{ 'customer.name'|trans }}:
            <span class="fw-normal">{{ order.marketCustomerOrders.first.customer ?
                order.marketCustomerOrders.first.customer.firstName ~ '   ' ~ order.marketCustomerOrders.first.customer.lastName :
                '--' }}</span>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-9 mb-2 fw-bold">{{ 'customer.phone'|trans }}:
            <span class="fw-normal">{{ order.marketCustomerOrders.first.customer.phone }}</span>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-9 fw-bold">{{ 'customer.address'|trans }}:
            <span class="fw-normal">
                <span class="pe-1">{{ order.marketCustomerOrders.first.customer.marketAddress.line1 }},</span>
                <span class="pe-1">{{ order.marketCustomerOrders.first.customer.marketAddress.city }},</span>
                <span class="pe-1">{{ country[order.marketCustomerOrders.first.customer.marketAddress.country] }}</span>
                {% if order.marketCustomerOrders.first.customer.marketAddress.region %}
                    <span class="pe-1">{{ order.marketCustomerOrders.first.customer.marketAddress.region }}</span>
                {% endif %}
                {% if order.marketCustomerOrders.first.customer.marketAddress.postal %}
                    <span class="pe-1">{{ order.marketCustomerOrders.first.customer.marketAddress.postal }}</span>
                {% endif %}
            </span>
        </div>
    </div>
    <hr>
    <div class="row my-2">
        <div class="col-md-12 fw-bold">{{ 'market.supplier'|trans }}</div>
    </div>
    <div class="row my-2">
        <div class="col-md-3"></div>
        <div class="col-md-9 mb-1 fw-bold">{{ 'label.form.market_name'|trans }}:
            <span class="fw-normal">{{ order.market.name }}</span>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-9 mb-1 fw-bold">{{ 'title.phone'|trans }}:
            <span class="fw-normal">{{ order.market.phone }}</span>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-9 fw-bold">{{ 'title.address'|trans }}:
            <span class="fw-normal">{{ order.market.address }}</span>
        </div>
    </div>
    <hr>
    <table class="mt-5 table table-bordered table-striped">
        <thead>
        <tr>
            <th class="text-bg-white fw-bold col" scope="col">{{ 'table.header.id'|trans }}</th>
            <th class="text-bg-white fw-bold col" scope="col">{{ 'table.header.code'|trans }}</th>
            <th class="text-bg-white fw-bold col" scope="col">{{ 'label.form.product_name'|trans }}</th>
            <th class="text-bg-white fw-bold text-end col" scope="col">{{ 'table.header.cost'|trans }}</th>
            <th class="text-bg-white fw-bold text-end col" scope="col">{{ 'table.header.quantity'|trans }}</th>
            <th class="text-bg-white fw-bold text-end col" scope="col">{{ 'table.header.amount'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% set item_subtotal = 0 %}
        {% set total_fee = 0 %}
        {% set product_count = order.marketOrdersProducts.count() %}
        {% for orderProduct in order.marketOrdersProducts %}
            {% if orderProduct.product.discount %}
                {% set percent = orderProduct.product.discount %}
                {% set cost = orderProduct.product.cost %}
                {% set percent_cost = (cost - ((cost * percent) - percent)/100) %}
                {% set item_subtotal = (percent_cost * orderProduct.quantity)|round|number_format(2, '.', ' ') %}
            {% else %}
                {% set item_subtotal = (orderProduct.product.cost * orderProduct.quantity)|round|number_format(2, '.', ' ') %}
            {% endif %}
            {% set total_fee = (orderProduct.product.fee * orderProduct.quantity) / product_count %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ orderProduct.product.id }}</td>
                <td>{{ orderProduct.product.shortName }}</td>
                {% if percent_cost is not defined %}
                    {% set percent_cost = orderProduct.product.cost %}
                {% endif %}
                <td class="text-end">{{ order.market.currency|currency }} {{ percent_cost|round|number_format(2, ',', '') }}</td>
                <td class="text-end">{{ orderProduct.quantity }}</td>
                <td class="text-end">{{ order.market.currency|currency }} {{ (percent_cost * orderProduct.quantity)|round|number_format(2, ',', '') }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="5"></td>
            <td class="text-end">{{ order.market.currency|currency }} {{ item_subtotal }}</td>
        </tr>
        <tr>
            <td colspan="6" class="bg-transparent p-3"></td>
        </tr>
        <tr>
            <td colspan="5"></td>
            <td class="text-end">{{ order.market.currency|currency }} {{ total|round|number_format(2, ',', '') }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}