{% extends 'market_place/index.html.twig' %}

{% block title %}{{ product.short_name }}{% endblock %}
{% block description %}{{ product.name }}{% endblock %}
{% block offest %}pt-4 py-8 lg:py-16 lg:px-2{% endblock %}
{% block childen %}{% endblock %}
{% block content_body %}
    <h2 class="text-2xl pb-4 font-extrabold text-primary-700 dark:text-white text-ellipsis overflow-hidden">{{ product.short_name }}</h2>
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 md:col-span-8">
            <div id="indicators-carousel" class="relative w-full" data-carousel="static">
                <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                    {% if product.attachments_count %}
                        {% set _picture = 'storage/product/' ~ product.id ~ '/' ~ product.attachments[0].name %}
                        <div class="hidden duration-200 ease-linear" data-carousel-item="active">
                            <img loading="lazy" src="{{ asset(_picture)|imagine_filter('product_view') }}"
                                 class="absolute block transition duration-300 ease-linear hover:scale-125 w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                 alt="{{ product.name }}">
                            <div class="absolute inset-x-[15%] left-1/2 transform -translate-x-1/2 w-full bottom-5 py-5 text-center text-white md:block">
                                <h5 class="text-xl text-ellipsis overflow-hidden">{{ product.short_name }}</h5>
                                <p class="text-ellipsis overflow-hidden">{{ product.store.name|e|slice(0, 220) }}</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
                            <img loading="lazy" src="{{ asset('img/carousel.svg') }}"
                                 class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 opacity-20"
                                 alt="{{ product.name }}">
                            <div class="absolute z-10 inset-x-[15%] left-1/2 transform -translate-x-1/2 w-full bottom-5 py-5 text-center text-gray-600 md:block">
                                <h5 class="text-xl text-ellipsis overflow-hidden">{{ product.short_name }}</h5>
                                <p class="text-ellipsis overflow-hidden">{{ product.store.name }}</p>
                            </div>
                        </div>
                    {% endif %}
                    {% for image in product.attachments|slice(1, product.attachments|length) %}
                        <div class="hidden duration-200 ease-linear" data-carousel-item>
                            {% set _image = 'storage/product/' ~ product.id ~ '/' ~ image.name %}
                            <img loading="lazy" src="{{ asset(_image)|imagine_filter('product_view') }}"
                                 class="absolute block transition duration-300 ease-linear hover:scale-125 w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                 alt="{{ product.short_name }}">
                            <div class="absolute inset-x-[15%] left-1/2 transform -translate-x-1/2 w-full bottom-5 py-5 text-center text-white md:block">
                                <h5 class="text-xl text-ellipsis overflow-hidden">{{ product.short_name }}</h5>
                                <p class="text-ellipsis overflow-hidden">{{ product.store.name }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if product.attachments|length > 1 %}
                    <div class="absolute z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse bottom-5 left-1/2">
                        {% for key, image in product.attachments %}
                            <button type="button" class="w-3 h-3 rounded-full"
                                    aria-current="{% if key == 0 %}true{% else %}false{% endif %}"
                                    aria-label="..." data-carousel-slide-to="{{ key }}"></button>
                        {% endfor %}
                    </div>
                    <button type="button"
                            class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                            data-carousel-prev>
                                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                                             aria-hidden="true"
                                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                  stroke-width="2" d="M5 1 1 5l4 4"></path>
                                        </svg>
                                        <span class="sr-only">{{ 'element.previous'|trans }}</span>
                                    </span>
                    </button>
                    <button type="button"
                            class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                            data-carousel-next>
                            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                                     aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="m1 9 4-4-4-4"></path>
                                </svg>
                                <span class="sr-only">{{ 'element.next'|trans }}</span>
                            </span>
                    </button>
                {% endif %}
            </div>
        </div>
        <div class="col-span-12 md:col-span-4">
            <a href="{{ path('app_market_place_market', {slug:  product.store.slug}) }}"
               class="mb-1 w-75 block truncate">
                <h5 class="text-lg font-medium hover:text-gray-700 tracking-tight truncate text-gray-500 dark:text-white">
                    <i class="fa fa-bookmark text-yellow-300 mr-2"></i>{{ product.store.name }}
                </h5>
            </a>
            <div class="grow">
                <form class="shopping-cart" method="post"
                      action="{{ path('app_market_place_product_order', {product: product.slug}) }}">
                    {% if product.discount|round %}
                        <div class="relative">
                            <div class="pt-1 absolute right-0 bg-red-500 text-white text-sm font-light me-2 px-2.5 py-0.5 rounded-md dark:bg-red-900 dark:text-white">
                                {{ product.discount|round }}
                                % {{ 'store.product.off'|trans }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="flex-nowrap mb-10 block w-72">
                        {% if product.discount|round %}
                            {% set discount = product.discount %}
                            {% set cost = product.cost + product.fee %}
                            <span class="font-medium text-2xl text-success pr-2">
                                {{ (cost - ((cost * discount) - discount)/100)|amount_format }}<small>{{ product.store.currency|currency }}</small>
                            </span>
                            <span class="line-through text-lg font-medium text-gray-400">{{ (product.cost)|amount_format }}<small>{{ product.store.currency|currency }}</small></span>
                        {% else %}
                            <span class="font-medium text-2xl text-surface-dark">{{ (product.cost + product.fee)|amount_format }}<small>{{ product.store.currency|currency }}</small></span>
                        {% endif %}
                    </div>
                    {% if product.attributes|length %}
                        <div id="attributes" class="block mt-xl-5 w-full">
                            {% for attribute in product.attributes %}
                                <input type="hidden" name="color" value="">
                                <input type="hidden" name="size" value="">
                                {% if attribute.in_front %}
                                    <span class="block mt-3 text-gray-600 dark:text-white md:text-sm tracking-widest">
                                       {{ attribute.name|capitalize }}
                                    </span>
                                    <div class="flex mt-1" id="{{ attribute.name }}">
                                        {% for attr in product.attribute_values %}
                                            {% if attribute.id == attr.attribute_id %}
                                                <div class="inline-block mr-1 p-1 border-2 {% if attribute.name == 'color' %} rounded-full{% else %} text-xs rounded-md px-1.5 py-0.5 hover:bg-gray-100{% endif %}">
                                                    <input type="radio" name="attr[{{ attribute.name }}]"
                                                           class="hidden peer"
                                                           data-name="{{ attr.value }}"
                                                           data-extra="{{ attr.extra|join }}"
                                                           data-root-name="{{ attribute.name }}"
                                                           id="attr-check-{{ attr.id }}" value="{{ attr.id }}"
                                                           autocomplete="off">
                                                    <label class="flex cursor-pointer peer-checked:shadow-4-strong{% if attribute.name == 'color' %} rounded-full{% endif %}"
                                                           for="attr-check-{{ attr.id }}" {% if attribute.name == 'color' %} style="background-color: {{ attr.extra|join }};"{% endif %}>
                                                        {% if attribute.name == 'size' %}
                                                            <span class="p-1">{{ attr.value|capitalize }}</span>
                                                        {% else %}
                                                            <span class="p-2"></span>
                                                        {% endif %}
                                                    </label>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <button type="submit"
                            id="order"
                            class="contrast-200 rounded bg-primary md:bg-primary-600 px-3 pb-2 pt-2.5 mt-5 text-xs font-medium uppercase cursor-pointer text-gray-200 hover:text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
                            {% if product.quantity == 0 or (app.user and ('ROLE_USER' in app.user.roles or 'ROLE_ADMIN' in app.user.roles)) %}disabled{% endif %}>
                        <i class="fa fa-shopping-basket mr-2"></i>{{ 'store.product.add_cart'|trans }}
                    </button>
                </form>
            </div>
            <div class="flex mt-5 justify-start items-start">
                <button class="bg-gray-100 text-gray-600 border-spacing-1.5 px-4 pt-2 pb-1 mr-2 rounded-md hover:bg-gray-300 hover:text-gray-500 sr-only"
                        data-twe-toggle="tooltip" title="{{ 'store.product.compare'|trans }}">
                    <i class="fa fa-code-fork"></i>
                </button>
                <form class="add-wishlist inline" name="wishlist"
                      action="{{ path('app_market_place_add_wishlist', {slug: product.slug}) }}">
                    <input name="store" type="hidden" value="{{ product.store.id }}">
                    {% include 'market_place/wishlist.html.twig' with {'extra': null} %}
                </form>
            </div>

            <div class="relative mt-5 overflow-x-auto rounded-t-lg sm:rounded-lg">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="py-3 px-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ 'store.product.code'|trans }}
                            :
                        </td>
                        <td class="py-3">{{ 'store.product.code_prefix'|trans }}{{ product.code }}</td>
                    </tr>
                    <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
                        <td class="py-3 ps-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ 'store.product.availability'|trans }}
                            :
                        </td>
                        <td class="py-3">{% if product.quantity == 0 %}{{ 'store.product.out_stock'|trans }}{% else %}{{ 'store.product.in_stock'|trans }}{% endif %}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% set _tab = app.request.get('tab') %}
    <ul id="product-ifo-ref" class="mt-5 flex list-none flex-row flex-wrap border-b-0 ps-0" role="tablist"
        data-twe-nav-ref>
        <li role="presentation">
            <a
                    href="#about"
                    class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[twe-nav-active]:border-primary data-[twe-nav-active]:text-primary dark:text-white/50 dark:hover:bg-neutral-700/60 dark:data-[twe-nav-active]:text-primary"
                    data-twe-toggle="pill"
                    data-twe-target="#about"
                    {% if _tab == 'about' %}data-twe-nav-active {% endif %}
                    role="tab"
                    aria-controls="about"
                    aria-selected="{% if _tab == 'about' %}true{% else %}false{% endif %}">{{ 'product.details'|trans }}</a>
        </li>
        <li role="presentation">
            <a
                    href="#product-info"
                    class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[twe-nav-active]:border-primary data-[twe-nav-active]:text-primary dark:text-white/50 dark:hover:bg-neutral-700/60 dark:data-[twe-nav-active]:text-primary"
                    data-twe-toggle="pill"
                    data-twe-target="#product-info"
                    {% if _tab == 'product-info' %}data-twe-nav-active {% endif %}
                    role="tab"
                    aria-controls="product-info"
                    aria-selected="{% if _tab == 'product-info' %}true{% else %}false{% endif %}">{{ 'product.information'|trans }}</a>
        </li>
        <li role="presentation">
            <a
                    href="#seller-info"
                    class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[twe-nav-active]:border-primary data-[twe-nav-active]:text-primary dark:text-white/50 dark:hover:bg-neutral-700/60 dark:data-[twe-nav-active]:text-primary"
                    data-twe-toggle="pill"
                    data-twe-target="#seller-info"
                    {% if _tab == 'seller-info' %}data-twe-nav-active {% endif %}
                    role="tab"
                    aria-controls="seller-info"
                    aria-selected="{% if _tab == 'seller-info' %}true{% else %}false{% endif %}">{{ 'product.seller.info'|trans }}</a>
        </li>
        <li role="presentation">
            <a
                    href="#seller-contact"
                    class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[twe-nav-active]:border-primary data-[twe-nav-active]:text-primary dark:text-white/50 dark:hover:bg-neutral-700/60 dark:data-[twe-nav-active]:text-primary"
                    data-twe-toggle="pill"
                    data-twe-target="#seller-contact"
                    {% if _tab == 'tabs-contact' %}data-twe-nav-active {% endif %}
                    role="tab"
                    aria-controls="tabs-contact"
                    aria-selected="{% if _tab == 'tabs-contact' %}true{% else %}false{% endif %}">{{ 'product.seller.contact'|trans }}</a>
        </li>
    </ul>
    <div class="mb-6">
        <div class="hidden opacity-{% if _tab == 'about' %}100{% else %}0{% endif %} transition-opacity duration-150 ease-linear data-[twe-tab-active]:block p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
             id="about"
             role="tabpanel"
             aria-labelledby="about-tab"
                {% if _tab == 'about' %} data-twe-tab-active{% endif %}>
            <h5 class="block text-lg font-medium text-gray-600 py-3">{{ product.short_name }}</h5>
            <div class="text-sm font-light text-gray-500 dark:text-gray-400">{{ product.description|striptags|replace({'<p>': '<p class="text-sm text-gray-400 dark:text-gray-300 mb-5">'})|raw|nl2br }}</div>
        </div>
        <div class="hidden opacity-{% if _tab == 'product-info' %}100{% else %}0{% endif %} transition-opacity duration-150 ease-linear data-[twe-tab-active]:block p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
             id="product-info"
             role="tabpanel"
             aria-labelledby="product-info-tab"
                {% if _tab == 'product-info' %} data-twe-tab-active{% endif %}>
            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th class="py-3 px-5 min-w-10 max-w-10">{{ 'label.form.sku'|trans }}</th>
                        <td class="p-3 text-gray-500">{{ product.sku }}</td>
                    </tr>
                    {% if product.pckg %}
                        <tr class="bg-gray-50 border-b dark:bg-gray-800 dark:border-gray-700">
                            <th class="py-3 px-5">{{ 'label.form.pckg_quantity'|trans }}</th>
                            <td class="p-3 text-gray-500">{{ product.pckg }}</td>
                        </tr>
                    {% endif %}
                    <tr class="bg-gray-50 border-b dark:bg-gray-800 dark:border-gray-700">
                        <th class="py-3 px-5">{{ 'label.form.quantity'|trans }}</th>
                        <td class="p-3 text-gray-500">
                            {% if product.quantity == 0 %}
                                {{ 'store.product.out_stock'|trans }}
                            {% else %}
                                {{ product.quantity }}{{ 'label.form.quantity_pcs'|trans }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th class="py-3 px-5">{{ 'store.brand'|trans }}</th>
                        <td class="p-3 text-gray-500">{{ product.brand|default('N/a') }}</td>
                    </tr>
                    <tr class="bg-gray-50 border-b dark:bg-gray-800 dark:border-gray-700">
                        <th class="py-3 px-5">{{ 'store.supplier'|trans }}</th>
                        <td class="p-3 text-gray-500">{{ product.supplier|default('N/a') }}</td>
                    </tr>
                    <tr class="bg-white dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th class="py-3 px-5">{{ 'store.manufacturer'|trans }}</th>
                        <td class="p-3 text-gray-500">{{ product.manufacturer|default('N/a') }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="hidden opacity-{% if _tab == 'seller-info' %}100{% else %}0{% endif %} transition-opacity duration-150 ease-linear data-[twe-tab-active]:block p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
             id="seller-info"
             role="tabpanel"
             aria-labelledby="seller-info-tab"
                {% if _tab == 'seller-info' %} data-twe-tab-active{% endif %}>
            <h5 class="block text-lg font-medium text-gray-600 py-3">{{ product.store.name }}</h5>
            <div class="text-sm font-light text-gray-500 dark:text-gray-400">{{ product.store.description|default('info.no_content'|trans)|striptags|replace({'<p>': '<p class="text-sm text-gray-400 dark:text-gray-300 mb-5">'})|raw|nl2br }}</div>
        </div>
        <div class="hidden opacity-{% if _tab == 'tabs-contact' %}100{% else %}0{% endif %} transition-opacity duration-150 ease-linear data-[twe-tab-active]:block p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
             id="seller-contact"
             role="tabpanel"
             aria-labelledby="seller-contact-tab"
                {% if _tab == 'tabs-contact' %} data-twe-tab-active{% endif %}>
            <h5 class="block text-lg font-medium text-gray-600 py-3">{{ 'product.seller.contact'|trans }}</h5>
            <div class="grid grid-cols-12 gap-5">
                {% if product.store.phone is not null or product.store.email is not null or product.store.website is not null %}
                    <div class="col-span-4">
                        <form class="group" id="form-message" action="{{ path('market_place_obtain_message') }}"
                              method="post" autocomplete="off" novalidate="">
                            <div class="relative">
                                <label for="message" class="sr-only"></label>
                                <textarea id="message"
                                          class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-gray-400 focus:border-gray-400 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                          rows="6"
                                          minlength="20"
                                          maxlength="250"
                                          placeholder="{{ 'form.header.message'|trans }}"
                                          required></textarea>
                                <span class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">{{ 'form.message.invalid'|trans }}</span>
                            </div>
                            <input type="hidden" name="product" value="{{ product.id }}">
                            <input type="hidden" name="store" value="{{ product.store.id }}">
                            <input type="hidden" name="order" value="">
                            <input type="hidden" name="_token" value="{{ csrf_token('obtain') }}">
                            <button class="inline-block mt-3 w-full rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong group-invalid:pointer-events-none group-invalid:opacity-30"
                                    type="submit"{% if not app.user %} disabled{% endif %}>{{ 'form.action.send'|trans }}
                            </button>
                            {% if not app.user %}
                                <p id="helper-text-explanation"
                                   class="mt-2 text-sm text-gray-500 dark:text-gray-400">{{ 'login.warning'|trans({
                                        url: path('app_login'),
                                        class: 'font-medium text-blue-600 hover:underline dark:text-blue-500'
                                    })|raw }}
                                </p>
                            {% endif %}
                        </form>
                    </div>
                    <div class="col-span-8">
                        <ul class="list-none ms-2">
                            {% if product.store.phone %}
                                <li class="mb-1">
                                    <a class="text-gray-700 hover:text-gray-900 hover:animate-pulse"
                                       href="tel:{{ product.store.phone }}">
                                        <i class="fa fa-phone-square text-sm mr-3"></i>{{ product.store.phone }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if product.store.email %}
                                <li class="mb-1">
                                    <a class="text-gray-700 hover:text-gray-900 hover:animate-pulse"
                                       href="mailto:{{ product.store.email }}">
                                        <i class="fa fa-envelope text-sm mr-3"></i>{{ product.store.email }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if product.store.website %}
                                <li class="mb-1">
                                    <a target="_blank" rel="noreferrer"
                                       class="text-gray-700 hover:text-gray-900 hover:animate-pulse"
                                       href="{{ path('app_dashboard_market_place_market_redirect', {website: product.store.website}) }}">
                                        <i class="fa fa-globe text-sm mr-3"></i>{{ product.store.website }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'layouts/toast/success.html.twig' %}
    {% include 'layouts/toast/danger.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('message-js') }}
{% endblock %}
