{% for message in app.flashes('danger') %}
    <div class="flex items-center p-4 mb-4 text-red-900 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
         role="alert">
        <div class="ms-3 text-sm font-medium">{{ message }}</div>
    </div>
{% endfor %}
<div class="flex justify-between mx-auto">
    <h2 class="text-2xl font-medium text-gray-600 mr-2">{{ 'product.billing'|trans }}</h2>
    {% if app.user is null %}
        <div class="group pe-10">
            <button data-modal-target="sign-in" data-modal-toggle="sign-in" type="button"
                    class="text-white bg-[#3b5998] hover:bg-[#3b5998]/90 focus:ring-2 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded text-xs uppercase leading-normal px-5 py-2 text-center inline-flex items-center dark:focus:ring-[#3b5998]/55 me-0.5 mb-2">{{ 'title.user.login'|trans }}</button>
            <button id="modal-register" data-modal-target="register" data-modal-toggle="register" type="button"
                    class="text-white bg-[#4285F4] hover:bg-[#4285F4]/90 focus:ring-2 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded text-xs uppercase leading-normal px-5 py-2 text-center inline-flex items-center dark:focus:ring-[#4285F4]/55 mb-2">{{ 'text.register'|trans }}</button>
        </div>
    {% endif %}
</div>
{% set _tab = app.request.get('tab') %}
<ul class="flex list-none flex-row flex-wrap border-b-0 ps-0" role="tablist" data-twe-nav-ref>
    <li role="presentation">
        <a
                href="#customer-info"
                class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[twe-nav-active]:border-primary data-[twe-nav-active]:text-primary dark:text-white/50 dark:hover:bg-neutral-700/60 dark:data-[twe-nav-active]:text-primary"
                data-twe-toggle="pill"
                data-twe-target="#customer-info"
                data-twe-nav-active
                role="tab"
                aria-controls="customer-info"
                aria-selected="{{ _tab == 'customer-info' ? 'true' : 'false' }}">{{ 'customer.cabinet.personal_information'|trans }}</a>
    </li>
    <li role="presentation">
        <a
                href="#address-info"
                class="my-2 block border-x-0 border-b-2 border-t-0 border-transparent px-7 pb-3.5 pt-4 text-xs font-medium uppercase leading-tight text-neutral-500 hover:isolate hover:border-transparent hover:bg-neutral-100 focus:isolate focus:border-transparent data-[twe-nav-active]:border-primary data-[twe-nav-active]:text-primary dark:text-white/50 dark:hover:bg-neutral-700/60 dark:data-[twe-nav-active]:text-primary"
                data-twe-toggle="pill"
                data-twe-target="#address-info"
                role="tab"
                aria-controls="address-info"
                aria-selected="{{ _tab == 'address-info' ? 'true' : 'false' }}">{{ 'customer.cabinet.delivery_address'|trans }}</a>
    </li>
</ul>
<div class="pt-2 mr-5">
    {% if errors.count %}
        <div class="flex items-center p-4 mb-4 mr-5 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-400"
             role="alert">
            <div class="ms-3 text-sm font-medium">{{ errors.current.message }}</div>
        </div>
    {% endif %}
    {{ form_start(form, {attr: {novalidate: '', action: path('app_market_place_order_checkout', {order: order.number, session: app.request.get('session'), tab: app.request.get('tab')})}}) }}
    <div class="tab-content" id="customerTabContent">
        <div class="hidden opacity-100 p-4 shadow-md rounded-md dark:bg-gray-800 transition-opacity duration-150 ease-linear data-[twe-tab-active]:block"
             id="customer-info"
             role="tabpanel"
             aria-labelledby="customer-info-tab"
             data-twe-tab-active>
            {% include 'market_place/checkout/parts/customer.html.twig' %}
        </div>
        <div class="hidden opacity-0 p-4 shadow-md rounded-md dark:bg-gray-800 transition-opacity duration-150 ease-linear data-[twe-tab-active]:block"
             id="address-info"
             role="tabpanel"
             aria-labelledby="address-info-tab">
            {% include 'market_place/checkout/parts/address.html.twig' %}
        </div>
    </div>
    {% if hasUsed == false and coupon != 0 %}
        {% if app.user and 'ROLE_CUSTOMER' in app.user.roles %}
            {% include 'market_place/coupon/code.html.twig' with {
                relPath: path('app_market_place_market_verify_coupon', {
                    store: order.store.id,
                    relation: order.id,
                    id: coupon.id,
                    ref: constant('App\\Entity\\MarketPlace\\StoreCoupon::COUPON_ORDER')
                }),
                coupon: coupon.id
            } %}
        {% else %}
            <div class="p-4 my-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
                 role="alert">
                <span class="font-medium">{{ 'text.info'|trans }}</span> {{ 'text.info.description'|trans }}
            </div>
        {% endif %}
    {% endif %}
    <div id="payment-method" class="mt-3">
        <div class="rounded-t-lg border border-neutral-200 bg-white dark:border-neutral-600 dark:bg-body-dark">
            {% for key, gateway in order.store.storePaymentGatewaystores.toArray %}
                <h2 class="mb-0" id="headingOne">
                    <button class="group relative font-semibold flex w-full items-center rounded-t-lg border-0 bg-white px-5 py-4 text-left text-base text-neutral-800 transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none dark:bg-body-dark dark:text-white [&:not([data-twe-collapse-collapsed])]:bg-white [&:not([data-twe-collapse-collapsed])]:text-primary [&:not([data-twe-collapse-collapsed])]:shadow-border-b dark:[&:not([data-twe-collapse-collapsed])]:bg-surface-dark dark:[&:not([data-twe-collapse-collapsed])]:text-primary dark:[&:not([data-twe-collapse-collapsed])]:shadow-white/10"
                            type="button"
                            data-twe-collapse-init
                            data-twe-target="#collapse-{{ key }}"
                            aria-expanded="true"
                            aria-controls="collapse-{{ key }}"><i
                                class="{{ gateway.gateway.icon }} text-lg text-yellow-300 mb-1 mr-2"></i>{{ gateway.gateway.name }}
                        <span class="-me-1 ms-auto h-5 w-5 shrink-0 rotate-[-180deg] transition-transform duration-200 ease-in-out group-data-[twe-collapse-collapsed]:me-0 group-data-[twe-collapse-collapsed]:rotate-0 motion-reduce:transition-none [&>svg]:h-6 [&>svg]:w-6">
                              <svg xmlns="http://www.w3.org/2000/svg"
                                   fill="none"
                                   viewBox="0 0 24 24"
                                   stroke-width="1.5"
                                   stroke="currentColor">
                                <path stroke-linecap="round"
                                      stroke-linejoin="round"
                                      d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                              </svg>
                        </span>
                    </button>
                </h2>
                <div id="collapse-{{ key }}"
                     class="!visible"
                     data-twe-collapse-item
                     data-twe-collapse-show
                     aria-labelledby="heading-{{ key }}"
                     data-twe-parent="#payment-method">
                    <div class="px-5 py-4">
                        <div class="mb-2">{{ gateway.gateway.summary }}</div>
                        <button type="submit" name="gateway[{{ gateway.gateway.slug }}]"
                                class="inline-block justify-start rounded bg-danger px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-danger-3 transition duration-150 ease-in-out hover:bg-danger-accent-300 hover:shadow-danger-2 focus:bg-danger-accent-300 focus:shadow-danger-2 focus:outline-none focus:ring-0 active:bg-danger-600 active:shadow-danger-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong group-invalid:pointer-events-none group-invalid:opacity-30">
                            {{ gateway.gateway.handlerText }}
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% if app.user is null %}
    {% include 'market_place/modal/login.html.twig' %}
    {% include 'market_place/modal/register.html.twig' %}
{% endif %}
