{% extends 'market_place/index.html.twig' %}

{% block title %}{{ 'order.checkout.completed'|trans }}{% endblock %}
{% block description %}{{ 'order.checkout.completed'|trans }}{% endblock %}

{% block content_body %}
    <section class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-lg flex mx-auto px-4 py-8 lg:py-16 lg:px-2">
            <div class="mx-auto w-4/6 rounded-lg bg-white p-6 shadow-4 dark:bg-surface-dark">
                {% if temp_password %}
                    <h2 class="block truncate text-2xl pb-4 font-extrabold text-primary-700 dark:text-white text-ellipsis overflow-hidden">{{ 'order.checkout.completed'|trans }}</h2>
                    <p class="text-center p-5 text-md-start text-red-400 font-normal">{{ 'customer.temporary.passwod'|trans }}
                        <span class="inline-block bg-gray-300 rounded-sm text-gray-500 mx-1 w-25 px-2 pt-1 pb-0.5">{{ temp_password }}</span>
                    </p>
                {% endif %}
                <div class="mt-4">
                    {% include 'market_place/checkout/_customer_login_form.html.twig' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}