{% extends 'dashboard/index.html.twig' %}

{% if form.vars.data.id %}
    {% set _title_extend = 'title.dashboard.change_product'|trans %}
{% else %}
    {% set _title_extend = 'title.dashboard.create_product'|trans %}
{% endif %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    {% set _message = app.flashes('success') %}
    {% if errors.count %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            {{ errors.current.message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'form.action.close'|trans }}"></button>
        </div>
    {% endif %}
    {{ form_start(form, {attr: {class: 'd-tech-form', novalidate: 'novalidate'}}) }}
    {% set _tab = app.request.get('tab') %}
    <ul class="nav nav-tabs nav-fill me-2" id="productTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link {{ _tab == 'details' ? 'active' : null }}"
               id="description-tab" data-bs-toggle="tab"
               data-bs-target="#details" type="button" role="tab" aria-controls="details"
               aria-selected="false">{{ 'product.details'|trans }}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link {{ _tab == 'billing' ? 'active' : null }}"
               id="billing-tab" data-bs-toggle="tab" data-bs-target="#billing"
               type="button" role="tab" aria-controls="billing"
               aria-selected="false">{{ 'product.billing'|trans }}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link {{ _tab == 'categories' ? 'active' : null }}"
               id="categories-tab" data-bs-toggle="tab" data-bs-target="#categories"
               type="button" role="tab" aria-controls="categories"
               aria-selected="false">{{ 'entry.form.categories'|trans }}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link {{ _tab == 'attributes' ? 'active' : null }}"
               id="attributes-tab" data-bs-toggle="tab" data-bs-target="#attributes"
               type="button" role="tab" aria-controls="attributes"
               aria-selected="false">{{ 'market.attributes'|trans }}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link {{ _tab == 'attachments' ? 'active' : null }}"
               id="attachments-tab"
               data-bs-toggle="tab" data-bs-target="#attachments"
               type="button" role="tab" aria-controls="attachments"
               aria-selected="false">{{ 'entry.form.attachments'|trans }}
            </a>
        </li>
    </ul>
    <div class="tab-content" id="productTabContent">
        <div class="tab-pane fade {{ _tab == 'details' ? 'show active' : null }}" id="details" role="tabpanel"
             aria-labelledby="details-tab" tabindex="0">
            {% include 'dashboard/content/market_place/product/parts/description.html.twig' %}
        </div>
        <div class="tab-pane fade {{ _tab == 'attributes' ? 'show active' : null }}" id="attributes" role="tabpanel"
             aria-labelledby="attributes-tab"
             tabindex="0">
            {% include 'dashboard/content/market_place/product/parts/attributes.html.twig' %}
        </div>
        <div class="tab-pane fade {{ _tab == 'billing' ? 'show active' : null }}" id="billing" role="tabpanel"
             aria-labelledby="billing-tab" tabindex="0">
            {% include 'dashboard/content/market_place/product/parts/billing.html.twig' %}
        </div>
        <div class="tab-pane fade {{ _tab == 'categories' ? 'show active' : null }}" id="categories" role="tabpanel"
             aria-labelledby="categories-tab"
             tabindex="0">
            {% include 'dashboard/content/market_place/product/parts/categories.html.twig' %}
        </div>
        <div class="tab-pane fade {{ _tab == 'attachments' ? 'show active' : null }}" id="attachments" role="tabpanel"
             aria-labelledby="attachments-tab"
             tabindex="0">
            <div class="mt-4 p-2">
                {% if app.request.get('id') %}
                    {% set _args = {market: product.market.id, id: product.id} %}
                    {% include 'dashboard/content/form/attachment.html.twig' with {
                        'attachments': product.marketProductAttaches,
                        'storage': 'product',
                        'id': product.id,
                        'set_use': null,
                        'remove': path('app_dashboard_product_attach_remove', _args),
                        'data_url': path('app_dashboard_product_attach', _args),
                        'filter': 'product_preview'
                    } %}
                {% else %}
                    <div class="alert alert-info py-5">
                        <div class="text-center">{{ 'product.attachments.available'|trans }}</div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <input type="hidden" name="flash" value="{{ _message[0]|default([]|json_encode) }}">
    <div class="form-group text-center  mb-3 my-4">
        {{ form_widget(form.save, { label: form.vars.data.id ? 'form.action.update' : 'form.action.save'}) }}
        <a type="button"
           href="{{ url('app_dashboard_market_place_market_product', {market: app.request.get('market')}) }}"
           class="btn btn-secondary rounded-1 shadow-sm">{{ 'form.action.back'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript">
        let short_name = document.getElementById('product_short_name');
        let chars = document.getElementById('chars');

        const discount = document.querySelector("#product_discount");
        const output = document.querySelector(".discount-output");
        output.textContent = discount.value + '%';

        discount.addEventListener("input", () => {
            output.textContent = discount.value + '%';
        });

        short_name.onkeyup = function () {
            chars.innerHTML = short_name.value.length;
        }
        CKEDITOR.replace('product_description', {
            extraPlugins: 'editorplaceholder',
            editorplaceholder: '{{ 'label.form.product_description'|trans }}',
            removePlugins: 'simage,image,youtube,html5video,iframe,uicolor,videodetector,preview',
        });
    </script>
{% endblock %}