{% extends 'dashboard/index.html.twig' %}

{% if form.vars.data.id %}
    {% set _title_extend = 'title.dashboard.change_product'|trans %}
{% else %}
    {% set _title_extend = 'title.dashboard.create_product'|trans %}
{% endif %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    {% set _message = app.flashes('success') %}
    {% if form_errors(form) %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    {{ form_start(form, {attr: {class: 'd-tech-form', novalidate: 'novalidate'}}) }}
    <ul class="nav nav-tabs me-2" id="productTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link border-0 active" id="description-tab" data-bs-toggle="tab"
                    data-bs-target="#description-tab-pane" type="button" role="tab" aria-controls="description-tab-pane"
                    aria-selected="true">{{ 'product.details'|trans }}
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link border-0" id="billing-tab" data-bs-toggle="tab" data-bs-target="#billing-tab-pane"
                    type="button" role="tab" aria-controls="billing-tab-pane"
                    aria-selected="false">{{ 'product.billing'|trans }}
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link border-0" id="categories-tab" data-bs-toggle="tab" data-bs-target="#categories-tab-pane"
                    type="button" role="tab" aria-controls="categories-tab-pane"
                    aria-selected="false">{{ 'entry.form.categories'|trans }}
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link border-0" id="attributes-tab" data-bs-toggle="tab" data-bs-target="#attributes-tab-pane"
                    type="button" role="tab" aria-controls="attributes-tab-pane"
                    aria-selected="false">{{ 'market.attributes'|trans }}
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link border-0" id="attachments-tab" data-bs-toggle="tab" data-bs-target="#attachments-tab-pane"
                    type="button" role="tab" aria-controls="attachments-tab-pane"
                    aria-selected="false">{{ 'entry.form.attachments'|trans }}
            </button>
        </li>
    </ul>
    <div class="tab-content" id="productTabContent">
        <div class="tab-pane fade show active" id="description-tab-pane" role="tabpanel"
             aria-labelledby="description-tab" tabindex="0">
            {% include 'dashboard/content/market_place/product/parts/description.html.twig' %}
        </div>
        <div class="tab-pane fade" id="attributes-tab-pane" role="tabpanel" aria-labelledby="attributes-tab"
             tabindex="0">
            {% include 'dashboard/content/market_place/product/parts/attributes.html.twig' %}
        </div>
        <div class="tab-pane fade" id="billing-tab-pane" role="tabpanel" aria-labelledby="billing-tab" tabindex="0">
            {% include 'dashboard/content/market_place/product/parts/billing.html.twig' %}
        </div>
        <div class="tab-pane fade" id="categories-tab-pane" role="tabpanel" aria-labelledby="categories-tab"
             tabindex="0">
            {% include 'dashboard/content/market_place/product/parts/categories.html.twig' %}
        </div>
        <div class="tab-pane fade" id="attachments-tab-pane" role="tabpanel" aria-labelledby="attachments-tab"
             tabindex="0">
            <div class="mt-4 p-2">
                {% if app.request.get('id') %}
                    {% set _args = {market: product.market.id, id: product.id} %}
                    {% include 'dashboard/content/form/attachment.html.twig' with {
                        'attachments': product.marketProductAttaches,
                        'storage': 'product',
                        'id': product.id,
                        'set_use': null,
                        'remove': path('app_dashboard_product_attach_remove', _args),
                        'data_url': path('app_dashboard_product_attach', _args),
                        'filter': 'product_preview'
                    } %}
                {% endif %}
            </div>
        </div>
    </div>
    <input type="hidden" name="flash" value="{{ _message[0]|default([]|json_encode) }}">
    <div class="form-group text-center  mb-3 my-4">
        {{ form_widget(form.save, { label: form.vars.data.id ? 'form.action.update' : 'form.action.save'}) }}
        <a type="button"
           href="{{ url('app_dashboard_market_place_market_product', {market: app.request.get('market')}) }}"
           class="btn btn-secondary shadow-sm">{{ 'form.action.back'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript">
        let short_name = document.getElementById('product_short_name');
        let chars = document.getElementById('chars');

        const discount = document.querySelector("#product_discount");
        const output = document.querySelector(".discount-output");
        output.textContent = discount.value + '%';

        discount.addEventListener("input", () => {
            output.textContent = discount.value + '%';
        });

        short_name.onkeyup = function () {
            chars.innerHTML = short_name.value.length;
        }
        CKEDITOR.replace('product_description', {
            extraPlugins: 'editorplaceholder',
            editorplaceholder: '{{ 'label.form.product_description'|trans }}',
            removePlugins: 'simage,image,youtube,html5video,iframe,uicolor,videodetector,preview',
        });
    </script>
{% endblock %}