{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.overview_product'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    {% include 'dashboard/content/market_place/navbar/nav.html.twig' %}
    {% if market.deletedAt %}
        <div class="alert alert-warning mb-2" id="liveAlertPlaceholder" role="alert">
            {{ 'Your marketplace has been deleted. Your products unavailable.'|trans }}
        </div>
    {% endif %}
    <div class="table-responsive card">
        <table class="table table-hover table-borderless mb-0">
            <thead>
            <tr>
                <th class="bg-secondary text-white text-center font-weight-light"
                    scope="col">{{ 'table.header.id'|trans }}</th>
                <th class="bg-secondary text-white font-weight-light" scope="col">{{ 'table.header.name'|trans }}</th>
                <th class="bg-secondary text-white font-weight-light text-center"
                    scope="col">{{ 'table.header.cost'|trans }}</th>
                <th class="bg-secondary text-white font-weight-light text-center"
                    scope="col">{{ 'table.header.quantity'|trans }}</th>
                <th class="bg-secondary text-white font-weight-light text-center"
                    scope="col">{{ 'table.header.amount'|trans }}</th>
                <th class="bg-secondary text-white font-weight-light text-center"
                    scope="col">{{ 'table.header.created_at'|trans }}</th>
                <th class="bg-secondary text-white font-weight-light text-center"
                    scope="col">{{ 'table.header.handle'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr class="{% if product.deletedAt %}text-secondary bg-secondary{% endif %}">
                    <th scope="row" class="text-center">{{ product.id }}</th>
                    <td>
                        <a data-bs-toggle="tooltip"
                           data-bs-placement="right"
                           class="link"
                           title="{{ product.name }}"
                           href="{{ path('app_dashboard_market_place_edit_product', {market: product.market.id, id: product.id}) }}">
                            {{ product.name|length > 30 ? product.name|slice(0, 30) ~ '...' : product.name }}
                        </a>
                    </td>
                    <td class="text-center">{{ currency['symbol_native'] }} {{ product.cost|number_format(2) }}</td>
                    <td class="text-center">{{ product.quantity }}</td>
                    <td class="text-center">{{ currency['symbol_native'] }} {{ (product.cost * product.quantity)|number_format(2) }}</td>
                    <td class="text-center bd-highlight">{{ product.createdAt|date(date_format) }}</td>
                    <td class="text-center">
                        {% if product.deletedAt %}
                            <a class="btn btn-sm btn-outline-lightning rounded restore-entry px-1 py-0 {{ product.market.deletedAt ? 'disabled' : '' }}"
                               href="{{ path('app_dashboard_restore_product', {market: product.market.id, id: product.id}) }}">
                                <i class="bi bi-{{ product.market.deletedAt ? 'ban' : 'chevron-double-up' }}"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('app_dashboard_market_place_edit_product', {market: product.market.id, id: product.id}) }}"
                               class="btn btn-sm btn-outline-lightning rounded px-1 py-0 mr-1">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a
                                    class="btn btn-sm btn-outline-lightning rounded delete-entry px-1 py-0"
                                    data-token="{{ csrf_token('delete') }}"
                                    data-url="{{ url('app_dashboard_delete_product', {market: product.market.id, id: product.id}) }}"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal-delete">
                                <i class="bi bi-trash"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" class="text-center text-bg-light">{{ 'table.footer.not_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}