{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.users'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    <div class="table-responsive table-sm card">
        <table class="table table-hover table-borderless mb-0">
            <thead class="bg-secondary text-white">
            <tr>
                <th class="col-1 text-center" scope="col">{{ 'table.header.id'|trans }}</th>
                <th class="col-4" scope="col">{{ 'table.header.name'|trans }}</th>
                <th class="col-3 text-center" scope="col">{{ 'table.header.user.created_at'|trans }}</th>
                <th class="col-3 text-center" scope="col">{{ 'table.header.user.updated_at'|trans }}</th>
                <th class="col-1 text-center" scope="col">{{ 'table.header.handle'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in entries %}
                <tr>
                    <th scope="row" class="text-center">{{ entry.id }}</th>
                    <td>
                        <a class="link"
                           href="{{ path('app_dashboard_details_user', {id: entry.id, tab: 'summary'}) }}">{{ entry.userDetails.firstName }} {{ entry.userDetails.lastName }}</a>
                    </td>
                    <td class="text-center">
                        <small data-toggle="tooltip" data-placement="top"
                               title="{{ entry.createdAt|date(datetime_format) }}"
                               class="text-muted">{{ entry.createdAt|date(date_format) }}</small>
                    </td>
                    <td class="text-center">
                        <small class="text-muted">{{ entry.userDetails.updatedAt|date(datetime_format) }}</small>
                    </td>
                    <td class="text-center">
                        <a
                                data-toggle="tooltip"
                                data-placement="top"
                                title="{{ 'tooltip.show.more'|trans }} {{ entry.userDetails.firstName }}"
                                class="btn btn-sm btn-outline-lightning rounded px-1 py-0"
                                href="{{ path('app_dashboard_details_user', {id: entry.id, tab: 'summary'}) }}">
                            <i class="bi bi-person-circle"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center text-danger bg-grey">{{ 'table.footer.not_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}