<div class="mx-auto text-white pt-5 pb-3 px-3">
    <div class="max-w-screen-xl mx-auto md:grid md:grid-cols-3 sm:grid-cols-2 gap-3">
        <div class="block col-span-2">
            <ul class="inline-flex my-4 w-full space-x-5">
                <li>
                    <a href="{{ path('about') }}"
                       class="text-sm text-gray-400 hover:text-white">{{ 'title.about_us'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('faq') }}"
                       class="text-sm text-gray-400 hover:text-white">{{ 'title.questions'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('contact') }}"
                       class="text-sm text-gray-400 hover:text-white">{{ 'title.contact_us'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('app_blog') }}"
                       class="text-sm text-gray-400 hover:text-white">{{ 'title.blogs'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('app_market_place_index') }}"
                       class="text-sm text-gray-400 hover:text-white">{{ 'title.market_places'|trans }}</a>
                </li>
            </ul>
            <a class="flex" href="{{ path('app_index') }}">
                <svg class="h-4 mr-3 sm:h-6" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 17.481 17.481" xml:space="preserve" fill="currentColor">
                    <g stroke-width="0"></g>
                        <g stroke-linecap="round" stroke-linejoin="round"></g>
                        <g>
                            <g>
                                <path d="M17.471,2.073c-0.564-0.122-1.063-0.167-1.543-0.188C15.448,1.86,15,1.876,14.563,1.903 c-0.867,0.065-1.66,0.216-2.393,0.439c-1.466,0.443-2.708,1.152-3.778,2.063C7.323,5.317,6.421,6.427,5.745,7.803 c-0.34,0.687-0.62,1.443-0.826,2.286c-0.098,0.428-0.188,0.864-0.243,1.343c-0.045,0.366-0.077,0.747-0.078,1.164 c-0.08,0.043-0.16,0.092-0.238,0.145c0,0-2.711,1.528-3.962,1.563c-1.251,0.031,0.88,0.755,0.521,1.249 c-0.279,0.385,2.277-1.363,3.817-2.548c0.002,0,0.004,0,0.006,0.002C9.592,9.6,14.928,4.396,14.928,4.396s-5.965,7.766-9.078,8.753 c0.098,0.006,0.196,0.011,0.292,0.016c0.481,0.025,0.928,0.008,1.365-0.021c0.865-0.065,1.658-0.219,2.39-0.44 c1.468-0.441,2.711-1.149,3.786-2.055c1.075-0.907,1.977-2.016,2.654-3.39c0.341-0.685,0.618-1.443,0.825-2.288 c0.099-0.427,0.188-0.865,0.241-1.345C17.463,3.149,17.499,2.65,17.471,2.073z"></path>
                            </g>
                        </g>
                </svg>
                <span class="font-medium text-gray-300 uppercase">{{ 'site.title'|trans }}
            </a>
        </div>
        <div class="grid grid-cols-1 gap-6 sm:gap-4 sm:grid-cols-2">
            <div>
                <h2 class="mb-4 text-sm font-oswald text-gray-100 uppercase dark:text-white">{{ 'title.resources'|trans }}</h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-2">
                        <a href="https://symfony.com/" class="hover:underline">Symfony</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://tailwindcss.com/" class="hover:underline">Tailwind CSS</a>
                    </li>
                    <li>
                        <a href="https://www.postgresql.org/" class="hover:underline">PostgresSQL</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-4 text-sm font-oswald text-gray-100 uppercase dark:text-white">{{ 'title.legal'|trans }}</h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-2">
                        <a href="{{ path('policy') }}" class="hover:underline">{{ 'title.privacy_policy'|trans }}</a>
                    </li>
                    <li class="mb-2">
                        <a href="{{ path('terms') }}" class="hover:underline">{{ 'title.terms'|trans|raw }}</a>
                    </li>
                    <li>
                        <a href="{{ path('cookie') }}" class="hover:underline">{{ 'title.cookie_policy'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-900 p-3 text-gray-200 mt-3 border-t border-gray-700">
    <div class="max-w-screen-xl mx-auto flex justify-between items-center">
        <div class="text-sm">
            {% set year =  'now' | date('Y') %}
            {% set build_year = '2023' %}
            <span>&copy; {{ year == build_year ? build_year : build_year ~ '-' ~ year }} {{ 'site.title'|trans }} - {{ 'text.all_right_reserved'|trans }}</span>
        </div>
        <div class="flex justify-end">
            <a href="https://www.facebook.com/AlexanderShtyher/"
               class="text-gray-400 hover:text-gray-100 dark:hover:text-white">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                     viewBox="0 0 8 19">
                    <path fill-rule="evenodd"
                          d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                          clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Facebook page</span>
            </a>
            <a href="https://github.com/alexfer" class="text-gray-400 hover:text-gray-100 dark:hover:text-white ms-5">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                     viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                          d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
                          clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">GitHub</span>
            </a>
            <a href="https://www.linkedin.com/in/alexander-shtykher-4822b339/" class="text-gray-400 hover:text-gray-100 dark:hover:text-white ms-5">
                <svg width="64px" height="64px" class="h-4 w-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g stroke-width="0"></g>
                    <g stroke-linecap="round" stroke-linejoin="round"></g>
                    <g>
                        <path d="M6.5 8C7.32843 8 8 7.32843 8 6.5C8 5.67157 7.32843 5 6.5 5C5.67157 5 5 5.67157 5 6.5C5 7.32843 5.67157 8 6.5 8Z" fill="currentColor"></path>
                        <path d="M5 10C5 9.44772 5.44772 9 6 9H7C7.55228 9 8 9.44771 8 10V18C8 18.5523 7.55228 19 7 19H6C5.44772 19 5 18.5523 5 18V10Z" fill="currentColor"></path>
                        <path d="M11 19H12C12.5523 19 13 18.5523 13 18V13.5C13 12 16 11 16 13V18.0004C16 18.5527 16.4477 19 17 19H18C18.5523 19 19 18.5523 19 18V12C19 10 17.5 9 15.5 9C13.5 9 13 10.5 13 10.5V10C13 9.44771 12.5523 9 12 9H11C10.4477 9 10 9.44772 10 10V18C10 18.5523 10.4477 19 11 19Z" fill="currentColor"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20 1C21.6569 1 23 2.34315 23 4V20C23 21.6569 21.6569 23 20 23H4C2.34315 23 1 21.6569 1 20V4C1 2.34315 2.34315 1 4 1H20ZM20 3C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3H20Z" fill="currentColor"></path>
                    </g>
                </svg>
                <span class="sr-only">LinkedIn</span>
            </a>
        </div>
    </div>
</div>
{% if app.request.cookies.get('accept-cookie') != 'accepted' %}
    <div id="cookie-alert" class="toast fixed bottom-0 right-0 mb-4 mr-4 w-64">
        <div class="bg-gray-50 bg-opacity-90 rounded-lg shadow-lg p-4">
            <div class="flex items-center justify-between mb-2">
                <div class="flex items-center">
                    <img src="https://www.svgrepo.com/show/401340/cookie.svg" alt="Cookie" class="h-6 w-6 mr-2">
                    <span class="text-gray-700 font-bold text-sm">Cookie Policy</span>
                </div>
                <button class="text-gray-500 hover:text-gray-700 focus:outline-none" data-dismiss-target=".toast">
                    <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                        </path>
                    </svg>
                </button>
            </div>
            <p class="text-gray-600 text-sm">
                We use cookies to enhance your experience. By continuing to visit this site, you agree to our use of
                cookies. <a class="underline text-green-700 hover:no-underline" href="{{ path('cookie') }}">cookie
                    policy</a>.
            </p>
            <button id="accept-cookie"
                    class="mt-4 bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-4 rounded">
                Accept
            </button>
        </div>
    </div>
{% endif %}