{% set _arrow_right = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 inline-block mr-1">
                                        <path fill-rule="evenodd" d="M2 8c0 .414.336.75.75.75h8.69l-1.22 1.22a.75.75 0 1 0 1.06 1.06l2.5-2.5a.75.75 0 0 0 0-1.06l-2.5-2.5a.75.75 0 1 0-1.06 1.06l1.22 1.22H2.75A.75.75 0 0 0 2 8Z" clip-rule="evenodd"></path>

                                    </svg>' %}

<nav class="border-gray-200 px-4 lg:px-6 py-2.5 bg-red-600 dark:bg-black">
    <div class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto">
        <a href="{{ path('app_index') }}" class="flex items-center text-white">
            <svg class="h-8 mr-3 sm:h-12" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 17.481 17.481" xml:space="preserve" fill="currentColor">
                <g stroke-width="0"></g>
                <g stroke-linecap="round" stroke-linejoin="round"></g>
                <g>
                    <g>
                        <path d="M17.471,2.073c-0.564-0.122-1.063-0.167-1.543-0.188C15.448,1.86,15,1.876,14.563,1.903 c-0.867,0.065-1.66,0.216-2.393,0.439c-1.466,0.443-2.708,1.152-3.778,2.063C7.323,5.317,6.421,6.427,5.745,7.803 c-0.34,0.687-0.62,1.443-0.826,2.286c-0.098,0.428-0.188,0.864-0.243,1.343c-0.045,0.366-0.077,0.747-0.078,1.164 c-0.08,0.043-0.16,0.092-0.238,0.145c0,0-2.711,1.528-3.962,1.563c-1.251,0.031,0.88,0.755,0.521,1.249 c-0.279,0.385,2.277-1.363,3.817-2.548c0.002,0,0.004,0,0.006,0.002C9.592,9.6,14.928,4.396,14.928,4.396s-5.965,7.766-9.078,8.753 c0.098,0.006,0.196,0.011,0.292,0.016c0.481,0.025,0.928,0.008,1.365-0.021c0.865-0.065,1.658-0.219,2.39-0.44 c1.468-0.441,2.711-1.149,3.786-2.055c1.075-0.907,1.977-2.016,2.654-3.39c0.341-0.685,0.618-1.443,0.825-2.288 c0.099-0.427,0.188-0.865,0.241-1.345C17.463,3.149,17.499,2.65,17.471,2.073z"></path>
                    </g>
                </g>
            </svg>
            <span class="self-center text-2xl font-oswald whitespace-nowrap text-black dark:text-white uppercase">{{ 'site.title'|trans }}</span>
        </a>
        <div class="flex items-center align-bottom lg:order-2">
            <button type="button" id="show-cart"
                    data-drawer-target="shopping-cart"
                    data-drawer-show="shopping-cart"
                    aria-controls="shopping-cart" data-drawer-placement="right" data-drawer-body-scrolling="true"
                    data-url="{{ path('app_market_place_product_order_cart') }}"
                    class="relative text-white dark:text-white block uppercase hover:bg-gray-50 hover:text-red-900 border-inherit focus:ring-gray-100 font-medium rounded-md text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                     class="h-4 w-4 inline-flex me-2">
                    <path d="M1 1.75A.75.75 0 0 1 1.75 1h1.628a1.75 1.75 0 0 1 1.734 1.51L5.18 3a65.25 65.25 0 0 1 13.36 1.412.75.75 0 0 1 .58.875 48.645 48.645 0 0 1-1.618 6.2.75.75 0 0 1-.712.513H6a2.503 2.503 0 0 0-2.292 1.5H17.25a.75.75 0 0 1 0 1.5H2.76a.75.75 0 0 1-.748-.807 4.002 4.002 0 0 1 2.716-3.486L3.626 2.716a.25.25 0 0 0-.248-.216H1.75A.75.75 0 0 1 1 1.75ZM6 17.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM15.5 19a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"/>
                </svg>
                {{ 'store.product.cart'|trans }}
                <div id="qty"
                     class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-gray-600 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900">
                    {{ shop.quantity()|default(0) }}
                    <span class="sr-only">{{ shop.quantity() }}</span>
                </div>
            </button>
            <div class="relative">
                <a href="#"
                   data-dropdown-toggle="account-dropdown"
                   id="account"
                   role="button"
                   class="relative text-white dark:text-white block uppercase hover:bg-gray-50 hover:text-red-900 focus:ring-1 focus:ring-gray-100 font-medium rounded-md text-sm px-4 lg:px-5 py-2 lg:py-2.5 ml-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                         class="h-4 w-4 inline-flex me-2">
                        <path fill-rule="evenodd"
                              d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-5.5-2.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0ZM10 12a5.99 5.99 0 0 0-4.793 2.39A6.483 6.483 0 0 0 10 16.5a6.483 6.483 0 0 0 4.793-2.11A5.99 5.99 0 0 0 10 12Z"
                              clip-rule="evenodd"/>
                    </svg>
                    {{ 'title.account'|trans }}
                    <div id="notify"
                         class="absolute inline-flex items-center justify-center border-2 border-white w-4 h-4 bg-gray-500 rounded-full -top-2 -end-2">
                    </div>
                </a>
                <div id="account-dropdown" class="absolute z-10 hidden">
                    <ul class="w-48 min-w-max list-none space-y-1 overflow-hidden p-2 rounded-md border-none bg-white bg-clip-padding text-left text-base shadow-xl data-[twe-dropdown-show]:block dark:bg-surface-dark"
                        aria-labelledby="account"
                        data-twe-dropdown-menu-ref>
                        {% if not app.user %}
                            <li>
                                <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-md dark:bg-transparent dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-50 focus:text-gray-50 hover:bg-red-600 focus:bg-gray-600 focus:outline-none focus:shadow-outline"
                                   href="{{ path('app_login') }}"
                                   data-twe-dropdown-item-ref>{{ _arrow_right|raw }}{{ 'title.user.login'|trans }}</a>
                            </li>
                            <li>
                                <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-md dark:bg-transparent dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-50 focus:text-gray-50 hover:bg-red-600 focus:bg-gray-600 focus:outline-none focus:shadow-outline"
                                   href="{{ path('app_customer_register') }}"
                                   data-twe-dropdown-item-ref>{{ _arrow_right|raw }}{{ 'title.user.register'|trans }}
                                </a>
                            </li>
                            <li>
                                <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-md dark:bg-transparent dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-50 focus:text-gray-50 hover:bg-red-600 focus:bg-gray-600 focus:outline-none focus:shadow-outline"
                                   href="{{ path('app_forgot_password_request') }}"
                                   data-twe-dropdown-item-ref>{{ _arrow_right|raw }}{{ 'text.forgot_password'|trans }}</a>
                            </li>
                        {% else %}
                            {% if 'ROLE_USER' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
                                <li>
                                    <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-md dark:bg-transparent dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-50 focus:text-gray-50 hover:bg-red-600 focus:bg-gray-600 focus:outline-none focus:shadow-outline"
                                       href="{{ path('app_dashboard') }}"
                                       data-twe-dropdown-item-ref>{{ _arrow_right|raw }}{{ 'text.dashboard'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-md dark:bg-transparent dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-50 focus:text-gray-50 hover:bg-red-600 focus:bg-gray-600 focus:outline-none focus:shadow-outline"
                                       href="{{ path('app_profile') }}"
                                       data-twe-dropdown-item-ref>{{ _arrow_right|raw }}{{ 'text.profile'|trans }}</a>
                                </li>
                                <li>
                                    <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-md dark:bg-transparent dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-50 focus:text-gray-50 hover:bg-red-600 focus:bg-gray-600 focus:outline-none focus:shadow-outline"
                                       href="{{ path('app_logout') }}"
                                       data-twe-dropdown-item-ref>{{ _arrow_right|raw }}{{ 'title.user.logoff'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if 'ROLE_CUSTOMER' in app.user.roles and 'ROLE_ADMIN' not in app.user.roles and 'ROLE_USER' not in app.user.roles %}
                                <li>
                                    <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-md dark:bg-transparent dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-50 focus:text-gray-50 hover:bg-red-600 focus:bg-gray-600 focus:outline-none focus:shadow-outline"
                                       href="{{ path('app_cabinet') }}"
                                       data-twe-dropdown-item-ref>{{ _arrow_right|raw }}{{ 'title.customer.cabinet'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-md dark:bg-transparent dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-50 focus:text-gray-50 hover:bg-red-600 focus:bg-gray-600 focus:outline-none focus:shadow-outline"
                                       href="{{ path('app_logout') }}"
                                       data-twe-dropdown-item-ref>{{ _arrow_right|raw }}{{ 'title.user.logoff'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <button data-collapse-toggle="mobile-menu" type="button"
                    class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="mobile-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6 text-white" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                          clip-rule="evenodd"></path>
                </svg>
                <svg class="hidden w-6 h-6 text-white" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
        <div class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu">
            {% set split = app.request.get('_route')|split('_') %}
            <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-4 lg:mt-0">
                <li>
                    <a href="{{ path('about') }}"
                       class="{{ _route == 'about'? 'text-white bg-red-700': '' }} block uppercase py-2 px-4 rounded-md text-sm text-gray-200 hover:text-white focus:text-gray-50 hover:bg-red-700 focus:bg-red-700 focus:outline-none focus:shadow-outline">{{ 'title.about_us'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('faq') }}"
                       class="{{ _route == 'faq'? 'text-white bg-red-700': '' }} block uppercase py-2 px-4 rounded-md text-sm text-gray-200 hover:text-white focus:text-gray-50 hover:bg-red-700 focus:bg-red-700 focus:outline-none focus:shadow-outline">{{ 'title.questions'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('service') }}"
                       class="{{ _route == 'service'? 'text-white bg-red-700': '' }} block uppercase py-2 px-4 rounded-md text-sm text-gray-200 hover:text-white focus:text-gray-50 hover:bg-red-700 focus:bg-red-700 focus:outline-none focus:shadow-outline">{{ 'title.service'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('contact') }}"
                       class="{{ _route == 'contact'? 'text-white bg-red-700': '' }} block uppercase py-2 px-4 rounded-md text-sm text-gray-200 hover:text-white focus:text-gray-50 hover:bg-red-700 focus:bg-red-700 focus:outline-none focus:shadow-outline">{{ 'title.contact_us'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('app_blog') }}"
                       class="{{ split|length > 1 and split[1] == 'blog' ? 'text-white bg-red-700' : '' }} block uppercase py-2 px-4 rounded-md text-sm text-gray-200 hover:text-white focus:text-gray-50 hover:bg-red-700 focus:bg-red-700 focus:outline-none focus:shadow-outline">{{ 'title.blogs'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('app_market_place_index') }}"
                       class="{{ split|length > 1 and split[1] == 'market' ? 'text-white bg-red-700' : '' }} block uppercase py-2 px-4 rounded-md text-sm text-gray-200 hover:text-white focus:text-gray-50 hover:bg-red-700 focus:bg-red-700 focus:outline-none focus:shadow-outline">{{ 'title.market_places'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>