{% extends 'base.html.twig' %}

{% block title %}{{ 'form.password.text'|trans }}{% endblock %}
{% block class %}{% endblock %}
{% block body %}
        <div class="max-w-lg mx-auto px-4 py-8 lg:py-16 lg:px-2">
            <div class="flex rounded-lg bg-white p-6 shadow-4 dark:bg-surface-dark">
                {{ form_start(resetForm, {attr: {class: 'w-full group', novalidate: ''}}) }}
                <h2 class="text-2xl pb-4 font-extrabold text-primary-700 dark:text-white">{{ 'form.password.text'|trans }}</h2>
                <div class="col-md-12 mb-5">
                    {{ form_label(resetForm.plainPassword.children.first, 'label.form.new_password', {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(resetForm.plainPassword.children.first, {attr: {class: 'invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', placeholder: 'label.form.new_password'}}) }}
                    <span class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">{{ 'form.password.invalid'|trans }}</span>
                    <span class="text-sm text-red-500">{{ form_errors(resetForm.plainPassword.children.first) }}</span>
                </div>
                <div class="col-md-12 mb-5">
                    {{ form_label(resetForm.plainPassword.children.second, 'label.form.repeat_password', {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(resetForm.plainPassword.children.second, {attr: {class: 'invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', placeholder: 'label.form.repeat_password'}}) }}
                    <span class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">{{ 'form.password.invalid'|trans }}</span>
                    <span class="text-sm text-red-500">{{ form_errors(resetForm.plainPassword.children.second) }}</span>
                </div>
                <div class="col-md-12 text-center my-4">
                    <button class="inline-block rounded bg-danger px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-danger-3 transition duration-150 ease-in-out hover:bg-danger-accent-300 hover:shadow-danger-2 focus:bg-danger-accent-300 focus:shadow-danger-2 focus:outline-none focus:ring-0 active:bg-danger-600 active:shadow-danger-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong group-invalid:pointer-events-none group-invalid:opacity-30">{{ 'form.password.text'|trans }}</button>
                </div>
                {{ form_end(resetForm) }}
            </div>
        </div>
{% endblock %}
