{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.create_blog'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}
{% block content %}
    {{ form_start(form, {attr: {class: 'd-tech-form', novalidate: 'novalidate'}}) }}
    <div class="form-group">
        {% set title_error = form.title.vars.errors|length ? 'form-control error' : 'form-control' %}
        {{ form_label(form.title, 'label.form.title') }} <span class="text-danger">*</span>
        {{ form_widget(form.title, {attr: {class: title_error, placeholder: 'label.form.title'}}) }}
        <sm class="text-danger">{{ form_errors(form.title) }}</sm>
    </div>
    <div class="form-group mt-3">
        {% set content_error = form.content.vars.errors|length ? 'form-control error' : 'form-control' %}
        {{ form_label(form.content, 'label.form.content') }} <span class="text-danger">*</span>
        {{ form_widget(form.content, {attr: {class: content_error, rows: 6, placeholder: 'label.form.content'}}) }}
        <sm class="text-danger">{{ form_errors(form.content) }}</sm>
    </div>
    <div class="form-group text-center my-4">        
        {{ form_widget(form.save, { label: form.vars.data.id ? 'form.action.update' : 'form.action.save'}) }}
        <a type="button" href="{{ url('app_dashboard_blog') }}" class="btn btn-secondary shadow shadow-sm">{{ 'form.action.cancel'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock %}

