{% extends 'dashboard/index.html.twig' %}

{% set _message = app.flashes('success') %}
{% set _title_extend = form.vars.data.id ? 'title.dashboard.change_blog'|trans : 'title.dashboard.create_blog'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}
    {{ _title_extend }}
    {% if form.vars.data.id %}
        <a target="_blank" class="btn btn btn-outline-info float-right mt-1"
           href="{{ path('app_blog_view', {slug: form.vars.data.slug}) }}">{{ 'user.entry.preview'|trans }}</a>
    {% endif %}
{% endblock %}
{% block content %}
    {{ form_start(form, {attr: {class: 'd-tech-form', novalidate: 'novalidate'}}) }}
    {% if form_errors(form) %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}
    <div class="form-group">
        {% set title_error = form.title.vars.errors|length or error ? 'form-control error' : 'form-control' %}
        {{ form_label(form.title, 'label.form.title') }} <span class="text-danger">*</span>
        {{ form_widget(form.title, {attr: {class: title_error, placeholder: 'label.form.title'}}) }}
        <sm class="text-danger">{{ error ? error : form_errors(form.title) }}</sm>
    </div>
    <div class="form-group mt-3">
        {% set short_content_error = form.short_content.vars.errors|length ? 'form-control error' : 'form-control' %}
        {{ form_label(form.short_content, 'label.form.short_content') }}
        {{ form_widget(form.short_content, {attr: {class: short_content_error, rows: 3, placeholder: 'label.form.short_content'}}) }}
        <sm class="text-danger">{{ form_errors(form.short_content) }}</sm>
    </div>
    <div class="form-group mt-3">
        <a class="form-title card card-header" data-toggle="collapse" href="#categories" role="button"
           aria-expanded="false"
           aria-controls="categories">Categories</a>
        <div class="collapse mt-2 active" id="categories">
            <div class="card card-body">
                {% for key, category in categories %}
                    {% set _checked = '' %}
                    {% for entryCategory in form.vars.data.entryCategories %}
                        {% if category.id == entryCategory.category.id %}
                            {% set _checked = 'checked' %}
                        {% endif %}
                    {% endfor %}
                    <div class="custom-control custom-switch">
                        <input type="checkbox" name="category[{{ category.id }}]" class="custom-control-input"
                               id="category-{{ category.id }}" {{ _checked }}>
                        <label class="custom-control-label" for="category-{{ category.id }}">{{ category.name }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="form-group mt-3">
        {% set content_error = form.content.vars.errors|length ? 'form-control error' : 'form-control' %}
        {{ form_label(form.content, 'label.form.content') }} <span class="text-danger">*</span>
        {{ form_widget(form.content, {attr: {class: content_error, rows: 6, placeholder: 'label.form.content'}}) }}
        <sm class="text-danger">{{ form_errors(form.content) }}</sm>
    </div>
    <div class="form-group mt-3">
        {% set status_error = form.status.vars.errors|length ? 'form-control error' : 'form-control' %}
        {{ form_label(form.status, 'label.form.status') }}
        {{ form_widget(form.status, {attr: {class: status_error, disabled: form.vars.data.id ? false : true}}) }}
        <sm class="text-danger">{{ form_errors(form.status) }}</sm>
    </div>
    {% if form.vars.data.id %}
        <div class="form-group mt-3 card">
            <a class="form-title card-header" data-toggle="collapse" href="#attachments" role="button"
               aria-expanded="false"
               aria-controls="attachments">Attachments</a>
            <div class="collapse mt-2" id="attachments">
                <div class="card-body">
                    <div class="table text-center entry-attachments">
                        <template>
                            <div class="d-inline-block m-1">
                                <img class="attach" src="{{ asset('img/1x1.png') }}">
                            </div>
                        </template>
                        {% for key, picture in entry.entryAttachments %}
                            {% set _picture = 'storage/entry/picture/' ~ entry.entryDetails.id ~ '/' ~ picture.attach.name %}
                            <div class="d-inline-block m-1">
                                <img class="attach" src="{{ asset(_picture) | imagine_filter('entry_preview') }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="entry[picture]" id="picture"
                               aria-describedby="picture" accept="image/png, image/jpeg">
                        <label class="custom-file-label" data-label="{{ 'label.form.entry_picture'|trans }}"
                               for="picture">{{ 'label.form.entry_picture'|trans }}</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-info"
                                data-url="{{ path('app_dashboard_blog_attch', {id: form.vars.data.id}) }}" type="button"
                                id="attach"><i class="bi bi-image-fill pr-2"></i>Attach
                        </button>
                    </div>
                    <small class="picture-info text-monospace mt-1 w-100"></small>
                </div>
            </div>
        </div>
    {% endif %}
    <input type="hidden" name="flash" value="{{ _message[0]|default([]|json_encode) }}">
    <div class="form-group text-center my-4">
        {{ form_widget(form.save, { label: form.vars.data.id ? 'form.action.update' : 'form.action.save'}) }}
        <a type="button" href="{{ url('app_dashboard_blog') }}"
           class="btn btn-secondary shadow shadow-sm">{{ 'form.action.cancel'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock %}

