{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.overview_blog'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    <div class="mb-3 text-right">
        <span class="bi bi-circle-fill mr-1 color-trashed"></span><small class="text-muted">{{ 'entry.info.trashed'|trans }}</small>
        <span class="bi bi-circle-fill mr-1 ml-3 color-published"></span><small class="text-muted">{{ 'user.entry.info.published'|trans }}</small>
        <span class="bi bi-circle-fill mr-1 ml-3 color-draft"></span><small class="text-muted">{{ 'entry.info.draft'|trans }}</small>
    </div>
    <div class="table-responsive card">
        <table class="table table-hover table-borderless">
            <thead class="bg-secondary text-white">
            <tr>
                <th class="col-1 text-center" scope="col">{{ 'table.header.id'|trans }}</th>
                <th class="col-5" scope="col">{{ 'table.header.title'|trans }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th class="col-3" scope="col">{{ 'table.header.author'|trans }}</th>
                {% else %}
                    <th class="col-3" scope="col">{{ 'table.header.status'|trans }}</th>
                {% endif %}
                <th class="col-2 text-center" scope="col">{{ 'table.header.created_at'|trans }}</th>
                <th class="col-1 text-center" scope="col">{{ 'table.header.handle'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in entries %}
                <tr>
                    <th scope="row" class="text-center text-muted bg-{{ entry.status }}">{{ entry.id }}</th>
                    <td>
                        <a
                                data-toggle="tooltip"
                                data-placement="right"
                                class="link"
                                title="{{ entry.entryDetails.title }}"
                                href="{{ path('app_dashboard_edit_blog', {id: entry.id}) }}">
                            {{ entry.entryDetails.title|length > 30 ? entry.entryDetails.title|slice(0, 30) ~ '...' : entry.entryDetails.title }}
                        </a>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a class="link-secondary"
                               href="{{ path('app_dashboard_details_user', {id: entry.user.id, tab: 'summary'}) }}">{{ entry.user.userDetails.firstName }}</a>
                        </td>
                    {% else %}
                        <td class="color-{{ entry.status }}">{{ entry.status|capitalize }}</td>
                    {% endif %}
                    <td class="text-center">
                            <span
                                    class="text-muted"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="{{ entry.createdAt|date(datetime_format) }}">
                                {{ entry.createdAt|date(date_format) }}
                            </span>
                    </td>
                    <td class="text-center"><i class="bi bi-person-circle"></i></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center text-info bg-white">{{ 'table.footer.not_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
