{% extends 'base.html.twig' %}

{% block title %}{{ 'text.register.success'|trans }}{% endblock %}

{% block body %}
    <div class="page-title-area default">        
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>{{ 'text.contact.success'|trans }}</h2>
                        <p>{{ 'text.contact.success.desc'|trans|raw }}</p>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <section class="section-area default">
        <div class="container">
            <div class="row">
                <div class="col-md-12">                    
                    <div class="alert alert-light text-dark shadow-sm" role="alert">
                        <h4 class="alert-heading">Well done! Keep it up!</h4>
                        <p>{{ 'text.contact.success.desc'|trans|raw }}</p>
                        <hr>
                        <p class="mb-0">{{ 'text.contact.success.text_help'|trans({'%app_login%': path('app_login')})|raw }}</p>
                    </div>
                </div>            
            </div>
        </div>
    </section>    
{% endblock %}
