<div class="flex flex-col mt-4 px-4">
    <div class="grid grid-cols-2 gap-4">
        <div class="relative">
            <div class="flex flex-col flex-wrap mb-5 w-1/2">
                <label for="{{ form.size.vars.id }}" class="inline-flex items-center -mb-1.5 cursor-pointer">
                    <input type="checkbox" id="{{ form.size.vars.id }}" name="{{ form.size.vars.name }}"
                           class="sr-only peer" value="size" checked disabled>
                    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                    <span class="ms-3 relative text-sm font-medium text-gray-900 dark:text-gray-300">{{ form.size.vars.label|trans }}</span>
                </label>
            </div>
            {% for key, field in form.size.children %}
                {% set _checked_size = false %}
                {% for attributes in form.vars.data.marketProductAttributes.toArray %}
                    {% if attributes.name == 'size' %}
                        {% for value in attributes.marketProductAttributeValues.toArray %}
                            {% if value.value|upper == field.vars.value|upper %}
                                {% set _checked_size = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <div class="flex flex-col flex-wrap mb-3 w-1/2">
                    <label for="{{ field.vars.id }}" class="inline-flex items-center -mb-1.5 cursor-pointer">
                        {{ form_widget(field, {attr: {class: 'sr-only peer', checked: _checked_size}}) }}
                        <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                        <span class="ms-3 relative text-sm font-medium text-gray-900 dark:text-gray-300">{{ field.vars.label }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
        <div class="relative">
            <div class="flex flex-col flex-wrap mb-5 w-1/2">
                <label for="{{ form.color.vars.id }}" class="inline-flex items-center -mb-1.5 cursor-pointer">
                    <input type="checkbox" id="{{ form.color.vars.id }}" name="{{ form.color.vars.name }}" class="sr-only peer" value="size" checked disabled>
                    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                    <span class="ms-3 relative text-sm font-medium text-gray-900 dark:text-gray-300">{{ form.color.vars.label|trans }}</span>
                </label>
            </div>
            {% for key, field in form.color.children %}
                {% set _checked_color = false %}
                {% for attributes in form.vars.data.marketProductAttributes.toArray %}
                    {% if attributes.name == 'color' %}
                        {% for value in attributes.marketProductAttributeValues.toArray %}
                            {% if value.value == field.vars.label %}
                                {% set _checked_color = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <div class="flex flex-col flex-wrap mb-3 w-1/2">
                    <label for="{{ field.vars.id }}" class="inline-flex items-center -mb-1.5 cursor-pointer">
                        {{ form_widget(field, {attr: {class: 'sr-only peer', checked: _checked_color}}) }}
                        <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                        <span class="ms-3 relative text-sm font-medium text-gray-900 dark:text-gray-300">{{ field.vars.label }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
</div>