<div class="flex flex-col mt-4 px-4">
    <div class="grid grid-cols-2 gap-4">
        <div class="relative mb-3">
            {{ form_label(form.quantity, 'label.form.quantity', {label_attr: {class: 'block mb-1 text-sm font-medium text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.quantity, {attr: {class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', placeholder: '0'}}) }}
            <span class="mt-0.5 block text-sm text-red-500">{{ form_errors(form.quantity) }}</span>
        </div>
        <div class="relative mb-3">
            {{ form_label(form.cost, 'label.form.cost', {label_attr: {class: 'inline-block text-sm font-medium text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.cost, {attr: {class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', placeholder: '0.00'}}) }}
            <span class="mt-0.5 block text-sm text-red-500">{{ form_errors(form.cost) }}</span>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-4">
        <div class="relative mb-3">
            {{ form_label(form.pckg_quantity, 'label.form.pckg_quantity', {label_attr: {class: 'block mb-1 text-sm font-medium text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.pckg_quantity, {attr: {class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', placeholder: '0'}}) }}
            <span class="mt-0.5 block text-sm text-red-500">{{ form_errors(form.pckg_quantity) }}</span>
        </div>
        <div class="relative mb-3">
            {{ form_label(form.sku, 'label.form.sku', {label_attr: {class: 'block mb-1 text-sm font-medium text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.sku, {attr: {class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', placeholder: 'label.form.sku'}}) }}
            <span class="mt-0.5 block text-sm text-red-500">{{ form_errors(form.sku) }}</span>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-4">
        <div class="relative mb-3">
            {{ form_label(form.pckg_discount, 'label.form.pckg_discount', {label_attr: {class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.pckg_discount, {attr: {class: 'w-full h-1.5 bg-gray-200 rounded-sm appearance-none cursor-pointer dark:bg-gray-700', placeholder: '0'}}) }}
            <div class="relative text-center">
                <span class="px-1.5 py-1.5 bg-gray-200 rounded-md text-gray-500 discount-output mt-2 mb-5 font-light"></span>
            </div>
        </div>
        <div class="relative mb-3">
            {{ form_label(form.fee, 'label.form.fee', {label_attr: {class: 'inline-block text-sm font-medium text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.fee, {attr: {class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', placeholder: '0'}}) }}
            <span class="text-xs text-gray-600 mt-0.5">{{ 'label.form.fee.help'|trans }}</span>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-4 mb-3">
        <div class="relative mb-3">
            {{ form_label(form.value, '', {label_attr: {class: 'inline-block text-sm font-medium text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.value, {attr: {class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', placeholder: '0'}}) }}
        </div>
        <div class="relative mb-3">
            {{ form_label(form.unit, 'label.form.unit', {label_attr: {class: 'inline-block text-sm font-medium text-gray-900 dark:text-white'}}) }}
            {{ form_widget(form.unit, {attr: {class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', placeholder: '0'}}) }}
        </div>
    </div>
</div>