<form name="register-xhr" id="register-xhr" action="{{ path('app_customer_register_xhr') }}" class="group"
      autocomplete="off" novalidate>
    <div id="alert-register"
         class="hidden animate__animated animate__bounceIn p-4 mx-5 mt-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
         role="alert"></div>
    <div class="p-4 md:p-5 space-y-4">
        <div class="grid grid-cols-2 gap-4">
            <div class="relative">
                <label class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
                       for="first_name">{{ 'label.form.first_name'|trans }} <abbr class="text-red-700"
                                                                                  title="{{ 'required.value'|trans }}">*</abbr>
                </label>
                <input id="first_name" name="first_name" type="text" pattern=".{3,250}"
                       class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
                       placeholder="{{ 'label.form.first_name'|trans }}" required>
                <span class="mt-1 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">{{ 'form.first_name.invalid'|trans }}</span>
            </div>
            <div class="relative">
                <label class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
                       for="last_name">{{ 'label.form.last_name'|trans }} <abbr class="text-red-700"
                                                                                title="{{ 'required.value'|trans }}">*</abbr>
                </label>
                <input name="last_name" id="last_name" type="text" pattern=".{2,200}"
                       class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
                       placeholder="{{ 'label.form.last_name'|trans }}" required>
                <span class="mt-1 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">{{ 'form.last_name.invalid'|trans }}</span>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div class="relative">
                <label class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
                       for="email">{{ 'label.form.email'|trans }} <abbr class="text-red-700"
                                                                        title="{{ 'required.value'|trans }}">*</abbr>
                </label>
                <input name="email" id="email" type="email" pattern=".{5,254}"
                       class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
                       placeholder="{{ 'label.form.email'|trans }}" required>
                <span class="mt-1 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">{{ 'form.email.invalid'|trans }}</span>
            </div>
            <div class="relative">
                <label class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
                       for="plainPassword">{{ 'label.form.password'|trans }} <abbr class="text-red-700"
                                                                                   title="{{ 'required.value'|trans }}">*</abbr>
                </label>
                <input id="plainPassword" name="plainPassword" type="password" pattern=".{7,}"
                       class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
                       placeholder="{{ 'label.form.password'|trans }}" required>
                <span class="mt-1 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">{{ 'form.password.invalid'|trans }}</span>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div class="relative">
                <label class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
                       for="city">{{ 'label.form.city'|trans }} <abbr class="text-red-700"
                                                                      title="{{ 'required.value'|trans }}">*</abbr>
                </label>
                <input id="city" name="city" type="text" pattern=".{3,250}"
                       class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
                       placeholder="{{ 'label.form.city'|trans }}" required>
                <span class="mt-1 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">{{ 'form.city.invalid'|trans }}</span>
            </div>
            <div class="relative">
                <label class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
                       for="country">{{ 'label.form.country'|trans }} <abbr class="text-red-700"
                                                                            title="{{ 'required.value'|trans }}">*</abbr>
                </label>
                {#                {{ dump(countries) }} #}
                <select id="country" name="country"
                        class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
                        required>
                    <option value="">{{ 'form.country.placeholder'|trans }}</option>
                    {% for key, name in countries %}
                        <option value="{{ key }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <span class="mt-1 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">{{ 'form.country.invalid'|trans }}</span>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <div class="relative">
                <label class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
                       for="phone">{{ 'label.form.phone'|trans }} <abbr class="text-red-700"
                                                                        title="{{ 'required.value'|trans }}">*</abbr>
                </label>
                <input id="phone" name="phone" type="tel"
                       class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
                       placeholder="{{ 'label.form.phone'|trans }}" required>
                <span class="mt-1 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">{{ 'form.phone.invalid'|trans }}</span>
            </div>
            <div class="mb-0.5">
                <label class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
                       for="address">{{ 'label.form.address'|trans }} <abbr class="text-red-700"
                                                                            title="{{ 'required.value'|trans }}">*</abbr>
                </label>
                <input id="address" name="address" type="text" pattern=".{10,250}"
                       class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500"
                       placeholder="{{ 'label.form.address'|trans }}" required>
                <span class="mt-1 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">{{ 'form.address.invalid'|trans }}</span>
            </div>
        </div>
        <div class="relative">
            <div class="mb-3">
                <input id="agreeTerms" name="agreeTerms" type="checkbox" value="1"
                       class="valid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-gray-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                       required>
                <label class="ml-1 text-sm font-medium text-gray-900 dark:text-gray-300"
                       for="agreeTerms">{{ 'label.agree_terms'|trans }}
                    <abbr class="text-red-700" title="{{ 'required.value'|trans }}">*</abbr>
                </label>
                <div class="mt-1 text-xs text-gray-500 dark:text-gray-400">{{ 'form.agree_terms.help'|trans({
                        '%policy%': url('policy'),
                        '%terms%': url('terms')
                    })|raw }}</div>
            </div>
        </div>
    </div>
    <div class="flex justify-between items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
        <p class="text-xs text-red-500 my-3">{{ 'required.text'|trans }} <abbr class="text-red-700"
                                                                               title="{{ 'required.field'|trans }}">*</abbr>
        </p>
        <div class="mx-0.5">
            <button type="submit"
                    class="inline-block rounded bg-danger px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-danger-3 transition duration-150 ease-in-out hover:bg-danger-accent-300 hover:shadow-danger-2 focus:bg-danger-accent-300 focus:shadow-danger-2 focus:outline-none focus:ring-0 active:bg-danger-600 active:shadow-danger-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong group-invalid:pointer-events-none group-invalid:opacity-30">{{ 'form.action.register'|trans }}</button>
            <button data-modal-hide="register" type="button"
                    class="pb-1.5 pt-2 px-6 ms-3 text-xs font-medium uppercase leading-normal text-gray-900 shadow-gray-3 transition duration-150 ease-in-out focus:outline-none bg-white rounded border border-gray-200 hover:bg-gray-100 hover:text-gray-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                Decline
            </button>
        </div>
    </div>
</form>