{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.overview.conversation'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div class="grid grid-cols-1 lg:grid-cols-4 md:grid-cols-4 gap-4 p-4 text-sm">
            {% for conversation in conversations %}
                <div class="p-2">{{ conversation.createdAt|date(datetime_format) }}</div>
                <div class="p-2">{{ conversation.messages.count }}</div>
                <div class="p-2">{{ conversation.messages.first.sender.userDetails.firstName ~ ' ' ~ conversation.messages.first.sender.userDetails.lastName }}</div>
                <a role="button" class="p-2 font-medium text-red-700 hover:text-red-800 hover:underline"
                   href="{{ path('app_dashboard_publish_index_messages', { hub: conversation.hub }) }}">{{ 'text.read'|trans }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}