<div class="modal modal-lg fade" id="modal-brand" tabindex="-1" role="dialog" aria-labelledby="modal-brand"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'market.brand.create'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="{{ 'form.action.close'|trans }}"></button>
            </div>
            <form method="post" class="d-tech-form confirm needs-validation" action="">
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label for="brand_name" class="form-label required">{{ 'label.form.brand_name'|trans }}</label>
                        <input type="text" name="brand[name]" class="form-control" id="brand_name" min="3" max="250"
                               placeholder="{{ 'label.form.brand_name'|trans }}"
                               required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary pb-2"
                            data-bs-dismiss="modal">{{ 'form.action.cancel'|trans }}</button>
                    <input type="hidden" id="_token" name="brand[_token]" value="">
                    <button type="submit" class="btn btn-primary">{{ 'form.action.save'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
    {% block javascripts %}
        <script type="text/javascript">

        </script>
    {% endblock %}
</div>