{% extends 'market_place/index.html.twig' %}
{% block title %}
    {% if categories is null %}
        {{ category.name }}
    {% else %}
        {{ 'search.form.categories'|trans }}
    {% endif %}
{% endblock %}
{% block offest %}pt-4 py-4 lg:py-2 lg:px-2{% endblock %}
{% block extra_search %}
    <div class="max-w-screen-xl flex mx-auto justify-center mt-3">
        <div class="w-full py-2.5 mx-3 px-4 border border-gray-100 rounded-lg bg-gray-50 mb-3">
            <svg class="w-3 h-3 me-2.5 inline-flex" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor" viewBox="0 0 20 20">
                <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"></path>
            </svg>
            <div class="inline-flex me-3">
                <a href="{{ path('app_market_place_index') }}"
                   class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                    {{ 'title.market_places'|trans }}
                </a>
            </div>
            {% if categories is null %}
                <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1 inline-flex me-3" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m1 9 4-4-4-4"></path>
                </svg>
                <div class="inline-flex me-3">
                    <a href="{{ path('app_market_place_category') }}"
                       class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                        {{ 'search.form.categories'|trans }}
                    </a>
                </div>
            {% endif %}
            {% if app.request.get('parent') is not null %}
                <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1 inline-flex me-3" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m1 9 4-4-4-4"></path>
                </svg>
                <div class="inline-flex me-3">
                    <a href="{{ path('app_market_place_parent_category', {parent: app.request.get('parent')}) }}"
                       class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                        {{ parent_name }}
                    </a>
                </div>
            {% endif %}
            {% if app.request.get('child') is not null %}
                <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1 inline-flex me-3" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m1 9 4-4-4-4"></path>
                </svg>
                <div class="inline-flex me-3">
                    <a href="{{ path('app_market_place_child_category', {parent: app.request.get('parent'), child: app.request.get('child')}) }}"
                       class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                        {{ child_name }}
                    </a>
                </div>
            {% endif %}
            <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1 inline-flex me-3" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 9 4-4-4-4"></path>
            </svg>
            <button id="category-filter"
                    data-dropdown-toggle="dropdown-extra"
                    data-dropdown-offset-distance="10"
                    data-dropdown-offset-skidding="30"
                    data-dropdown-placement="bottom"
                    class="inline-flex relative mb-1 w-52 px-3 py-2 text-sm font-normal text-center text-gray-900 hover:text-blue-600 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-900 dark:hover:bg-gray-800 dark:text-white dark:focus:ring-gray-700"
                    type="button">{{ 'option.category.choice_category'|trans }}
                <svg class="w-2.5 h-2.5 absolute end-0 me-3 mt-1 text-gray-700 hover:text-gray-700" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m1 1 4 4 4-4"></path>
                </svg>
            </button>
            <div id="dropdown-extra"
                 class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-lg w-auto dark:bg-gray-700">
                <ul class="my-5 ps-1.5 list-none lg:flex-row" aria-labelledby="category-filter">
                    {% if categories is null %}
                        {% set _collection = parent is not null ? parent.children : category.children %}
                    {% else %}
                        {% set _collection = categories %}
                    {% endif %}
                    {% for child in _collection %}
                        <li>
                            <a title="{{ child.name }}"
                                    {% if categories is null %}
                                        href="{{ path('app_market_place_child_category', {parent: app.request.get('parent'), child: child.slug}) }}"
                                    {% else %}
                                        href="{{ path('app_market_place_parent_category', {parent: child.slug}) }}"
                                    {% endif %}
                               class="block mx-1 mt-1.5 w-auto text-gray-500 rounded-lg hover:text-gray-500 hover:bg-gray-100 text-sm px-5 py-2.5 me-2 mb-2 dark:border-gray-500 dark:text-gray-500 dark:hover:text-white dark:hover:bg-gray-500">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                     class="w-3.5 h-3.5 inline-block mr-1">
                                    <path fill-rule="evenodd"
                                          d="M2 8c0 .414.336.75.75.75h8.69l-1.22 1.22a.75.75 0 1 0 1.06 1.06l2.5-2.5a.75.75 0 0 0 0-1.06l-2.5-2.5a.75.75 0 1 0-1.06 1.06l1.22 1.22H2.75A.75.75 0 0 0 2 8Z"
                                          clip-rule="evenodd"></path>
                                </svg>{{ child.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block content_body %}
    <h2 class="text-2xl pb-4 font-oswald font-extrabold text-primary-700 dark:text-white">
        {% if categories is null %}
            {{ category.name }}
        {% else %}
            {{ 'search.form.categories'|trans }}
        {% endif %}
    </h2>
    <div class="grid grid-cols-4 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 xs:grid-cols-1 gap-3">
        {% for product in products %}
            {% include 'market_place/grid/category.html.twig' %}
        {% endfor %}
    </div>
    {% if products|length == 0 %}
        <div class="flex justify-center">
            <svg width="200px" class="w-150 h-auto mt-10" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 512 512"  xml:space="preserve">
                <style type="text/css">
                    .st0{fill:#fca5a5;}
                </style>
                <g>
                    <path class="st0" d="M494.365,133.438c-11.528-15.738-29.35-25.678-48.804-27.219L126.245,80.918l-3.129-17.749
                c-5.252-29.676-28.858-52.657-58.671-57.066L24.597,0.187C15.093-1.209,6.253,5.359,4.84,14.846
                c-1.409,9.512,5.158,18.356,14.658,19.761v-0.008l39.861,5.907c14.97,2.218,26.868,13.785,29.501,28.71l54.009,306.134
                c5.073,28.735,30.027,49.669,59.206,49.678h221.971c9.606,0,17.394-7.792,17.394-17.39c0-9.607-7.788-17.398-17.394-17.398H202.075
                c-12.282,0.009-22.813-8.836-24.946-20.934l-5-28.349h244.879c31.234,0,58.346-21.55,65.367-52.005l23.258-100.767
                c1.151-5,1.717-10.06,1.717-15.086C507.35,158.962,502.88,145.04,494.365,133.438z M319.692,125.33l72.469,5.745v180.898h-72.469
                V125.33z M296.502,311.973h-72.47V117.752l72.47,5.746V311.973z M131.451,110.415l69.395,5.496v196.062h-33.833L131.451,110.415z
                 M477.378,181.668l-23.245,100.776c-3.986,17.278-19.385,29.53-37.125,29.53h-1.657V132.916l27.926,2.208
                c11.049,0.866,21.174,6.516,27.706,15.447c4.838,6.592,7.381,14.495,7.381,22.526C478.363,175.949,478.038,178.809,477.378,181.668
                z"></path>
                    <path class="st0" d="M215.346,450.165c-17.076,0-30.909,13.853-30.909,30.926c0,17.073,13.832,30.909,30.909,30.909
                c17.078,0,30.927-13.836,30.927-30.909C246.273,464.018,232.423,450.165,215.346,450.165z"></path>
                    <path class="st0" d="M381.539,450.165c-17.073,0-30.913,13.853-30.913,30.926c0,17.073,13.84,30.909,30.913,30.909
                c17.072,0,30.922-13.836,30.922-30.909C412.461,464.018,398.612,450.165,381.539,450.165z"></path>
                </g>
            </svg>
        </div>
        <div class="w-full mt-5 text-gray-600 dark:text-white text-center">
            {{ 'table.footer.not_found'|trans }}
            <a class="block w-full hover:text-blue-800 hover:underline dark:text-white"
               href="{{ path('app_market_place_index') }}">{{ 'form.action.back'|trans }}</a>
        </div>
    {% endif %}
{% endblock %}
{% block loading %}
    {% if products|length %}
        <div class="max-w-screen-xl flex mx-auto justify-center my-10">
            {% include 'layouts/pagination/pages.html.twig' with {
                route: app.request.get('_route')
            } %}
        </div>
    {% endif %}
{% endblock %}