<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{{ 'site.title'|trans }}{% endblock %} - {{ 'text.home.header'|trans }}</title>
    <meta property="og:title" content="{{ 'site.title'|trans }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url('app_index') }}">
    <meta property="og:site_name" content="{{ 'site.title'|trans }} - {{ 'text.home.header'|trans }}">
    <meta property="og:locale" content="en_US">
    <meta name="application-name" content="{{ 'site.title'|trans }} - {{ 'text.home.header'|trans }}">
    <meta name="apple-mobile-web-app-title" content="{{ 'site.title'|trans }} - {{ 'text.home.header'|trans }}">
    <link rel="canonical" href="{{ app.request.uri }}" />
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% set _route = app.request.get('_route') %}
<div class="preloader">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="lds-spinner">
                {% for i in range(0, 12) %}
                    <div></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% include 'layouts/navbar.html.twig' %}
{% block body %}{% endblock %}
{{ include ('layouts/footer.html.twig') }}
<div class="copyright-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                {% set year =  'now' | date('Y') %}
                {% set build_year = '2023' %}
                <span>&copy; {{ year == build_year ? build_year : build_year ~ '-' ~ year }} Techspace - {{ 'text.all_right_reserved'|trans }}</span>
            </div>
        </div>
    </div>
</div>
{% block toast %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
