<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Techspace{% endblock %}</title>        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>                
        {% set _route = app.request.get('_route') %}
        <div class="preloader">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="lds-spinner">
                        <div></div><div></div><div></div>
                        <div></div><div></div><div></div>
                        <div></div><div></div><div></div>
                        <div></div><div></div><div></div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'layouts/navbar.html.twig' %}                
        {% block body %}{% endblock %}
        {{ include ('layouts/toast.html.twig')  }}        
        {{ include ('layouts/footer.html.twig') }} 
        <div class="copyright-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        {% set year =  'now' | date('Y') %}
                        {% set build_year = '2023' %}
                        <span>&copy; {{ year == build_year ? build_year : build_year ~ '-' ~ year }} Techspace - {{ 'text.all_right_reserved'|trans }}</span>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <a href="{{ path('terms') }}">{{ 'title.terms'|trans|raw }}</a>
                            </li>
                            <li>
                                <a href="{{ path('policy') }}">{{ 'title.privacy_policy'|trans }}</a>
                            </li>
                        </ul> 
                    </div>
                </div>
            </div>
        </div>                
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
