<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Techspace{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% set _route = app.request.get('_route') %}
<div class="preloader">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="lds-spinner">
                {% for i in range(0, 12) %}
                    <div></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% include 'layouts/navbar.html.twig' %}
{% block body %}{% endblock %}
{{ include ('layouts/toast.html.twig') }}
{{ include ('layouts/footer.html.twig') }}
<div class="copyright-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                {% set year =  'now' | date('Y') %}
                {% set build_year = '2023' %}
                <span>&copy; {{ year == build_year ? build_year : build_year ~ '-' ~ year }} Techspace - {{ 'text.all_right_reserved'|trans }}</span>
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
