{% extends 'dashboard/index.html.twig' %}

{% block title_content %}{{ 'title.dashboard.faq'|trans }}{% endblock %}

{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-1 text-center" scope="col">#</th>
                <th class="col-7" scope="col">Title</th>
                <th class="col-2 text-center" scope="col">Status</th>
                <th class="col-2 text-center" scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                {% set _status = entry.visible ? 'badge-success': 'badge-info' %}
                {% set _trashed = entry.deletedAt ? 'badge-danger': 'badge-success' %}
                {% set _visible = entry.visible ? 'Published': 'Hidden' %}
                <tr>
                    <th scope="row" class="text-center">{{ entry.id }}</th>
                    <td>
                        {% if  entry.deletedAt %}
                            <s class="text-muted">{{ entry.title }}</s>
                            {% else %}
                                {{ entry.title }}
                            {% endif %}
                    </td>
                    <td class="text-center">
                        <span class="badge {{ entry.deletedAt ? _trashed : _status }} p-2">{{ entry.deletedAt ? 'Trashed' : _visible }}</span>
                    </td>
                    <td class="text-center">
                        <a href="{{ path('app_dashboard_faq_edit', {id: entry.id}) }}" class="btn btn-sm btn-outline-lightning rounded mr-1">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        {% if entry.deletedAt  %}
                            <a class="btn btn-sm btn-outline-lightning rounded restore-entry" href="{{ path('app_dashboard_faq_restore', {id: entry.id}) }}">
                                <i class="bi bi-caret-up-square-fill"></i>
                            </a>
                        {% else %}    
                            <a 
                                class="btn btn-sm btn-outline-lightning rounded delete-entry" 
                                data-token="{{ csrf_token('delete') }}" 
                                data-url="{{ url('app_dashboard_faq_delete', {id: entry.id}) }}" 
                                data-toggle="modal" 
                                data-target="#modal-delete">
                                <i class="bi bi-trash"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center text-info bg-grey">Results not found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
