{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.manufacturers'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    {% include 'dashboard/content/market_place/navbar/nav.html.twig' with {
        inject: true,
        name: 'store.manufacturer.create'|trans,
        path: path('app_dashboard_market_place_create_manufacturer', {store: store.id})
    } %}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-500 uppercase bg-info-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">{{ 'table.header.name'|trans }}</th>
                <th scope="col" class="px-6 py-3">{{ 'table.header.description'|trans }}</th>
                <th scope="col" class="px-6 py-3 text-center">{{ 'table.header.handle'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for manufacturer in manufacturers %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-3">
                        <a data-twe-toggle="tooltip"
                           data-twe-placement="left"
                           class="block text-wrap font-semibold hover:underline hover:text-gray-400 dark:text-gray-400"
                           title="{{ manufacturer.name }}"
                           href="{{ path('app_dashboard_market_place_edit_manufacturer', {store: manufacturer.store.id, id: manufacturer.id}) }}">
                            {{ manufacturer.name|length > 30 ? manufacturer.name|slice(0, 30) ~ '...' : manufacturer.name }}
                        </a>
                    </th>
                    <td class="px-6 py-3">{{ manufacturer.description|length > 80 ? manufacturer.description|slice(0, 80) ~ '...' : manufacturer.description|default('n/a') }}</td>
                    <td class="px-6 py-3 text-center">
                        <a href="{{ path('app_dashboard_market_place_edit_manufacturer', {store: manufacturer.store.id, id: manufacturer.id}) }}"
                           class="border rounded ps-1.5 pe-0.5 py-1 mr-1 hover:shadow-md hover:bg-gray-100 dark:hover:bg-gray-800">
                            <i class="fa fa-pencil text-indigo-600 dark:text-white"></i>
                        </a>
                        <a class="border rounded delete-entry px-2 py-1 hover:shadow-md hover:bg-gray-100 dark:hover:bg-gray-800 cursor-pointer {{ manufacturer.storeProductManufacturers.count ? 'pointer-events-none' : '' }}"
                           data-token="{{ csrf_token('delete') }}"
                           data-url="{{ url('app_dashboard_delete_manufacturer', {store: manufacturer.store.id, id: manufacturer.id}) }}">
                            <i class="fa fa-{{ manufacturer.storeProductManufacturers.count ? 'ban' : 'trash' }} dark:text-white"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3"
                        class="px-6 py-3 text-center text-gray-700 bg-gray-100 dark:bg-gray-500 dark:text-white">{{ 'table.footer.not_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="navigation mt-5 pb-5 w-full mx-auto">
        {{ knp_pagination_render(manufacturers) }}
    </div>
{% endblock %}