{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.summary'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    {% if app.user.markets|length %}
        <div class="card">
            <div class="card-header">
                <strong>{{ app.user.markets[0].name }}</strong>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="">{{ 'entry.form.categories'|trans }}</a>
                </li>
                <li class="list-group-item">
                    <a href="">{{ 'entry.form.products'|trans }}</a>
                </li>
            </ul>
        </div>
    {% endif %}
    <div class="row mt-3">
        <div class="col-sm-6">
            <div class="card h-100">
                <div class="card-header">
                    <strong>{{ 'title.blogs'|trans }}</strong>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{{ path('app_dashboard_blog') }}">{{ 'menu.dashboard.overview.blog'|trans }}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('app_dashboard_create_blog') }}">{{ 'menu.dashboard.create.blog'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card h-100">
                <div class="card-header">
                    <strong>{{ 'entry.form.news'|trans }}</strong>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{{ path('app_dashboard_news') }}">{{ 'menu.dashboard.overview_news'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
