{% extends 'market_place/index.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block content_body %}
    <section class="container marketplace mt-lg-2">
        <div class="row">
            <div class="col-12 card card-body shadow">
                <h4 class="ps-2 border-start border-3 border-danger mb-3">{{ category.name }}</h4>
                <ul class="list-inline my-3">
                    {% for child in category.children %}
                        <li class="list-inline-item mb-2">
                            <a href="{{ path('app_market_place_child_category', {parent: category.slug, child: child.slug}) }}"
                               class="btn btn-outline-secondary rounded-0 border-0 bg-opacity-25 category-link">
                                {{ child.name }} <i class="bi bi-arrow-right-short"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="row g-4">
                    {% for product in products %}
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="card product-card h-auto">
                                <div class="position-relative">
                                    {% if product.marketProductAttaches.count %}
                                        {% set _picture = 'storage/product/picture/' ~ product.id ~ '/' ~ product.marketProductAttaches.first.attach.name %}
                                        <img src="{{ asset(_picture)|imagine_filter('product_preview') }}"
                                             class="card-img-top h-auto" alt="{{ product.name }}">
                                    {% else %}
                                        <img src="{{ asset('http://placehold.it/300x200') }}"
                                             class="card-img-top h-auto"
                                             alt="{{ product.name }}">
                                    {% endif %}
                                    <div class="card-img-overlay d-flex flex-column z-1 p-3">
                                        <div class="d-flex justify-content-between">
                                            <span class="badge text-bg-warning text-white bg-opacity-75 p-1 rounded-1">
                                                <a title="{{ product.name }}"
                                                   href="{{ path('app_market_place_product', {slug: product.slug}) }}"
                                                   class="text-dark-emphasis fs-6 fw-normal">{{ 'market.product.details'|trans }}</a>
                                            </span>
                                            {% if product.discount %}
                                                <span class="badge bg-danger fw-normal text-white">{{ product.discount }}% {{ 'market.product.off'|trans }}</span>
                                            {% endif %}
                                        </div>
                                        <div class="w-100 mt-auto">
                                            <span class="badge bg-secondary text-dark p-1">
                                                {% if product.marketCategoryProducts.first.category.parent is null %}
                                                    <a href="{{ path('app_market_place_child_category', {parent:  product.marketCategoryProducts.first.category.parent.slug, child: product.marketCategoryProducts.first.category.slug}) }}"
                                                       class="text-white fs-6 fw-light px-2">{{ product.marketCategoryProducts.first.category.name }}</a>
                                                {% else %}
                                                    <a href="{{ path('app_market_place_parent_category', {parent:   product.marketCategoryProducts.first.category.parent.slug }) }}"
                                                       class="text-white fs-6 fw-light px-2">{{ product.marketCategoryProducts.first.category.parent.name }}</a>
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body px-1">
                                    <ul class="list-inline text-end me-2 mb-3">
                                        <li class="list-inline-item position-absolute start-0 ms-3">
                                            <form class="shopping-cart" method="post"
                                                  action="{{ path('app_market_place_product_order', {product: product.slug}) }}">
                                                <button class="btn btn-dark rounded-1"
                                                        data-id="{{ product.market.id }}-{{ product.id }}"
                                                        type="submit">
                                                    <i class="fa fa-shopping-cart mt-1 me-2"></i>{{ 'market.product.add'|trans }}
                                                </button>
                                            </form>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="badge bg-success bg-opacity-25 text-success">
                                                <h5 class="mb-0">{{ product.cost|number_format(2, ',', '') }}
                                                    <small>{{ product.market.currency|currency }}</small></h5>
                                            </div>
                                        </li>
                                    </ul>
                                    <h5 class="card-title h-auto mb-1 mt-3 mx-3">
                                        <a title="{{ product.name }}"
                                           href="{{ path('app_market_place_product', {slug: product.slug}) }}">{{ product.shortName }}</a>
                                    </h5>
                                    <a href="{{ path('app_market_place_child_category', {
                                        parent:  product.marketCategoryProducts.first.category.parent.slug,
                                        child: product.marketCategoryProducts.first.category.slug
                                    }) }}" class="btn btn-link text-decoration-none text-secondary d-flex text-start">
                                        <i class="bi bi-ui-radios-grid pe-2 badge-child text-opacity-50 text-success"></i> {{ product.marketCategoryProducts.first.category.name }}
                                    </a>
                                    <ul class="list-group list-group-borderless border-top-0 mt-2">
                                        <li class="list-group-item pb-0 d-flex border-0">
                                            <i class="bi bi-chat-dots-fill me-2 text-opacity-75 text-primary"></i>
                                            <a class="text-decoration-none text-primary"
                                               href="#">{{ 'label.form.message'|trans }}</a>
                                        </li>
                                        <li class="list-group-item pb-0 d-flex border-0">
                                            <i class="bi bi-shop me-2 text-opacity-50 text-info"></i>
                                            <a class="text-decoration-none"
                                               href="{{ path('app_market_place_market', {slug:  product.market.slug}) }}">{{ product.market.name }}</a>
                                        </li>
                                        {% if product.market.phone %}
                                            <li class="list-group-item small pb-0 d-flex border-0">
                                                <i class="bi bi-phone text-secondary me-2"></i>
                                                <a href="tel:{{ product.market.phone }}"
                                                   class="text-secondary">{{ product.market.phone }}</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="card-footer border-top">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="{{ path('app_market_place_product', {slug: product.slug}) }}"
                                           class="btn btn-link text-decoration-none p-0 mb-0">{{ 'market.product.details'|trans }}
                                            <i class="bi bi-arrow-right ms-1"></i>
                                        </a>
                                        <a href="#" class="z-index-2"><i class="bi bi-heart-fill text-danger"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <img class="d-block mx-auto mb-5 border-0 w-25 shadow-none"
                             src="{{ asset('img/404.png') }}"
                             width="340" alt="{{ 'table.footer.not_found'|trans }}">
                        <p class="text-center">
                            {{ 'table.footer.not_found'|trans }}
                            <a class="d-block fs-5" href="{{ path('app_market_place_index') }}">{{ 'form.action.back'|trans }}</a>
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
