{% extends 'market_place/index.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block content_body %}
    <div class="card border-0 bg-light">
        <div class="card-header py-3 border-bottom-0 display-6 fs-4">{{ category.name }}</div>
    </div>
    <ul class="list-inline my-3">
        {% for child in category.children %}
            <li class="list-inline-item mb-2 category">
                <a href="{{ path('app_market_place_child_category', {parent: category.slug, child: child.slug}) }}"
                   class="btn btn-outline-primary rounded-1 bg-opacity-25 category-link">
                    {{ child.name }} <i class="bi bi-arrow-right-short"></i>
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="row g-4">
        {% for product in products %}
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="card shadow-sm h-100">
                    <div class="position-relative">
                        {% if product.marketProductAttaches.count %}
                            {% set _picture = 'storage/product/picture/' ~ product.id ~ '/' ~ product.marketProductAttaches.first.attach.name %}
                            <img src="{{ asset(_picture)|imagine_filter('product_preview') }}"
                                 class="card-img-top h-100" alt="{{ product.name }}">
                        {% else %}
                            <img src="{{ asset('img/08.jpg') }}" class="card-img-top h-100" alt="{{ product.name }}">
                        {% endif %}
                        <div class="card-img-overlay d-flex flex-column z-index-1 p-3">
                            <div class="d-flex justify-content-between">
                                <span class="badge text-bg-dark bg-opacity-75 rounded-1">
                                    <a href="{{ path('app_market_place_product', {slug: product.slug}) }}"
                                       class="link-white fw-normal">{{ 'market.product.details'|trans }}</a>
                                </span>
                                <span class="badge bg-white text-dark fw-normal">
                                    <i class="bi bi-star-fill text-warning me-2"></i>4.3
                                </span>
                            </div>
                            <div class="w-100 mt-auto">
                                <span class="badge bg-secondary text-dark p-1">
                                    {% if product.marketCategoryProducts.first.category.parent is null %}
                                        <a href="{{ path('app_market_place_child_category', {parent:  product.marketCategoryProducts.first.category.parent.slug, child: product.marketCategoryProducts.first.category.slug}) }}"
                                           class="link-white fs-6 fw-light px-2">{{ product.marketCategoryProducts.first.category.name }}</a>
                                    {% else %}
                                        <a href="{{ path('app_market_place_parent_category', {parent:   product.marketCategoryProducts.first.category.parent.slug }) }}"
                                           class="link-white fs-6 fw-light px-2">{{ product.marketCategoryProducts.first.category.parent.name }}</a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-1">
                        <ul class="list-inline text-end me-2 mb-3">
                            <li class="list-inline-item position-absolute start-0 ms-3">
                                <form class="shopping-cart" method="post"
                                      action="{{ path('app_market_place_product_order', {product: product.slug}) }}">
                                    <button class="btn btn-primary rounded-0"
                                            data-id="{{ product.market.id }}-{{ product.id }}"
                                            type="submit">
                                        <i class="bi bi-cart me-1"></i>{{ 'market.product.add'|trans }}
                                    </button>
                                </form>
                            </li>
                            <li class="list-inline-item">
                                <div class="badge bg-success bg-opacity-25 text-success">
                                    <h5 class="mb-0">{{ product.cost|number_format(2, ',', '') }}
                                        <small>{{ product.market.currency|currency }}</small></h5>
                                </div>
                            </li>
                        </ul>
                        <h5 class="card-title h-auto mb-1 mt-3 mx-3">
                            <a title="{{ product.name }}"
                               href="{{ path('app_market_place_product', {slug: product.slug}) }}">{{ product.shortName }}</a>
                        </h5>
                    </div>
                    <a href="{{ path('app_market_place_child_category', {parent:  product.marketCategoryProducts.first.category.parent.slug, child: product.marketCategoryProducts.first.category.slug}) }}"
                       class="badge-child"><i
                                class="bi bi-ui-radios-grid text-opacity-50 me-2"></i> {{ product.marketCategoryProducts.first.category.name }}
                    </a>
                    <div class="card-footer border-0 bg-transparent">
                        <ul class="list-group list-group-borderless mt-1 mb-2">
                            <li class="list-group-item small px-1 py-1  border-0">
                                <i class="bi bi-pin-map-fill me-2 text-opacity-50 text-info"></i>
                                <a class="text-decoration-none"
                                   href="{{ path('app_market_place_market', {slug:  product.market.slug}) }}">{{ product.market.name }}</a>
                            </li>
                            <li class="list-group-item small px-1 py-1  border-0">
                                <i class="bi bi-telephone-fill text-secondary me-2"></i> <span
                                        class="text-secondary">{{ product.market.phone }}</span>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{{ path('app_market_place_product', {slug: product.slug}) }}"
                               class="btn btn-link text-decoration-none p-0 mb-0">{{ 'market.product.details'|trans }}
                                <i class="bi bi-arrow-right ms-1"></i>
                            </a>
                            <a href="#" class="z-index-2"><i class="bi bi-heart-fill text-danger"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <img class="d-block mx-auto mb-5 border-0 h-25 w-25 shadow-none" src="{{ asset('img/404.png') }}"
                 width="340" alt="{{ 'table.footer.not_found'|trans }}">
            <p class="text-center">{{ 'table.footer.not_found'|trans }}</p>
        {% endfor %}
    </div>
{% endblock %}
