{% extends 'base.html.twig' %}

{% block title %}{{ entry.entryDetails.title }}{% endblock %}
{% block description %}{{ entry.entryDetails.shortContent }}{% endblock %}
{% block body %}
    <section class="container mt-lg-2">
        <div class="row">
            <div class="col-12 card card-body bg-light shadow">
                <h4 class="ps-2 border-start border-3 border-danger mb-3">{{ entry.entryDetails.title }}</h4>
                <div class="entry-tags">
                    {% for categories in entry.entryCategories %}
                        <a href="{{ path('app_blog_category', {slug: categories.category.slug}) }}">{{ categories.category.name }}</a>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="mb-2">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <span class="bi bi-calendar-week text-success pe-1"></span> <a
                                            href="{{ path('app_blog_date', {date: entry.createdAt|date('Y-m-d') }) }}">{{ entry.createdAt|date(date_format) }}</a>
                                </li>
                                <li class="ms-1">
                                    <button class="btn btn-warning rounded-1 shadow-sm">{{ 'button.leave.cpmment'|trans }}</button>
                                </li>
                            </ul>
                        </div>
                        {% for key, picture in entry.entryAttachments %}
                            {% if picture.inUse %}
                                {% set _picture = 'storage/entry/picture/' ~ entry.entryDetails.id ~ '/' ~ picture.attach.name %}
                                <div class="content-image mb-4">
                                    <img src="{{ asset(_picture) | imagine_filter('entry_view') }}" class="img-fluid"
                                         alt="{{ entry.entryDetails.title }}"/>
                                    <i class="d-block text-left text-muted mt-1 ps-1">{{ entry.entryDetails.shortContent }}</i>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {{ entry.entryDetails.content|raw }}
                    </div>
                    <div class="col-md-3 d-flex justify-content-center text-center">
                        <ul class="list-unstyled">
                            {% if entry.user.userDetails.user.attach %}
                                <li>
                                    {% set _picture = 'storage/user/picture/' ~ entry.user.id ~ '/' ~ entry.user.userDetails.user.attach.name %}
                                    <img class="rounded-circle"
                                         src="{{ asset(_picture) | imagine_filter('user_thumb') }}"
                                         alt="{{ entry.user.userDetails.firstName }} {{ entry.user.userDetails.lastName }}">
                                </li>
                            {% else %}
                                <li>
                                    <img class="rounded-circle" src="{{ asset('img/user-picture.jpg') }}"
                                         alt="{{ entry.user.userDetails.firstName }} {{ entry.user.userDetails.lastName }}">
                                </li>
                            {% endif %}
                            <li class="pt-3">
                                <a href="#">
                                    <h5>{{ entry.user.userDetails.firstName }} {{ entry.user.userDetails.lastName }}</h5>
                                </a>
                                {% if entry.user.userDetails.userSocial %}
                                    {% set _social = entry.user.userDetails.userSocial %}
                                    <ul class="list-inline">
                                        {% if _social.facebookProfile %}
                                            <li class="list-inline-item">
                                                <a target="_blank" href="{{ _social.facebookProfile }}">
                                                    <i class="bi bi-facebook text-dark-emphasis fs-4"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if _social.twitterProfile %}
                                            <li class="list-inline-item">
                                                <a target="_blank" href="{{ _social.twitterProfile }}">
                                                    <i class="bi bi-twitter text-dark-emphasis fs-4"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if _social.instagramProfile %}
                                            <li class="list-inline-item">
                                                <a target="_blank" href="{{ _social.instagramProfile }}">
                                                    <i class="bi bi-instagram text-dark-emphasis fs-4"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </li>
                            <li class="px-2">
                                <hr/>
                                {{ entry.user.userDetails.about }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}