{% extends 'base.html.twig' %}

{% block title %}{{ entry.entryDetails.title }}{% endblock %}
{% block description %}{{ entry.entryDetails.shortContent }}{% endblock %}
{% block body %}
    <div class="page-title-area blog">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
{#                    <div class="page-title-content">#}
{#                        <h4>{{ entry.entryDetails.title }}</h4>#}
{#                        <p class="text-truncate px-xxl-5 mx-xxl-5 align-content-center">#}
{#                            {{ entry.entryDetails.shortContent }}#}
{#                        </p>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid entry pt-4 bg-gradient-info">
        <div class="container">
            <div class="entry-meta">
                <ul>
                    <li>
                        <span class="bi bi-calendar-week text-success pr-1"></span> <a
                                href="{{ path('app_blog_date', {date: entry.createdAt|date('Y-m-d') }) }}">{{ entry.createdAt|date(date_format) }}</a>
                    </li>
                    <li class="float-end">
                        <button class="btn btn-sm btn-light shadow-sm">{{ 'button.leave.cpmment'|trans }}</button>
                    </li>
                </ul>
            </div>
            <div class="display-6">{{ entry.entryDetails.title }}</div>
            <div class="lead fw-light fs-6 mt-4">{{ entry.entryDetails.shortContent }}</div>
        </div>
    </div>
    <section class="section-area default mt-0 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="entry-tags">
                        {% for categories in entry.entryCategories %}
                            <a href="{{ path('app_blog_category', {slug: categories.category.slug}) }}">{{ categories.category.name }}</a>
                        {% endfor %}
                    </div>
                    {% for key, picture in entry.entryAttachments %}
                        {% if picture.inUse %}
                            {% set _picture = 'storage/entry/picture/' ~ entry.entryDetails.id ~ '/' ~ picture.attach.name %}
                            <div class="content-image mb-4">
                                <img src="{{ asset(_picture) | imagine_filter('entry_view') }}" class="img-responsive"
                                     alt="{{ entry.entryDetails.title }}"/>
                                <i class="d-block text-left text-muted mt-1 pl-1">{{ entry.entryDetails.shortContent }}</i>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {{ entry.entryDetails.content|raw }}
                </div>
                <div class="col-3 mt-5 pb-2 text-center">
                    <ul>
                        {% if entry.user.userDetails.user.attach %}
                            <li>
                                {% set _picture = 'storage/user/picture/' ~ entry.user.id ~ '/' ~ entry.user.userDetails.user.attach.name %}
                                <img class="rounded-circle" src="{{ asset(_picture) | imagine_filter('user_thumb') }}"
                                     alt="{{ entry.user.userDetails.firstName }} {{ entry.user.userDetails.lastName }}">
                            </li>
                        {% else %}
                            <li>
                                <img class="rounded-circle" src="{{ asset('img/user-picture.jpg') }}">
                            </li>
                        {% endif %}
                        <li class="pt-3">
                            <a href="#">
                                <h4>{{ entry.user.userDetails.firstName }} {{ entry.user.userDetails.lastName }}</h4>
                            </a>
                            {% if entry.user.userDetails.userSocial %}
                                {% set _social = entry.user.userDetails.userSocial %}
                                <ul class="list-inline">
                                    {% if _social.facebookProfile %}
                                        <li class="list-inline-item">
                                            <a target="_blank" href="{{ _social.facebookProfile }}">
                                                <i class="bi bi-facebook text-info"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if _social.twitterProfile %}
                                        <li class="list-inline-item">
                                            <a target="_blank" href="{{ _social.twitterProfile }}">
                                                <i class="bi bi-twitter text-info"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if _social.instagramProfile %}
                                        <li class="list-inline-item">
                                            <a target="_blank" href="{{ _social.instagramProfile }}">
                                                <i class="bi bi-instagram text-info"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </li>
                        <li class="px-2">
                            <hr/>
                            {{ entry.user.userDetails.about }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}