{% extends 'dashboard/index.html.twig' %}
{% set _title_extend = 'title.dashboard.overview_message.conversation'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}{{ _title_extend }}{% endblock %}

{% block content %}
    {% set priority = {low: 'green', medium: 'yellow', high: 'red'} %}
    <div class="flex items-start gap-2.5 my-5">
        <img class="w-8 h-8 rounded-full" src="{{ asset('img/64x64.png') }}" alt="...">
        <div class="flex flex-col w-full max-w-2xl leading-1.5">
            <div class="flex justify-between items-stretch space-x-2 rtl:space-x-reverse">
                <span class="text-sm font-semibold text-gray-900 dark:text-white">{{ message.customer.firstName }} {{ message.customer.lastName }}</span>
                <span class="bg-{{ priority[message.priority] }}-100 text-{{ priority[message.priority] }}-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-{{ priority[message.priority] }}-900 dark:text-{{ priority[message.priority] }}-300 capitalize">{{ message.priority }}</span>
                <span class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ message.createdAt|date(datetime_format) }}</span>
            </div>
            <p class="text-sm font-normal my-1.5 p-4 bg-gray-50 rounded-lg text-gray-900 dark:bg-gray-500 dark:text-white ">{{ message.message }}</p>
            <div class="block w-full justify-start items-start my-1 px-0.5">
                {% if conversation|length == 0 %}
                    {% include 'dashboard/content/market_place/message/_form.html.twig' with {id: message.id, customer: message.customer.id} %}
                {% endif %}
            </div>
        </div>
    </div>
    {% for row in conversation %}
        {% include 'dashboard/content/market_place/message/answers.html.twig' %}
    {% endfor %}
    {% set last = conversation|last %}
    {% if last|length and last.owner is null %}
        {% include 'dashboard/content/market_place/message/_form.html.twig' with {id: message.id, customer: message.customer.id} %}
    {% endif %}
    <div id="response"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('message-js') }}
{% endblock %}

