{% extends 'dashboard/index.html.twig' %}

{% set _title_extend = 'title.dashboard.suppliers'|trans %}
{% block title_extend %}{{ _title_extend }} - {% endblock %}
{% block title_content %}
    {{ _title_extend }}
    <a type="button" class="btn btn-sm external btn-outline-secondary float-right mt-1"
       href="{{ path('app_dashboard_market_place_create_supplier', {market: market.id}) }}">{{ 'market.supplier.create'|trans }}</a>
{% endblock %}

{% block content %}
    {% include 'dashboard/content/market_place/navbar/nav.html.twig' %}
    <div class="table-responsive table-sm card">
        <table class="table table-hover table-borderless mb-0">
            <thead class="bg-secondary text-white">
            <tr>
                <th class="text-center font-weight-light" scope="col">{{ 'table.header.id'|trans }}</th>
                <th class="font-weight-light" scope="col">{{ 'table.header.name'|trans }}</th>
                <th class="font-weight-light" scope="col">{{ 'table.header.country'|trans }}</th>
                <th class="font-weight-light text-center" scope="col">{{ 'table.header.handle'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for supplier in suppliers %}
                <tr>
                    <th scope="row" class="text-center">{{ supplier.id }}</th>
                    <td>
                        <a data-toggle="tooltip"
                           data-placement="right"
                           class="link"
                           title="{{ supplier.name }}"
                           href="{{ path('app_dashboard_market_place_edit_supplier', {market: supplier.market.id, id: supplier.id}) }}">
                            {{ supplier.name|length > 30 ? supplier.name|slice(0, 30) ~ '...' : supplier.name }}
                        </a>
                    </td>
                    <td>{{ countries[supplier.country] }}</td>
                    <td class="text-center">
                        <a href="{{ path('app_dashboard_market_place_edit_supplier', {market: supplier.market.id, id: supplier.id}) }}"
                           class="btn btn-sm btn-outline-lightning rounded px-1 py-0">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a
                                class="btn btn-sm btn-outline-lightning rounded delete-entry px-1 py-0"
                                data-token="{{ csrf_token('delete') }}"
                                data-url="{{ url('app_dashboard_delete_supplier', {market: supplier.market.id, id: supplier.id}) }}"
                                data-toggle="modal"
                                data-target="#modal-delete">
                            <i class="bi bi-trash"></i>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center text-danger bg-grey">{{ 'table.footer.not_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}