<div id="modal-supplier" data-modal-backdrop="static" tabindex="-1" aria-hidden="true"
     class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full" role="document">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">{{ 'store.supplier.create'|trans }}</h3>
                <button type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="modal-supplier">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                    </svg>
                    <span class="sr-only">{{ 'form.action.close'|trans }}</span>
                </button>
            </div>
            <form method="post" id="form[modal-supplier]" class="group confirm needs-validation" action="">
                <div class="p-4 md:p-5 space-y-4">
                    <div class="flex flex-col mb-3 px-5">
                        <label for="supplier_name"
                               class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">{{ 'label.form.supplier_name'|trans }}</label>
                        <input type="text" name="supplier[name]"
                               class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               id="supplier_name" min="3"
                               max="250" pattern=".{3,200}"
                               required placeholder="{{ 'label.form.supplier_name'|trans }}">
                        <span class="mt-1 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">{{ 'form.name.invalid'|trans }}</span>
                    </div>
                    <div class="flex flex-col mb-3 px-5">
                        <label for="suppler_country"
                               class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">{{ 'label.form.supplier_country'|trans }} </label>
                        <select id="suppler_country" name="supplier[country]" required
                                class="invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option value="">{{ 'form.supplier_country.placeholder'|trans }}</option>
                        </select>
                    </div>
                </div>
                <div class="flex justify-end items-end p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <input type="hidden" id="_token" name="supplier[_token]" value="{{ csrf_token('create') }}">
                    <button type="submit"
                            class="group-invalid:pointer-events-none group-invalid:opacity-30 inline-block rounded mr-2 bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                        {{ 'form.action.save'|trans }}
                    </button>
                    <button data-modal-hide="modal-supplier" data-modal-name="modal" type="button"
                            class="inline-block rounded bg-gray-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-secondary-3 transition duration-150 ease-in-out hover:bg-secondary-accent-300 hover:shadow-secondary-2 focus:bg-secondary-accent-300 focus:shadow-secondary-2 focus:outline-none focus:ring-0 active:bg-secondary-600 active:shadow-secondary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                        {{ 'form.action.cancel'|trans }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>