{% extends 'base.html.twig' %}

{% block title %}
    {% block title_extend %}{% endblock %}{{ 'text.dashboard'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('sidebar') }}
{% endblock %}

{% block body %}
    <div class="page-title-area user-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>{{ 'text.dashboard'|trans }}</h2>
                        <p>{{ 'text.dashboard.desc'|trans|raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-area default dashboard py-0">
        <div id="container" class="{{ container }}">
            <div class="d-flex" id="responsive">
                <div class="col-md-3">
                    <div class="sidebar rounded m-1">
                        {% include 'dashboard/sidebar.html.twig'  with {'navbar': navbar} %}
                    </div>
                </div>
                <div class="col-md-9 m-1 shadow-sm bg-white rounded">
                    <div class="flex-column content p-3 m-1">
                        <h4>{% block title_content %}{{ 'text.dashboard'|trans }}{% endblock %}</h4>
                        {% block content %}
                            {% include 'dashboard/content/index.html.twig' %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'dashboard/layouts/modal.html.twig' %}
    {% include 'dashboard/content/market_place/forms/brand.html.twig' %}
    {% include 'dashboard/content/market_place/forms/supplier.html.twig' %}
    {% include 'dashboard/content/market_place/forms/manufacturer.html.twig' %}
{% endblock %}
{% block toast %}
    {{ include ('layouts/toast.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('image') }}
    {{ encore_entry_script_tags('responsive') }}
{% endblock %}
