<div class="modal modal-lg fade" id="modal-manufacturer" tabindex="-1" role="dialog" aria-labelledby="modal-manufacturer"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'market.manufacturer.create'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="{{ 'form.action.close'|trans }}"></button>
            </div>
            <form method="post" class="d-tech-form confirm" action="">
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label for="manufacturer_name" class="required">{{ 'label.form.manufacturer_name'|trans }}</label>
                        <input type="text" name="manufacturer[name]" class="form-control" id="manufacturer_name" min="3" max="250"
                               required placeholder="{{ 'label.form.manufacturer_name'|trans }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary pb-2"
                            data-bs-dismiss="modal">{{ 'form.action.cancel'|trans }}</button>
                    <input type="hidden" id="_token" name="manufacturer[_token]" value="">
                    <button type="submit" class="btn btn-primary">{{ 'form.action.save'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
    {% block javascripts %}
        <script type="text/javascript">

        </script>
    {% endblock %}
</div>