<nav class="w-full relative mb-3 border shadow-md sm:rounded-lg border-gray-200 dark:border-gray-600">
    <div class="p-4 md:p-0 bg-gray-50 w-full md:flex md:w-auto md:order-1 dark:bg-gray-500">
        {% set _part = app.request.get('_route')|split('_')|last %}
        <ul class="flex flex-col p-2 font-medium w-full md:space-x-2 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:bg-gray-500 dark:border-gray-700">
            <li>
                <a href="{{ path('app_dashboard_market_place_create_product', {market: market.id, tab: 'details'}) }}"
                   class="block py-2 px-3 bg-white shadow hover:bg-gray-100 hover:text-gray-900 rounded-lg text-gray-500 dark:hover:bg-gray-600 dark:bg-gray-700 dark:text-gray-200">
                    {{ 'market.product.create'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('app_dashboard_market_place_market_product', {market: market.id}) }}"
                   class="{% if _part == 'product' %}font-semibold dark:bg-black dark:hover:bg-black{% endif %} block py-2 px-3 bg-white shadow hover:bg-gray-100 hover:text-gray-900 rounded-lg text-gray-500 dark:hover:bg-gray-600 dark:bg-gray-700 dark:text-gray-200">
                    {{ 'market.products'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('app_dashboard_market_place_market_brand', {market: market.id}) }}"
                   class="{% if _part == 'brand' %}font-semibold dark:bg-black dark:hover:bg-black{% endif %} block py-2 px-3 bg-white shadow hover:bg-gray-100 hover:text-gray-900 rounded-lg text-gray-500 dark:hover:bg-gray-600 dark:bg-gray-700 dark:text-gray-200">
                    {{ 'market.brands'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('app_dashboard_market_place_market_supplier', {market: market.id}) }}"
                   class="{% if _part == 'supplier' %}font-semibold dark:bg-black dark:hover:bg-black{% endif %} block py-2 px-3 bg-white shadow hover:bg-gray-100 hover:text-gray-900 rounded-lg text-gray-500 dark:hover:bg-gray-600 dark:bg-gray-700 dark:text-gray-200">
                    {{ 'market.suppliers'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('app_dashboard_market_place_market_manufacturer', {market: market.id}) }}"
                   {% if _part == 'manufacturer' %}aria-current="true"{% endif %}
                   class="{% if _part == 'manufacturer' %}font-semibold dark:bg-black dark:hover:bg-black{% endif %} block py-2 px-3 bg-white shadow hover:bg-gray-100 hover:text-gray-900 rounded-lg text-gray-500 dark:hover:bg-gray-600 dark:bg-gray-700 dark:text-gray-200">
                    {{ 'market.manufacturers'|trans }}
                </a>
            </li>
        </ul>
        {% include 'dashboard/content/market_place/navbar/search.html.twig' %}
    </div>
</nav>