{% extends 'market_place/index.html.twig' %}

{% block title %}{{ product.shortName }}{% endblock %}
{% block description %}{{ product.name }}{% endblock %}

{% block content_body %}
    {% set parent = product.marketCategoryProducts.first.category.parent %}
    {% set child = product.marketCategoryProducts.first.category %}
    <section class="container marketplace mt-lg-5">
        <div class="row">
            <div class="col-12 card card-body shadow">
                <h4 class="ps-2 border-start border-3 border-danger mb-3">{{ product.shortName }}</h4>
                <div class="card-body py-3">
                    <nav style="--bs-breadcrumb-divider:url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='14' fill='currentColor' class='bi bi-arrow-right' viewBox='0 0 16 14'%3E%3Cpath fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8'/%3E%3C/svg%3E&#34;);"
                         aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">
                                <a href="{{ path('app_market_place_index') }}">{{ 'title.general.market.name'|trans }}</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ path('app_market_place_market', {slug:  product.market.slug}) }}">{{ product.market.name }}</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ path('app_market_place_parent_category', {parent: parent.slug}) }}">{{ parent.name }}</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ path('app_market_place_child_category', {parent: parent.slug, child: child.slug}) }}">{{ child.name }}</a>
                            </li>
                            <li class="breadcrumb-item active text-truncate"
                                aria-current="page">{{ product.shortName }}</li>
                        </ol>
                    </nav>
                </div>
                <div class="row py-3">
                    <div class="col-md-6">
                        <div id="carousel-control" class="mb-2 row g-3 carousel slide carousel-fade"
                             data-bs-ride="carousel">
                            <div class="col-3 carousel-inner"> >
                                {% if product.marketProductAttaches.count %}
                                    {% set _picture = 'storage/product/picture/' ~ product.id ~ '/' ~ product.marketProductAttaches.first.attach.name %}
                                    <div class="carousel-item active">
                                        <img src="{{ asset(_picture)|imagine_filter('product_view') }}"
                                             class="card-img-top h-100" alt="{{ product.name }}">
                                    </div>
                                {% else %}
                                    <div class="carousel-item active">
                                        <img src="{{ asset('http://placehold.it/630x390') }}" class="card-img-top h-100"
                                             alt="{{ product.name }}">
                                    </div>
                                {% endif %}
                                {% for image in product.marketProductAttaches|slice(1, product.marketProductAttaches.count) %}
                                    <div class="thumbnails-img carousel-item">
                                        {% set _image = 'storage/product/picture/' ~ product.id ~ '/' ~ image.attach.name %}
                                        <img src="{{ asset(_image)|imagine_filter('product_view') }}"
                                             class="card-img-top h-100"
                                             alt="{{ product.shortName }}">
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-control"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">{{ 'element.previous'|trans }}</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel-control"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">{{ 'element.next'|trans }}</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ps-lg-10 mx-2 mt-md-1">
                            <a href="{{ path('app_market_place_market', {slug:  product.market.slug}) }}"
                               class="mb-1 d-block"><i class="bi bi-shop me-2"></i>{{ product.market.name }}</a>
                            <h2 class="mb-2 text-truncate">{{ product.shortName }}</h2>
                            {% if product.discount %}
                                <div class="badge bg-danger bg-opacity-50 fs-5 fw-light p-2">
                                    {{ product.discount|number_format(2, '.', '') }}% {{ 'market.product.off'|trans }}
                                </div>
                            {% endif %}
                            <div class="fs-3 mt-5 d-flex align-content-end justify-content-end">
                                {% if product.discount %}
                                    {% set discount = product.discount %}
                                    {% set cost = product.cost %}
                                    <span class="fw-bold text-success pe-2">
                                        {{ (cost - ((cost * discount) * discount)/100)|round|number_format(2, '.',' ') }}
                                        <small>{{ product.market.currency|currency }}</small>
                                    </span>
                                    <span class="text-decoration-line-through fs-5 pt-2 text-muted">
                                        {{ product.cost|number_format(2, '.', ' ') }}
                                        <small>{{ product.market.currency|currency }}</small>
                                    </span>
                                {% else %}
                                    <span class="fw-bold text-dark-emphasis">{{ product.cost|number_format(2, '.', ' ') }}<small>{{ product.market.currency|currency }}</small></span>
                                {% endif %}
                            </div>
                            {% if product.marketProductAttributes.count %}
                                <hr class="my-1">
                                <div id="attributes">
                                    {% for attribute in product.marketProductAttributes.toArray %}
                                        <input type="hidden" name="color" value="">
                                        <input type="hidden" name="size" value="">
                                        {% if attribute.inFront %}
                                            <small class="d-block my-2 fs-6 text-muted">{{ attribute.name|capitalize }}</small>
                                            <div class="form-check-inline me-0" id="{{ attribute.name }}">
                                                {% for attr in attribute.marketProductAttributeValues %}
                                                    <div class="d-inline-block p-1 border border-secondary {% if attribute.name == 'color' %} rounded-circle{% endif %}">
                                                        <input type="radio" name="attr[{{ attribute.name }}]"
                                                               class="btn-check"
                                                               data-name="{{ attr.value }}"
                                                               data-root-name="{{ attribute.name }}"
                                                               id="btn-check-{{ attr.id }}" value="{{ attr.id }}"
                                                               autocomplete="off">
                                                        <label class="btn btn-link-secondary{% if attribute.name == 'color' %} rounded-circle{% endif %} btn-sm"
                                                               for="btn-check-{{ attr.id }}" {% if attribute.name == 'color' %} style="background-color: {{ attr.extra|join }};"{% endif %}>
                                                            {% if attribute.name == 'size' %}
                                                                <span class="px-1">{{ attr.value|capitalize }}</span>
                                                            {% else %}
                                                                <span class="py-1 px-2"></span>
                                                            {% endif %}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="mt-3 row justify-content-start g-2 align-items-center">
                                <div class="col-xxl-3 col-lg-3 col-md-4 col-4 d-grid">
                                    <form class="shopping-cart form-inline" method="post"
                                          action="{{ path('app_market_place_product_order', {product: product.slug}) }}">
                                        <button type="submit" id="order"
                                                class="btn btn-warning rounded-1 shadow-sm opacity-75"{% if product.quantity == 0 %} disabled{% endif %}>
                                            <i class="bi bi-basket me-2"></i>{{ 'market.product.add_cart'|trans }}
                                        </button>
                                    </form>
                                </div>
                                <div class="col-md-4 col-4">
                                    <a class="btn btn-light" href="#" data-bs-toggle="tooltip" data-bs-html="true"
                                       data-bs-placement="top"
                                       title="{{ 'market.product.compare'|trans }}"><i
                                                class="bi bi-arrow-left-right"></i></a>
                                    <form class="add-wishlist d-inline" name="wishlist"
                                          action="{{ path('app_market_place_add_wishlist', {slug: product.slug}) }}">
                                        <input name="market" type="hidden" value="{{ product.market.id }}">
                                        {% include 'market_place/wishlist.html.twig' with {'extra': null} %}
                                    </form>
                                </div>
                            </div>
                            <hr class="my-3">
                            {% set code = product.slug|split('-')|last|upper %}
                            <table class="table table-borderless mb-0">
                                <tbody>
                                <tr>
                                    <td>{{ 'market.product.code'|trans }}:</td>
                                    <td class="text-muted">{{ 'market.product.code_prefix'|trans }}{{ product.id }}
                                        -{{ code }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'market.product.availability'|trans }}:</td>
                                    <td class="text-muted">{% if product.quantity == 0 %}{{ 'market.product.out_stock'|trans }}{% else %}{{ 'market.product.in_stock'|trans }}{% endif %}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs border-bottom product-info mt-lg-5" id="info" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-secondary border-0 fs-6 active" id="about-tab" data-bs-toggle="tab"
                            data-bs-target="#about"
                            type="button" role="tab" aria-controls="about"
                            aria-selected="true">{{ 'product.details'|trans }}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-secondary border-0 fs-6" id="product-info-tab" data-bs-toggle="tab"
                            data-bs-target="#product-info"
                            type="button" role="tab" aria-controls="product-info"
                            aria-selected="false">{{ 'product.information'|trans }}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-secondary border-0 fs-6" id="seller-info-tab" data-bs-toggle="tab"
                            data-bs-target="#seller-info"
                            type="button" role="tab" aria-controls="seller-info"
                            aria-selected="false">{{ 'product.seller.info'|trans }}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-secondary border-0 fs-6" id="seller-contact-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#seller-contact"
                            type="button" role="tab" aria-controls="seller-contact"
                            aria-selected="false">{{ 'product.seller.contact'|trans }}</button>
                </li>
            </ul>
            <div class="tab-content border-top rounded-top-0 mb-5 p-2">
                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                    <h5 class="d-block my-1 py-2">{{ product.shortName }}</h5>
                    {{ product.description|raw }}
                </div>
                <div class="tab-pane fade show" id="product-info" role="tabpanel"
                     aria-labelledby="product-info-tab">
                    <h5 class="d-block my-1 py-2">{{ 'product.details.short'|trans }}</h5>
                    <table class="table table-striped mb-0">
                        <tbody class="fs-6 fw-light">
                        <tr>
                            <th class="fw-medium">{{ 'label.form.sku'|trans }}</th>
                            <td class="text-secondary">{{ product.sku }}</td>
                        </tr>
                        {% if product.pckgQuantity %}
                            <tr>
                                <th class="fw-medium">{{ 'label.form.pckg_quantity'|trans }}</th>
                                <td class="text-secondary">{{ product.pckgQuantity }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th class="fw-medium">{{ 'label.form.quantity'|trans }}</th>
                            <td class="text-secondary">
                                {% if product.quantity == 0 %}
                                    {{ 'market.product.out_stock'|trans }}
                                {% else %}
                                    {{ product.quantity }}{{ 'label.form.quantity_pcs'|trans }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="fw-medium">{{ 'market.brand'|trans }}</th>
                            <td class="text-secondary">{{ product.marketProductBrand.brand.name|default('N/a') }}</td>
                        </tr>
                        <tr>
                            <th class="fw-medium">{{ 'market.supplier'|trans }}</th>
                            <td class="text-secondary">{{ product.marketProductSupplier.supplier.name|default('N/a') }}</td>
                        </tr>
                        <tr>
                            <th class="fw-medium">{{ 'market.manufacturer'|trans }}</th>
                            <td class="text-secondary">{{ product.marketProductManufacturer.manufacturer.name|default('N/a') }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade show" id="seller-info" role="tabpanel" aria-labelledby="seller-info-tab">
                    <h5 class="d-block my-1 py-2">{{ product.market.name }}</h5>
                    {{ product.market.description|default('info.no_content'|trans)|raw }}
                </div>
                <div class="tab-pane fade show" id="seller-contact" role="tabpanel"
                     aria-labelledby="seller-contact-tab">
                    <h5 class="d-block my-1 py-2">{{ 'product.seller.contact'|trans }}</h5>
                    <div class="row g-2">
                        {% if product.market.phone is not null or product.market.email is not null or product.market.website is not null %}
                            <div class="col-md-6">
                                <form class="needs-validation pb-2" method="post" novalidate="">
                                    <div class="mb-3">
                                        <label for="message" class="visually-hidden-focusable"></label>
                                        <textarea id="message" class="form-control" rows="6"
                                                  minlength="20"
                                                  maxlength="250"
                                                  placeholder="{{ 'form.header.message'|trans }}"
                                                  required></textarea>
                                        <div class="invalid-feedback">{{ 'form.message.invalid'|trans }}</div>
                                    </div>
                                    <button class="btn btn-dark rounded-1 shadow-sm btn-sm d-block w-100"
                                            type="submit">{{ 'form.action.send'|trans }}</button>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-unstyled ms-2">
                                    {% if product.market.phone %}
                                        <li class="mb-1">
                                            <a class="nav-link-style align-items-center"
                                               href="tel:{{ product.market.phone }}">
                                                <i class="bi bi-phone opacity-50 me-2"></i>{{ product.market.phone }}
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if product.market.email %}
                                        <li class="mb-1">
                                            <a class="nav-link-style align-items-center"
                                               href="mailto:{{ product.market.email }}">
                                                <i class="bi bi-envelope opacity-50 me-2"></i>{{ product.market.email }}
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if product.market.website %}
                                        <li class="mb-1">
                                            <a target="_blank" rel="noreferrer"
                                               class="nav-link-style d-flex align-items-center"
                                               href="{{ path('app_dashboard_market_place_market_redirect', {website: product.market.website}) }}">
                                                <i class="bi bi-globe opacity-50 me-2"></i>{{ product.market.website }}
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
