{% extends 'market_place/index.html.twig' %}

{% block title %}{{ 'order.your.ordres'|trans }}{% endblock %}
{% block description %}{{ 'order.your.ordres'|trans }}{% endblock %}
{% block offest %}pt-4 py-8 lg:py-16 lg:px-2{% endblock %}
{% block childen %}{% endblock %}
{% block content_body %}
    <h2 class="text-2xl pb-4 font-oswald font-extrabold text-primary-700 dark:text-white text-ellipsis overflow-hidden">{{ 'order.cart'|trans }}</h2>
    <div class="grid lg:grid-cols-12 md:grid-cols-9 sm:grid-cols-1 gap-x-5">
        <div class="lg:col-span-9 md:col-span-7">
            <form name="order[]" action="{{ path('app_market_place_order_update') }}" method="post">
                <div class="mt-2">
                    {% for order in orders %}
                        <div class="bg-gray-50 pt-2 rounded-md shadow-sm">
                            <div class="truncate h-9 mx-3 text-xl font-oswald font-thin text-ellipsis text-blue-800 dark:text-white">{{ order.store.name }}</div>
                        </div>
                        <div class="root mb-5" data-order-id="{{ order.session }}">
                            <input type="hidden" name="store[]" value="{{ order.store.id }}">
                            {% for key, product in order.products %}
                                <input type="hidden" name="order[]" value="{{ order.id }}">
                                <div data-product-id="{{ product.product.id }}"
                                     class="flex flex-row parent my-3 hover:bg-gray-50 rounded-lg bg-white pt-3 text-surface shadow-lg dark:bg-neutral-700 dark:text-white dark:shadow-black/30">
                                    <div class="basis-1/4 flex flex-row">
                                        {% if product.product.attachment %}
                                            {% set _picture = 'storage/product/' ~ product.product.id ~ '/' ~ product.product.attachment %}
                                            <img src="{{ asset(_picture)|imagine_filter('product_preview') }}"
                                                 class="object-cover md:h-auto md:w-auto rounded-l-lg"
                                                 alt="{{ product.product.name }}">
                                        {% else %}
                                            <img src="{{ asset('img/600x400.png') }}"
                                                 alt="{{ product.product.name }}"
                                                 class="object-cover md:h-auto md:w-auto rounded-l-lg">
                                        {% endif %}
                                    </div>
                                    <div class="basis-10/12 px-5 pb-5 relative">
                                        <a class="text-gray-600 font-semibold pb-3"
                                           href="{{ path('app_market_place_product', {slug: product.product.slug, tab: 'about'}) }}"
                                           title="{{ product.product.name }}">
                                            <h5 class="text-xl truncate max-w-sm pb-3">
                                                {{ product.product.short_name }}
                                            </h5>
                                        </a>
                                        {% if product.coupon is not null %}
                                            <span class="{% if product.coupon.hasUsed >=1 %}hidden{% endif %} absolute -rotate-45 inline-table right-5 bg-red-700 mt-5 end-4 opacity-70 px-2.5 text-white rounded-md pt-1 text-sm">
                                                <span class="pe-1"
                                                      id="discount">{{ product.coupon.price|amount_format }}<small>{{ order.store.currency|currency }}</small></span>{{ 'store.product.off'|trans }}
                                            </span>
                                        {% endif %}
                                        <div class="relative justify-start">
                                            {% if product.product.reduce.unit is not empty %}
                                                <div class="font-medium whitespace-nowrap text-xl">
                                                    <span class="inline-block text-xs text-white opacity-85 bg-red-600 px-2 pt-1 pb-0.5 rounded-md">{{ product.product.reduce.value }}{{ product.product.reduce.unit|convert(order.store.currency|currency) }} {{ 'store.product.off'|trans }}</span>
                                                    {% set price = discount(product.product.cost, product.product.reduce.value, product.product.fee, 1, product.product.reduce.unit) %}
                                                    {{ price|amount_format }}
                                                    <small>{{ order.store.currency|currency }}</small>
                                                </div>
                                            {% else %}
                                                <span class="font-sm whitespace-nowrap text-xl">{{ ((product.product.cost) + product.product.fee)|amount_format }}<small>{{ order.store.currency|currency }}</small></span>
                                            {% endif %}
                                        </div>
                                        <div class="py-1 whitespace-nowrap text-gray-600">
                                            {% if product.color %}
                                                <div class="py-1 mb-1">{{ 'label.color'|trans }}: <span
                                                            data-twe-toggle="tooltip" title="{{ product.color_title }}"
                                                            class="rounded-full shadow-lg cursor-pointer ms-2 px-2.5 py-0.5 border-2 border-spacing-2 border-gray-200"
                                                            style="background-color: {{ product.color }};"></span></div>
                                            {% endif %}
                                            {% if product.size %}
                                                <div class="py-1">{{ 'label.size'|trans }}: <span
                                                            data-twe-toggle="tooltip" title="{{ product.size_title }}"
                                                            class="rounded-md shadow-sm cursor-pointer ms-2 px-2.5 pt-2 pb-1 border-2 border-spacing-2 border-gray-200">{{ product.size }}</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="text-xs text-gray-400">{{ 'label.form.sku'|trans }}
                                            : {{ product.product.sku }}</div>
                                        {% if product.coupon and product.coupon.hasUsed is null and product.coupon.valid %}
                                            {% if app.user and 'ROLE_CUSTOMER' in app.user.roles %}
                                                {% include 'market_place/coupon/code.html.twig' with {
                                                    relPath: path('app_market_place_market_verify_coupon', {
                                                        store: order.store.id,
                                                        relation: product.product.id,
                                                        id: product.coupon.id,
                                                        ref: constant('App\\Entity\\MarketPlace\\StoreCoupon::COUPON_PRODUCT')
                                                    }),
                                                    coupon: product.coupon.id
                                                } %}
                                            {% else %}
                                                <div class="p-4 mt-1 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
                                                     role="alert">
                                                    <span class="font-medium">{{ 'text.info'|trans }}</span> {{ 'text.info.description'|trans }}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <hr class="my-2 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10"/>
                                        <div class="inline-flex w-full justify-between mx-auto items-end">
                                            <a href="#"
                                               class="drops rounded-md bg-gray-100 hover:bg-gray-200 hover:shadow-md hover:border-gray-300 hover:text-gray-500 text-gray-800 text-sm font-semibold me-2 px-4 py-3 dark:bg-gray-700 dark:text-white border border-gray-200 inline-flex"
                                               data-order="{{ order.session }}"
                                               data-store="{{ order.store.id }}"
                                               data-url="{{ path('app_market_place_order_remove_product') }}"
                                               data-id="{{ product.id }}">
                                                <i class="fa fa-trash text-red-500 mr-2 pb-1"></i>
                                                <span class="text-gray-500">{{ 'store.product.remove'|trans }}</span>
                                            </a>
                                            <label class="align-top pb-3" for="product-quantity-{{ product.id }}">
                                                <div class="relative flex items-center">
                                                    <button type="button" id="decrement-{{ product.id }}"
                                                            data-input-counter-decrement="product-quantity-{{ product.id }}"
                                                            class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                                        <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white"
                                                             aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                             fill="none" viewBox="0 0 18 2">
                                                            <path stroke="currentColor" stroke-linecap="round"
                                                                  stroke-linejoin="round" stroke-width="2"
                                                                  d="M1 1h16"></path>
                                                        </svg>
                                                    </button>
                                                    <input type="text" name="order[quantity][{{ product.id }}]"
                                                           data-max="{{ product.product.quantity }}"
                                                           id="product-quantity-{{ product.id }}"
                                                           data-input-counter
                                                           class="product-quantity flex-shrink-0 text-gray-900 dark:text-white border-0 bg-transparent text-sm font-normal focus:outline-none focus:ring-0 max-w-[2.5rem] text-center"
                                                           placeholder="" value="{{ product.quantity }}" required/>
                                                    <button type="button" id="increment-{{ product.id }}"
                                                            data-input-counter-increment="product-quantity-{{ product.id }}"
                                                            class="flex-shrink-0 bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 inline-flex items-center justify-center border border-gray-300 rounded-md h-5 w-5 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                                                        <svg class="w-2.5 h-2.5 text-gray-900 dark:text-white"
                                                             aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                             fill="none" viewBox="0 0 18 18">
                                                            <path stroke="currentColor" stroke-linecap="round"
                                                                  stroke-linejoin="round" stroke-width="2"
                                                                  d="M9 1v16M1 9h16"></path>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </label>
                                            <input type="hidden" name="order[product][]"
                                                   value="{{ product.id }}">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                {% if orders is not null %}
                    <div class="flex justify-between mt-4">
                        <a href="{{ path('app_market_place_index') }}"
                           class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-gray-200 hover:text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                            {{ 'order.continue.shopping'|trans }}
                        </a>
                        <button type="submit"
                                class="hidden lg:block rounded bg-black px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-gray-200 hover:text-white shadow-black-3 transition duration-150 ease-in-out hover:bg-black-accent-300 hover:shadow-black-2 focus:bg-black-accent-300 focus:shadow-black-2 focus:outline-none focus:ring-0 active:bg-black-600 active:shadow-black-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                            {{ 'order.update.cart'|trans }}
                        </button>
                    </div>
                {% endif %}
            </form>
        </div>
        {% if orders is not null %}
            <div class="lg:col-span-3 md:col-span-2">
                {% for order in summary %}
                    <div id="store-{{ order.store_id }}" class="h-auto">
                        <h5 class="truncate mt-5 mb-1 mx-3 text-xl font-oswald font-thin text-ellipsis text-blue-800 dark:text-white">{{ order.store_name }}</h5>
                        <div class="block max-w-xl sm:max-w-2xl mb-3 p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-50 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                            <div class="flex flex-col">
                                <h6 class="text-lg font-semibold text-gray-600 mb-1">{{ 'order.summary'|trans }}</h6>
                                <div class="stores-summary mb-2">
                                    <div class="flex justify-between items-start">
                                        <div class="me-auto">{{ 'order.item.subtotal'|trans }}</div>
                                        <span id="item-subtotal-{{ order.store_id }}">{{ order.total|amount_format }}<small>{{ order.currency }}</small></span>
                                    </div>
                                    <div class="flex justify-between items-start">
                                        <div class="me-auto">{{ 'order.service.tax'|trans }}</div>
                                        <span id="tax-{{ order.store_id }}">{{ order.tax }}<small>%</small></span>
                                    </div>
                                    <div class="flex justify-between items-start">
                                        <div class="me-auto">{{ 'order.subtotal'|trans }}</div>
                                        {% set tax = order.tax %}
                                        {% set total = (order.total + (order.total * tax)/100) %}
                                        <span id="total-{{ order.store_id }}">{{ total|round(2) }}<small>{{ order.currency }}</small></span>
                                    </div>
                                </div>
                                {% if order.cc is not null and order.cc|length %}
                                    <ul class="list-none flex mx-auto space-x-2 justify-between items-center">
                                        {% for cc in order.cc %}
                                            <li class="inline-flex mx-auto ps-0.5">
                                                <img class="object-cover w-7 h-auto"
                                                     src="{{ asset('img/cc/' ~ cc ~ '.svg') }}">
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <div class=" mt-2 text-center">
                                    <a href="{{ path('app_market_place_order_checkout', {order: order.number, tab: 'customer-info'}) }}"
                                       class="flex rounded bg-danger px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-danger-200 hover:text-white shadow-danger-3 transition duration-150 ease-in-out hover:bg-danger-accent-300 hover:shadow-danger-2 focus:bg-danger-accent-300 focus:shadow-danger-2 focus:outline-none focus:ring-0 active:bg-danger-600 active:shadow-danger-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong mb-2 justify-between items-center"
                                       type="submit">
                                        {{ 'order.checkout'|trans }}
                                        <span id="checkout-{{ order.store_id }}"
                                              class="text-sm font-semibold">{{ total|round(2) }}<small>{{ order.currency }}</small>
                                        </span>
                                    </a>
                                    <p class="mt-2 font-medium text-md-start">
                                        <small>
                                            {{ 'store.policy'|trans({
                                                'store_name': order.store_name,
                                                'link_to_tou': '#',
                                                'link_to_pp': '#'
                                            })|raw }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% if orders is null and orders|length == 0 %}
        <div class="flex flex-col mx-auto pt-20 h-56 max-w-full font-oswald text-6xl text-gray-300 bg-gray-50 sm:text-wrap rounded-md text-center dark:text-white dark:bg-gray-600">{{ 'store.product.cart.empty'|trans }}</div>
        <div class="flex justify-center py-5 my-4">
            <a href="{{ path('app_market_place_index') }}"
               class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-gray-200 hover:text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">{{ 'order.continue.shopping'|trans }}</a>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('coupon-js') }}
    <script type="text/javascript">
        const form = document.querySelector('form[name="order[]"]');
        const quantities = form.querySelectorAll('.product-quantity');

        if (quantities !== null && quantities.length) {
            [...quantities].forEach((el) => {
                const decrement = el.previousElementSibling;
                const increment = el.nextElementSibling;
                const max = el.getAttribute('data-max');

                decrement.addEventListener('click', () => {
                    if (el.value <= 1) {
                        el.value++;
                    }
                });
                increment.addEventListener('click', () => {
                    if (el.value === max) {
                        --el.value;
                    }
                });
            });
        }
    </script>
{% endblock %}